@import 'functions';
@import 'colors';
@import 'variables';
@import 'typography';
@import 'mixins';

$tab-font-size: $base-font-size;

.tabs {
  border-bottom: 1px solid $outline-color;
  position: relative;
  z-index: 1;

  &__list {
    padding: 0;
    margin: 0 0 -1px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &-item {
      margin: 0 0 0 em(5);
      flex: 1;
      display: flex;

      &:first-of-type {
        margin-left: 0;
      }

      &-button {
        background-color: $inactive-bg-color;
        box-sizing: border-box;
        padding: em(10, $tab-font-size) em(42, $tab-font-size) em(10, $tab-font-size);
        letter-spacing: em(0.5, $tab-font-size);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        min-height: em(48, $tab-font-size);
        min-width: em(140, $tab-font-size);
        border: 1px solid $inactive-bg-color;
        border-bottom-color: $outline-color;
        font-size: rem($tab-font-size);
      }

      &--active {
        background-color: $active-bg-color;
        border-color: $outline-color;
        border-bottom-color: transparent;
      }
    }
  }
}
