<div class="tabs">
    <ul class="tabs__list"
        [ngClass]="cssClass">
        <li *ngFor="let tab of tabs"
            class="tabs__list-item"
            (click)="onClick($event, tab)">
            <button class="tabs__list-item-button"
                    [ngClass]="{
                    'tabs__list-item--active': selectedTab === tab
                }"
                    type="button">{{ tab.label }}</button>
        </li>
    </ul>
</div>