<app-loader *ngIf="(loading$ | async)" data-automation-ref="loading-mesage"></app-loader>
<div *ngIf="!(loading$ | async) && !registrationError">
    <div class="tip-wrapper first">
        <app-information-box class="info-box" [title]="'Your Details'">
            Please provide us with your company name and telephone number.
        </app-information-box>
    </div>
    <form #regForm="ngForm" (ngSubmit)="signUp()" [formGroup]="registrationForm" appFocusFirstInvalid>
        <h2 i18n>Your Details</h2>
        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['firstName']"
            label="First Name"
            placeholder="e.g Joe"
            i18n-label
            i18n-placeholder
            (keypress)="namesFieldValidator($event)"
            [showErrorAfter]="true"
        ></app-input-field>

        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['lastName']"
            label="Last Name"
            placeholder="e.g Smith"
            i18n-label
            i18n-placeholder
            (keypress)="namesFieldValidator($event)"
            [showErrorAfter]="true"
        ></app-input-field>

        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['companyName']"
            label="Company Name"
            placeholder="Enter Company Name"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['phone']"
            label="Phone"
            placeholder="Enter Phone Number"
            i18n-label
            i18n-placeholder
            (keypress)="phoneFieldValidator($event)"
            [showErrorAfter]="true"
        ></app-input-field>
        <h2 i18n>Your Login Details</h2>
        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['email']"
            label="Email Address"
            placeholder="Enter your Email Address"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <app-form-error-message *ngIf="userExistsFlag" cssClass="for-email"
            >This email address is already registered on our system.</app-form-error-message
        >

        <app-form-error-message *ngIf="showEmailMatchingError" cssClass="for-email">Emails do not match</app-form-error-message>

        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['confirmEmail']"
            label="Confirm Email Address"
            placeholder="Confirm your Email Address"
            (paste)="avoidPaste($event)"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <div class="tip-wrapper">
            <app-information-box class="info-box" [title]="'Arrow Account Details'">
                To create a MyArrow account, please provide either your Arrow account number or the email address of your Sales & Marketing
                Representative (SMR).
            </app-information-box>
        </div>

        <h2 i18n>Arrow Account Details</h2>
        <p i18n>To Process your registration we require one of the following:</p>
        <div class="row registration-radio-buttons">
            <app-radio
                [radioValue]="registrationProcessAccountNumber"
                [formControl]="registrationForm.controls['accountDetailsProcess']"
                label="Arrow Account Number"
                class="col col-4"
            ></app-radio>
            <app-radio
                [radioValue]="registrationProcessSRMEmail"
                [formControl]="registrationForm.controls['accountDetailsProcess']"
                label="SMR Email Address"
                class="col col-4"
            ></app-radio>
            <app-radio
                [radioValue]="registrationProcessUnknown"
                [formControl]="registrationForm.controls['accountDetailsProcess']"
                label="I don't know"
                class="col col-4"
            ></app-radio>
        </div>
        <app-input-field
            *ngIf="registrationForm.controls['accountDetailsProcess'].value === registrationProcessAccountNumber"
            [form]="regForm"
            [control]="registrationForm.controls['arrowAccountNumber']"
            placeholder="Enter your Account Number"
            [disabled]="accountValuesDisabled"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <app-input-field
            *ngIf="registrationForm.controls['accountDetailsProcess'].value === registrationProcessSRMEmail"
            [form]="regForm"
            [control]="registrationForm.controls['salesRepEmail']"
            placeholder="Enter your SMR Email Address"
            [disabled]="accountValuesDisabled"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <label class="label" i18n>Job Type:</label>
        <div class="row registration-radio-buttons">
            <app-radio
                [radioValue]="jobTypeEngineer"
                [formControl]="registrationForm.controls['jobType']"
                label="Engineer"
                class="col col-4"
            ></app-radio>
            <app-radio
                [radioValue]="jobTypePurchaser"
                [formControl]="registrationForm.controls['jobType']"
                label="Purchaser"
                class="col col-4"
            ></app-radio>
            <app-radio
                [radioValue]="jobTypeSupplier"
                [formControl]="registrationForm.controls['jobType']"
                label="Supplier"
                class="col col-4"
            ></app-radio>
        </div>
        <app-dropdown
            *ngIf="registrationForm.controls['jobType'].value === jobTypeEngineer"
            data-automation-ref="engineerJobType"
            [error]="showEngineerJobTypeError"
            [options]="engineerJobTypes"
            [size]="'short'"
            [value]="registrationForm.controls['engineerJobType'].value || undefined"
            (valueChange)="registrationForm.controls['engineerJobType'].setValue($event)"
            placeholder="Please select an option"
        ></app-dropdown>

        <app-dropdown
            *ngIf="registrationForm.controls['jobType'].value === jobTypePurchaser"
            data-automation-ref="purchaserJobType"
            [error]="showPurchaserJobTypeError"
            [options]="purchaserJobTypes"
            [size]="'short'"
            [value]="registrationForm.controls['purchaserJobType'].value || undefined"
            (valueChange)="registrationForm.controls['purchaserJobType'].setValue($event)"
            placeholder="Please select an option"
        ></app-dropdown>

        <app-form-error-message *ngIf="showEngineerJobTypeError || showPurchaserJobTypeError" cssClass="for-dropdown"
            >This field is required.</app-form-error-message
        >

        <div class="tip-wrapper">
            <app-information-box class="info-box" [title]="'Shipping Address'">
                Please provide a primary shipping address for your new account.
            </app-information-box>
        </div>

        <h2 i18n>Your Shipping Address</h2>
        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['shippingAddress1']"
            label="Address Line 1"
            placeholder="Enter Address Line 1"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <app-input-field
            [form]="regForm"
            [control]="registrationForm.controls['shippingAddress2']"
            label="Address Line 2"
            placeholder="Enter Address Line 2"
            i18n-label
            i18n-placeholder
            [showErrorAfter]="true"
        ></app-input-field>

        <div class="row">
            <app-input-field
                class="col col-6"
                [form]="regForm"
                [control]="registrationForm.controls['shippingCity']"
                label="City"
                placeholder="Enter your City"
                i18n-label
                i18n-placeholder
                [showErrorAfter]="true"
                (keypress)="preventNumbers($event)"
            ></app-input-field>

            <app-input-field
                class="col col-6"
                [form]="regForm"
                [control]="registrationForm.controls['shippingRegion']"
                label="State/Province"
                placeholder="Enter State/Province"
                i18n-label
                i18n-placeholder
                [showErrorAfter]="true"
                (keypress)="preventNumbers($event)"
            ></app-input-field>
        </div>

        <div class="row">
            <app-input-field
                class="col col-6"
                [form]="regForm"
                [control]="registrationForm.controls['shippingPostal']"
                label="ZIP/Postal Code"
                placeholder="Enter your Postal Code"
                i18n-label
                i18n-placeholder
                [showErrorAfter]="true"
            ></app-input-field>

            <div class="col col-6">
                <label class="label" i18n>Country</label>
                <app-dropdown
                    [class.dropdown-error-box]="showShippingCountryValidationError"
                    data-automation-ref="countryCode"
                    searchable="true"
                    placeholder="Select your country"
                    i18n-placeholder
                    [options]="countryListFinal"
                    [size]="'short'"
                    [value]="shipCountry"
                    (valueChange)="updateShippingCountry($event)"
                    [formControl]="registrationForm.controls['shippingCountry']"
                ></app-dropdown>

                <app-form-error-message *ngIf="showShippingCountryValidationError" cssClass="for-dropdown"
                    >This field is required.</app-form-error-message
                >
            </div>
        </div>

        <div *ngIf="!useSameShippingAndBilling" class="tip-wrapper">
            <app-information-box class="info-box" [title]="'Billing Address'">
                Please provide a primary billing address for your new account (no P.O. Boxes).
            </app-information-box>
        </div>

        <h2 i18n>Your Billing Address</h2>

        <p class="address-reuse-toggle">
            <app-checkbox label="Same as Shipping Address" [(value)]="useSameShippingAndBilling"></app-checkbox>
        </p>

        <div *ngIf="!useSameShippingAndBilling">
            <app-input-field
                [form]="regForm"
                [control]="registrationForm.controls['billingAddress1']"
                label="Address Line 1"
                placeholder="Enter Address Line 1"
                i18n-label
                i18n-placeholder
                [showErrorAfter]="true"
            ></app-input-field>

            <app-input-field
                [form]="regForm"
                [control]="registrationForm.controls['billingAddress2']"
                label="Address Line 2"
                placeholder="Enter Address Line 2"
                i18n-label
                i18n-placeholder
                [showErrorAfter]="true"
            ></app-input-field>

            <div class="row">
                <app-input-field
                    class="col col-6"
                    [form]="regForm"
                    [control]="registrationForm.controls['billingCity']"
                    label="City"
                    placeholder="Enter your City"
                    i18n-label
                    i18n-placeholder
                    [showErrorAfter]="true"
                    (keypress)="preventNumbers($event)"
                ></app-input-field>

                <app-input-field
                    class="col col-6"
                    [form]="regForm"
                    [control]="registrationForm.controls['billingRegion']"
                    label="State/Province"
                    placeholder="Enter your State/Province"
                    i18n-label
                    i18n-placeholder
                    [showErrorAfter]="true"
                    (keypress)="preventNumbers($event)"
                ></app-input-field>
            </div>

            <div class="row">
                <div class="col col-6">
                    <app-input-field
                        [form]="regForm"
                        [control]="registrationForm.controls['billingPostal']"
                        label="ZIP/Postal Code"
                        placeholder="Enter your Postal Code"
                        i18n-label
                        i18n-placeholder
                        [showErrorAfter]="true"
                    ></app-input-field>
                </div>

                <div class="col col-6">
                    <label class="label" i18n>Country</label>
                    <app-dropdown
                        [class.dropdown-error-box]="showBillingCountryValidationError"
                        data-automation-ref="countryCode"
                        [options]="countryListFinal"
                        searchable="true"
                        placeholder="Select your country"
                        i18n-placeholder
                        [size]="'short'"
                        [value]="billCountry"
                        (valueChange)="updateBillingCountry($event)"
                        [formControl]="registrationForm.controls['billingCountry']"
                    ></app-dropdown>

                    <app-form-error-message *ngIf="showBillingCountryValidationError" cssClass="for-dropdown"
                        >This field is required.</app-form-error-message
                    >
                </div>
            </div>
        </div>

        <span class="registration-agreement-links" i18n
            >By creating an account, you agree to Arrow Electronics
            <a href="https://www.arrow.com/en/legal/privacy-policy" target="_blank">Privacy Policy</a> and
            <a href="https://www.arrow.com/en/legal/terms-of-use" target="_blank">Terms Of Use</a>.
        </span>
        <div class="cta-container">
            <div class="cta-container">
                <ul class="cta-container__list justify-flex-end">
                    <li class="cta-container__list-item"><button i18n routerLink="/login" class="btn btn-secondary">Cancel</button></li>
                    <li class="cta-container__list-item"><app-button type="submit" cssClass="btn-primary">Create Account</app-button></li>
                </ul>
            </div>
        </div>
    </form>
</div>
