@import 'functions';
@import 'variables';
@import 'colors';

h2 {
  margin-bottom: rem(15);
  margin-top: rem(30);
  &:first-of-type {
    margin-top: 0;
  }
}

.tip-wrapper {
  position: relative;
  .info-box {
    position: absolute;
    left: 100%;
    width: 55%;
    margin-left: rem(50);
  }
  &.first {
    .info-box {
      margin-top: rem(-30);
    }
  }
}

::ng-deep {
  .dropdown {
    margin-top: rem(5);
    margin-bottom: rem(14);
  }
}

.dropdown-error-box {
  ::ng-deep {
    .input {
      border-color: $error-color;
    }
  }
}

.registration-agreement-links {
  font-size: rem(12);
  a {
    color: $public-registration-links;
    font-weight: normal;
  }
}

.registration-radio-buttons {
  margin-bottom: rem(10);
}

.dropdown__error {
  display: inline;
}

::ng-deep {
  .for-email,
  .password-matching {
    margin: rem(-16) 0 rem(24);
  }
  .for-dropdown {
    margin: rem(-11) 0 rem(24);
  }
  .binary-form-control__text {
    margin-top: em(2, 16);
    font-size: rem($small-font-size);
    font-weight: 700;
  }
}

.address-reuse-toggle {
  ::ng-deep {
    .binary-form-control__text {
      font-weight: 400;
    }
  }
}
