@import 'variables';

.edit-date {
  &__header {
    &-title {
      margin-bottom: $spacing-x-2;
    }
    &-description {
      margin-bottom: 0;
    }
  }

  &__footer {
    margin-top: $spacing-x-5;
  }

  &__header-date-picker {
    font-weight: normal;
  }
}
