<app-dialog-panel (close)="onClose()">
    <ng-container *ngIf="!error">
        <div dialog-header>
            <h2 class="edit-date__header-title"
                i18n>
                Edit Request Date</h2>
            <p class="edit-date__header-description"
               i18n>
                You have chosen to edit the request date for {{orderLines.length}} line items. Please be aware that
                responses may take up
                to 24 hours.
            </p>
        </div>

        <table *ngIf="orderLines?.length"
               class="table__no-alt-rows">
            <thead>
                <tr>
                    <th i18n>Line
                        <br />Item
                    </th>
                    <th i18n>Customer
                        <br />Part Number
                    </th>
                    <th i18n>Manufacturer
                        <br />Part No / Name
                    </th>
                    <th i18n>Current
                        <br />Request Date
                    </th>
                    <th i18n>Current
                        <br />Commit Date
                    </th>
                    <th i18n>New Request Date
                        <br>
                        <app-date-picker *ngIf="orderLines.length > 1"
                                         class="edit-date__header-date-picker"
                                         calendarCount="1"
                                         submitLabel="apply to all"
                                         [dates]="datePickerDates['head']"
                                         [minDate]="minDate"
                                         [dateInputs]="datePickerDatesConfig"
                                         [exclusions]="exclusions"
                                         (datesChange)="onHeaderDateSelected($event)"></app-date-picker>
                    </th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderLine of orderLines">
                    <td>{{orderLine.lineItem}}</td>
                    <td>{{orderLine.customerPartNumber}}</td>
                    <td>{{orderLine.manufacturerPartNumber}}
                        <br />{{orderLine.manufacturerName}}
                    </td>
                    <td>{{orderLine.requested | isoDate}}</td>
                    <td>{{orderLine.committed | isoDate}}</td>
                    <td>
                        <app-date-picker calendarCount="1"
                                         submitLabel="Save new commit date"
                                         [showActions]="false"
                                         [dates]="datePickerDates[orderLine.lineItem]"
                                         [minDate]="minDate"
                                         [dateInputs]="datePickerDatesConfig"
                                         (datesChange)="onLineTimeDateSelected(orderLine.lineItem, $event)"></app-date-picker>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div dialog-footer
             class="edit-date__footer cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onClose()"
                            class="btn btn-secondary"
                            i18n>Cancel
                    </button>
                </li>
                <li class="cta-container__list-item">
                    <app-button cssClass="btn-primary"
                                [loading]="submitProcessing"
                                [disabled]="!canSubmit"
                                (buttonClick)="onSubmit()"
                                i18n>Submit request
                    </app-button>
                </li>
            </ul>
        </div>
    </ng-container>

    <ng-container *ngIf="error">
        <div dialog-header>
            <h1 i18n>Error</h1>
        </div>
        <div>
            <p i18n>An error occurred with this request [error code: {{error.status}}]. Please try again. If you are
                still unsuccessful please contact your sales representative.</p>
        </div>
        <div dialog-footer
             class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onClose()"
                            class="btn btn-primary"
                            i18n>Close
                    </button>
                </li>
            </ul>
        </div>
    </ng-container>

</app-dialog-panel>