@import 'variables';
@import 'functions';
@import 'colors';
@import 'mixins';

.error-alert {
  border: 1px solid $alizarin-crimson;
  padding: rem(15) em(20);
  color: $alizarin-crimson;
  display: flex;
  justify-content: center;
  margin: $spacing-x-3 0;

  @include small();

  &__container {
    display: inline-flex;
  }

  &__icon {
    margin-right: rem(10);
    flex: 0 0 auto;
  }
}
