<app-dialog-panel (close)="onClose()">

    <div dialog-header>
        <h2 i18n>
            View and Print Invoice</h2>
        <ul class="property-list"
            *ngIf="data.orderLines?.length">
            <li class="property-list__item">
                <span class="property-list__item-title"
                      i18n>PO Number:</span> {{data.orderLines[0]?.purchaseOrderNumber}}
            </li>
            <li class="property-list__item">
                <span class="property-list__item-title"
                      i18n>Sales Order:</span> {{data.orderLines[0]?.salesOrderId}}
            </li>
            <li class="property-list__item"
                *ngIf="data.orderLines?.length === 1">
                <span class="property-list__item-title"
                      i18n>Customer Part Number:</span> {{data.orderLines[0]?.customerPartNumber}}
            </li>
            <li class="property-list__item"
                *ngIf="data.orderLines?.length === 1">
                <span class="property-list__item-title"
                      i18n>Manufacturer Part Number:</span> {{data.orderLines[0]?.manufacturerPartNumber}}
            </li>
        </ul>
    </div>

    <div *ngIf="invoices?.length">

        <div class="error-alert"
             *ngIf="openInvoiceError">
            <div class="error-alert__container">
                <app-icon symbol="alert"
                          class="error-alert__icon"></app-icon>
                <div class="error-alert__message"
                     i18n>Sorry, there was a problem opening the PDF. Please try again</div>
            </div>
        </div>

        <table class="table__no-alt-rows">
            <thead>
                <tr>
                    <th>
                        <app-checkbox (valueChange)="toggleAllLines($event)"
                                      [value]="allSelected()"></app-checkbox>
                    </th>
                    <th i18n>Invoice Number</th>
                    <th i18n>Invoice Date</th>
                    <th i18n>Quantity</th>
                    <th i18n>Amount ({{ currencyCode }})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td>
                        <app-checkbox (valueChange)="toggleLine(invoice, $event)"
                                      [value]="isSelected(invoice)"></app-checkbox>
                    </td>
                    <td>{{invoice.number}}</td>
                    <td>{{invoice.date | isoDate}}</td>
                    <td>{{invoice.quantity}}</td>
                    <td>{{invoice.amount | currency:currencyCode }}</td>
                    <td>
                        <button (click)="openInvoice(invoice)"
                                target="_blank"
                                class="icon-link">
                            <app-icon symbol="document"
                                      class="icon-link__icon"></app-icon>
                            <span i18n>View invoice</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div *ngIf="!invoices?.length">
        <app-listing-message label="No Invoices"
                             icon="list"></app-listing-message>
    </div>

    <div dialog-footer>
        <div class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button class="btn btn-primary"
                            (click)="onClose()">Close</button>
                </li>
            </ul>
        </div>
    </div>

</app-dialog-panel>