@import 'colors';
@import 'variables';
@import 'helpers';

.shipment-tracking__subtitle {
  margin-bottom: $base-spacing;
}

.shipment-tracking__subtitle-label {
  color: $boulder-2;
  margin-right: $base-spacing;
}

.orders-lines-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $alabaster;
  min-height: em(500);
  margin: em(30) 0;
  padding: em(20);
  text-align: center;
  box-sizing: border-box;
}
