<app-dialog-panel (close)="onClose()">
    <div dialog-header>
        <h2 i18n>Shipment Tracking Detail</h2>
        <ul class="property-list" *ngIf="order?.details">
            <li class="property-list__item">
                <span class="property-list__item-title" i18n>PO Number:</span> {{ order?.details?.purchaseOrderNumber }}
            </li>
            <li class="property-list__item">
                <span class="property-list__item-title" i18n>Sales Order:</span> {{ order?.details?.salesOrderId }}
            </li>
        </ul>
    </div>

    <table class="table__no-alt-rows" *ngIf="hasShipmentTracking">
        <thead>
            <tr>
                <th i18n>Line Item</th>
                <th i18n>Manufacturer Part #</th>
                <th i18n>Ship Date</th>
                <th i18n>Quantity Shipped</th>
                <th i18n>Carrier</th>
                <th i18n>Tracking Number</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let orderLine of order.orderLines">
                <tr *ngFor="let shipment of orderLine?.shipments">
                    <td>{{ orderLine.lineItem }}</td>
                    <td>{{ orderLine.manufacturerPartNumber }}</td>
                    <td>{{ shipment.shipmentTrackingDate }}</td>
                    <td>{{ shipment.qtyShipped }}</td>
                    <td>{{ shipment.carrier }}</td>
                    <td>
                        <a *ngIf="shipment.shipmentTrackingUrl" [attr.href]="shipment.shipmentTrackingUrl" target="_blank">{{
                            shipment.shipmentTrackingReference
                        }}</a>
                        <span *ngIf="shipment.shipmentTrackingReference && !shipment.shipmentTrackingUrl">
                            {{ shipment.shipmentTrackingReference }}
                        </span>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div *ngIf="!hasShipmentTracking">
        <app-listing-message label="There are no shipped lines to display." icon="list"> </app-listing-message>
    </div>

    <div dialog-footer>
        <div class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item"><button class="btn btn-primary" (click)="onClose()">Close</button></li>
            </ul>
        </div>
    </div>
</app-dialog-panel>
