<div class="subtotal-display">
    <div class="subtotal-display__titles">
        <h3 class="subtotal-display__title"
            i18n>{{title}} ({{currencyCode}}):</h3>
        <div class="subtotal-display__disclaimer small"
             i18n>(excluding freight/taxes)</div>
    </div>
    <h3 class="subtotal-display__value">{{subtotal | formattedPrice:currencyCode:'subTotal' }}</h3>
</div>