@import 'variables';
@import 'helpers';

:host {
  display: block;
  margin-top: $spacing-x-3;
}

.subtotal-display {
  display: flex;
  justify-content: flex-end;

  &__titles {
    text-align: right;
  }

  &__title {
    margin: 0;
  }

  &__disclaimer {
    display: block;
    margin-top: rem(5);
  }

  &__value {
    margin: 0 0 0 rem(10);
    color: $boulder-2;
  }
}
