<div class="orders-lines-search">
    <form (ngSubmit)="search.emit(searchState)" class="form form--inline">
        <div class="form-item  orders-lines-search__type-form-item">
            <div class="form-item__control">
                <app-dropdown
                    [options]="searchOptions"
                    [elemClass]="'order-lines-search__search-type'"
                    [value]="searchState?.type"
                    (valueChange)="updateSearchType($event)"
                ></app-dropdown>
            </div>
        </div>

        <div class="form-item">
            <div class="form-item__control">
                <input
                    type="text"
                    class="input order-lines-search__search-input"
                    [placeholder]="selectedSearchOption.payload.placeholder"
                    [value]="searchCriteria?.value"
                    (keyup)="searchState.value = $event.target.value.trim()"
                    (paste)="onPaste($event)"
                />
            </div>
        </div>

        <div class="cta-container">
            <button
                class="btn btn-secondary order-lines-search__button order-lines-search__button"
                type="submit"
                [disabled]="!searchState.value"
            >
                <app-icon symbol="search" class="order-lines-search__button-icon"></app-icon>
            </button>
        </div>
    </form>

    <button (click)="resetForm()" class="icon-link order-lines-search__reset-link" [disabled]="!searchCriteria?.value">
        <app-icon symbol="refresh" class="icon-link__icon"></app-icon> Reset
    </button>
</div>
