@import 'mixins';
@import 'variables';
@import 'helpers';

$order-lines-search-button-icon-size: 25;

:host {
  ::ng-deep .order-lines-search__search-type {
    .dropdown__label-wrapper {
      background-color: $white;
    }
    .dropdown__label-icon {
      color: $baltic-sea;
    }
  }
}

.orders-lines-search {
  align-items: center;
  @extend .flex;
}

.order-lines-search__search-input {
  width: rem(296);
}

.order-lines-search__button-icon {
  height: em($order-lines-search-button-icon-size, $button-font-size);
  width: em($order-lines-search-button-icon-size, $button-font-size);
  @include inline-block();
  vertical-align: top;
  margin: em(-($order-lines-search-button-icon-size - $button-font-size) / 2, $button-font-size) 0;
  position: relative;
  bottom: em(-2, $button-font-size);
}

.orders-lines-search__type-form-item {
  flex: none;
}

.order-lines-search__reset-link {
  margin-left: rem(20);
}
