<div class="wrap">

    <h1 class="h2">Oops</h1>

    <app-listing-message label="Sorry, an error prevented the display of this view."
                         icon="cross"
                         error="true">

        <p>
            <button i18n
                    (click)="signIn()"
                    class="icon-link">Login as a different user</button>
        </p>

    </app-listing-message>

</div>