<!-- error -->
<app-listing-message [label]="errorCodeMessage$ | async" error="true" icon="cross" *ngIf="(error$ | async)"> </app-listing-message>

<!-- loading -->
<div *ngIf="(loading$ | async)">
    <h2 i18n>Searching for &quot;{{ searchQuery$ | async }}&quot;</h2>
    <h3 i18n>Please wait...</h3>
    <app-loader></app-loader>
</div>

<!-- search successful -->
<div *ngIf="(searchResults$ | async) && (searchResults$ | async).length && !(loading$ | async)">
    <h2 i18n>Search results</h2>

    <app-product-search-filters
        *ngIf="(categories$ | async) || (filters$ | async) || (manufacturers$ | async)"
        [categories]="categories$ | async"
        [filters]="filters$ | async"
        [manufacturers]="manufacturers$ | async"
    >
    </app-product-search-filters>

    <h3 *ngIf="(productsTotal$ | async)" i18n>
        We found {productsTotal$ | async, plural, =1 {1 match} other {{{productsTotal$ | async}} matches}} for &quot;{{
            searchQuery$ | async
        }}&quot;
    </h3>

    <div class="line-listing__header row">
        <div class="col col-8">
            <ul class="link-list link-list--inline">
                <li class="link-list__item">
                    <button (click)="addToCart(selectedIds)" [disabled]="!purchasableSelected" class="icon-link icon-link--purchase">
                        <app-icon symbol="plus" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Add to Cart</ng-container>
                    </button>
                </li>
                <li class="link-list__item relative">
                    <app-tooltip
                        *ngIf="(quoteOnlyItemsLength$ | async)"
                        [quoteOnlyItemsLength]="quoteOnlyItemsLength$ | async"
                    ></app-tooltip>
                    <button (click)="addToQuoteCart(selectedIds)" [disabled]="!selectedIds?.length" class="icon-link">
                        <app-icon symbol="document-add" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Request a Quote</ng-container>
                    </button>
                </li>
                <li *ngIf="(privateFeatures$ | async)?.addToBom" class="link-list__item relative">
                    <button (click)="addToBom(selectedIds)" [disabled]="!selectedIds?.length" class="icon-link">
                        <app-icon symbol="document-add" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Add to BOM</ng-container>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="setPageLimit($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            >
            </app-pagination>
        </div>
    </div>

    <app-product-search-listing
        class="block"
        [loading]="loading$ | async"
        [searchResults]="searchResults"
        [searchQuery]="searchQuery$ | async"
    >
    </app-product-search-listing>

    <div class="row">
        <div class="col col-4 col-offset-8">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="setPageLimit($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            >
            </app-pagination>
        </div>
    </div>

    <app-global-inventory-info
        *ngIf="(globalInventory$ | async) && !(loading$ | async)"
        [inventoryInfoVisible]="(globalInventory$ | async).additionalPartsAvailable"
        [additionalPartsCount]="(globalInventory$ | async).additionalPartsCount"
        [searchQuery]="searchQuery$ | async"
    >
    </app-global-inventory-info>
</div>

<!-- no results found -->
<app-listing-message
    *ngIf="(searchResults$ | async) && !(searchResults$ | async).length && !(loading$ | async)"
    label="Your search for &quot;{{ searchQuery$ | async }}&quot; did not return any results. Please
                     modify your search and try again."
    icon="list"
>
</app-listing-message>
