@import 'colors';
@import 'layout';
@import 'functions';

:host {
  position: absolute;
  top: rem(55);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.pricing-tiers {
  border: 1px solid $boulder-1;
  background-color: #fff;
  position: relative;
  padding: rem(2) 0;

  &::after,
  &::before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }

  &::before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: $boulder-2;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }
}

.table__no-alt-rows {
  border: none;
  margin: 0;

  tbody td {
    padding: rem(5);
    border: none;
  }

  .selected {
    td {
      background-color: $hot-cinnamon;
      color: $white;
    }
  }
}
