<div class="pricing-tiers">
    <table data-automation-ref="price-matrix"
           class="table__no-alt-rows">
        <tr *ngFor="let tier of priceTiers; let pt=index"
            [ngClass]="{'selected': paintColumns(quantity, tier.quantityFrom, tier.quantityTo)}">
            <td data-automation-ref="price-matrix-quantity">{{ tier.quantityFrom }}+</td>
            <td data-automation-ref="price-matrix-price-value">{{ tier.pricePerItem | formattedPrice:(currencyCode || '')}}</td>
        </tr>
    </table>
</div>