@import 'layout';
@import 'variables';
@import 'helpers';
@import 'colors';
@import 'mixins';

$no-results-font-size: $base-font-size;

:host {
  @extend .page-template--standard;
}

.forecasts {
  .cta-container__list li {
    width: 50%;

    button {
      width: 100%;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .forecast-error,
  .forecast-details,
  .forecast-notes .notes {
    border: 1px solid $alto;
    padding: rem(20);
    margin: rem(20);
  }

  .forecast-bill-to {
    padding: rem(20);
    margin: rem(20);
    color: $boulder;

    button {
      padding: 0;
      margin: 0;
    }
  }

  .forecast-notes .notes {
    height: rem(190);
  }

  .forecast-error {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  .icon-link {
    color: $lochmara;
    font-size: rem(12);
    text-transform: none;
    margin-right: rem(20);
  }

  .btn {
    margin: rem(5);
    padding: rem(15);
  }

  .forecast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;

    li {
      list-style: none;
      width: 48%;
      text-align: left;

      &:nth-child(odd) {
        width: 35%;
        margin-right: rem(82);
      }
    }

    &__item {
      @extend .flex;
      @extend .flex-direction-row;
      align-items: baseline;

      &:first-of-type {
        margin-top: 0;
      }

      &-title {
        color: $boulder-2;
        margin-bottom: 0;
        flex: 0 0 55%;
      }
    }
  }
}

.notes {
  .forecast-notes {
    color: $boulder;
  }

  app-status-bar {
    float: left;
    clear: both;
    position: relative;
    top: rem(5);
    margin-right: rem(10);
  }

  span {
    float: left;
  }
}
