<h2 i18n>Forecasts</h2>

<div class="row forecasts">
    <div class="col col-12">
        <div class="row">
            <div class="col col-5 forecast-details"
                 *ngIf="forecast">
                <h3 i18n>{{ forecast?.name }}</h3>
                <ul class="forecast-list">
                    <li class="forecast-list__item">
                        <h4 class="forecast-list__item-title"
                              i18n>Received:</h4> {{ forecast?.receivedDate | date: 'yyyy-MM-dd' }}
                    </li>
                    <li class="forecast-list__item">
                        <h4 class="forecast-list__item-title"
                              i18n>Parts Submitted:</h4> {{ forecast?.partsCovered }}
                    </li>
                    <li class="forecast-list__item">
                        <h4 class="forecast-list__item-title"
                              i18n>Status:</h4> {{ forecast?.status }}
                    </li>
                    <li class="forecast-list__item">
                        <h4 class="forecast-list__item-title"
                              i18n>Potential Shortages:</h4> {{ forecast?.potentialShortages }}
                    </li>
                    <li class="forecast-list__item">
                        <h4 class="forecast-list__item-title"
                              i18n>Last Update:</h4> {{ forecast?.lastArrowUpdateDate | date: 'yyyy-MM-dd' }}
                    </li>
                </ul>

                <ul class="cta-container__list">
                    <li class="cta-container__list-item">
                        <button data-automation-ref="view-details"
                                type="submit"
                                class="btn btn-primary"
                                i18n
                                (click)="viewDetails()">
                            View Details
                        </button>
                    </li>
                    <li class="cta-container__list-item">
                        <button data-automation-ref="download-details"
                                type="submit"
                                class="btn btn-secondary"
                                i18n
                                (click)="openDownloadModalDialog()">
                            Download Details
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col col-5 row forecast-error"
                 *ngIf="!forecast">
                 <app-listing-message icon="list"
                                      label="There are currently no forecasts for your selected Bill-To."
                                      i18n-label
                                      noBorder="true">
                                      <button data-automation-ref="download-details"
                                              type="submit"
                                              class="icon-link btn"
                                              i18n
                                              (click)="openBillToDialog()">
                                          Select a different Bill-To
                                      </button>
                 </app-listing-message>
            </div>
            <div class="col col-5 forecast-notes">
                <div class="notes">
                    <h3 i18n>Forecast Notes</h3>
                    <p class="forecast-notes"
                       i18n>
                        The forecast is broken into weekly buckets. The shortages identified are cumulative and
                        carried over until the shortage is satisfied.
                    </p>

                    <p>
                        <app-status-bar status="danger"></app-status-bar><span i18n>Full Shortage</span>
                        <app-status-bar status="at-risk"></app-status-bar><span i18n>Partial Shortage</span>
                        <app-status-bar status="ok"></app-status-bar><span i18n>No Shortage</span>
                    </p>
                </div>
                <div class="forecast-bill-to">
                    <p>Bill-To: {{ billToAddress }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
