<input *ngIf="!data?.selectedCustomerPartNumber && !readOnly"
       class="input"
       placeholder="Customer Part Number"
       i18n-placeholder
       type="text"
       data-automation-ref="custom-cpn-input"
       [value]="data?.enteredCpn || ''"
       [formControl]="customCpnControl"
       [attr.disabled]="disabled ? '' : null"
       appNoWhitespace
       appPreventEnterKeyDirective />
<div *ngIf="data?.selectedCustomerPartNumber"
     class="line-item-cpn__selected">
    <div class="cpn">
        <p class="label small"
           data-automation-ref="cpn-label">
            <strong i18n>Customer Part Number</strong>
        </p>
        <p data-automation-ref="cpn-name">{{data?.selectedCustomerPartNumber}}</p>
    </div>
    <div *ngIf="endCustomerName"
         class="ec">
        <p class="label small"
           data-automation-ref="ec-label">
            <strong i18n>End Customer</strong>
        </p>
        <p data-automation-ref="ec-name">{{endCustomerName}}</p>
    </div>
</div>