<h2 i18n class="h1">Sign in</h2>
<p i18n *ngIf="hasAuthenticationError" role="alert" class="error">Sign In Authentication failed. Please try again.</p>

<form #f="ngForm" (ngSubmit)="login()" [formGroup]="loginForm">
    <app-input-field
        [form]="f"
        [control]="loginForm.controls['username']"
        label="Username"
        placeholder="john.doe@example.com"
        i18n-label
        i18n-placeholder
    ></app-input-field>

    <a *ngIf="publicFeatureFlags?.forgottenPassword" class="float-right small" routerLink="/recover-password" tabindex="-1" i18n
        >Forgot Password?</a
    >

    <app-input-field
        [form]="f"
        [control]="loginForm.controls['password']"
        [type]="'password'"
        label="Password"
        placeholder="Enter password"
        i18n-label
        i18n-placeholder
    ></app-input-field>

    <p i18n *ngIf="isUserBlocked" role="alert" class="error">
        <app-icon symbol="alert" class="icon listing-message__icon"></app-icon>
        User Blocked. You attempted too many times to Sign In, you need to recover your password in order to enter.
    </p>

    <p i18n class="policies">
        By signing in, you agree to Arrow Electronics'
        <a href="https://www.arrow.com/en/legal/privacy-policy" target="_blank">Privacy Policy</a> and
        <a href="https://www.arrow.com/en/legal/terms-of-use" target="_blank">Terms of Use.</a>
    </p>

    <div class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><a i18n class="btn btn-wo" routerLink="/register">Create account</a></li>
            <li class="cta-container__list-item">
                <app-button type="submit" cssClass="btn-primary" [loading]="loggingIn">Sign in</app-button>
            </li>
        </ul>
    </div>
</form>
