@import 'variables';
@import 'functions';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: rem(40);
  flex-grow: 1;
  overflow: auto;
  // IE needs a max-height for the flexbox to work correctly
  max-height: inherit;
}

.dialog-panel__content {
  min-height: $spacing-x-3;
}

::ng-deep .h1 {
  font-size: rem(24);
  line-height: fraction(26, 24);
  margin-bottom: rem(10);
  display: inline-block;
}

::ng-deep .subtitle {
  line-height: 1.43;
  letter-spacing: rem(0.5);
  font-size: rem(14);
  color: $black;
  margin-bottom: rem(30);
}

.dialog-panel__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $black;
  padding: rem(12);

  app-icon {
    width: rem(16);
    height: rem(16);
  }
}

.dialog-panel__content ::ng-deep .listing-message__inner {
  min-height: rem(230);
  margin: 0;
}
