<button *ngIf="showCloseButton"
        (click)="closeClick()"
        aria-label="Close"
        class="btn btn-icon dialog-panel__close"
        i18n-aria-label
        data-automation-ref="close-modal-button">
    <app-icon symbol="cross"></app-icon>
</button>

<div class="dialog-panel__header">
    <ng-content select="[dialog-header]"></ng-content>
</div>

<div class="dialog-panel__content scroll">
    <ng-content></ng-content>
</div>

<div class="dialog-panel__footer">
    <ng-content select="[dialog-footer]"></ng-content>
</div>