@import 'variables';
@import 'functions';

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;

  &--level-2,
  &--level-3 {
    color: $white;
    text-align: center;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border: em(15) solid transparent;
      border-bottom: none;
      margin-bottom: $spacing-sml;
    }
  }

  &--level-2 {
    background-color: $lochmara;
    &:before {
      border-top-color: $white;
    }
  }

  &--level-3 {
    background-color: $cerulean;
    &:before {
      border-top-color: $lochmara;
    }
  }
}

.category__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.category__list-item {
  margin: 0;
  margin-bottom: $spacing-x-5;
  padding: 0;

  display: block;
  padding: 0 $base-spacing;
  text-align: center;
  cursor: pointer;

  &--unselected {
    opacity: 0.3;
  }
}

.category__title {
  margin: $spacing-x-3 0;
}

.container-category__list-item-title {
  margin-bottom: $base-spacing;
}

.product-category__list {
  margin-bottom: $spacing-x-2;
}

.product-category__list-item {
  margin: 10px 0;
}

.product-category__list-item-link {
  text-decoration: none;
  color: $white;
}
