<div class="product-categories">
    <app-loader *ngIf="(loading$ | async)"></app-loader>

    <h1 *ngIf="error" class="error" i18n>{{ error }}</h1>

    <div class="category category--level-1" *ngIf="taxonomy">
        <div class="wrap">
            <ul class="category__list">
                <li
                    *ngFor="let category of (taxonomy | orderCategoriesBy: 'name')"
                    class="category__list-item col col-3"
                    [ngClass]="{ 'category__list-item--unselected': selectedCategory && selectedCategory !== category }"
                    (click)="onSelectedCategory(category, 1)"
                >
                    <h3 class="category__list-item-title" i18n>{{ category.name }}</h3>
                    <span *ngIf="privateFeatureFlags?.productCatalogCount" class="small" i18n
                        >{{ category.totalProducts | number }} {category.totalProducts, plural, =1 {product} other {products}}</span
                    >
                </li>
            </ul>
        </div>
    </div>

    <app-animated-height [state]="selectedCategory.id" class="category category--level-2" *ngIf="selectedCategory">
        <div class="wrap">
            <h2 class="category__title" i18n>{{ selectedCategory.name }}</h2>

            <ul *ngIf="selectedCategory.childCategories" class=" category__list">
                <li
                    *ngFor="let subCategory of (selectedCategory.childCategories | orderCategoriesBy: 'name')"
                    class="category__list-item col col-3"
                    [ngClass]="{ 'category__list-item--unselected': selectedSubCategory && selectedSubCategory !== subCategory }"
                    (click)="onSelectedCategory(subCategory, 2)"
                >
                    <h3 class="category__list-item-title" i18n>{{ subCategory.name }}</h3>
                    <span *ngIf="privateFeatureFlags?.productCatalogCount" class="small" i18n
                        >{{ subCategory.totalProducts | number }} {subCategory.totalProducts, plural, =1 {product} other {products}}</span
                    >
                </li>
            </ul>
        </div>
    </app-animated-height>

    <app-animated-height class="category product-category category--level-3" *ngIf="selectedSubCategory" [state]="selectedSubCategory.id">
        <div class="wrap">
            <h2 class="category__title" i18n>{{ selectedSubCategory.name }}</h2>

            <ul *ngIf="selectedSubCategory.childCategories" class="category__list product-category__list">
                <li
                    *ngFor="let thirdLevelCategory of (selectedSubCategory.childCategories | orderCategoriesBy: 'name')"
                    class="category__list-item col col-3 product-category__list-item"
                >
                    <a
                        class="product-category__list-item-link small"
                        (click)="onSelectedCategory(thirdLevelCategory, 3)"
                        href="javascript:void(0)"
                    >
                        <strong i18n>{{ thirdLevelCategory.name }}</strong> <br />
                        <span *ngIf="privateFeatureFlags?.productCatalogCount" class="small" i18n>
                            {{ thirdLevelCategory.totalProducts | number }} {thirdLevelCategory.totalProducts, plural, =1 {product} other
                            {products}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </app-animated-height>
</div>
