<div class="orders-lines-listing">
    <table *ngIf="orderLines?.length">
        <thead>
            <tr>
                <th class="order-lines-listing__selection-cell">
                    <app-checkbox
                        [value]="selectedIds?.length === orderLines?.length"
                        (valueChange)="toggleOrderLines($event, orderLines)"
                    ></app-checkbox>
                </th>
                <th i18n>Line <br />Item ({{ orderLines.length }})</th>
                <th i18n>Customer <br />Part #</th>
                <th i18n>Manufacturer <br />Part #/Name</th>
                <th i18n>Quantity <br />Ordered</th>
                <th i18n>Quantity <br />Shipped</th>
                <th i18n>Qty Ready <br />to Ship</th>
                <th i18n>Quantity <br />Remaining</th>
                <th i18n>Entered <br />Requested <br />Committed</th>
                <th i18n>Status</th>
                <th i18n>Tracking</th>
                <th i18n>Unit <br />Resale</th>
                <th i18n>Ext. <br />Resale</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderLine of orderLines">
                <td
                    class="order-lines-listing__selection-cell"
                    [ngClass]="{ 'order-lines-listing__invalid': isOrderInvalid(orderLine, invalidSelectedIds) }"
                    appTooltip="This item is not eligible for return/quality issue"
                    [visible]="isOrderInvalid(orderLine, invalidSelectedIds)"
                    placement="top"
                >
                    <app-checkbox
                        [value]="isSelected(orderLine, selectedIds)"
                        (valueChange)="toggleOrderLines($event, [orderLine])"
                    ></app-checkbox>
                </td>
                <td>{{ orderLine.lineItem }}</td>
                <td>{{ orderLine.customerPartNumber }}</td>
                <td>
                    <a [routerLink]="['/products', orderLine.docId]">{{ orderLine.manufacturerPartNumber }}</a> <br />{{
                        orderLine.manufacturerName
                    }}
                </td>
                <td>{{ orderLine.qtyOrdered }}</td>
                <td>{{ orderLine.qtyShipped }}</td>
                <td>{{ orderLine.qtyReadyToShip }}</td>
                <td>{{ orderLine.qtyRemaining }}</td>
                <td>
                    <table class="table__no-alt-rows table__no-wrap table__blank">
                        <tr>
                            <th i18n>Entered:</th>
                            <td>{{ orderLine.entered | isoDate }}</td>
                        </tr>
                        <tr>
                            <th i18n>Requested:</th>
                            <td>{{ orderLine.requested | isoDate }}</td>
                        </tr>
                        <tr *ngIf="orderLine.committed">
                            <th i18ns>Committed:</th>
                            <td>{{ orderLine.committed | isoDate }}</td>
                        </tr>
                    </table>
                </td>
                <td>{{ orderLine.status | i18nSelect: orderLineStatusMap }}</td>
                <td>
                    <ng-container *ngFor="let shipment of orderLine?.shipments">
                        <p>
                            {{ shipment.shipmentTrackingDate | isoDate }} <br />
                            <a *ngIf="shipment.shipmentTrackingUrl" [attr.href]="shipment.shipmentTrackingUrl" target="_blank">{{
                                shipment.shipmentTrackingReference
                            }}</a>
                            <span *ngIf="shipment.shipmentTrackingReference && !shipment.shipmentTrackingUrl">
                                {{ shipment.shipmentTrackingReference }}
                            </span>
                        </p>
                    </ng-container>
                </td>
                <td>{{ orderLine.unitResale | currency: currencyCode }}</td>
                <td>{{ orderLine.extResale | currency: currencyCode }}</td>
            </tr>
        </tbody>
    </table>

    <app-listing-message label="No Order lines found" icon="list" *ngIf="orderLines && !orderLines?.length"> </app-listing-message>
</div>
