@import 'mixins';
@import 'colors';
@import 'functions';
@import 'variables';

:host {
  margin-bottom: em(20);
  display: block;
}

.orders-lines-listing {
  & > table {
    margin-top: 0;
    ::ng-deep {
      [appTooltip] {
        border: none;
        border-bottom: 1px solid $placeholder-color;
        display: table-cell;
        margin: 0;
        width: auto;
        height: auto;
        line-height: inherit;
      }
    }
    .order-lines-listing__selection-cell {
      vertical-align: top;
      padding-left: em(30, 12);
    }

    .order-lines-listing__invalid {
      border-left: 4px solid $information-color;
    }
  }
}

.order-lines-listing__footer {
  @include clearfix();
  margin: em(30) 0 0;

  &::ng-deep .pagination {
    float: right;
  }
}
