.generate-certificate-modal-message {
  &__title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.36;
    letter-spacing: 0.5px;
    width: 86%;
    text-align: justify;
  }
}
