<app-modal
    data-automation-ref="generate-certificate-modal-message"
    [(visible)]="visible"
    [size]="'large-x-large'"
    class="generate-certificate-modal-message"
>
    <h2
        class="generate-certificate-modal-message__title"
        data-automation-ref="generate-certificate-modal-message__title"
        i18n
    >
        {{ title }}
    </h2>
    <p
        class="generate-certificate-modal-message__description"
        data-automation-ref="generate-certificate-modal-message__description"
        i18n
    >
        {{ description }}
    </p>
    <div class="right-align">
        <button data-automation-ref="confirm-button"
                type="submit"
                class="btn btn-primary float-right"
                i18n
                (click)="onCertificateModalConfirmation()">
            {{ actionLabel }}
        </button> &nbsp;
    </div>
</app-modal>