<app-dialog-panel (close)="dismiss()">
    <div dialog-header>
        <span class="h1" i18n>Are you sure?</span>
        <p i18n>You are adding item(s) from a previous order. Current pricing, minimum order quantities and multiples will apply.</p>
    </div>
    <p i18n>Are you sure you wish to continue?</p>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><app-button (click)="dismiss()" class="btn-secondary" i18n>Cancel</app-button></li>
            <li class="cta-container__list-item">
                <app-button i18n (click)="confirm()" type="submit" cssClass="btn-primary" i18n>Confirm</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
