@import 'variables';
@import 'mixins';
@import 'colors';

.btn {
  position: relative;
  overflow: hidden;

  &__loader-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  ::ng-deep {
    .loader {
      font-size: rem(24);
    }

    .loader__line {
      &:before {
        background-color: $secondary-action-button-text-color;
      }
    }
  }

  &.btn-wo {
    ::ng-deep {
      .loader__line {
        &:before {
          background-color: $wo-action-text-color;
        }
      }
    }
  }

  &--loading {
    cursor: not-allowed;

    .btn__label {
      visibility: hidden;
    }
    .btn__loader-icon {
      display: flex;
    }
  }
}
