<button type="{{type}}"
        class="btn {{cssClass}}"
        [ngClass]="{ 'btn--loading': loading }"
        [disabled]="disabled"
        (click)="onClick($event)">
    <span class="btn__label">
        <ng-content></ng-content>
    </span>
    <span class="btn__loader-icon">
        <app-loader></app-loader>
    </span>
</button>