<div *ngIf="inventoryInfoVisible">
    <div class="global-inventory-info">

        <app-icon class="block"
                  symbol="i-bubble"
                  class="global-inventory-info__warning-icon">
        </app-icon>
        <span id="additional-parts" i18n>Additional parts are available from Arrow's global inventory for &apos;{{ searchQuery }}&apos;.</span>
        <span *ngIf="!getModalVisibilitySetting()"
              (click)="showModal()"
              class="underline cursor-pointer"
              i18n>
              See results
        </span>

        <a *ngIf="getModalVisibilitySetting()"
           href="{{ searchUrl }}"
           target="_blank"
           class="underline cursor-pointer"
           i18n>
           See results
        </a>

        <button (click)="hideInventoryInfo()"
                aria-label="Close"
                class="cursor-pointer"
                i18n-aria-label>
                <app-icon symbol="cross"></app-icon>
        </button>
    </div>

    <app-modal [(visible)]="modalVisible"
               [size]="'large'">
        <span class="h1 block"
              i18n>Arrow Global</span>
        <p i18n>We are happy to offer you these additional purchasing options, but please be aware that to continue with this purchase
            you will be redirected to Arrow.com. While your MyArrow payment terms will remain the same, note that Arrow.com
            remittance instructions do differ and certain special shipping and handling arrangements may be unavailable.
            We apologize for the inconvenience.</p>

        <div class="cf">
            <div class="float-left">
                <app-checkbox label="Do not show this message again"
                              [(value)]="showInventoryModalCheckbox"
                              (valueChange)="setModalVisibilitySetting()">
                </app-checkbox>
            </div>

            <div class="float-right">
                <button (click)="hideModal()"
                        class="btn btn-secondary"
                        i18n>CANCEL</button>
                <a href="{{ searchUrl }}"
                   (click)="hideModal()"
                   target="_blank"
                   class="btn btn-primary"
                   i18n>
                   CONTINUE
                </a>
            </div>
        </div>
    </app-modal>
</div>
