@import 'variables';
@import 'functions';

:host {
  display: block;
  background-color: $jaffa;
  margin-bottom: $spacing-x-8;
  margin-top: rem(20);

  a,
  button,
  .global-inventory-info {
    color: $black;
  }

  .global-inventory-info {
    text-align: center;
    font-size: rem(14);
    position: relative;
    padding: $spacing-x-1;

    #additional-parts {
      margin: rem(2) 0;
      font-weight: 700;
    }

    button {
      position: absolute;
      top: rem(12);
      right: $base-spacing;
      background: none;
      border: 0;
      padding: 0;
    }

    img {
      height: rem(30);
      width: rem(30);
      margin: 0 auto $base-spacing auto;
    }
  }

  .global-inventory-info__warning-icon {
    height: rem(25);
    width: rem(25);
  }

  /deep/ app-modal {
    .btn {
      margin-left: $base-spacing;
    }
    p {
      margin-bottom: $spacing-x-3;
    }
  }
}
