// color names from http://chir.ag/projects/name-that-color/

$white: #fff;
$black: #000;

$baltic-sea: #29272a;

// Greys
$tundora: #404040;
$boulder: #7b7b7b;
$nobel: #b3b3b3;
$alto: #dedede;
$cod-grey: #f0f0f0;
$wild-sand: #f8f8f8;

$cerulean: #009ddc;
$lochmara: #007cce;

$apple: #439539;
$apple-focus: #54b948;
$apple-3: #3c8532;

$alizarin-crimson: #e31b23;
$cardinal: #ca1836;
$monza: #e0000f;

$jaffa: #f68a33;

$plum: #92278f;
$tawny-port: #6a1c67;

// DELETE
$gallery: #ececec;
$boulder-1: #adadad;
$boulder-2: #7b7b7b;
$linkwater: #ddeef8;
$denim: #013159;
$apple-1: #54ba48;
$apple-2: #439539;
$alabaster: #f4f4f4;
$hot-cinnamon: #e64a2b;
