@import 'colors';

$body-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$rem: 10;
$base-font-size: 14;
$base-line-height: 20;

/* Small */
$small-font-size: 12;
$small-line-height: 16;

/* Table */
$table-font-size: $small-font-size;

/* Button */
$button-font-size: $small-font-size;
$button-line-height: 15;

/* Spacings */
$base-spacing: 10px;

$spacing-none: 0;
$spacing-sml: calc(#{$base-spacing} / 2);
$spacing-x-1: $base-spacing;
$spacing-x-2: calc(#{$base-spacing} * 2);
$spacing-x-3: calc(#{$base-spacing} * 3);
$spacing-x-4: calc(#{$spacing-x-2} * 2);
$spacing-x-5: calc(#{$base-spacing} * 5);
$spacing-x-6: calc(#{$base-spacing} * 6);
$spacing-x-7: calc(#{$base-spacing} * 7);
$spacing-x-8: calc(#{$spacing-x-4} * 2);
$spacing-x-9: calc(#{$spacing-x-4} * 2.25);
$spacing-x-10: calc(#{$spacing-x-5} * 2);

/* Grid */
$page-width: 1400;
$col-count: 12;
$gutter-width: 20;
$page-gutter: 50;
$col-width: ($page-width - ($page-gutter * 2) - ($gutter-width * ($col-count - 1))) / $col-count;

$page-top-padding: 30;
$page-bottom-padding: 100;

/** COLOR MAPPINGS **/

/* DEFAULTS */
$text-color: $tundora;
$outline-color: $nobel;
$error-color: $alizarin-crimson;
$information-color: $jaffa;
$purchase-color: $apple;
$placeholder-color: $nobel;

/* PRESENTATIONAL */
$listing-bg-alt: $wild-sand;

/* STATES */
/* Active */
$active-color: $tundora;
$active-bg-color: $white;
/* Inactive */
// $inactive-color: $nobel;
$inactive-color: $boulder;
$inactive-bg-color: $wild-sand;
/* Disabled */
// $disabled-text-color: $alto;
// $disabled-bg-color: $wild-sand;
// $disabled-outline-color: $alto;

$disabled-text-color: $nobel;
$disabled-bg-color: $alto;
$disabled-outline-color: $nobel;

/* ELEMENTS */
/* Content Headings */
$content-heading-color: $tundora;
$content-heading-bg-color: $alto;

/* Primary */
$primary-action-color: $lochmara;
$primary-action-button-text-color: $white;
$primary-action-focus-color: $cerulean;
$primary-action-focus-button-text-color: $white;

/* Secondary */
$secondary-action-color: $boulder;
$secondary-action-button-text-color: $white;
$secondary-action-focus-color: $nobel;
$secondary-action-focus-button-text-color: $white;

/* Purchase */
$purchase-action-color: $apple;
$purchase-action-button-text-color: $white;
$purchase-action-focus-color: $apple-focus;
$purchase-action-focus-button-text-color: $white;

/* White-out */
$wo-action-color: $white;
$wo-action-text-color: $tundora;
$wo-action-focus-color: $wild-sand;
$wo-action-focus-text-color: $tundora;

/* Listing Message */
$listing-message-text-color: $boulder;
$listing-message-outline-color: $boulder;
$listing-message-bg-color: $white;

/** RATIONALISE ->> **/
$secondary-text-clr: $boulder-2;

/* Alerts / warnings */
$alert-clr: $cardinal;

/* Public site */
$public-bg-clr: $tundora;
$public-text-clr: $white;
$public-registration-links: $black;

/* forecasts */
$forecast-search-button-icon-size: 25;

/* status bar */
$status-ok: $apple-3;
$status-at-risk: $jaffa;
$status-danger: $monza;
