<div><app-loader *ngIf="(loading$ | async)" data-automation-ref="loading-quote-complete-table"></app-loader></div>

<div *ngIf="!(loading$ | async)" class="row">
    <div class="col col-9">
        <div>
            <h2 i18n data-automation-ref="quote-complete-top-heading">Thank You For Submitting a Quote</h2>
            <div>
                <span i18n class="property-list__item-title" data-automation-ref="quote-complete-bottom-heading">Quote Number:</span>
                <label data-automation-ref="quote-complete-cart-id">{{ cart.quoteNumber }}</label>
            </div>
            <div i18n class="quotes-complete__bottom-heading" data-automation-ref="quote-complete-confirmation-heading">
                You will receive an email confirming your quote, which will include your confirmation number.
            </div>
        </div>

        <hr class="hr" />

        <div *ngIf="user">
            <h3 i18n data-automation-ref="quote-complete-account-info-heading">Account Information</h3>
            <div>
                <p class="row">
                    <span
                        i18n
                        data-automation-ref="quote-complete-account-name-heading"
                        class="col bold col-width property-list__item-title"
                        >Account Name:</span
                    >
                    <label class="col col-2" data-automation-ref="quote-complete-user-name">{{ user.company }}</label>
                </p>
                <p class="row">
                    <span
                        i18n
                        data-automation-ref="quote-complete-account-number-heading"
                        class="col bold col-width property-list__item-title"
                        >Account Number:</span
                    >
                    <label class="col col-2" data-automation-ref="quote-complete-user-number">{{ user.selectedBillTo }}</label>
                </p>
                <p class="row">
                    <span
                        i18n
                        data-automation-ref="quote-complete-account-terms-heading"
                        class="col bold col-width property-list__item-title"
                        >Terms:</span
                    >
                    <label class="col col-2" data-automation-ref="quote-complete-user-term">{{ user.paymentsTermName }}</label>
                </p>
            </div>
        </div>

        <hr class="hr" />

        <div *ngIf="cart.additionalInfo" class="quotes-complete__additional-info">
            <h3 i18n data-automation-ref="quote-complete-additional-info-heading">Additional Information</h3>
            <p i18n data-automation-ref="quote-complete-additional-info">{{ cart.additionalInfo }}</p>
        </div>

        <app-quote-cart-table
            [lineItems]="cart.lineItems"
            [currencyCode]="currencyCode"
            view="readonly"
            [displayTariffInfo]="privateFeatureFlags?.tariff"
        ></app-quote-cart-table>
    </div>

    <div class="col col-3">
        <h2 i18n data-automation-ref="quote-complete-side-heading">Quote Complete</h2>
        <p class="quotes-complete__print" i18n>
            Please <button class="btn-link" (click)="printPage()">print</button> this page for your records.
        </p>

        <hr class="hr" />

        <button data-automation-ref="quote-complete-continue-shopping" routerLink="/" class="btn btn-primary quote-complete__btn-continue">
            <span i18n data-automation-ref="quote-complete-continue-shopping-text">Continue Shopping</span>
        </button>
    </div>
</div>
