@import 'layout';

:host {
  @extend .page-template--standard;
}

.col-width {
  width: rem(130);
}

.quotes-complete__bottom-heading {
  margin-top: rem(20);
}

.quotes-complete__additional-info {
  margin-bottom: rem(30);
}

.quotes-complete__print {
  display: block;
  padding-bottom: rem(15);
}

.quote-complete__btn-continue {
  width: 100%;
}

.hr {
  margin: rem(30) 0;
}
