<app-dialog-panel (close)="onClose()">
    <div dialog-header>
        <h3 data-automation-ref="modal-header" i18n>Tracking</h3>
        <span i18n>PO# {{ orderLine?.purchaseOrderNumber }}</span
        ><br />
        <span i18n>Sales Order/Line Item: {{ orderLine?.salesOrderId }}/{{ orderLine?.lineItem }}</span>
    </div>
    <table class="table__no-alt-rows">
        <thead>
            <tr>
                <th i18n>Ship Date</th>
                <th i18n>Tracking #</th>
                <th i18n>QTY</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let shipment of orderLine?.shipments">
                <td>{{ shipment.shipmentTrackingDate | isoDate }}</td>
                <td>
                    <a *ngIf="shipment.shipmentTrackingUrl" [attr.href]="shipment.shipmentTrackingUrl" target="_blank">{{
                        shipment.shipmentTrackingReference
                    }}</a>
                    <span *ngIf="shipment.shipmentTrackingReference && !shipment.shipmentTrackingUrl">
                        {{ shipment.shipmentTrackingReference }}
                    </span>
                </td>
                <td>{{ shipment.qtyShipped }}</td>
            </tr>
        </tbody>
    </table>
</app-dialog-panel>
