<div class="main-title">
  <label class="h2"
         i18n>Quote Cart</label>
  <label *ngIf="!(loading)"
         data-automation-ref="main-title__quantity"
         class="main-title__quantity">({{lineItemCount}})</label>
</div>