<!-- Public / Buffer -->
<div *ngIf="!quotable"><span i18n>Public</span>: {{ availableQuantity }}</div>
<div *ngIf="supplierAllocated">{{ supplierAllocated }}</div>
<div *ngIf="!quotable"><span i18n>Buffer</span>: {{ bufferQuantity }}</div>

<!-- Multiple / SPQ -->
<div *ngIf="!quotable"><span i18n>Multiple</span>: {{ multipleOrderQuantity }}</div>
<div *ngIf="!quotable"><span i18n>SPQ</span>: {{ spq }}</div>
