<div class="order-lines-listing__container">
    <div class="order-lines-listing__filters row">
        <div class="col col-8 col--first">
            <div class="form form--inline">
                <div class="form-item">
                    <div class="form-item__label"><label class="label" i18n>Filter by</label></div>
                    <div class="form-item__control">
                        <app-dropdown
                            [options]="filterOptions"
                            [value]="filter?.value"
                            (select)="setFilter($event.value, $event.payload, $event.track)"
                            placeholder="Choose a filter"
                            i18n-placeholder
                        ></app-dropdown>
                    </div>
                </div>
            </div>

            <app-date-picker
                #datePicker
                [dates]="editableFilterValues"
                calendarCount="2"
                submitLabel="Filter Orders"
                [dateInputs]="[
                    {
                        label: 'From',
                        placeholder: 'Start date'
                    },
                    {
                        label: 'To',
                        placeholder: 'End date'
                    }
                ]"
                (datesChange)="setDates($event)"
                (closed)="onDatePickerClosed()"
                [fixedPosition]="0"
                *ngIf="editableFilterIsSelected"
                class="order-lines-listing__date-picker"
            ></app-date-picker>
        </div>
    </div>

    <div class="line-listing__header row">
        <div class="col col-8">
            <ul class="link-list link-list--inline">
                <li class="link-list__item" *ngIf="ordersAddToCart">
                    <button
                        (click)="openAddToCartConfirmationModal()"
                        [disabled]="selectedOrderLines?.length === 0"
                        class="icon-link icon-link--purchase"
                    >
                        <app-icon symbol="plus" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Add to Cart</ng-container>
                    </button>
                </li>
                <li class="link-list__item">
                    <button (click)="addToQuoteCart(selectedOrderLines)" [disabled]="selectedOrderLines?.length === 0" class="icon-link">
                        <app-icon symbol="document-add" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Request a Quote</ng-container>
                    </button>
                </li>
                <li class="link-list__item">
                    <button (click)="openEmailModal(selectedOrderLines)" [disabled]="selectedOrderLines?.length === 0" class="icon-link">
                        <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Email Sales Representative</ng-container>
                    </button>
                </li>
            </ul>
        </div>

        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="pageLimitChange($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            ></app-pagination>
        </div>
    </div>

    <div class="orders-lines-listing">
        <table *ngIf="orderLines?.length">
            <thead>
                <tr>
                    <th class="order-lines-listing__selection-cell">
                        <app-checkbox
                            [value]="allSelected(orderLines, selectedIds$ | async)"
                            (valueChange)="toggleOrderLines($event, orderLines)"
                        ></app-checkbox>
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['purchaseOrderNumber', 'lineItem']"
                        [order]="sortOrder?.get('purchaseOrderNumber')"
                        (sortChange)="sortChange($event)"
                    >
                        Purchase <br />Order
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['salesOrderId', 'lineItem']"
                        [order]="sortOrder?.get('salesOrderId')"
                        (sortChange)="sortChange($event)"
                    >
                        Sales Order/ <br />Line Item
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['buyerName']"
                        [order]="sortOrder?.get('buyerName')"
                        (sortChange)="sortChange($event)"
                    >
                        Buyer
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['customerPartNumber']"
                        [order]="sortOrder?.get('customerPartNumber')"
                        (sortChange)="sortChange($event)"
                    >
                        Customer <br />Part #
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['manufacturerPartNumber']"
                        [order]="sortOrder?.get('manufacturerPartNumber')"
                        (sortChange)="sortChange($event)"
                    >
                        Manufacturer <br />Part #
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['entered']"
                        [order]="sortOrder?.get('entered')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Entered
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['requested']"
                        [order]="sortOrder?.get('requested')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Requested
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header"
                        [keys]="['committed']"
                        [order]="sortOrder?.get('committed')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Committed
                    </th>
                    <th i18n>Qty Ordered <br />Qty Remaining</th>
                    <th i18n>Qty Shipped <br />Qty Ready to Ship</th>
                    <th i18n>Tracking</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderLine of orderLines">
                    <td class="order-lines-listing__selection-cell">
                        <app-checkbox
                            [value]="isSelected(orderLine, selectedIds$ | async)"
                            (valueChange)="toggleOrderLines($event, [orderLine])"
                        ></app-checkbox>
                    </td>
                    <td>{{ orderLine.purchaseOrderNumber }} <br />({{ orderLine.status | i18nSelect: orderLineStatusMap }})</td>
                    <td>
                        <p>{{ orderLine.salesOrderId }}<br />{{ orderLine.lineItem }}</p>
                        <ul class="link-list">
                            <li class="link-list__item">
                                <a
                                    [routerLink]="['/orders', orderLine.salesOrderId]"
                                    [queryParams]="{ salesHeaderId: orderLine.salesHeaderId, billToSiteUseId: orderLine.billToSiteUseId }"
                                    class="icon-link"
                                >
                                    <app-icon symbol="cart" class="icon-link__icon"></app-icon>
                                    <span i18n>View Order</span>
                                </a>
                            </li>
                            <li class="link-list__item" *ngIf="orderLine.invoices?.length">
                                <button class="icon-link" (click)="showInvoicesForOrderLine(orderLine)">
                                    <app-icon symbol="document" class="icon-link__icon"></app-icon>
                                    <span i18n>View Invoice</span>
                                </button>
                            </li>
                        </ul>
                    </td>
                    <td>{{ orderLine.buyerName }}</td>
                    <td>{{ orderLine.customerPartNumber }}</td>
                    <td>
                        <a class="part-number" [routerLink]="['/products', orderLine.docId]">{{ orderLine.manufacturerPartNumber }}</a
                        ><span class="ncnr" *ngIf="orderLine.ncnrStatus === true">*</span> <br /><span class="manufacturer-name"
                            >({{ orderLine.manufacturerName }})</span
                        >
                    </td>
                    <td>{{ orderLine.entered | isoDate }}</td>
                    <td>{{ orderLine.requested | isoDate }}</td>
                    <td>{{ orderLine.committed | isoDate }}</td>
                    <td>
                        {{ orderLine.qtyOrdered }} <br />
                        {{ orderLine.qtyRemaining }}
                    </td>
                    <td>{{ orderLine.qtyShipped }} <br />{{ orderLine.qtyReadyToShip }}</td>
                    <td>
                        <ng-container *ngIf="orderLine?.shipments.length == 1">
                            <p>
                                {{ (orderLine?.shipments)[0].shipmentTrackingDate | isoDate }} <br />
                                <a
                                    *ngIf="(orderLine?.shipments)[0].shipmentTrackingUrl"
                                    [attr.href]="(orderLine?.shipments)[0].shipmentTrackingUrl"
                                    target="_blank"
                                    >{{ (orderLine?.shipments)[0].shipmentTrackingReference }}</a
                                >
                                <span
                                    *ngIf="
                                        (orderLine?.shipments)[0].shipmentTrackingReference &&
                                        !(orderLine?.shipments)[0].shipmentTrackingUrl
                                    "
                                >
                                    {{ (orderLine?.shipments)[0].shipmentTrackingReference }}
                                </span>
                            </p>
                        </ng-container>
                        <a *ngIf="orderLine?.shipments.length > 1" (click)="openMultipleShippingModalDialog(orderLine)" [routerLink]="" i18n
                            >Multiple Shipping</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>

        <app-listing-message label="There are no orders to show" icon="list" *ngIf="orderLines && !orderLines.length">
            <a href="/" class="icon-link">
                <app-icon symbol="cart" class="icon-link__icon"></app-icon>
                <ng-container i18n>Continue shopping</ng-container>
            </a>
        </app-listing-message>
    </div>

    <div class="order-lines-listing__footer row" *ngIf="orderLines?.length && (totalPages$ | async) > 0">
        <div class="col col-8" i18n>
            <div *ngIf="hasNcnr"><span class="ncnr">*</span> NCNR = Non-cancelable & Non-returnable</div>
        </div>
        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="pageLimitChange($event)"
                (pageChange)="pageChange($event)"
            ></app-pagination>
        </div>
    </div>
</div>
