@import 'mixins';
@import 'colors';
@import 'functions';
@import 'variables';

:host {
  margin: em(30) 0 em(20);
  display: block;
}

.order-lines-listing__filters {
  margin-bottom: em(30);
  align-items: flex-end;

  &::ng-deep .pagination {
    align-self: flex-end;
  }
}

.line-listing__header {
  align-items: center;

  .link-list {
    margin: 0;
  }
}

.order-lines-listing__filter-dropdown {
  @include inline-block();
  vertical-align: middle;
  margin: 0 em(20) 0 0;
}

.order-lines-listing {
  margin: em(30) 0;
}

.order-lines-listing__date-picker {
  margin-left: em(10);
}

.order-lines-listing__selection-cell {
  vertical-align: top;
  padding-left: em(30, 12);
}

.manufacturer-name {
  float: left;
  clear: both;
}

.part-number {
  float: left;
}

.ncnr {
  color: $jaffa;
  margin-left: rem(5);
  font-size: rem(24);
  float: left;
  position: relative;
  top: rem(-5);
}

.order-lines-listing__footer {
  .ncnr {
    margin-right: rem(6);
  }

  .col-8 {
    color: $nobel;
    font-size: rem(16);
  }
}
