@import 'functions';
@import 'colors';

:host {
  > div {
    display: block;
    margin-bottom: rem(30);
    padding-bottom: rem(30);
    border-bottom: 1px solid $alto;
  }

  h2 {
    margin-bottom: rem(5);
  }
}
