<div *ngIf="privateFeatureFlags?.quotes">
    <h2 i18n>Submitted Quotes</h2>
    <p>
        <ng-container i18n>{{ quotesCount }} quotes previously submitted.</ng-container>
        <a i18n routerLink="/quotes/submitted-quotes">View all</a>
    </p>
</div>
