@import 'form';

:host {
  @extend .binary-form-control;
}

.binary-form-control__icon {
  height: 1em;
  width: 1em;
}

.binary-form-control__button {
  border-color: $active-color;
}

.binary-form-control__icon--selected {
  color: $primary-action-color;
}

.binary-form-control__icon--disabled {
  color: $disabled-bg-color;
}

.binary-form-control__icon--error {
  color: $error-color;
}

.binary-form-control__button--selected {
  border-color: $primary-action-color;
}

.binary-form-control__button--disabled {
  border-color: $disabled-bg-color;
}

.binary-form-control__button--error {
  border-color: $error-color;
}
