@import 'variables';
@import 'functions';

.product-filters-actions__clearfilters {
  position: relative;
  top: rem(10);
}

.product-filters-actions__clearfilters,
.product-filters-actions__btn {
  font-size: rem(12);
}

.product-filters-actions__clearfilters {
  margin-right: rem(20);
}
