<div class="product-filters-actions">
    <a (click)="clearAllFilters()"
       class="product-filters-actions__clearfilters bold cursor-pointer"
       i18n>
       Clear All Filters
    </a>

    <button (click)="applyFilters()"
            class="product-filters-actions__btn btn btn-primary"
            [disabled]="hasFiltersSelected()"
            i18n>
            APPLY FILTERS
    </button>
</div>