<h3 i18n class="product-details__sub-title">Product details</h3>
<div class="row">
    <div *ngIf="product.image" class="col col-4 product-details__image-wrapper">
        <img class="product-details__image" src="{{product.image}}" alt="{{ product.manufacturer }} - {{ product.mpn }}" />
    </div>
    <div class="col col-8">
        <div class="product-details__table">
            <div class="product-details__table-column">
                <h4 i18n>Manufacturer</h4>
                <p>{{ product.manufacturer }}</p>
            </div>
            <div class="product-details__table-column">
                <h4 i18n>Part Number</h4>
                <p>{{ product.mpn }}</p>
            </div>
            <div class="product-details__table-column">
                <h4 i18n>Category</h4>
                <p>{{ product.category }}</p>
            </div>
            <div class="product-details__table-column" *ngIf="product.compliance.EU_ROHS">
                <h4 i18n>EU RoHS</h4>
                <app-rohs-icon [compliance]="product.compliance.EU_ROHS"></app-rohs-icon>
            </div>
            <div class="product-details__table-column" *ngIf="product.compliance.CHINA_ROHS">
                <h4 i18n>China RoHS</h4>
                <app-rohs-icon [compliance]="product.compliance.CHINA_ROHS"></app-rohs-icon>
            </div>
        </div>
        <a *ngIf="product.datasheet" href="{{ product.datasheet }}" target="_blank" class="icon-link">
            <app-icon symbol="document" class="icon-link__icon"></app-icon>
            <ng-container i18n>Datasheet</ng-container>
        </a>
        <button (click)="addToQuoteCart()" class="icon-link">
            <app-icon symbol="document-add" class="icon-link__icon"></app-icon>
            <ng-container i18n>Request a Quote</ng-container>
        </button>

        <button *ngIf="(privateFeatureFlags$ | async)?.addToBom" (click)="addToBom()" class="icon-link">
            <app-icon symbol="plus" class="icon-link__icon"></app-icon>
            <ng-container i18n>Add to BOM</ng-container>
        </button>
    </div>
</div>
