@import 'functions';
@import 'colors';

:host {
  .product-details__sub-title {
    margin-bottom: rem(30);
  }

  .product-details__sub-title--specifications {
    margin-bottom: rem(10);
  }

  .product-details__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-details__image {
    max-width: 100%;
    height: auto;
  }

  .product-details__table {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $alto;
    margin-bottom: rem(20);
  }

  .product-details__table-column {
    width: 33.33%;
    margin-bottom: rem(20);

    h4 {
      line-height: calc(18 / 12);
      color: $boulder-2;
      margin-bottom: rem(10);
    }

    p {
      letter-spacing: rem(0.5);
      margin-bottom: rem(5);
    }

    img {
      max-width: rem(30);
      width: 100%;
      height: auto;
    }
  }

  .icon {
    height: rem(30);
    width: rem(30);

    &--green {
      color: $apple-1;
    }
  }

  .icon-link {
    font-size: rem(12);
    margin-right: rem(20);
    letter-spacing: rem(0.5);
  }
}
