@import 'mixins';
@import 'functions';
@import 'colors';

:host {
  ::ng-deep {
    app-end-customer-dropdowns {
      .dropdown {
        margin-bottom: rem(30);
      }

      .label {
        @include h3();
        display: block;
        color: $black;
        margin-bottom: rem(20);
      }
    }

    app-product-price {
      .price-tier {
        font-size: em(12);
      }
    }
  }

  .property-list th {
    white-space: nowrap;
  }

  .buy-parts__arrow-reel {
    margin-top: 1rem;
  }
}
