<h2 i18n>Buy Parts</h2>

<app-end-customer-dropdowns
    *ngIf="displayEndCustomerDropdowns"
    (dropdownsSelectionChange)="onDropdownsSelectionChange($event)"
    [data]="product.endCustomerRecords"
    [searchQuery]="''"
    [defaultCpn]="cpn"
    [defaultEndCustomerId]="endCustomerSiteId"
>
</app-end-customer-dropdowns>

<hr />

<div class="row">
    <div class="col col-6">
        <h3 i18n>Pricing</h3>

        <app-product-price
            (priceChange)="onPriceChange($event)"
            (purchasableChange)="onPurchasableChange($event)"
            (tariffChange)="onTariffChange($event)"
            (priceTiersChange)="onPriceTiersChange($event)"
            [cpn]="cpn"
            [endCustomerSiteId]="endCustomerSiteId"
            [selectForPricing]="selectForPricing"
            [itemId]="product.itemId"
            [warehouseId]="product.warehouseId"
            [quantity]="quantity"
            [price]="price"
            [priceTiers]="priceTiers"
        >
        </app-product-price>
    </div>

    <div class="col col-6">
        <h3 i18n>Availability</h3>

        <table class="property-list" *ngIf="purchasable; else noPurchasable">
            <tr>
                <th i18n>Public:</th>
                <td>{{ product.availableQuantity }}</td>
            </tr>
            <tr>
                <th i18n>Buffer:</th>
                <td>{{ product.bufferQuantity }}</td>
            </tr>
            <tr>
                <th i18n>Multiple:</th>
                <td>{{ product.multipleOrderQuantity }}</td>
            </tr>
            <tr>
                <th i18n>Min. Qty:</th>
                <td>{{ product.minimumOrderQuantity }}</td>
            </tr>
            <tr *ngIf="product.leadTime">
                <th i18n>Lead Time:</th>
                <td>{{ product.leadTime }} <span i18n>Weeks</span></td>
            </tr>
            <tr *ngIf="product.pipeline.deliveryDate">
                <th i18n>Pipeline:</th>
                <td>
                    {{ product.pipeline.deliveryDate }} <br />
                    {{ product.pipeline.quantity }}
                </td>
            </tr>
        </table>

        <ng-template #noPurchasable> -- </ng-template>
    </div>
</div>

<a
    *ngIf="showTariffLink"
    i18n
    i18n-title
    title="Subject to a US Customs Tariff charge."
    href="https://www.arrow.com/en/support/tariff-support/tariff-lists"
    target="_blank"
    >Tariff details</a
>

<hr />

<div class="row">
    <div class="col col-12">
        <h3 i18n>Quantity</h3>
        <app-add-quantity-to-cart
            [minimumOrderQuantity]="product.minimumOrderQuantity"
            (setQuantity)="onSetQuantity($event)"
            [quoteCartMaxLineItems]="quoteCartMaxLineItems$ | async"
            [quoteCartLineItemsCount]="quoteCartLineItemsCount$ | async"
            [cartMaxLineItems]="cartMaxLineItems$ | async"
            [cartLineItemsCount]="cartLineItemsCount$ | async"
            [showDivider]="true"
            [manufacturerPartNumber]="product.mpn"
            [docId]="product.docId"
            [itemId]="product.itemId"
            [selectedCustomerPartNumber]="cpn"
            [selectedEndCustomerSiteId]="endCustomerSiteId"
            [warehouseId]="product.warehouseId"
            [price]="price"
            [priceTiers]="priceTiers"
            [purchasable]="purchasable"
            [manufacturer]="product.manufacturer"
            [description]="product.description"
            (showAddToCartCapDialog)="openAddToCartCapDialog($event)"
        >
        </app-add-quantity-to-cart>
        <button
            *ngIf="product.purchasable && product.arrowReel"
            class="btn btn-primary btn--fullwidth buy-parts__arrow-reel"
            (click)="openReelModal()"
            i18n
        >
            Arrow Reel
        </button>
    </div>
</div>
