@import 'colors';
@import 'functions';
@import 'layout';
@import 'typography';

:host /deep/ {
  .binary-form-control__text {
    position: relative;
    top: rem(2);
    font-size: rem(12);
  }

  .binary-form-control__label .binary-form-control__text {
    position: relative;
    left: rem(-5);
  }
}

.frequencies {
  margin-left: rem(5);
}

.table__no-alt-rows {
  border: none;

  tbody td {
    padding: rem(4);
    border: none;
  }
}

.btn {
  margin: rem(5);
  padding: rem(15);
}

label {
  font-size: rem(12);

  b {
    @extend .bold;
    color: $tundora;
  }
}

h3 {
  margin-bottom: rem(10);
}

hr {
  margin: rem(30) rem(0);
}

.icon-link {
  color: $lochmara;
  font-size: rem(12);
  text-transform: none;
}

.notification-required label {
  margin-left: rem(4);
}

label.flex-row {
  padding: 0 0 rem(20) 0;
}

.select-all {
  font-weight: bold;
  font-size: rem(12);
  margin-left: rem(4);
}
