<app-dialog-panel (close)="onClose()">
    <div *ngIf="errors">
        <h2 i18n>{{ errorHeader }}</h2>

        <app-listing-message label="{{ errorBody }}"
                             icon="cross"></app-listing-message>
        <div dialog-footer class="cta-container">
            <ul class="cta-container__list justify-flex-end">
               <li class="cta-container__list-item">
                   <button data-automation-ref="cancel-button"
                           type="submit"
                           class="btn btn-secondary"
                           i18n
                           (click)="onClose()">
                       Cancel
                   </button>
               </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!errors">
        <div dialog-header>
            <h1 data-automation-ref="modal-header"
                i18n>Manage Notification Settings</h1>
            <p data-automation-ref="modal-details" i18n>By following the two steps below, you can customize the information that you download.</p>
        </div>
        <h3 i18n>Order Management Notifications</h3>
        <div class="row">
            <div class="col col-6 notification-required">
                <app-checkbox data-automation-ref="notification-required"
                              [(value)]="notificationsRequired"></app-checkbox>
                <label i18n>Notification Required (File Type: PDF)</label>
            </div>
            <div class="col col-6 frequencies">
                 <div class="row">
                     <div class="flex-row">
                         <label i18n><strong>Frequency:</strong></label>
                     </div>
                     <div *ngFor="let freq of frequency;" class="flex-row">
                        <app-radio radioValue="{{ freq }}"
                                   label="{{ freq }}"
                                   [(value)]="OMfrequency"
                                   class="frequencies"></app-radio>
                     </div>
                 </div>
            </div>
        </div>
        <hr>
        <h3 i18n>Product Change Notifications</h3>
        <div class="row">
            <div class="col col-6 critcal">
                <label i18n class="flex-row"><strong>Critical</strong></label>
                <app-checkbox data-automation-ref="select-all-critical-checkbox"
                              (valueChange)="toggleAll($event, 'critical', 'selectAllCritical')"
                              [(value)]="selectAllCritical"
                              label="Select All"
                              class="select-all"></app-checkbox>
                <table class="table__no-alt-rows">
                    <tbody>
                        <tr data-automation-ref="criticalItems"
                            *ngFor="let crit of critical; let i=index">
                            <td>
                                <app-checkbox label="{{ crit.description }}"
                                              [(value)]="critical[i].value"
                                              (valueChange)="toggleCheckbox($event, 'critical', i)"></app-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-6 non-critical">
                <label i18n class="flex-row"><strong>Non-Critical</strong></label>
                <app-checkbox data-automation-ref="select-all-non-critical-checkbox"
                              (valueChange)="toggleAll($event, 'nonCritical', 'selectAllNonCritical')"
                              [(value)]="selectAllNonCritical"
                              label="Select All"
                              class="select-all"></app-checkbox>
                <table class="table__no-alt-rows">
                    <tbody>
                        <tr data-automation-ref="nonCriticalItems"
                            *ngFor="let nonCrit of nonCritical; let i=index">
                            <td>
                                <app-checkbox label="{{ nonCrit.description }}"
                                              (valueChange)="toggleCheckbox($event, 'nonCritical', i)"
                                              [(value)]="nonCritical[i].value"></app-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div dialog-footer class="cta-container">
                    <ul class="cta-container__list justify-flex-end">
                        <li class="cta-container__list-item">
                            <button data-automation-ref="cancel-button"
                                    type="submit"
                                    class="btn btn-secondary"
                                    i18n
                                    (click)="onClose()">
                                Cancel
                            </button>
                        </li>
                        <li class="cta-container__list-item">
                            <button data-automation-ref="confirm-button"
                                    type="submit"
                                    class="btn btn-primary"
                                    i18n
                                    (click)="saveSettings()">
                                Save and Close
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-dialog-panel>
