<div class="container">
    <div class="wrap">
        <div class="row">
            <div class="col col-6 col--first">
                <div class="panel panel--entry">
                    <app-login-form *ngIf="!showInvalidUsertypeMessage"></app-login-form>
                    <app-login-message
                        *ngIf="showInvalidUsertypeMessage"
                        (loginAsDifferentUser)="onLoginAsDifferentUser()"
                    ></app-login-message>
                </div>
            </div>
            <div class="col col-6">
                <div class="panel" *ngIf="publicFeatureFlags?.registration">
                    <h2 i18n class="title">New on <span class="myarrow-logo logo-inline">MyArrow</span></h2>
                    <p i18n class="panel__description">
                        <strong>We've upgraded!</strong> Along with a new BOM Tool and updated design, you will notice faster uploads and
                        data retrieval site-wide.
                    </p>
                    <div class="cta-container">
                        <ul class="cta-container__list">
                            <li class="cta-container__list-item">
                                <a i18n class="btn btn-wo" target="_blank" href="https://my.arrow.com/more">Learn More</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
