@import 'variables';
@import 'functions';
@import 'mixins';

.container {
  background: url('/assets/images/component-lines-account.svg') no-repeat right bottom;
  padding-top: em($page-gutter);
  padding-bottom: em($page-gutter);
}

::ng-deep .title {
  @include h1();
  display: flex;
  align-items: flex-end;

  .myarrow-logo {
    margin-bottom: rem(-1.6);
  }
}

.panel {
  padding: rem(30);
}

.panel--entry {
  background: $white;
  color: $text-color;
}

.panel__description {
  padding-right: rem(80);
}

.carousel {
  height: 150px;
}
