@import 'layout';
@import 'colors';
@import 'helpers';

:host {
  @extend .page-template--standard;
}

.checkout {
  &__label {
    color: $boulder-2;
    margin-bottom: $spacing-x-1;
  }

  &__field-label {
    color: $tundora;
    margin-top: $spacing-x-1;
    margin-bottom: $spacing-x-1;
  }

  app-radio,
  app-radio-reactive {
    margin-bottom: $spacing-x-1;
  }

  .comments {
    margin-top: rem(20);
  }
}

.payment-options {
  @extend .flex;
  @extend .flex-direction-column;

  &__title {
    margin-bottom: $spacing-x-2;
  }

  &__subtitle {
    margin-bottom: $spacing-x-3;
  }

  #accepted-cards {
    height: rem(40);
    position: relative;
    top: -13px;
  }

  .cards {
    width: rem(60);
    height: rem(60);
    position: relative;
    left: -5px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.additional-information {
  @extend .flex;
  @extend .flex-direction-column;

  &__title {
    margin-bottom: $spacing-x-2;
  }

  &__subtitle {
    margin-bottom: $spacing-x-3;
  }

  &__input {
    width: 50%;
  }

  app-checkbox {
    margin-top: $spacing-x-1;
  }
}

.order-summary {
  &__subtitle {
    color: $boulder-2;
  }

  &__purchase {
    width: 100%;
  }

  &__checkbox:first-child {
    margin-bottom: $spacing-x-1;
  }

  dl {
    padding: 0;
    margin: 0;
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    dt,
    dd {
      padding: rem(10) 0 0;
    }
    dt {
      color: $placeholder-color;
      width: 53%;
      &.order-confirm__subtotal-label {
        width: 22%;
      }
      &.order-confirm__total-label {
        font-size: rem(16);
        width: 15%;
      }
    }
    dd {
      color: $text-color;
      width: 47%;
      padding-left: rem(5);
      text-align: right;
      font-size: rem(18);
      &.order-confirm__subtotal {
        width: 78%;
      }
      &.order-confirm__total-value {
        font-size: rem(24);
        width: 85%;
      }
    }
  }
}

.input--error {
  @include form-text-placeholder($error-color);
}

app-dropdown.input--error {
  ::ng-deep label {
    border: 1px solid $error-color;
    span {
      color: $error-color;
    }
  }
}

.cta-container {
  div {
    margin-top: rem(20);
    strong {
      color: $error-color;
    }
  }
}

.information-text {
  margin-top: rem(10);
  &.information-color {
    color: $information-color;
    display: flex;
    span {
      margin-left: rem(9);
      width: rem(250);
    }
  }
}

.secure_input {
  width: 100%;
}
