<app-loader *ngIf="(loading$ | async)" data-automation-ref="loading-mesage"></app-loader>

<app-listing-message
    *ngIf="(checkoutError$ | async)"
    label="Sorry, an error prevented the display of this view.
            <br/>
            Please refresh the page or choose from the navigation above."
    icon="cross"
></app-listing-message>

<form class="row checkout" *ngIf="!(loading$ | async) && checkout" [formGroup]="checkoutForm">
    <div class="col col-9">
        <app-checkout-account-information
            [accountInfo]="checkout.accountInfo"
            [shippingAddress]="checkout.shippingAddress"
        ></app-checkout-account-information>
        <hr />
        <div class="shipping-options">
            <h2 i18n>Shipping Options</h2>
            <div class="row">
                <!-- grid col 4 -->
                <div class="col col-5">
                    <div>
                        <h4 class="checkout__label" i18n>Select Preferred Shipping Option</h4>
                        <div class="flex-column">
                            <app-radio
                                *ngFor="let shippingOption of checkout.shippingOptions"
                                label="{{ shippingOption.name }}"
                                [formControl]="checkoutForm.controls.shippingMethod"
                                radioValue="{{ shippingOption.code }}"
                            ></app-radio>
                        </div>
                    </div>
                </div>

                <!-- grid col 4 -->
                <div class="col col-5 col-offset-1">
                    <h4 class="checkout__label" i18n>Ship When Order Complete</h4>
                    <div class="flex-column">
                        <app-radio
                            label="No - Items will be shipped according to requested delivery dates, as available.
                                    Multiple shipments and/or additional shipping charges may occur."
                            [formControl]="checkoutForm.controls.shipComplete"
                            [radioValue]="false"
                        ></app-radio>
                        <app-radio
                            label="Yes - Order will be held until all requested items are available for shipment."
                            [formControl]="checkoutForm.controls.shipComplete"
                            [radioValue]="true"
                        ></app-radio>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="additional-information">
            <h2 class="additional-information__title" i18n>Additional Order Information</h2>
            <span class="additional-information__subtitle">* Required Field</span>
            <h4 class="checkout__label" i18n>Purchase Order Number *</h4>
            <input
                class="input additional-information__input"
                placeholder="Enter Purchase Order Number"
                type="text"
                formControlName="poNumber"
                [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.poNumber) }"
                maxlength="50"
            />
            <div *ngIf="hasErrors(checkoutForm.controls.poNumber)" class="error">
                <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
            </div>
            <app-checkbox
                *ngIf="!hasQuotedItemAndQuantityChanged(checkout.cart.lineItems)"
                label="I would like my Sales Representative to review this order before it is finalized."
                [formControl]="checkoutForm.controls.salesRepReview"
                #salesRepReview
            ></app-checkbox>
            <div *ngIf="hasQuotedItemAndQuantityChanged(checkout.cart.lineItems)" class="information-text">
                <span i18n> A Sales Representative will review this order before it is finalized. </span>
            </div>
            <div *ngIf="checkoutForm.controls.salesRepReview.value || hasQuotedItemAndQuantityChanged(checkout.cart.lineItems)">
                <h4 class="checkout__label comments" i18n>Comments *</h4>
                <textarea
                    class="input additional-information__input"
                    maxlength="500"
                    data-automation-ref="external-comments"
                    [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.externalComments) }"
                    placeholder="Please add any additional information for the rep to review"
                    formControlName="externalComments"
                    i18n-placeholder
                ></textarea>
            </div>
            <div *ngIf="hasErrors(checkoutForm.controls.externalComments)" class="error" i18n>Please enter your comments.</div>
        </div>

        <hr *ngIf="checkoutWithCredit" />

        <div class="payment-options" *ngIf="checkoutWithCredit">
            <h2 class="payment-options__title" i18n>Payment Options</h2>
            <span class="payment-options__subtitle">* Required Field</span>
            <div class="row">
                <div class="col col-5">
                    <h4 class="checkout__label" i18n>Billing Address</h4>
                    <h4 class="checkout__field-label" i18n>First Name *</h4>
                    <input
                        appOnlyAlphaCharacters
                        titlecase
                        class="input"
                        placeholder="Enter First Name"
                        type="text"
                        [formControl]="checkoutForm.controls.firstName"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.firstName) }"
                        maxlength="50"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.firstName)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Last Name *</h4>
                    <input
                        appOnlyAlphaCharacters
                        titlecase
                        class="input"
                        placeholder="Enter Last Name"
                        type="text"
                        [formControl]="checkoutForm.controls.lastName"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.lastName) }"
                        maxlength="50"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.lastName)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Address 1 *</h4>
                    <input
                        class="input"
                        placeholder="Enter Address 1"
                        type="text"
                        [formControl]="checkoutForm.controls.address1"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.address1) }"
                        maxlength="50"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.address1)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Address 2</h4>
                    <input
                        class="input"
                        placeholder="Enter Address 2"
                        type="text"
                        [formControl]="checkoutForm.controls.address2"
                        maxlength="50"
                    />
                    <h4 class="checkout__field-label" i18n>City *</h4>
                    <input
                        class="input"
                        placeholder="Enter City"
                        type="text"
                        [formControl]="checkoutForm.controls.city"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.city) }"
                        maxlength="50"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.city)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Country *</h4>
                    <app-dropdown
                        data-automation-ref="countryCode"
                        [options]="countryList"
                        [formControl]="checkoutForm.controls.country"
                        [value]="country"
                        (valueChange)="updateCountry($event)"
                        searchable="true"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.country) }"
                        class="form-input country__input"
                    ></app-dropdown>
                    <div *ngIf="hasErrors(checkoutForm.controls.country)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <div *ngIf="country">
                        <h4 class="checkout__field-label" i18n>{{ stateLabel }} *</h4>
                        <app-dropdown
                            data-automation-ref="stateCode"
                            [options]="stateList"
                            [formControl]="checkoutForm.controls.state"
                            [value]="state"
                            [size]="'short'"
                            (valueChange)="updateState($event)"
                            searchable="true"
                            [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.state) }"
                            class="form-input state__input"
                        ></app-dropdown>
                        <div *ngIf="hasErrors(checkoutForm.controls.state)" class="error">
                            <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                        </div>
                    </div>
                    <h4 class="checkout__field-label" i18n>ZIP/Postal Code *</h4>
                    <input
                        class="input"
                        placeholder="Enter ZIP/Postal Code"
                        type="text"
                        [formControl]="checkoutForm.controls.postalCode"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.postalCode) }"
                        maxlength="10"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.postalCode)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Phone *</h4>
                    <input
                        appOnlyPhoneNumber
                        class="input"
                        placeholder="Enter Phone"
                        type="text"
                        [formControl]="checkoutForm.controls.phone"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.phone) }"
                        maxlength="22"
                    />
                    <div *ngIf="hasErrors(checkoutForm.controls.phone)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                </div>
                <div class="col col-5 col-offset-1">
                    <h4 class="checkout__label" i18n>Credit Card Information</h4>
                    <h4 class="checkout__field-label" i18n>Accepted Credit Cards</h4>
                    <div id="accepted-cards">
                        <app-icon class="cards" symbol="American Express" *ngIf="ccType == null || ccType == 'AMEX'"></app-icon>
                        <app-icon class="cards" symbol="Maestro" *ngIf="ccType == null || ccType == 'MASTERCARD'"></app-icon>
                        <app-icon class="cards" symbol="Visa" *ngIf="ccType == null || ccType == 'VISA'"></app-icon>
                    </div>
                    <h4 class="checkout__field-label" i18n>Credit Card Number *</h4>

                    <app-secure-textbox
                        class="secure_input"
                        appOnlyPositiveNumbers
                        placeholder="Enter Credit Card Number"
                        [formControl]="checkoutForm.controls.ccNumber"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.ccNumber) }"
                        [maxlength]="16"
                        (keypress)="clearCVV()"
                    >
                    </app-secure-textbox>

                    <div *ngIf="hasErrors(checkoutForm.controls.ccNumber)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>Please enter a valid card number.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>CVV *</h4>

                    <app-secure-textbox
                        class="secure_input"
                        appOnlyPositiveNumbers
                        placeholder="Enter CVV"
                        [formControl]="checkoutForm.controls.cvv"
                        [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.cvv) }"
                        [maxlength]="ccType == 'AMEX' ? 4 : 3"
                    >
                    </app-secure-textbox>

                    <div *ngIf="hasErrors(checkoutForm.controls.cvv)" class="error">
                        <app-icon symbol="alert"></app-icon><strong i18n>This field is required.</strong>
                    </div>
                    <h4 class="checkout__field-label" i18n>Expiration Date *</h4>
                    <div class="row">
                        <div class="col col-6">
                            <app-dropdown
                                data-automation-ref="expirationMonth"
                                [options]="monthList"
                                [size]="'short'"
                                [formControl]="checkoutForm.controls.expirationMonth"
                                [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.expirationMonth) }"
                                [value]="ccExpMonth"
                                (valueChange)="updateMonth($event)"
                                class="form-input month__input"
                            ></app-dropdown>
                            <div *ngIf="hasErrors(checkoutForm.controls.expirationMonth)" class="error">
                                <app-icon symbol="alert"></app-icon><strong i18n>Select a date.</strong>
                            </div>
                        </div>
                        <div class="col col-6 col-offset-1">
                            <app-dropdown
                                data-automation-ref="expirationYear"
                                [options]="yearList"
                                [size]="'short'"
                                [formControl]="checkoutForm.controls.expirationYear"
                                [ngClass]="{ 'input--error': hasErrors(checkoutForm.controls.expirationYear) }"
                                [value]="ccExpYear"
                                (valueChange)="updateYear($event)"
                                class="form-input year__input"
                            ></app-dropdown>
                            <div *ngIf="hasErrors(checkoutForm.controls.expirationYear)" class="error">
                                <app-icon symbol="alert"></app-icon><strong i18n>Select a date.</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <app-checkout-order-information
            *ngIf="checkout.cart.lineItems"
            [items]="checkout.cart.lineItems"
            [currencyCode$]="currencyCode$"
            [displayTariffInfo]="privateFeatureFlags?.tariff && displayTariffInfo"
        ></app-checkout-order-information>
    </div>

    <div class="col col-3">
        <div class="order-summary">
            <h2 i18n>Confirm Order</h2>
            <dl class="order-confirm__summary">
                <dt
                    *ngIf="privateFeatureFlags?.tariff && displayTariffInfo"
                    class="order-confirm__subtotal-label"
                    data-automation-ref="subtotal-label"
                    i18n
                >
                    Subtotal
                </dt>
                <dd *ngIf="privateFeatureFlags?.tariff && displayTariffInfo" class="order-confirm__subtotal" data-automation-ref="subtotal">
                    {{ checkout.cart.subTotal | formattedPrice: currencyCode:'subTotal' }}
                </dd>
                <dt *ngIf="privateFeatureFlags?.tariff && displayTariffInfo" data-automation-ref="tariff-subtotal-label" i18n>
                    Estimated US Customs Tariff Charge
                </dt>
                <dd *ngIf="privateFeatureFlags?.tariff && displayTariffInfo" data-automation-ref="tariff-subtotal">
                    {{ getCartTariffTotal(checkout.cart) | formattedPrice: currencyCode:checkout.cart.currency:'subTotal' }}
                </dd>
                <dt class="order-confirm__total-label" data-automation-ref="total-label" i18n>Total</dt>
                <dd class="order-confirm__total-value" data-automation-ref="total">
                    {{ getCartTotal(checkout.cart) | formattedPrice: currencyCode:'subTotal' }}
                </dd>
            </dl>
            <hr />
            <p i18n>
                Please review the full Terms and Conditions and Customer Certificate of End Use and Export Compliance
                <a href="https://www.arrow.com/en/legal/terms-and-conditions-of-sale" target="_blank">here</a>.
            </p>

            <div class="flex-column">
                <app-checkbox
                    class="order-summary__checkbox"
                    label="I have read and agree to the Terms and Conditions."
                    [formControl]="checkoutForm.controls.termsAccepted"
                ></app-checkbox>
                <app-checkbox
                    class="order-summary__checkbox"
                    label="I have read and agree to the Export & Re-Export Compliance Conditions."
                    [formControl]="checkoutForm.controls.exportAccepted"
                ></app-checkbox>
                <div *ngIf="hasQuotedItemAndQuantityChanged(checkout.cart.lineItems)" class="information-text information-color">
                    <app-icon symbol="i-bubble"></app-icon>
                    <span i18n>
                        The quantity from quoted item(s) has changed, a Sales Representative will need to review this order before it is
                        finalized.
                    </span>
                </div>
            </div>
            <hr />

            <app-alert *ngIf="(orderPlacementError$ | async)" icon="alert" type="error">
                <ng-container i18n>Sorry, there was a problem placing your order. Please try again</ng-container>
            </app-alert>

            <app-alert *ngIf="checkoutWithCredit && creditCardFailed" icon="alert" type="error">
                <ng-container i18n
                    >There was an error processing your credit card. Please use another card or contact Customer Service.
                </ng-container>
            </app-alert>

            <div class="cta-container">
                <app-button
                    [disabled]="checkoutForm.invalid"
                    type="submit"
                    cssClass="btn-purchase"
                    [loading]="orderPlacementInProgress$ | async"
                    (click)="placeOrder()"
                    >ACCEPT TERMS AND PLACE ORDER
                </app-button>
                <div
                    *ngIf="
                        checkoutForm.status === 'INVALID' &&
                        (checkoutForm.get('termsAccepted').status === 'VALID' || checkoutForm.get('exportAccepted').status === 'VALID')
                    "
                    i18n
                >
                    Please fill out the <strong>* Required Fields</strong>
                </div>
            </div>
        </div>
    </div>
</form>
