<td *ngIf="searchQuery">
    <app-checkbox [value]="isSelected(product, selectedIds$ | async)" (valueChange)="toggleSelected($event)"></app-checkbox>
</td>
<td>
    <a [routerLink]="['/products', product.id]" [queryParams]="productDetailsQueryParams" (click)="productClicked()">{{ product.mpn }} </a>

    <div *ngIf="product.image" class="product-row__image">
        <a [routerLink]="['/products', product.id]" [queryParams]="productDetailsQueryParams" (click)="productClicked()">
            <img
                src="{{ product.image }}"
                title="{{ product.manufacturer }} - {{ product.mpn }}"
                alt="{{ product.manufacturer }} - {{ product.mpn }}"
            />
        </a>
    </div>

    <div *ngIf="product.datasheet" class="product-row__datasheet"><a href="{{ product.datasheet }}" target="_blank"> Data Sheet </a></div>
</td>
<td>{{ product.manufacturer }}</td>
<td>
    <app-end-customer-dropdowns
        *ngIf="product.endCustomerRecords"
        (dropdownsSelectionChange)="onDropdownsSelectionChange($event)"
        [data]="product.endCustomerRecords"
        [searchQuery]="searchQuery"
    >
    </app-end-customer-dropdowns>
</td>
<td>
    <app-product-price
        (bufferQuantityChange)="onBufferQuantityChange($event, product)"
        (priceChange)="onPriceChange($event, product)"
        (priceTiersChange)="onPriceTiersChange($event, product)"
        (purchasableChange)="updatePurchasableFlag($event, product)"
        [cpn]="productDetailsQueryParams?.cpn"
        [endCustomerSiteId]="productDetailsQueryParams?.endCustomerSiteId"
        [selectForPricing]="productDetailsQueryParams?.selectForPricing"
        [itemId]="product.itemId"
        [price]="product.price"
        [priceTiers]="product.priceTiers"
        [warehouseId]="product.warehouseId"
        [quantity]="quantity"
    >
    </app-product-price>
</td>
<td>
    <app-add-quantity-to-cart
        [minimumOrderQuantity]="product.minimumOrderQuantity"
        (setQuantity)="onSetQuantity($event)"
        [quoteCartMaxLineItems]="quoteCartMaxLineItems$ | async"
        [quoteCartLineItemsCount]="quoteCartLineItemsCount$ | async"
        [cartMaxLineItems]="cartMaxLineItems$ | async"
        [cartLineItemsCount]="cartLineItemsCount$ | async"
        [showDivider]="false"
        [manufacturerPartNumber]="product.mpn"
        [docId]="product.docId"
        [itemId]="product.itemId"
        [selectedCustomerPartNumber]="productDetailsQueryParams?.cpn"
        [selectedEndCustomerSiteId]="productDetailsQueryParams?.endCustomerSiteId"
        [warehouseId]="product.warehouseId"
        [price]="product.price"
        [priceTiers]="product.priceTiers"
        [purchasable]="!product.quotable"
        [selectForPricing]="productDetailsQueryParams?.selectForPricing"
        [manufacturer]="product.manufacturer"
        [description]="product.description"
        (showAddToCartCapDialog)="openAddToCartCapDialog($event)"
    >
    </app-add-quantity-to-cart>
</td>
<!-- Inventory -->
<td>
    <app-inventory
        *ngIf="!product.quotable; else quotable"
        [availableQuantity]="product.availableQuantity"
        [bufferQuantity]="product.bufferQuantity"
        [multipleOrderQuantity]="product.multipleOrderQuantity"
        [spq]="product.spq"
        [supplierAllocated]="product.supplierAllocated"
    >
    </app-inventory>
    <ng-template #quotable>
        <app-inventory
            *ngIf="product.supplierAllocated; else noSuppAlloc"
            [supplierAllocated]="product.supplierAllocated"
            [quotable]="product.quotable"
        >
        </app-inventory>
    </ng-template>
    <ng-template #noSuppAlloc>--</ng-template>
</td>
<td>
    <!-- pipeline -->
    <div *ngIf="product.pipeline">{{ product.pipeline.deliveryDate }} - {{ product.pipeline.quantity }}</div>
</td>
<td>
    <!-- leadTime -->
    {{ product.leadTime }}
    <ng-container i18n> { product.leadTime, plural, =1 { Week } other { Weeks }} </ng-container>
</td>
<td>{{ product.description }}</td>
<!-- RoHs -->
<td>
    <app-rohs-icon [compliance]="product.compliance.CHINA_ROHS"></app-rohs-icon>
    <app-rohs-icon [compliance]="product.compliance.EU_ROHS"></app-rohs-icon>
</td>
<!-- Additional Info -->
<td>
    <a
        *ngIf="privateFeatureFlags?.tariff && product.htsFlag"
        href="https://www.arrow.com/en/support/tariff-support/tariff-lists"
        target="_blank"
        i18n
        i18n-title
        title="Subject to a US Customs Tariff charge."
        >Tariff details</a
    >
    <button *ngIf="product.arrowReel" class="button-link" (click)="openReelModal()" i18n>Arrow Reel</button>
</td>
