@import 'variables';
@import 'functions';
@import 'colors';

:host {
  input[type='text'] {
    margin-bottom: $base-spacing;
  }

  .icon {
    height: rem(30);
    width: rem(30);
  }

  .btn-purchase {
    width: 100%;
  }
}

.product-row__image {
  margin: rem(10) 0;

  a {
    display: inline-block;
  }

  img {
    vertical-align: bottom;
    border: 1px solid $alto;
  }
}

.product-row__datasheet {
  margin: rem(10) 0;
}
