@import 'variables';

.line-item-info-box {
  color: $text-color;
  background-color: rgba($primary-action-color, 0.07);
  padding: 1rem;
  text-align: left;

  app-icon {
    vertical-align: text-bottom;
  }
}
