<app-dialog-panel (close)="onDismiss()" data-automation-ref="order-returns-submit-modal">
    <div dialong-content>
        <p *ngIf="submitFailed" i18n>
            <strong>There is a server issue at this time.</strong><br />
            <strong>Please try again later.</strong>
        </p>
        <p *ngIf="!submitFailed" i18n><strong>Thank you. Your request has been successfully submitted.</strong></p>
    </div>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button
                    (click)="onDismiss()"
                    class="btn btn-primary justify-flex-end"
                    data-automation-ref="submitted-quotes-notes-dialog-cancel-button"
                    i18n
                >
                    Okay
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
