<div class="header-spacer" *ngIf="showStickyHeader"></div>
<header
    [ngClass]="{
        'header--fixed': showStickyHeader
    }"
    class="header"
>
    <div class="header__top">
        <div class="wrap header__wrap">
            <div class="header__main">
                <h1 class="header__title"><a routerLink="/" class="header__logo myarrow-logo" i18n>MyArrow</a></h1>
                <div class="header__search">
                    <app-product-search-bar class="product-search"></app-product-search-bar>
                    <app-view-account
                        *ngIf="user"
                        [user]="user"
                        (toggleBillToModal)="onBillToModalOpen($event)"
                        (openChange)="showBackdrop($event)"
                    ></app-view-account>
                </div>
                <div class="header__toolbar">
                    <app-toolbar [showSearchBar]="showSearchBar" (toggleSearch)="updateSearchBarValue($event)"></app-toolbar>
                </div>
                <div class="header__dropdowns">
                    <app-currency-list (openChange)="showBackdrop($event)"></app-currency-list>

                    <app-language-list *ngIf="publicFeatureFlags?.i18n" (openChange)="showBackdrop($event)"></app-language-list>

                    <app-contact-rep *ngIf="user" [user]="user" (openChange)="showBackdrop($event)"></app-contact-rep>
                </div>
            </div>
        </div>
    </div>
    <app-nav-menu class="block" *ngIf="user" (headerPosition)="setStickyHeaderPosition($event)" [user]="user"></app-nav-menu>
</header>
