@import "variables";
@import "functions";
@import "mixins";

.header-spacer {
  height: 195px;
}

.header {
  display: block;
  background-color: $baltic-sea;
  min-width: rem($page-width);
}

.header__top {
  height: rem(135);
  border-bottom: 1px solid $white;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 0;
  height: rem(55);
  animation: animateMinimiseHeader .3s;
  transform: translate3d(0, 0, 0);

  app-nav-menu {
    position: relative;
    top: rem(-55);
    left: rem(-90);
    width: auto;
    max-width: rem(800);
    margin: 0 auto;
  }

  .header__top {
    height: rem(55);
    border-bottom: 0;
  }

  .myarrow-logo {
    width: rem(94);
    height: rem(20);
    background-size: rem(94) rem(20);
  }

  .header__dropdowns {
    display: none;
  }

  ::ng-deep {
    .product-search {
      display: none;
    }

    .toolbar-item--search {
      display: block;
    }

    .toolbar-item--cart {
      .toolbar-item__icon {
        margin-right: 0;
      }
    }

    .nav-container {
      min-width: auto;
      background: none;
      height: rem(40);

      .wrap {
        width: auto;
      }
    }

    .view-account {
      position: absolute;
      top: rem(17);
      right: rem(245);
      max-width: rem(150);
    }

    .view-account__billto {
      display: none;
    }

    .view-account__dropdown {
      margin-top: rem(19);
    }
  }
}

.header__wrap {
  height: 100%;
  position: relative;
}

.header-top-row {
  margin-bottom: rem(10);
}

.header__dropdowns {
  top: 0;
  right: rem($page_gutter);
  position: absolute;
  width: 100%;
}

.header__main {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0 rem(60) 0 0;
}

.header__logo {
  margin: 0;
  text-indent: -1000em;
}

.header__search {
  flex: 1;
  margin-right: rem(15);
  display: flex;
}

.header__toolbar {
  margin-left: auto;
}

@keyframes animateMinimiseHeader {
  0%   {
    transform: translateY(rem(-50));
  }
  100% {
    transform: translateY(0);
  }
}
