<app-dialog-panel (close)="onClose()">
    <div *ngIf="errors">
        <h2 i18n>{{ errorHeader }}</h2>

        <app-listing-message label="{{ errorBody }}"
                             icon="cross"></app-listing-message>
        <div dialog-footer class="cta-container">
            <ul class="cta-container__list justify-flex-end">
               <li class="cta-container__list-item">
                   <button data-automation-ref="cancel-button"
                           type="submit"
                           class="btn btn-secondary"
                           i18n
                           (click)="onClose()">
                       Cancel
                   </button>
               </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!errors">
        <div dialog-header>
            <h1 data-automation-ref="modal-header"
                i18n>Download Notifications</h1>
            <p data-automation-ref="modal-details" i18n>By following the two steps below, you can customize the information that you download.</p>
        </div>
        <div class="row">
            <div class="col col-6 download">
                <h3 i18n>Download File As</h3>
                <p i18n>Please select the type of file you would like to receive for your download.</p>
                <div class="radio-group">
                    <ul class="radio-group__list">
                        <li class="radio-group__list-item"
                            *ngFor="let fileTypeOption of fileTypeOptions">
                            <app-radio label="{{ fileTypeOption.label }}"
                                       radioValue="{{ fileTypeOption.value }}"
                                       [(value)]="fileType"></app-radio>
                        </li>
                    </ul>
                </div>
                <hr>
                <h3 i18n>Date Range</h3>
                <div *ngFor="let date of downloadDateRange;" class="flex-row date-range">
                    <app-radio label="{{ date }} months"
                               radioValue="{{ date }}"
                               [(value)]="dateRange"
                               (click)="resetError()"
                               class="download-date-range"></app-radio>
                </div>
                <app-alert class="error" *ngIf="noData" [type]="alertComponentEnum.Error" icon="alert">There are no notifications to download for the selected time frame. <span *ngIf="dateRange != maxDate">Please choose a larger date range.</span></app-alert>
            </div>
            <div class="col col-6 select">
                <h3 i18n>Select and Arrange Columns</h3>
                <p i18n>Please select the columns that you would like to download. Once a column is selected, you may click on the arrrows next to the selectd field to
                drag and drop them in the customized order in which you would like the information displayed. When you click on the download button, your
                selections will be saved.</p>
                <div class="download-orders__column">
                    <div class="download-orders__option">
                        <h3 i18n>Select and Arrange Columns</h3>
                        <p i18n>Select the columns you wish to appear. Drag and drop to arrange order.</p>
                        <app-sortable-items [items]="columns"
                                            (stateChange)="selectedColumns = $event"></app-sortable-items>
                    </div>
                </div>
                <div dialog-footer class="cta-container">
                    <ul class="cta-container__list justify-flex-end">
                        <li class="cta-container__list-item">
                            <button data-automation-ref="cancel-button"
                                    type="submit"
                                    class="btn btn-secondary"
                                    i18n
                                    (click)="onClose()">
                                Cancel
                            </button>
                        </li>
                        <li class="cta-container__list-item">
                            <button data-automation-ref="confirm-button"
                                    type="submit"
                                    class="btn btn-primary"
                                    i18n
                                    [disabled]="selectedColumns.length == 0"
                                    (click)="download()">
                                Download
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-dialog-panel>
