<h2 class="submitted-quotes__title-text" i18n>Submitted Quotes</h2>
<p i18n>(it can take up to 1hr for recently submitted quotes to appear)</p>

<div class="submitted-quotes_top-filters row">
    <div class="col col-8">
        <div class="form form--inline">
            <div class="form-item">
                <div class="form-item__control">
                    <form [formGroup]="form" (ngSubmit)="checkForm()">
                        <input
                            type="text"
                            class="input submitted-quotes__search-input"
                            placeholder="Search Quote No, Your Ref, Status or Owner"
                            i18n-placeholder
                            formControlName="searchQuery"
                        />
                    </form>
                </div>
            </div>

            <div class="cta-container">
                <button class="btn btn-secondary" type="submit" (click)="checkForm()">
                    <app-icon symbol="search" class="submitted-quotes__button-icon"></app-icon>
                </button>
            </div>
        </div>

        <button (click)="resetForm()" class="icon-link submitted-quotes__reset-link" [disabled]="!submittedSearch" i18n>
            <app-icon symbol="refresh" class="icon-link__icon"></app-icon> Reset
        </button>
    </div>
    <div *ngIf="(quotes$ | async) && (quotes$ | async).length && !(loading$ | async)" class="col col-4">
        <app-pagination
            [pageLimit]="limit$ | async"
            [currentPage]="page$ | async"
            [totalPages]="totalPages$ | async"
            (pageLimitChange)="pageLimitChange($event)"
            (pageChange)="pageChange($event)"
            *ngIf="(totalPages$ | async) > 0"
        >
        </app-pagination>
    </div>
</div>

<!-- search field validation from the service -->
<div class="submitted-quotes__error" *ngIf="(error$ | async) && serverError?.error?.status === '12007'">
    <app-icon symbol="alert" class="form--inline error icon-link__icon"></app-icon>
    <strong i18n role="alert" class="form--inline error">Invalid search term, minimum 4 characters </strong>
</div>

<!-- loading -->
<div *ngIf="(loading$ | async)"><app-loader></app-loader></div>

<div class="submitted-quotes__messages">
    <!-- no results found -->
    <app-listing-message
        label="There are no quotes to show"
        icon="list"
        *ngIf="(quotes$ | async) && !(quotes$ | async).length && !(loading$ | async)"
    >
    </app-listing-message>

    <!-- error -->
    <app-listing-message [label]="'Error retrieving Quotes'" error="true" icon="cross" *ngIf="(error$ | async)"></app-listing-message>
</div>

<!-- results -->
<div *ngIf="(quotes$ | async) && (quotes$ | async).length && !(loading$ | async)">
    <app-submitted-quotes-listing [quotes]="quotes" [featureFlags]="featureFlags"></app-submitted-quotes-listing>

    <div class="row">
        <div class="col col-8"></div>
        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="pageLimitChange($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            >
            </app-pagination>
        </div>
    </div>
</div>
