@import 'mixins';
@import 'variables';
@import 'helpers';
@import 'functions';
@import 'layout';

$submitted-quotes-button-icon-size: 25;

:host {
  @extend .page-template--standard;

  .submitted-quotes__title-text {
    margin-bottom: 0;
  }

  .submitted-quotes__search-input {
    width: rem(350);
  }

  .submitted-quotes_top-filters {
    margin-top: rem(50);
  }

  .submitted-quotes__button-icon {
    height: em($submitted-quotes-button-icon-size, $button-font-size);
    width: em($submitted-quotes-button-icon-size, $button-font-size);
    @include inline-block();
    vertical-align: top;
    margin: em(-($submitted-quotes-button-icon-size - $button-font-size) / 2, $button-font-size) 0;
    position: relative;
    bottom: em(-2, $button-font-size);
  }

  .submitted-quotes__error {
    strong {
      margin-top: rem(5);
    }

    .icon-link__icon {
      width: rem(20);
      height: rem(20);
    }
  }

  .submitted-quotes__messages {
    margin-top: rem(20);
  }

  .submitted-quotes__reset-link {
    margin-left: rem(20);
    margin-top: rem(10);
  }
}
