<div data-automation-ref="quotes-controls-container"
     class="quotes-controls-container">

    <button data-automation-ref="update-quote-cart-button"
            [disabled]="shouldDisableUpdateControl()"
            class="icon-link"
            (click)="onUpdateClick()">
        <app-icon symbol="forward"></app-icon>
        <span data-automation-ref="update-quotes-icon"
              i18n>Update</span>
    </button>

    <div class="request-dates-mask icon-link"
         data-automation-ref="multiple-request-date"
         [class.disabled]="shouldDisableSelectedCheckboxControl()">
        <app-icon symbol="calendar"></app-icon>
        <span i18n>Change Selected Dates</span>
        <app-date-picker class="multiple-request-date"
                         [actions]="datePickerOverlayActions"
                         calendarCount="1"
                         [dates]="requestDatePickerDates"
                         submitLabel="Select"
                         [minDate]="minDate"
                         [disabled]="shouldDisableSelectedCheckboxControl()"
                         (datesChange)="changeLineItemsDate($event)"
                         [dateInputs]="multipleRequestDateConfiguration"
                         [showActions]="false">
        </app-date-picker>
    </div>

    <button data-automation-ref="delete-quotes-button"
            [disabled]="!isCheckboxSelected"
            class="icon-link"
            (click)="onDeleteClick()">
        <app-icon symbol="trash"></app-icon>
        <span data-automation-ref="delete-quotes-icon"
              i18n>Delete Selected Items</span>
    </button>

</div>