@import 'colors';
@import 'functions';
@import 'layout';

.request-dates-mask {
  position: relative;
  z-index: 2;
  &.disabled {
    color: $alto;
    text-decoration: none;
  }
  .multiple-request-date {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    ::ng-deep {
      .date-picker {
        width: 100%;
        .date-picker__form {
          width: 100%;
        }
        .date-picker__input {
          border: none;
          font-size: 12px;
          font-weight: bold;
          margin: 0;
          padding: 0;
          opacity: 0;
        }
        .date-picker__input:hover {
          color: #009ddc;
          text-decoration: underline;
        }
      }
      .date-picker.date-picker--disabled {
        .date-picker__input {
          color: $alto;
        }
        .date-picker__input:hover {
          text-decoration: none;
        }
      }
    }
  }
  ::ng-deep {
    .date-picker__modal {
      .cta-container__list > li:first-child {
        display: none;
      }
    }
  }
}
.quotes-controls-container {
  margin: rem(20) rem(0) rem(0);

  .icon-link {
    margin-right: rem(15);
    span {
      display: inline-block;
      margin-left: rem(5);
    }
    &[disabled] {
      color: $alto;
    }
  }
}
