:host {
  div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(64, 64, 64, 0.8);
    z-index: 10;
  }

  .backdrop--modal-open {
    z-index: 20;
  }
}