@import 'variables';
@import 'functions';

:host {
  display: block;
  width: rem(750);

  form {
    display: flex;
  }

  input,
  button {
    height: rem(35);
  }

  button {
    background-color: $boulder-2;
    width: rem(90);
    padding: 0;

    img {
      margin-top: rem(5);
      height: rem(25);
      width: rem(25);
      position: relative;
    }
  }

  .icon {
    height: em(25, $button-font-size);
    width: em(25, $button-font-size);
  }
}
