<form [formGroup]="form"
      (ngSubmit)="checkForm()">
    <input class="input input--strong-placeholder"
           type="text"
           placeholder="Search for Parts"
           formControlName="searchQuery"
           i18n-placeholder />
    <button type="submit"
            class="btn">
        <app-icon symbol="search"
                  class="icon"></app-icon>
    </button>
</form>