<h2 i18n
    class="title">
    <span class="myarrow-logo myarrow-logo--secondary logo-inline logo-inline--first">MyArrow</span> is for registered users only.</h2>

<ul class="link-list">
    <li i18n
        class="link-list__item">
        <a href="javascript:void(0)"
           (click)="loginAsDifferentUser.emit()">Login as a different user</a>
    </li>
    <li i18n
        class="link-list__item">
        <span class="small">or shop at</span>
    </li>
    <li i18n
        class="link-list__item">
        <a href="https://www.arrow.com/en/login">Arrow.com</a>
    </li>
</ul>