<app-dialog-panel (close)="onClose()" class="currency-wait-dialog" data-automation-ref="currency-wait-dialog">
    <div dialog-header><h1 data-automation-ref="currency-wait-dialog-header" i18n>Changing Currency</h1></div>
    <div class="currency-wait-dialog__content"><app-loader></app-loader></div>
    <div dialog-footer class="cta-container"></div>
</app-dialog-panel>
