@import 'colors';

.select-all {
  text-align: center;
  width: 5%;
}
.search-manufacturer-part {
  width: 25%;
}
.search-manufacturer-name {
  width: 25%;
}
.search-description {
  width: 20%;
}
.search-nafta_hstc {
  width: 15%;
}
.search-nafta_coo {
  width: 10%;
}

.search_htc_eccn {
  width: 9%;
}
.search_htc_code {
  width: 9%;
}
.search_htc_coo {
  width: 7%;
}
.searched-parts {
  width: 35%;
}
.coo {
  width: 35%;
}

.content-table {
  width: 1300px;
}

.h3 {
  color: $boulder-2;
}

.error {
  margin-top: 10px;
}

.input--error {
  border-width: 1px;
  border-style: solid;
}

.form-input__alert {
  color: $alizarin-crimson;
}

.prepare-certificate__modal {
  .cancel-btn {
    margin-right: 10px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-column {
    display: flex;
    flex-direction: column;
  }

  .form-input {
    width: 330px;
    height: 40px;
    padding-left: 20px;
    font-size: 14px;
  }

  .form-input::placeholder {
    color: $alto;
    opacity: 1;
  }

  .column-heading {
    margin-bottom: rem(10);
    font-weight: bold;
    font-size: 12px;
  }

  .address__input {
    width: 690px;
  }

  .country__input {
    padding-left: 0;
  }
}
