<div data-automation-ref="search-results-found-container">
    <h1 *ngIf="tradeCompliancePartNumbersFound.length" class="h2">
        <span i18n
            >Matching {tradeCompliancePartNumbersFound?.length, plural, =1 {Part} other {Parts}} ({{
                tradeCompliancePartNumbersFound?.length
            }})</span
        >
    </h1>
    <div *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.nafta">
        <p data-automation-ref="search-results-nafta-certificate-instructions" i18n>
            The following parts have an associated NAFTA certificate. To receive a NAFTA certificate select the corresponding check box,
            then click Prepare Certificate button.
        </p>
        <p class="right-align small">
            <a
                class="icon-link prepare-certificate-button"
                data-automation-ref="prepare-certificate-button"
                *ngIf="getSelectedPartNumberFound().length"
                (click)="prepareCertificateModalVisible = true"
            >
                <app-icon symbol="document" class="icon-link__icon"></app-icon>
                <span i18n>Prepare Certificate</span>
            </a>
        </p>
    </div>

    <div *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.htc">
        <p i18n data-automation-ref="search-results-nafta-certificate-instructions">
            This information can be sent to you via email by clicking the "Email HTC/ECCN Information" button below
        </p>
        <p data-automation-ref="certification-button-htc" class="right-align small">
            <a
                class="icon-link"
                data-automation-ref="email-htc-button"
                *ngIf="getSelectedPartNumberFound().length"
                (click)="generateCertificateHtc()"
            >
                <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                <span i18n>Email HTC/ECCN Information</span>
            </a>
        </p>
    </div>

    <div *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.coo">
        <p i18n data-automation-ref="search-results-nafta-certificate-instructions">
            This information can be sent to you via email by clicking the "COO Information" button below
        </p>
        <p class="right-align small">
            <a
                class="icon-link"
                data-automation-ref="email-coo-button"
                *ngIf="getSelectedPartNumberFound().length"
                (click)="generateCertificateCoo()"
            >
                <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                <span i18n>Email COO Information</span>
            </a>
        </p>
    </div>
    <table
        class="content-table"
        appStickyHeader
        *ngIf="
            (tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.nafta) ||
            certificateType === certificateTypeNames.htc
        "
        data-automation-ref="search-results-table"
    >
        <thead
            *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.nafta"
            data-automation-ref="search-results-table-header-nafta"
        >
            <tr>
                <th class="select-all" data-automation-ref="select-all" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox [value]="allCheckboxesTicked" (valueChange)="toggleAllFoundCheckboxes()"></app-checkbox>
                </th>
                <th class="search-manufacturer-part" data-automation-ref="manufacturer-part-header" i18n>Manufacturer Part Number</th>
                <th class="search-manufacturer-name" data-automation-ref="manufacturer-name-header" i18n>Manufacturer</th>
                <th class="search-description" data-automation-ref="description-header" i18n>Description</th>
                <th class="search-nafta_hstc" data-automation-ref="hstc-header" i18n>HSTC</th>
                <th class="search-nafta_coo" data-automation-ref="coo-header" i18n>Country of Origin</th>
            </tr>
        </thead>
        <thead
            *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.htc"
            data-automation-ref="search-results-table-header-htc"
        >
            <tr>
                <th class="select-all" data-automation-ref="select-all" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox [value]="allCheckboxesTicked" (valueChange)="toggleAllFoundCheckboxes()"></app-checkbox>
                </th>
                <th class="search-manufacturer-part" data-automation-ref="manufacturer-part-header" i18n>Manufacturer Part Number</th>
                <th class="search-manufacturer-name" data-automation-ref="manufacturer-header" i18n>Manufacturer</th>
                <th class="search-description" data-automation-ref="description-header" i18n>Description</th>
                <th class="search-htc_eccn" data-automation-ref="eccn-code-header" i18n>ECCN Code</th>
                <th class="search-htc_code" data-automation-ref="htc-header" i18n>HTC</th>
                <th class="search-htc_coo" data-automation-ref="htc-coo-header" i18n>Country of Origin</th>
            </tr>
        </thead>
        <tbody *ngIf="certificateType === certificateTypeNames.nafta" data-automation-ref="search-results-table-nafta">
            <tr *ngFor="let record of tradeCompliancePartNumbersFound">
                <td class="select-all" data-automation-ref="checkbox" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox
                        (click)="toggleCheckPartNumber(record.partNumber, record?.checked)"
                        [value]="record.checked"
                    ></app-checkbox>
                </td>
                <td class="search-manufacturer-part" data-automation-ref="searched-parts">{{ record.partNumber }}</td>
                <td class="search-manufacturer-name" data-automation-ref="supplier-name">{{ record.producer }}</td>
                <td class="search-description" data-automation-ref="description">{{ record.partDescription }}</td>
                <td class="search-nafta_hstc" data-automation-ref="tariff-code">{{ record.harmonizedTariffCode }}</td>
                <td class="search-nafta_coo" data-automation-ref="country-of-origin">{{ record.countryOfOrigin }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="certificateType === certificateTypeNames.htc" data-automation-ref="search-results-table-htc">
            <tr *ngFor="let record of tradeCompliancePartNumbersFound">
                <td class="select-all" data-automation-ref="checkbox" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox (click)="toggleCheckPartNumber(record.partNumber, record?.checked)" [value]="record.checked">
                    </app-checkbox>
                </td>
                <td class="search-manufacturer-part" data-automation-ref="manufacturer-part">{{ record.partNumber }}</td>
                <td class="search-manufacturer-name" data-automation-ref="manufacturer">{{ record.manufacturer }}</td>
                <td class="search-description" data-automation-ref="description">{{ record.partDescription }}</td>
                <td class="search-htc_eccn" data-automation-ref="eccn">{{ record.eccn }}</td>
                <td class="search-htc_code" data-automation-ref="hts-code">{{ record.htsCode }}</td>
                <td class="search-htc_coo" data-automation-ref="hts-coo">{{ record.countryOfOrigin }}</td>
            </tr>
        </tbody>
    </table>
    <div
        *ngIf="
            tradeComplianceCooPartNumbers?.length &&
            (certificateType === certificateTypeNames.nafta || certificateType === certificateTypeNames.htc)
        "
    >
        <h1 class="h2">
            <span i18n
                >{tradeComplianceCooPartNumbers?.length, plural, =1 {Part} other {Parts}} Without {{ certificateType }} Certificate ({{
                    tradeComplianceCooPartNumbers?.length
                }})</span
            >
        </h1>
        <p i18n data-automation-ref="results-not-found-on-certificate-message">
            The following {tradeComplianceCooPartNumbers?.length, plural, =1 {Part} other {Parts}} don't have
            {{ certificateType }} Certificate. However, if you click the Email COO Information you can recieve the Country of Origin
            Information.
        </p>
        <p class="right-align small">
            <a
                class="icon-link"
                data-automation-ref="email-coo-button"
                *ngIf="getSelectedCooPartNumberFound().length"
                (click)="generateCertificateCooOnNotFound()"
            >
                <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                <span i18n>Email COO Information</span>
            </a>
        </p>
        <table class="content-table" appStickyHeader data-automation-ref="search-results-table-not-found-on-certificate">
            <thead data-automation-ref="search-results-table-header-not-found-on-certificate">
                <tr>
                    <th class="select-all" data-automation-ref="select-all" *ngIf="tradeComplianceCooPartNumbers?.length > 1">
                        <app-checkbox [value]="allCooCheckboxesTicked" (valueChange)="toggleCooAllFoundCheckboxes()"></app-checkbox>
                    </th>
                    <th class="searched-parts" data-automation-ref="manufacturer-part-header" i18n>Manufacturer Part Number</th>
                    <th class="search-manufacturer-name" data-automation-ref="manufacturer-name-header" i18n>Manufacturer</th>
                    <th class="coo" data-automation-ref="coo-header" i18n>Country of Origin</th>
                </tr>
            </thead>
            <tbody data-automation-ref="search-results-table-not-found-on-certificate">
                <tr *ngFor="let record of tradeComplianceCooPartNumbers">
                    <td class="select-all" data-automation-ref="checkbox" *ngIf="tradeComplianceCooPartNumbers?.length > 1">
                        <app-checkbox (click)="toggleCooCheckPartNumber(record.partNumber, record?.checked)" [value]="record.checked">
                        </app-checkbox>
                    </td>
                    <td class="searched-parts" data-automation-ref="searched-parts">{{ record.partNumber }}</td>
                    <td class="search-manufacturer-name" data-automation-ref="manufacturer-part">{{ record.manufacturer }}</td>
                    <td class="coo" data-automation-ref="country-of-origin">{{ record.countryOfOrigin }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table
        appStickyHeader
        *ngIf="tradeCompliancePartNumbersFound.length && certificateType === certificateTypeNames.coo"
        data-automation-ref="search-results-table"
    >
        <thead data-automation-ref="search-results-table-header-coo">
            <tr>
                <th class="select-all" data-automation-ref="select-all" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox [value]="allCheckboxesTicked" (valueChange)="toggleAllFoundCheckboxes()"></app-checkbox>
                </th>
                <th class="searched-parts" data-automation-ref="manufacturer-part-header" i18n>Manufacturer Part Number</th>
                <th class="search-manufacturer-name" data-automation-ref="manufacturer-name-header" i18n>Manufacturer</th>
                <th class="coo" data-automation-ref="coo-header" i18n>Country of Origin</th>
            </tr>
        </thead>
        <tbody data-automation-ref="search-results-table-coo">
            <tr *ngFor="let record of searchResultsFound">
                <td class="select-all" data-automation-ref="checkbox" *ngIf="tradeCompliancePartNumbersFound?.length > 1">
                    <app-checkbox (click)="toggleCheckPartNumber(record.partNumber, record?.checked)" [value]="record.checked">
                    </app-checkbox>
                </td>
                <td class="searched-parts" data-automation-ref="searched-parts">{{ record.partNumber }}</td>
                <td class="search-manufacturer-name" data-automation-ref="manufacturer-part">{{ record.manufacturer }}</td>
                <td class="coo" data-automation-ref="country-of-origin">{{ record.countryOfOrigin }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="tradeCompliancePartNumbersNotFound.length" data-automation-ref="search-results-not-found">
    <h1 class="h2">
        <span i18n
            >{tradeCompliancePartNumbersNotFound?.length, plural, =1 {Part} other {Parts}} Not Found ({{
                tradeCompliancePartNumbersNotFound?.length
            }})</span
        >
    </h1>
    <p i18n data-automation-ref="results-not-found-message">The following parts do not match any of our records.</p>
    <table appStickyHeader data-automation-ref="search-results-not-found-table">
        <thead>
            <tr>
                <th data-automation-ref="nf-searched-part-header" i18n>Searched Part Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of tradeCompliancePartNumbersNotFound">
                <td data-automation-ref="nf-searched-parts">{{ record }}</td>
            </tr>
        </tbody>
    </table>
</div>

<app-modal
    data-automation-ref="prepare-certificate-modal"
    [(visible)]="prepareCertificateModalVisible"
    [size]="'large-x-large'"
    class="prepare-certificate__modal"
    *ngIf="certificateType === 'NAFTA' && userInformation"
>
    <h2 data-automation-ref="modal-header" i18n>NAFTA - Certificate Preparation</h2>
    <p data-automation-ref="modal-instructions" i18n *ngIf="userProfile">
        To complete the NAFTA certificate process, please fill in the form below and click Generate. You will then be able to access your
        certificate from email account {{ userProfile.email }}. If you’ve requested less than 30 items, your certificate will be accessible
        from a secondary PDF window.
    </p>
    <p data-automation-ref="modal-required" i18n>All fields are required.</p>

    <form [formGroup]="prepareCertificateForm">
        <div class="form-row">
            <div class="form-column">
                <span data-automation-ref="company-input-header" i18n class="column-heading">Company Name</span>
                <input
                    type="text"
                    formControlName="companyName"
                    data-automation-ref="companyName"
                    placeholder="Enter Company Name"
                    class="company__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('companyName')"
                    (blur)="updateCertificateFormField('companyName', prepareCertificateForm.value.companyName)"
                />
                <span class="error small bold" *ngIf="isValidFormField('companyName')" data-automation-ref="companyNameError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide a company</span
                >
            </div>
            <div class="form-column">
                <span data-automation-ref="attention-input-header" i18n class="column-heading">Attention Of</span>
                <input
                    type="text"
                    formControlName="attentionOf"
                    data-automation-ref="attentionOf"
                    placeholder="Enter Atttention Of"
                    class="attention__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('attentionOf')"
                    (blur)="updateCertificateFormField('attentionOf', prepareCertificateForm.value.attentionOf)"
                />
                <span class="error small bold" *ngIf="isValidFormField('attentionOf')" data-automation-ref="attentionOfError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide an attention</span
                >
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <span data-automation-ref="address-input-header" i18n class="column-heading">Address</span>
                <input
                    type="text"
                    formControlName="address"
                    data-automation-ref="address"
                    placeholder="Address"
                    class="address__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('address')"
                    (blur)="updateCertificateFormField('address', prepareCertificateForm.value.address)"
                />
                <span class="error small bold" *ngIf="isValidFormField('address')" data-automation-ref="addressError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide an address</span
                >
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <span data-automation-ref="city-input-header" i18n class="column-heading">City</span>
                <input
                    type="text"
                    formControlName="city"
                    data-automation-ref="city"
                    placeholder="Enter City"
                    class="city__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('city')"
                    (blur)="updateCertificateFormField('city', prepareCertificateForm.value.city)"
                />
                <span class="error small bold" *ngIf="isValidFormField('city')" data-automation-ref="cityError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide a city</span
                >
            </div>
            <div class="form-column">
                <span data-automation-ref="state-input-header" i18n class="column-heading">State/Province</span>
                <input
                    type="text"
                    formControlName="state"
                    data-automation-ref="state"
                    placeholder="Enter State/Province"
                    class="state__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('state')"
                    (blur)="updateCertificateFormField('state', prepareCertificateForm.value.state)"
                />
                <span class="error small bold" *ngIf="isValidFormField('state')" data-automation-ref="stateError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide an state</span
                >
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <span data-automation-ref="zip-input-header" i18n class="column-heading">ZIP/Postal Code</span>
                <input
                    type="text"
                    formControlName="postalCode"
                    data-automation-ref="postalCode"
                    placeholder="Enter Zip Code"
                    class="postalCode__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('postalCode')"
                    (blur)="updateCertificateFormField('postalCode', prepareCertificateForm.value.postalCode)"
                />
                <span class="error small bold" *ngIf="isValidFormField('postalCode')" data-automation-ref="postalCodeError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide a zip code</span
                >
            </div>
            <div class="form-column">
                <span data-automation-ref="state-input-header" i18n class="column-heading">Country</span>
                <app-dropdown
                    data-automation-ref="countryCode"
                    [options]="countryListFinal"
                    formControlName="countryCode"
                    (valueChange)="displayCountryValue($event)"
                    [size]="'short'"
                    class="form-input country__input"
                    ngDefaultControl
                    searchable="true"
                    [class.input--error]="prepareCertificateForm.value.countryCode === '' && countryCodeError"
                ></app-dropdown>
                <span
                    class="error small bold"
                    *ngIf="prepareCertificateForm.value.countryCode === '' && countryCodeError"
                    data-automation-ref="countryCodeError"
                    i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide a country</span
                >
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <span data-automation-ref="tax-input-header" i18n class="column-heading">TAX ID</span>
                <input
                    type="text"
                    formControlName="taxId"
                    data-automation-ref="taxId"
                    placeholder="Enter TAX ID"
                    class="tax__input form-input"
                    [value]=""
                    [class.input--error]="isValidFormField('taxId')"
                    (blur)="updateCertificateFormField('taxId', prepareCertificateForm.value.taxId)"
                />
                <span class="error small bold" *ngIf="isValidFormField('taxId')" data-automation-ref="taxIdError" i18n
                    ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please provide Tax ID</span
                >
            </div>
        </div>
    </form>

    <div class="right-align">
        <button
            data-automation-ref="confirm-button"
            type="submit"
            class="btn btn-primary float-right"
            i18n
            (click)="generateCertificateNafta()"
            [disabled]="prepareCertificateForm.invalid"
        >
            Generate
        </button>
        &nbsp;
        <button
            data-automation-ref="cancel-button"
            type="submit"
            class="btn btn-secondary float-right cancel-btn"
            i18n
            (click)="prepareCertificateModalVisible = false"
        >
            Cancel
        </button>
    </div>
</app-modal>

<app-generate-certificate-modal-message
    [(visible)]="isModalMessageOpen"
    [title]="EMAIL_MESSAGE_TITLE"
    (openChange)="onCertificateModalClickOutside($event)"
    [(description)]="EMAIL_MESSAGE"
    [actionLabel]="EMAIL_ACTION_BTN_MESSAGE"
></app-generate-certificate-modal-message>
