@import 'functions';
@import 'variables';
@import 'mixins';
@import 'colors';

$calendar-line-height: 30;

.calendar {
  min-width: rem(350);
  flex: 1 0 auto;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $alto;
    padding-bottom: em(20);
    margin-bottom: em(30);
  }

  &__header-icon {
    cursor: pointer;
    vertical-align: top;
    color: $black;
  }

  &__title {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: em(11, 16) em(40, 16);
  }

  &__divider {
    margin-top: em(20);
  }

  &__body {
    line-height: fraction($calendar-line-height, $base-font-size);
  }

  &__row {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__cell {
    flex: 1 0 percent(1, 7);
  }

  &__day {
    cursor: pointer;
    position: relative;
    border: 2px solid $white;
    border-width: 2px 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: none;
    }

    &:hover {
      .calendar__day-label {
        background-color: $nobel;
        color: $white;
      }
    }

    &-label {
      position: relative;
      z-index: 2;
      border-radius: 100%;
      @include inline-block();
      width: em($calendar-line-height);
    }

    &--today {
      .calendar__day-label {
        color: $tundora;
        font-weight: 700;
      }
    }

    &--disabled {
      color: $alto;
      cursor: default;
      &:hover {
        .calendar__day-label {
          background-color: transparent;
        }
      }
    }

    &--highlighted {
      &:before {
        display: block;
        background-color: $listing-bg-alt;
      }
    }

    &--highlight-start {
      &:before {
        left: 50%;
      }
    }

    &--highlight-end {
      &:before {
        right: 50%;
      }
    }

    &--selection-highlight {
      &:before {
        background-color: $listing-bg-alt;
      }
    }

    &--selected {
      .calendar__day-label {
        background-color: $boulder;
        color: $white;
      }
      &:hover {
        .calendar__day-label {
          background-color: $boulder;
        }
      }
    }

    &--active {
      .calendar__day-label {
        color: $white;
        background-color: $active-color;
      }
      &:hover {
        .calendar__day-label {
          background-color: $active-color;
        }
      }
    }
  }

  &__row-titles {
    color: $boulder-2;
    font-weight: 800;
  }
}
