<div class="calendar">

    <div class="calendar__header">
        <h3 class="calendar__title">{{month?.start.toISOString() | date: 'MMMM yyyy'}}</h3>
    </div>
    <div class="calendar__body">
        <div class="calendar__row calendar__row-titles">
            <div class="calendar__cell"
                 *ngFor="let dayName of dayNames">
                {{dayName | i18nSelect: weekdaysMap }}
            </div>
        </div>
        <div class="calendar__row calendar__week"
             *ngFor="let week of month?.weeks">
            <div class="calendar__cell"
                 *ngFor="let day of week">
                <div class="calendar__day"
                     *ngIf="!day.isBuffer"
                     [ngClass]="{
                    'calendar__day--today': !isDisabled(day) && isToday(day),
                    'calendar__day--disabled': isDisabled(day),

                    'calendar__day--highlighted': isHighlighted(day),
                    'calendar__day--highlight-start': isHighlightStart(day),
                    'calendar__day--highlight-end': isHighlightEnd(day),
                    'calendar__day--selection-highlight': isInSelectionRange(day),

                    'calendar__day--selected': isSelected(day),
                    'calendar__day--active': isActiveDate(day)
                }"
                     (click)="!isDisabled(day) && selectDate.emit(day.value)"
                     (mouseenter)="!isDisabled(day) && enterDate.emit(day.value)"
                     (mouseleave)="!isDisabled(day) && leaveDate.emit(day.value)">
                    <span class="calendar__day-label">{{day.value | date: 'd'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>