@import "variables";
@import "functions";

:host {
  .price-tier {
    border-bottom: solid 1px $alto;
    padding-bottom: rem(5);
    margin-bottom: rem(5);

    &.highlighted {
      color: $apple-2;
      font-weight: bold;
    }
  }
}
