<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!loading && currencyCode$ | async">
    <!-- single price -->
    <div *ngIf="price">
        {{ price | formattedPrice:(currencyCode$ | async) }}
    </div>

    <!-- priceTiers -->
    <div *ngIf="priceTiers">
        <div *ngFor="let record of priceTiers"
             class="price-tier cf"
             [ngClass]="{ 'highlighted': shouldHighlight(record) }">
            <div class="float-left">{{ record.minQuantity }}+</div>
            <div class="float-right">
                {{ record.price | formattedPrice:(currencyCode$ | async) }}
            </div>
        </div>
    </div>

    <!-- no price -->
    <div *ngIf="!price && !priceTiers && !selectForPricing"
         i18n>
        --
    </div>

    <!-- select a price -->
    <div *ngIf="selectForPricing"
         i18n>
        Select for Pricing
    </div>

    <!-- error -->
    <div *ngIf="error"
         class="error"
         i18n>
        Price not available
    </div>
</div>