@import 'variables';
@import 'functions';
@import 'mixins';

.product-manufacturers {
  @include product-filter();
}

.product-manufacturers__title {
  @include product-filter-title();
}

.product-manufacturers__list {
  padding: rem(5) 0;
  display: block;
}

.product-manufacturers__primary {
  padding: 0 $base-spacing;
}
