<div class="product-manufacturers">
    <h1 class="product-manufacturers__title"
        i18n>
        Manufacturers
    </h1>

    <ul class="product-manufacturers__primary">
        <li *ngFor="let manufacturer of manufacturers"
            class="product-manufacturers__list">
            <app-checkbox label="{{ manufacturer.name }} ({{manufacturer.productsTotal}})"
                          (valueChange)="selectManufacturer($event, manufacturer)"
                          [value]="isChecked(manufacturer)">
            </app-checkbox>
        </li>
    </ul>
</div>