<div class="container">
  <div class="wrap">
    <div class="row">
      <div class="col col-6">
        <h1 i18n
            data-automation-ref="success-page-title">Create a
          <span class="myarrow-logo logo-inline success-title-logo"></span> Account
        </h1>
        <div class="panel panel--entry">
          <h2 data-automation-ref="success-message-title"
              i18n>Success</h2>
          <ng-container>
            <p data-automation-ref="registration-thank-you-message"
               i18n>Thank you for submitting your request for a MyArrow account. The request has been assigned to an
              Arrow customer
              service representative. If you have any questions, please contact:
              <br /> NA:
              <a href="mailto: myarrow@arrow.com">myarrow@arrow.com</a>
              <br /> EMEA:
              <a href="mailto: webshop@arroweurope.com">webshop@arroweurope.com</a>
            </p>
            <app-alert data-automation-ref="alert-icon"
                       icon="alert"
                       type="error"
                       class="success-page-warning">
              <ng-container data-automation-ref="registration-contact-message"
                            i18n>It can take up to 48 hours to process your registration. We will contact you once your
                account has been setup.</ng-container>
            </app-alert>
          </ng-container>
          <div class="col col-offset-8 col-6">
            <app-button data-automation-ref="go-back-button"
                        routerLink="/login"
                        cssClass="btn-primary"
                        i18n>Go To MyArrow</app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>