<div class="container content-center">
    <div class="wrap">
        <div class="row">
            <div class="col col-6 col-offset-3">
                <h1 class="myarrow-logo logo-inline">MyArrow</h1>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>