@import 'layout';
@import 'variables';
@import 'functions';
@import 'mixins';

:host {
  .container {
    height: 100%;
  }
}

.container {
  background: url('/assets/images/component-lines-account.svg') no-repeat right bottom;
  background-color: $public-bg-clr;
  transform: scaleY(-1);
  min-width: rem($page-width);
}

.wrap {
  transform: scaleY(-1);
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-inline {
  margin: 0 0 rem(20);
}
