@import 'variables';
@import 'functions';

:host {
  flex: 1 0 auto;
  margin-left: rem(20);
}

.view-account {
  position: relative;
  max-width: rem(200);

  &--open {
    z-index: 20;

    .view-account__dropdown {
      display: block;
    }

    .view-account__name {
      .view-account__icon {
        &--closed {
          display: none;
        }

        &--open {
          display: inline-block;
        }
      }
    }
  }
}

.view-account__name {
  display: block;
  color: $alto;
  font-size: rem(16);
  line-height: 1.13;
  margin-bottom: rem(3);
  position: relative;
  padding-right: rem(17);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .view-account__icon {
    display: none;

    &--closed {
      display: inline-block;
    }
  }
}

.view-account__billto {
  display: block;
  text-align: left;
}

.view-account__dropdown-btn {
  max-width: 100%;
  text-decoration: none;
  font-size: rem(10);
  line-height: 1.5;
  letter-spacing: rem(1.2);
  color: $boulder-2;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: $boulder-2;
  }
}

.view-account__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: rem(10);
  min-width: rem(332);
  padding: rem(30);
  background-color: $white;
  display: none;
}

.view-account__user {
  line-height: 1.13;
  color: $tundora;
  margin-bottom: rem(10);
  word-wrap: break-word;
}

.view-account__column {
  float: left;
  width: rem(234);

  &--first {
    width: rem(18);
    overflow: hidden;
    margin-right: rem(10);
  }
}

.view-account__company {
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: rem(0.5);
  color: $tundora;
  margin-bottom: 0;
  font-weight: bold;
}

.view-account__email {
  line-height: 1.5;
  letter-spacing: rem(0.5);
  font-size: rem(12);
  color: $tundora;
  margin-bottom: rem(20);
}

.view-account__billto-account {
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: rem(0.5);
  font-weight: bold;
  color: $lochmara;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

.view-account__user-wrap {
  border-bottom: rem(1) solid $alto;
  padding-bottom: rem(20);
  margin-bottom: rem(30);
}

.view-account__actions {
  button {
    float: right;
  }
}

.view-account__action {
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
