<div *ngIf="user"
     class="view-account"
     [ngClass]="isOpen ? 'view-account--open' : ''">
    <button (click)="onOpenAccount()"
            class="icon-link view-account__dropdown-btn">
        <span class="view-account__name">
            {{ user.firstName }} {{ user.lastName }}
            <app-icon class="view-account__icon view-account__icon--closed"
                      symbol="down-arrow"></app-icon>
            <app-icon class="view-account__icon view-account__icon--open"
                      symbol="up-arrow"></app-icon>
        </span>
        <span class="cf view-account__billto">(#{{ user.selectedBillTo }})</span>
    </button>
    <div class="view-account__dropdown">
        <div class="view-account__user-wrap cf">
            <div class="view-account__column view-account__column--first">
                <app-icon symbol="person"></app-icon>
            </div>
            <div class="view-account__column">
                <h3 class="view-account__user">{{ user.firstName }} {{ user.lastName }}</h3>
                <p class="view-account__company">{{ user.company }}</p>
                <p class="view-account__email">{{ user.email }}</p>
                <button (click)="doBillToOpen()"
                        class="view-account__billto-account icon-link"
                        i18n>
                    <app-icon symbol="gear"
                              class="icon-link__icon"></app-icon>
                    View account
                </button>
            </div>
        </div>
        <div class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <app-user-panel></app-user-panel>
                </li>
            </ul>
        </div>
    </div>
</div>