<app-dialog-panel (close)="onDismiss()" data-automation-ref="submitted-quotes-notes-dialog-modal">
    <div dialog-header>
        <h1 i18n data-automation-ref="submitted-quotes-notes-dialog-main-heading">{{ content.title }}</h1>
        <h3 i18n data-automation-ref="submitted-quotes-notes-dialog-main-subtitle">{{ content.subtitle }}</h3>
    </div>
    <div dialong-content>
        <p i18n data-automation-ref="submitted-quotes-notes-dialog-copy-text" class="flex">
            <span class="">{{ content.note }}</span>
        </p>
    </div>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button
                    (click)="onDismiss()"
                    class="btn btn-primary justify-flex-end"
                    data-automation-ref="submitted-quotes-notes-dialog-cancel-button"
                    i18n
                >
                    Close
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
