@import 'variables';
@import 'functions';
@import 'layout';
@import 'mixins';

:host {
  @extend .page-template--standard;
}

.grid-demo {
  .grid-content {
    background-color: #b739b5;
    padding-top: rem(10);
    padding-bottom: rem(10);
    margin-bottom: rem(10);
  }

  .col {
    color: $white;
    text-align: center;
  }
}

.demo__row {
  margin-bottom: 1.5em;
}

.feedback {
  font-family: monospace;
  @include small();
}

.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__item {
    display: flex;
    flex: 0 1 10%;
    flex-direction: column;
    align-items: center;
    padding: rem(10) 0;

    &-icon {
      margin-bottom: rem(10);
      width: rem(16);
      height: rem(16);

      &--green {
        color: $apple-1;
      }
    }
  }
}

.icon-color-group {
  display: flex;
  margin-bottom: rem(20);

  &__radio {
    margin-right: rem(30);
  }
}

.styleguide-label {
  @include small();
  color: $nobel;
  margin-top: em(8);
}

.color-mappings {
  display: flex;
  flex-wrap: wrap;

  &__mapping {
    padding: 0 rem(10);
    margin: 0 0 rem(15);
    flex: 0 0 percent(1, 6);
    &-block {
      @include small();
      padding: rem(10);
      box-sizing: border-box;

      &:before {
        width: 100%;
        padding-top: 100%;
        content: '';
        display: block;
      }
    }
  }
}

.text-color {
  background-color: $text-color;
}
.outline-color {
  border: 1px solid $outline-color;
}
.error-color {
  background-color: $error-color;
}
.information-color {
  background-color: $information-color;
}
.purchase-color {
  background-color: $purchase-color;
}
.placeholder-color {
  background-color: $placeholder-color;
}
.listing-bg-alt {
  background-color: $listing-bg-alt;
}
.active-color {
  background-color: $active-color;
}
.active-bg-color {
  background-color: $active-bg-color;
}
.inactive-color {
  background-color: $inactive-color;
}
.inactive-bg-color {
  background-color: $inactive-bg-color;
}
.disabled-text-color {
  background-color: $disabled-text-color;
}
.disabled-bg-color {
  background-color: $disabled-bg-color;
}
.disabled-outline-color {
  border: 1px solid $disabled-outline-color;
}
.content-heading-color {
  background-color: $content-heading-color;
}
.content-heading-bg-color {
  background-color: $content-heading-bg-color;
}
.primary-action-color {
  background-color: $primary-action-color;
}
.primary-action-button-text-color {
  background-color: $primary-action-button-text-color;
}
.primary-action-focus-color {
  background-color: $primary-action-focus-color;
}
.primary-action-focus-button-text-color {
  background-color: $primary-action-focus-button-text-color;
}
.secondary-action-color {
  background-color: $secondary-action-color;
}
.secondary-action-button-text-color {
  background-color: $secondary-action-button-text-color;
}
.secondary-action-focus-color {
  background-color: $secondary-action-focus-color;
}
.secondary-action-focus-button-text-color {
  background-color: $secondary-action-focus-button-text-color;
}
.purchase-action-color {
  background-color: $purchase-action-color;
}
.purchase-action-button-text-color {
  background-color: $purchase-action-button-text-color;
}
.purchase-action-focus-color {
  background-color: $purchase-action-focus-color;
}
.purchase-action-focus-button-text-color {
  background-color: $purchase-action-focus-button-text-color;
}
.wo-action-color {
  background-color: $wo-action-color;
}
.wo-action-text-color {
  background-color: $wo-action-text-color;
}
.wo-action-focus-color {
  background-color: $wo-action-focus-color;
}
.wo-action-focus-text-color {
  background-color: $wo-action-focus-text-color;
}
.listing-message-text-color {
  background-color: $listing-message-text-color;
}
.listing-message-outline-color {
  border: 1px solid $listing-message-outline-color;
}
.listing-message-bg-color {
  background-color: $listing-message-bg-color;
}
