<h1>Style Guide</h1>

<ul class="link-list">
    <li *ngFor="let section of sections">
        <button class="link" (click)="goToFragment(section.slug)">{{ section.label }}</button>
    </li>
</ul>

<hr />

<h2 id="color-mappings">Color Mappings</h2>

<div class="color-mappings row">
    <div *ngFor="let mapping of colorMappings" class="color-mappings__mapping">
        <div class="color-mappings__mapping-block {{mapping}}"></div>
        <span class="feedback">${{ mapping }}</span>
    </div>
</div>

<hr />

<h2 id="grids">Grids</h2>
<div class="grid grid-demo">
    <div class="row">
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-1"><div class="grid-content">1</div></div>
    </div>

    <div class="row">
        <div class="col col-1"><div class="grid-content">1</div></div>
        <div class="col col-11"><div class="grid-content">11</div></div>
    </div>

    <div class="row">
        <div class="col col-2"><div class="grid-content">2</div></div>
        <div class="col col-10"><div class="grid-content">10</div></div>
    </div>

    <div class="row">
        <div class="col col-3"><div class="grid-content">3</div></div>
        <div class="col col-9"><div class="grid-content">9</div></div>
    </div>

    <div class="row">
        <div class="col col-4"><div class="grid-content">4</div></div>
        <div class="col col-8"><div class="grid-content">8</div></div>
    </div>

    <div class="row">
        <div class="col col-5"><div class="grid-content">5</div></div>
        <div class="col col-7"><div class="grid-content">7</div></div>
    </div>

    <div class="row">
        <div class="col col-6"><div class="grid-content">6</div></div>
        <div class="col col-6"><div class="grid-content">6</div></div>
    </div>
</div>

<hr />

<h3>Nested</h3>
<div class="grid grid-demo">
    <div class="row">
        <div class="col col-4">
            <div class="grid-content">4</div>
            <div class="row">
                <div class="col col-8"><div class="grid-content">8</div></div>
                <div class="col col-4"><div class="grid-content">4</div></div>
            </div>
        </div>

        <div class="col col-4">
            <div class="grid-content">4</div>
            <div class="row">
                <div class="col col-offset-6 col-6"><div class="grid-content">6</div></div>
            </div>
        </div>

        <div class="col col-4">
            <div class="grid-content">4</div>
            <div class="row">
                <div class="col col-4"><div class="grid-content">4</div></div>
                <div class="col col-4"><div class="grid-content">4</div></div>
                <div class="col col-4"><div class="grid-content">4</div></div>
            </div>
        </div>
    </div>
</div>

<hr />

<h3>Different height columns</h3>
<div class="grid grid-demo">
    <div class="row">
        <div class="col col-2"><div class="grid-content" style="height: 40px;">2</div></div>
        <div class="col col-2"><div class="grid-content" style="height: 50px;">2</div></div>
        <div class="col col-2"><div class="grid-content" style="height: 60px;">2</div></div>
        <div class="col col-2"><div class="grid-content" style="height: 70px;">2</div></div>
        <div class="col col-2"><div class="grid-content" style="height: 80px;">2</div></div>
        <div class="col col-2"><div class="grid-content" style="height: 90px;">2</div></div>
    </div>
</div>

<hr />

<h3>Offsets</h3>
<div class="grid grid-demo">
    <div class="row">
        <div class="col col-1 col-offset-11"><div class="grid-content">1 (offset 11)</div></div>
    </div>

    <div class="row">
        <div class="col col-2 col-offset-10"><div class="grid-content">2 (offset 10)</div></div>
    </div>

    <div class="row">
        <div class="col col-3 col-offset-9"><div class="grid-content">3 (offset 9)</div></div>
    </div>

    <div class="row">
        <div class="col col-4 col-offset-8"><div class="grid-content">4 (offset 8)</div></div>
    </div>

    <div class="row">
        <div class="col col-5 col-offset-7"><div class="grid-content">5 (offset 7)</div></div>
    </div>

    <div class="row">
        <div class="col col-6 col-offset-6"><div class="grid-content">6 (offset 6)</div></div>
    </div>

    <div class="row">
        <div class="col col-7 col-offset-5"><div class="grid-content">7 (offset 5)</div></div>
    </div>

    <div class="row">
        <div class="col col-8 col-offset-4"><div class="grid-content">8 (offset 4)</div></div>
    </div>

    <div class="row">
        <div class="col col-9 col-offset-3"><div class="grid-content">9 (offset 3)</div></div>
    </div>

    <div class="row">
        <div class="col col-10 col-offset-2"><div class="grid-content">2 (offset 10)</div></div>
    </div>

    <div class="row">
        <div class="col col-11 col-offset-1"><div class="grid-content">1 (offset 11)</div></div>
    </div>
</div>

<hr />

<h2 id="headings">Headings</h2>

<h1>H1 Title 32pt size, Heavy weight, 34pt line height</h1>
<h2>H2 Title 24pt size, Heavy weight, 26pt line height</h2>
<h3>H3 Title 16pt size, Heavy weight, 18pt line height</h3>
<h4>H4 Title 12pt size, Heavy weight, 16pt line height, 0.5pt word spacing</h4>
<h5>H5 Title 10pt size, Bold weight, 15pt line height, 1.2pt word spacing</h5>
<p>Body copy 14pt size, Roman weight, 20pt line height, 0.5pt word spacing</p>
<p><strong>Body copy 14pt size, Roman weight, 20pt line height, 0.5pt word spacing</strong></p>
<p class="small">Small copy 12pt size, Roman weight, 18pt line height, 0.5pt word spacing</p>
<p class="small"><strong>Small copy 12pt size, Bold weight, 18pt line height, 0.5pt word spacing</strong></p>
<p class="small heavy">Small copy 12pt size, Heavy weight, 18pt line height, 0.5pt word spacing</p>

<hr />

<h2 id="icons">Icons</h2>
<div class="icon-color-group">
    <app-radio radioValue="black" label="Black" style="color:black" class="icon-color-group__radio" [(value)]="iconsColorGroup"></app-radio>
    <app-radio
        radioValue="orangered"
        label="Red"
        style="color:orangered"
        class="icon-color-group__radio"
        [(value)]="iconsColorGroup"
    ></app-radio>
    <app-radio radioValue="green" label="Green" style="color:green" class="icon-color-group__radio" [(value)]="iconsColorGroup"></app-radio>
    <app-radio radioValue="blue" label="Blue" style="color:blue" class="icon-color-group__radio" [(value)]="iconsColorGroup"></app-radio>
</div>

<div class="icon-list" [style.color]="iconsColorGroup">
    <div class="icon-list__item" *ngFor="let icon of icons">
        <app-icon class="icon-list__item-icon" symbol="{{icon}}"></app-icon>
        <span class="small">{{ icon }}</span>
    </div>
</div>

<hr />

<h2 id="buttons">Buttons and CTAs</h2>
<app-button [loading]="buttonLoading" (click)="loadSomething()">Click me</app-button>
<h3>Buttons</h3>
<p>
    <app-button cssClass="btn-primary" [loading]="buttonLoading" (click)="loadSomething()">Primary Button</app-button>
    <app-button cssClass="btn-purchase" [loading]="buttonLoading" (click)="loadSomething()">Purchase Button</app-button>
    <app-button cssClass="btn-secondary" [loading]="buttonLoading" (click)="loadSomething()">Secondary Button</app-button>
    <span style="background-color: #000; padding: 20px; display: inline-block;">
        <app-button cssClass="btn-wo" [loading]="buttonLoading" (click)="loadSomething()">White-out Button</app-button>
    </span>
</p>
<p>
    <button class="btn btn-primary" disabled>Primary Button</button> <button class="btn btn-purchase" disabled>Purchase Button</button>
    <button class="btn btn-secondary" disabled>Secondary Button</button>
    <span style="background-color: #000; padding: 20px; display: inline-block;">
        <button class="btn btn-wo" disabled>White-out Button</button>
    </span>
</p>
<hr />
<h3>Link Buttons</h3>
<p>
    <a href="#" class="btn btn-primary">Primary Button</a> <a href="#" class="btn btn-purchase">Purchase Button</a>
    <a href="#" class="btn btn-secondary">Secondary Button</a>
    <span style="background-color: #000; padding: 20px; display: inline-block;"> <a href="#" class="btn btn-wo">White-out Button</a> </span>
</p>
<p>
    <a href="#" class="btn btn-primary btn--disabled">Primary Button</a>
    <a href="#" class="btn btn-purchase btn--disabled">Purchase Button</a>
    <a href="#" class="btn btn-secondary btn--disabled">Secondary Button</a>
    <span style="background-color: #000; padding: 20px; display: inline-block;">
        <a href="#" class="btn btn-wo btn--disabled">White-out Button</a>
    </span>
</p>

<h3>Call to Actions (Horizontal)</h3>
<div class="demo__row">
    <div class="cta-container">
        <ul class="cta-container__list">
            <li class="cta-container__list-item"><button class="btn btn-primary">Action 1</button></li>
            <li class="cta-container__list-item">
                <button class="btn btn-secondary">Action 2</button> <a href="#" class="cta-container__list-item-link">Example link</a>
            </li>
        </ul>
    </div>
</div>

<h3 style="text-align: right">Call to Actions (Horizontal, right-aligned)</h3>
<div class="demo__row">
    <div class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><button class="btn btn-primary">Action 1</button></li>
            <li class="cta-container__list-item"><button class="btn btn-secondary">Action 2</button></li>
        </ul>
    </div>
</div>

<h3>Call to Actions (Vertical)</h3>
<div class="demo__row">
    <div class="cta-container cta-container--vertical" style="width: 200px">
        <ul class="cta-container__list">
            <li class="cta-container__list-item"><button class="btn btn-primary">Action 1</button></li>
            <li class="cta-container__list-item">
                <button class="btn btn-secondary">Action 2</button> <a href="#" class="cta-container__list-item-link">Example link</a>
            </li>
        </ul>
    </div>
</div>

<hr />

<h3>Icon Button</h3>
<p>
    <app-button cssClass="btn-secondary btn-icon"> <app-icon symbol="search"></app-icon> </app-button>
</p>

<hr />

<h2 id="links">Links</h2>
<div class="row demo-row">
    <div class="col col-3">
        <h3>Inline</h3>
        <a href="#">A link</a>
    </div>
    <div class="col col-3">
        <h3>Icon links</h3>
        <button class="icon-link"><app-icon symbol="cart" class="icon-link__icon"></app-icon>Icon link</button>
    </div>
    <div class="col col-3">
        <h3>Link list</h3>
        <ul class="link-list">
            <li class="link-list__item">
                <button class="icon-link"><app-icon symbol="cart" class="icon-link__icon"></app-icon>Link 1</button>
            </li>
            <li class="link-list__item">
                <button class="icon-link"><app-icon symbol="document" class="icon-link__icon"></app-icon>Link 2</button>
            </li>
        </ul>
    </div>
    <div class="col col-3">
        <h3>Link list (inline)</h3>
        <ul class="link-list link-list--inline">
            <li class="link-list__item">
                <button class="icon-link"><app-icon symbol="cart" class="icon-link__icon"></app-icon>Link 1</button>
            </li>
            <li class="link-list__item">
                <button class="icon-link"><app-icon symbol="document" class="icon-link__icon"></app-icon>Link 2</button>
            </li>
        </ul>
    </div>
</div>
<div class="row demo-row">
    <div class="col col-3">
        <h3>Icon links (Disabled)</h3>
        <button class="icon-link" disabled><app-icon symbol="cart" class="icon-link__icon"></app-icon>Purchase Icon link</button>
    </div>
    <div class="col col-3">
        <h3>Purchase Icon links</h3>
        <button class="icon-link icon-link--purchase"><app-icon symbol="cart" class="icon-link__icon"></app-icon>Purchase Icon link</button>
    </div>
</div>

<hr />

<h2 id="checkbox-radios">Checkbox/Radios</h2>

<div class="row">
    <div class="col col-6">
        <h3>Checkbox Inputs</h3>
        <!-- Default -->
        <div class="demo__row">
            <app-checkbox label="Default Checkbox" [(value)]="dummyDefaultCheckboxValue"></app-checkbox>
            <span class="feedback">( <strong>State:</strong> {{ dummyDefaultCheckboxValue }} )</span>
        </div>
        <!-- Checked -->
        <div class="demo__row">
            <app-checkbox label="Checked Checkbox" [(value)]="dummyCheckedCheckboxValue"></app-checkbox>
            <span class="feedback">( <strong>State:</strong> {{ dummyCheckedCheckboxValue }} )</span>
        </div>
        <!-- Multiline -->
        <div class="demo__row">
            <app-checkbox
                label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus vestibulum, pellentesque erat eget, finibus enim. Pellentesque eu libero non elit interdum vehicula. Curabitur eros tellus, faucibus aeget consectetur in, semper sed arcu. Maecenas congue, elit eiet imperdiet dictum, nisl ante maximus augue, ut elementum nisl risus at est."
                [(value)]="dummyMultilineCheckboxValue"
            ></app-checkbox>
            <span class="feedback">( <strong>State:</strong> {{ dummyMultilineCheckboxValue }} )</span>
        </div>
        <!-- Disabled -->
        <div class="demo__row">
            <app-checkbox label="Disabled Checkbox" disabled="true" [(value)]="dummyDisabledCheckboxValue"></app-checkbox>
            <span class="feedback">( <strong>State:</strong> {{ dummyDisabledCheckboxValue }} )</span>
        </div>
        <!-- Error -->
        <div class="demo__row">
            <app-checkbox label="Error Checkbox" [(value)]="dummyErrorCheckboxValue" error="true"></app-checkbox>
            <span class="feedback">( <strong>State:</strong> {{ dummyErrorCheckboxValue }} )</span>
        </div>

        <hr />

        <h3>Checkbox Inputs (Grouped)</h3>
        <div class="demo__row">
            <div class="binary-control-group">
                <ul class="binary-control-group__list">
                    <li class="binary-control-group__list-item">
                        <app-checkbox label="Checkbox 1" [(value)]="groupedCheckbox1Value"></app-checkbox>
                    </li>
                    <li class="binary-control-group__list-item">
                        <app-checkbox label="Checkbox 2" [(value)]="groupedCheckbox2Value"></app-checkbox>
                    </li>
                    <li class="binary-control-group__list-item">
                        <app-checkbox label="Checkbox 3" [(value)]="groupedCheckbox3Value"></app-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col col-6">
        <h3>Radio Inputs</h3>
        <!-- Default -->
        <div class="demo__row">
            <app-radio [radioValue]="0" label="Default Radio" [(value)]="dummyRadioDefaultValue"></app-radio>
            <span class="feedback">( <strong>State:</strong> {{ dummyRadioDefaultValue }} )</span>
        </div>
        <!-- Checked -->
        <div class="demo__row">
            <app-radio [radioValue]="0" label="Checked Radio" [(value)]="dummyCheckedRadioValue"></app-radio>
            <span class="feedback">( <strong>State:</strong> {{ dummyCheckedRadioValue }} )</span>
        </div>
        <!-- Multiline -->
        <div class="demo__row">
            <app-radio
                [radioValue]="0"
                label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus vestibulum, pellentesque erat eget, finibus enim. Pellentesque eu libero non elit interdum vehicula. Curabitur eros tellus, faucibus aeget consectetur in, semper sed arcu. Maecenas congue, elit eiet imperdiet dictum, nisl ante maximus augue, ut elementum nisl risus at est."
                [(value)]="dummyRadioMultilineValue"
            ></app-radio>
            <span class="feedback">( <strong>State:</strong> {{ dummyRadioMultilineValue }} )</span>
        </div>
        <!-- Disabled -->
        <div class="demo__row">
            <app-radio [radioValue]="0" label="Disabled Radio" disabled="true" [(value)]="dummyRadioDisabledValue"></app-radio>
            <span class="feedback">( <strong>State:</strong> {{ dummyRadioDisabledValue }} )</span>
        </div>
        <!-- Error -->
        <div class="demo__row">
            <app-radio [radioValue]="0" label="Error Radio" error="true" [(value)]="dummyRadioErrorValue"></app-radio>
            <span class="feedback">( <strong>State:</strong> {{ dummyRadioErrorValue }} )</span>
        </div>

        <hr />

        <h3>Radio Inputs (Grouped)</h3>
        <div class="demo__row">
            <p class="feedback"><strong>State:</strong> {{ dummyGroupedRadiosValue }}</p>
            <div class="binary-control-group">
                <ul class="binary-control-group__list">
                    <li class="binary-control-group__list-item">
                        <app-radio radioValue="0" label="Radio 1" [(value)]="dummyGroupedRadiosValue"></app-radio>
                    </li>
                    <li class="binary-control-group__list-item">
                        <app-radio radioValue="1" label="Radio 2" [(value)]="dummyGroupedRadiosValue"></app-radio>
                    </li>
                    <li class="binary-control-group__list-item">
                        <app-radio radioValue="2" label="Radio 3" [(value)]="dummyGroupedRadiosValue"></app-radio>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr />

<h2 id="inputs">Form Inputs</h2>

<div class="row demo__row">
    <div class="col col-3">
        <h3>Text Input</h3>
        <div class="demo__row">
            <!-- Default -->
            <div class="form-item">
                <div class="form-item__control">
                    <input type="text" placeholder="Text field" class="input" placeholder="Please enter a value" />
                </div>
                <div class="styleguide-label">Inactive</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Active -->
            <div class="form-item">
                <div class="form-item__control"><input type="text" placeholder="Text field" class="input" value="An entered value" /></div>
                <div class="styleguide-label">Active</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Disabled -->
            <div class="form-item">
                <div class="form-item__control">
                    <input type="text" placeholder="Please enter a value" class="input input--disabled" disabled />
                </div>
                <div class="styleguide-label">Disabled</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Error -->
            <div class="form-item">
                <div class="form-item__control">
                    <input type="text" placeholder="Please enter a value" class="input input--error" value="An invalid entered value" />
                </div>
                <div class="form-item__error">
                    <app-icon symbol="alert" class="form-item__error-icon"></app-icon>
                    <ng-container i18n>Error message</ng-container>
                </div>
                <div class="styleguide-label">Error</div>
            </div>
        </div>
        <br />
        <br />
        <h3>Input Labels</h3>
        <div class="demo__row">
            <div class="form-item">
                <div class="form-item__label"><label class="label">Firstname</label></div>
                <div class="form-item__control"><input type="text" class="input" placeholder="Please enter a value" /></div>
            </div>
        </div>
    </div>

    <div class="col col-3">
        <h3>Dropdown</h3>
        <div class="demo__row">
            <!-- Default -->
            <div class="form-item">
                <div class="form-item__control">
                    <app-dropdown
                        [options]="dropdownOptions"
                        [value]="dummyDefaultDropdownValue"
                        placeholder="Please select an option"
                        (select)="dummyDefaultDropdownValue = $event.value"
                    >
                        <ng-template #optionLayout let-option>
                            <div>{{ option.label }} : {{ option.value }}</div>
                        </ng-template>
                    </app-dropdown>
                </div>
                <div class="styleguide-label">Inactive</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Selection -->
            <div class="form-item">
                <div class="form-item__control">
                    <app-dropdown
                        [options]="dropdownOptions"
                        [value]="dummyActiveDropdownValue"
                        placeholder="Please select an option"
                        (select)="dummyActiveDropdownValue = $event.value"
                    ></app-dropdown>
                </div>
                <div class="styleguide-label">Active</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Disabled -->
            <div class="form-item">
                <div class="form-item__control">
                    <app-dropdown
                        [options]="dropdownOptions"
                        [value]="dummyDisabledDropdownValue"
                        placeholder="Please select an option"
                        [disabled]="true"
                        (select)="dummyDisabledDropdownValue = $event.value"
                    ></app-dropdown>
                </div>
                <div class="styleguide-label">Disabled</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Error -->
            <div class="form-item">
                <div class="form-item__control">
                    <app-dropdown
                        [options]="dropdownOptions"
                        [value]="dummyErrorDropdownValue"
                        error="true"
                        placeholder="Please select an option"
                        (select)="dummyErrorDropdownValue = $event.value"
                    ></app-dropdown>
                </div>
                <div class="form-item__error">
                    <app-icon symbol="alert" class="form-item__error-icon"></app-icon>
                    <ng-container i18n>Error message</ng-container>
                </div>
                <div class="styleguide-label">Error</div>
            </div>
        </div>
        <div class="demo__row">
            <!-- Custom Icon -->
            <app-dropdown
                [options]="dropdownOptions"
                [value]="dummyCustomDropdownValue"
                [placeholder]="'Please select an option'"
                openedIcon="alert"
                closedIcon="plus"
                (select)="dummyCustomDropdownValue = $event.value"
            ></app-dropdown>
            <div class="styleguide-label">Custom Icon</div>
        </div>
        <div class="demo__row">
            <app-dropdown
                [options]="countryList"
                [value]="dummyCountryListValue"
                placeholder="Select Country"
                [size]="'short'"
                searchable="true"
                (select)="dummyCountryListValue = $event.value"
            ></app-dropdown>
            <div class="styleguide-label">Searchable</div>
        </div>
    </div>

    <div class="col col-6">
        <h3>Textarea</h3>
        <div class="demo__row">
            <div class="form-item">
                <div class="form-item__control"><textarea class="input" placeholder="Please enter a value"></textarea></div>
                <div class="styleguide-label">Inactive</div>
            </div>
        </div>
        <div class="demo__row">
            <div class="form-item">
                <div class="form-item__control">
                    <textarea
                        class="input"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus vestibulum, pellentesque erat eget, finibus enim. Pellentesque eu libero non elit interdum vehicula. Curabitur eros tellus, faucibus aeget consectetur in, semper sed arcu. Maecenas congue, elit eiet imperdiet dictum, nisl ante maximus augue, ut elementum nisl risus at est.</textarea>
                </div>
                <div class="styleguide-label">Active</div>
            </div>
        </div>
        <div class="demo__row">
            <div class="form-item">
                <div class="form-item__control"><textarea class="input" placeholder="Please enter a value" disabled></textarea></div>
                <div class="styleguide-label">Disabled</div>
            </div>
        </div>
        <div class="demo__row">
            <div class="form-item">
                <div class="form-item__control">
                    <textarea
                        class="input input--error"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus vestibulum, pellentesque erat eget, finibus enim. Pellentesque eu libero non elit interdum vehicula. Curabitur eros tellus, faucibus aeget consectetur in, semper sed arcu. Maecenas congue, elit eiet imperdiet dictum, nisl ante maximus augue, ut elementum nisl risus at est.</textarea>
                </div>
                <div class="form-item__error">
                    <app-icon symbol="alert" class="form-item__error-icon"></app-icon>
                    <ng-container i18n>Error message</ng-container>
                </div>
                <div class="styleguide-label">Error</div>
            </div>
        </div>
    </div>
</div>

<div class="demo__row">
    <h3>Date Picker</h3>

    <div class="row">
        <div class="col col-3">
            <p class="feedback"><strong>State: </strong> {{ dummyInactiveDatePickerDates | json }}</p>
            <p><a (click)="openInactiveDatePicker($event)">Trigger date selection</a></p>
            <app-date-picker
                #inactiveDatePicker
                calendarCount="2"
                submitLabel="Search BOMs"
                [dates]="dummyInactiveDatePickerDates"
                [dateInputs]="dummyInactiveDatePickerDatesConfig"
                (datesChange)="dummyInactiveDatePickerDates = $event"
            ></app-date-picker>
            <div class="styleguide-label">Inactive (2 dates, 2 calendars)</div>
        </div>

        <div class="col col-3">
            <p class="feedback"><strong>State: </strong> {{ dummyActiveDatePickerDates | json }}</p>
            <app-date-picker
                calendarCount="1"
                submitLabel="Search Orders"
                [dates]="dummyActiveDatePickerDates"
                [dateInputs]="dummyActiveDatePickerDatesConfig"
                (datesChange)="dummyActiveDatePickerDates = $event"
            ></app-date-picker>
            <div class="styleguide-label">Active (1 date, 1 calendar)</div>
        </div>

        <div class="col col-3">
            <p class="feedback">( <strong>State:</strong> {{ dummyBoundedDatePickerDates | json }} )</p>
            <app-date-picker
                calendarCount="1"
                submitLabel="Search Forecasts"
                [dates]="dummyBoundedDatePickerDates"
                [dateInputs]="dummyBoundedDatePickerDatesConfig"
                [minDate]="dummyBoundedDatePickerMinDate"
                [maxDate]="dummyBoundedDatePickerMaxDate"
                (datesChange)="dummyBoundedDatePickerDates = $event"
            ></app-date-picker>
            <div class="styleguide-label">
                <p>Inactive (min/max dates)</p>
                <p>
                    Min: <span class="feedback">{{ dummyBoundedDatePickerMinDate | json }}</span> <br />
                    Max: <span class="feedback">{{ dummyBoundedDatePickerMaxDate | json }}</span>
                </p>
            </div>
        </div>

        <div class="col col-3">
            <app-date-picker
                [calendarCount]="1"
                submitLabel="Search Orders"
                [disabled]="true"
                [dates]="[undefined, undefined]"
                [dateInputs]="dummyInactiveDatePickerDatesConfig"
            ></app-date-picker>
            <div class="styleguide-label">Disabled (2 dates, 1 calendar)</div>
        </div>
    </div>
</div>

<div class="demo__row">
    <h3>Inline Forms</h3>
    <div class="form form--inline">
        <div class="form-item">
            <div class="form-control"><input type="text" class="input" placeholder="Item 1" /></div>
        </div>
        <div class="form-item">
            <div class="form-control"><input type="password" class="input" placeholder="Password" /></div>
        </div>
        <div class="form-item">
            <div class="form-control">
                <app-dropdown
                    [options]="dropdownOptions"
                    [placeholder]="'Select an option'"
                    [value]="dummyInlineFormDropdownValue"
                    (select)="dummyInlineFormDropdownValue = $event.value"
                ></app-dropdown>
            </div>
        </div>
        <div class="cta-container">
            <ul class="cta-container__list">
                <li class="cta-container__list-item">
                    <button class="btn btn-secondary btn-icon"><app-icon symbol="search"></app-icon></button>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h2 id="tabs">Tabs</h2>
<div class="row demo__row">
    <div class="col col-4">
        <div class="demo__row">
            <app-tabs [tabs]="tabs"></app-tabs>
            <div class="styleguide-label">No initial selection - first is selected automatically</div>
        </div>
        <div class="demo__row">
            <app-tabs [tabs]="tabs" [selectedTab]="tabs[1]"></app-tabs>
            <div class="styleguide-label">Second tab pre-selected</div>
        </div>
    </div>
</div>

<hr />

<h2 id="pagination">Pagination</h2>
<div class="row demo__row">
    <div class="col col-4">
        <div class="demo__row">
            <app-pagination [pageLimit]="10" currentPage="1" totalPages="1"></app-pagination>
            <div class="styleguide-label">1 page results</div>
        </div>
        <div class="demo__row">
            <app-pagination
                [pageLimit]="dummyPaginationFirstPageState.limit"
                [currentPage]="dummyPaginationFirstPageState.current"
                [totalPages]="dummyPaginationFirstPageState.total"
                (pageLimitChange)="dummyPaginationFirstPageState.limit = $event"
                (pageChange)="dummyPaginationFirstPageState.current = $event"
            ></app-pagination>
            <div class="styleguide-label">Multiple pages results (First page)</div>
        </div>
        <div class="demo__row">
            <app-pagination
                [pageLimit]="dummyPaginationLastPageState.limit"
                [currentPage]="dummyPaginationLastPageState.current"
                [totalPages]="dummyPaginationLastPageState.total"
                (pageLimitChange)="dummyPaginationLastPageState.limit = $event"
                (pageChange)="dummyPaginationLastPageState.current = $event"
            ></app-pagination>
            <div class="styleguide-label">Multiple pages results (Last page)</div>
        </div>
        <div class="demo__row">
            <app-pagination
                [pageLimit]="dummyPaginationMidPageState.limit"
                [currentPage]="dummyPaginationMidPageState.current"
                [totalPages]="dummyPaginationMidPageState.total"
                (pageLimitChange)="dummyPaginationMidPageState.limit = $event"
                (pageChange)="dummyPaginationMidPageState.current = $event"
            ></app-pagination>
            <div class="styleguide-label">Multiple pages results (Not last or first page)</div>
        </div>
    </div>
</div>

<hr />

<h2 id="tables">Tables</h2>
<h3>Base</h3>
<p class="feedback"><strong>State:</strong>{{ dummyTableSort | json }}</p>
<table>
    <thead>
        <tr>
            <th>Regular column</th>
            <th
                app-sortable-column-header
                [keys]="[dummyTableSort[0].key]"
                [order]="dummyTableSort[0].order"
                (sortChange)="dummyTableSort = $event"
            >
                Sortable column 1
            </th>
            <th>Two Lines<br />Column</th>
            <th>Three<br />Lines<br />Column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Value 1</td>
            <td>Sortable value 1</td>
            <td>Sortable value 1</td>
            <td>Sortable value 1</td>
        </tr>
        <tr>
            <td>Value 2</td>
            <td>Sortable value 2</td>
            <td>Sortable value 2</td>
            <td>Sortable value 2</td>
        </tr>
        <tr>
            <td>Value 3</td>
            <td>Sortable value 3</td>
            <td>Sortable value 3</td>
            <td>Sortable value 3</td>
        </tr>
        <tr>
            <td>Value 4</td>
            <td>Sortable value 4</td>
            <td>Sortable value 4</td>
            <td>Sortable value 4</td>
        </tr>
    </tbody>
</table>

<hr />

<h2>Products Search Bar</h2>
<div class="demo__row"><app-product-search-bar></app-product-search-bar></div>

<hr />

<div class="row">
    <div class="col col-6">
        <h2>Dialogs</h2>

        <div class="demo__row">
            <h3>Generic</h3>
            <div class="form">
                <div class="form-item">
                    <div class="form-item__label"><label class="label">Some data to send to Dialog:</label></div>
                    <div class="form-item__control"><input type="text" class="input" [(ngModel)]="dialogInput" /></div>
                </div>

                <ng-container *ngIf="dialogOutput">
                    <div class="form-item">
                        <div class="form-item__label"><label class="label">Result from Dialog:</label></div>
                        <div class="form-item__control">
                            <input type="text" class="input" disabled="true" [value]="dialogOutput" [(ngModel)]="dialogInput" />
                        </div>
                    </div>
                </ng-container>

                <div class="cta-container">
                    <ul class="cta-container__list">
                        <li class="cta-container__list-item">
                            <button class="btn btn-primary" (click)="openDialog()">Open dialog with data</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="demo__row">
            <h3>Email</h3>
            <button class="btn btn-primary" (click)="openEmailModalDialog()">Open Email Dialog</button>
        </div>
    </div>
</div>

<hr />

<div class="demo__row">
    <h2 id="messaging">Messages</h2>
    <h2>Listing/Error Messages</h2>
    <div class="row">
        <div class="col col-6">
            <app-listing-message label="There are currently no orders in your account." icon="list">
                <a href="/" class="icon-link"> <app-icon symbol="cart" class="icon-link__icon"></app-icon>Generic error link label </a>
            </app-listing-message>
        </div>
        <div class="col col-6"><app-listing-message label="Generic error message" icon="alert" error="true"> </app-listing-message></div>
    </div>
</div>

<hr />

<div class="demo__row">
    <h3>Alert Messages</h3>
    <div class="row">
        <div class="col col-4">
            <app-alert icon="i-bubble">
                <ng-container i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</ng-container>
            </app-alert>
            <app-alert icon="i-bubble">
                <ng-container i18n
                    >This is a multiline alert. This is a multiline alert. This is a multiline alert. This is a multiline alert. This is a
                    multiline alert. This is a multiline alert. This is a multiline alert. This is a multiline alert. This is a multiline
                    alert. This is a multiline alert. This is a multiline alert. This is a multiline alert. This is a multiline alert. This
                    is a multiline alert. This is a multiline alert.</ng-container
                >
            </app-alert>
        </div>
        <div class="col col-4">
            <app-alert icon="alert" type="error">
                <ng-container i18n>Sorry, there was a problem opening the PDF. Please try again</ng-container>
            </app-alert>
        </div>
        <div class="col col-4">
            <app-alert icon="tick-bubble" type="purchase">
                <ng-container i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</ng-container>
            </app-alert>
        </div>
    </div>
</div>

<hr />

<h2 id="loader">Loader</h2>
<div class="row">
    <div class="col col-4"><app-loader></app-loader></div>
    <div class="col col-4"><app-button loading="true" cssClass="btn-primary">Loading button text</app-button></div>
</div>

<hr />

<h2 id="sortable-lists">Sortable List</h2>
<p class="feedback"><strong>State:</strong> {{ dummySortableListState | json }}</p>
<app-sortable-items [items]="dummySortableList" (stateChange)="dummySortableListState = $event"></app-sortable-items>

<hr />

<h2 id="subtotals">Subtotal Display</h2>
<p class="small">
    N.B. Currency code (displayed in <strong>( )</strong>) if no currency code is supplied it will be derived from the User state
</p>
<h3>No items</h3>
<p class="feedback"><strong>State:</strong> {{ dummySubtotalItems1 | json }}</p>
<app-subtotal-display title="Subtotal" [items]="dummySubtotalItems1" itemValueKey="total"></app-subtotal-display>

<hr />

<h3>Abundant items</h3>
<p class="feedback"><strong>State:</strong> {{ dummySubtotalItems2 | json }}</p>
<app-subtotal-display title="Subtotal" [items]="dummySubtotalItems2" itemValueKey="total" currency-code="USD"></app-subtotal-display>

<app-backdrop></app-backdrop>

<hr />

<h2 id="property-lists">Property list</h2>
<div class="row">
    <div class="col col-4">
        <ul class="property-list">
            <li class="property-list__item"><span class="property-list__item-title" i18n>Example property:</span> 124124</li>
            <li class="property-list__item"><span class="property-list__item-title" i18n>Another property:</span> 981235</li>
            <li class="property-list__item"><span class="property-list__item-title" i18n>Last property:</span> 12352735</li>
        </ul>
    </div>
    <div class="col col-4">
        <ul class="property-list property-list--tabbed">
            <li class="property-list__item"><span class="property-list__item-title" i18n>Example property:</span> 124124</li>
            <li class="property-list__item"><span class="property-list__item-title" i18n>Another property:</span> 981235</li>
            <li class="property-list__item"><span class="property-list__item-title" i18n>Last property:</span> 12352735</li>
        </ul>
    </div>
</div>

<hr />

<h2 id="tooltip">Tooltip</h2>
<div class="row">
    <div class="col-2 col-offset-1">
        <span appTooltip="Tooltip placed on the left." placement="left" [customStyles]="{ 'max-width': '22rem' }">Left</span>
    </div>
    <div class="col-2"><span appTooltip="Tooltip placed on top." placement="top" [customStyles]="{ 'max-width': '22rem' }">Top</span></div>
    <div class="col-2">
        <span appTooltip="Tooltip placed on bottom." placement="bottom" [customStyles]="{ 'max-width': '22rem' }">Bottom</span>
    </div>
    <div class="col-2">
        <span appTooltip="Tooltip placed on the right." placement="right" [customStyles]="{ 'max-width': '22rem' }">Right</span>
    </div>
</div>
