@import 'variables';
@import 'modals';
@import 'functions';

:host {
  .modal {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: $white;
    padding: rem(40);
    top: 40%;
    transform: translateY(-40%);
    max-height: 80vh;
    display: block;

    &.small {
      max-width: $modal-small;
    }
    // default size
    &.medium {
      max-width: $modal-medium;
    }
    &.large {
      max-width: $modal-large;
    }
    &.x-large {
      max-width: $modal-x-large;
    }

    &.large-x-large {
      max-width: $modal-large;
      max-height: 98vh;
    }

    ::ng-deep .h1 {
      font-size: rem(24);
      line-height: fraction(26, 24);
      margin-bottom: rem(10);
      display: inline-block;
    }

    ::ng-deep .subtitle {
      line-height: 1.43;
      letter-spacing: rem(0.5);
      font-size: rem(14);
      color: $boulder-2;
      margin-bottom: rem(30);
    }
  }

  .close-btn {
    cursor: pointer;
    border: 0;
    color: $white;
    background-color: $baltic-sea;
    position: absolute;
    top: 0;
    right: 0;
    height: rem(40);
    width: rem(40);
    margin-top: 0;
  }

  ::ng-deep table {
    border-left: rem(1) solid $alto;
    border-right: rem(1) solid $alto;
  }
}
