<div *ngIf="visible"
     class="modal scroll"
     [ngClass]="size ? size : 'medium'">
    <ng-content></ng-content>
    <button *ngIf="closable"
            (click)="hideModal()"
            aria-label="Close"
            class="close-btn"
            i18n-aria-label
            data-automation-ref="close-modal-button">
        <app-icon symbol="cross"></app-icon>
    </button>
</div>