@import 'functions';
@import 'mixins';

:host {
  @include inline-block();
  vertical-align: middle;
  width: rem(17);
  height: rem(17);
}

.svg-icon {
  width: 100%;
  height: 100%;
  display: block;
  ::ng-deep svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
