@import 'mixins';
@import 'variables';

.container {
  padding: rem(95) 0;
  background: url("/assets/images/component-lines-user.svg") no-repeat top right;
  height: 100%;
}

.title {
  @include h1();
  display: flex;
  align-items: flex-end;

  ::ng-deep .startswith {
    margin-left: 0;
  }

  ::ng-deep .logo-inline {
    margin-bottom: rem(-2);
  }
}

.main {
  background: $white;
  color: $black;
  padding: rem(30);
}
