<div class="container">
    <div class="wrap">
        <h1 class="title"
            [innerHTML]="displayTitle"></h1>
        <div class="row">
            <div class="col col-6 col--first">
                <div class="main">
                    <ng-content select="[main]"></ng-content>
                </div>
            </div>
            <div class="col col-3">
                <ng-content select="[aside]"></ng-content>
            </div>
        </div>
    </div>
</div>