@import 'variables';
@import 'colors';
@import 'typography';

.alert {
  border: 1px solid $information-color;
  padding: rem(15) em(20);
  color: $error-color;
  display: flex;
  margin: 0 0 $spacing-x-3;
  color: $information-color;

  &__icon {
    margin-right: rem(10);
    width: rem(32);
    height: rem(32);
  }

  &__message {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--error {
    border-color: $error-color;
    color: $error-color;
  }

  &--purchase {
    border-color: $purchase-color;
    color: $purchase-color;
  }
}
