<div class="pagination">

    <div class="pagination__count-selection">
        <app-dropdown [options]="pageLimitOptions"
                      [value]="pageLimit"
                      (valueChange)="onPageLimitChange($event)"></app-dropdown>
    </div>

    <div class="pagination__summary-title"
         [formGroup]="form"
         i18n>Page {totalPages, plural, =1 {1} other {
        <input class="pagination__jump-to input"
               [ngClass]="{
                   'input--error': !form.controls.pageNumber.valid
                }"
               type="text"
               maxlength="3"
               [value]="currentPage"
               formControlName="pageNumber"
               (keyup.enter)="onSubmit()" />}} of {{totalPages}}</div>



    <div class="pagination__navigation">
        <button class="btn btn-secondary pagination__navigation-item btn-icon"
                [disabled]="currentPage <= 1"
                (click)="move(-1)"
                type="button">
            <app-icon symbol="left-arrow"></app-icon>
        </button>
        <button class="btn btn-secondary pagination__navigation-item btn-icon"
                [disabled]="currentPage >= totalPages"
                (click)="move(1)"
                type="button">
            <app-icon symbol="right-arrow"></app-icon>
        </button>
    </div>

</div>