@import 'mixins';
@import 'functions';

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pagination__count-selection {
    margin: 0 em(30, 14) 0 0;
    flex: 1;
  }

  .pagination__summary-title {
    font-weight: 700;
  }

  .pagination__jump-to {
    display: inline-block;
    line-height: em(40);
    height: em(40);
    width: em(38);
    font-size: 1em;
    text-align: center;
    padding: 0;
  }

  .pagination__navigation {
    margin: 0 0 0 em(30, 14);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pagination__navigation-item {
    margin-left: 1px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
