@import 'functions';
@import 'layout';

:host {
  @extend .page-template--standard;

  .product-details {
    margin-bottom: rem(30);
  }
  .product-details__title {
    margin-bottom: rem(5);
  }

  .product-details__description {
    margin-bottom: rem(30);
  }
}
