<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading && product"
     class="product-details">
    <div class="row">
        <div class="col col-9">
            <h2 class="product-details__title">{{ product.mpn }}</h2>
            <p class="product-details__description">
                {{ product.description }}
            </p>
            <app-product-detail [product]="product"
                                [quoteCartMaxLineItems]="quoteCartMaxLineItems$ | async"
                                [quoteCartRemainingLineItems]="quoteCartRemainingLineItems$ | async"></app-product-detail>
            <div class="row">
                <div class="col col-4 col--first">
                    <app-product-specification [specifications]="product.specs"></app-product-specification>
                </div>
            </div>
        </div>
        <div class="col col-3">
            <app-buy-parts [product]="product"></app-buy-parts>
        </div>
    </div>
</div>

<h3 *ngIf="!loading && crossReference"
    i18n>Cross Reference</h3>

<app-product-search-listing class="block"
                            *ngIf="!loading && crossReference"
                            [loading]="loading"
                            [searchResults]="crossReference">
</app-product-search-listing>


<app-listing-message *ngIf="error"
                     i18n-label
                     [label]="'Product could not be found (' + productId + ').'"
                     icon="cross"
                     error="true">
</app-listing-message>