<div *ngIf="user" class="nav-container" data-automation-ref="nav-container">
    <div class="wrap">
        <div class="nav-menu" data-automation-ref="nav-menu">
            <a class="nav-menu-item" routerLink="/orders" data-automation-ref="nav-menu-orders" routerLinkActive="nav-menu-active" i18n
                >Orders</a
            >
            <a
                *ngIf="featureFlags?.bom"
                class="nav-menu-item"
                routerLink="/bom"
                routerLinkActive="nav-menu-active"
                data-automation-ref="nav-menu-boms"
                i18n
                >BOMs</a
            >
            <a class="nav-menu-item" routerLink="/quotes" routerLinkActive="nav-menu-active" data-automation-ref="nav-menu-quotes">
                <ng-container i18n>Quotes</ng-container>
                <span *ngIf="(quoteCartItemCount$ | async)" class="nav-item__bubble">{{
                    quoteCartItemCount$ | async | formattedCount: 1000
                }}</span>
            </a>
            <a
                *ngIf="featureFlags?.catalogue"
                class="nav-menu-item"
                routerLink="/products"
                routerLinkActive="nav-menu-active"
                data-automation-ref="nav-menu-products"
                i18n
                >Products</a
            >
            <a
                *ngIf="region === naUser && featureFlags?.compliance"
                class="nav-menu-item"
                routerLink="/trade-compliance"
                routerLinkActive="nav-menu-active"
                data-automation-ref="nav-menu-compliance"
                i18n
                >Compliance</a
            >
            <a
                *ngIf="featureFlags?.forecast && user.permissionList.includes('Forecast')"
                class="nav-menu-item"
                routerLink="/forecast"
                routerLinkActive="nav-menu-active"
                data-automation-ref="nav-menu-forecast"
                i18n
                >Forecasts</a
            >
        </div>
    </div>
</div>
