@import 'variables';
@import 'mixins';

.nav-container {
  height: 55px;
  background: url('/assets/images/nav-lines.png') no-repeat right bottom $tundora;
  min-width: rem($page-width);
}

.nav-menu {
  padding: 18px 0 0 5px;
}

.nav-menu-item {
  display: inline;
  position: relative;
  color: $white;
  font-family: $body-font-family;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  padding-bottom: 14px;
  margin-right: 50px;
  outline: none;
  text-decoration: none;
  font-weight: 700;
}

.nav-menu-active {
  border-bottom: 5px solid $lochmara;
}

.nav-item__bubble {
  background: $alert-clr;
  font-size: em(11);
  color: $white;
  position: absolute;
  left: 100%;
  top: rem(-7);
  padding: rem(1) rem(5);
  border-radius: rem(3);
}
