<div class="help-panel">
    <h3 i18n
        class="help-panel__alert">
        <app-icon symbol="alert"></app-icon> Need help?</h3>
    <ul class="property-list">
        <li class="property-list__item">
            <span i18n
                  class="property-list__item-title">Email:</span>
            <a href="mailto:webrequest@arrow.com">webrequest@arrow.com</a>
        </li>
    </ul>
</div>