@import 'colors';
@import 'functions';

@font-face {
  font-family: 'dotsfont';
  src: url('assets/fonts/dots/dotsfont.eot');
  src: url('assets/fonts/dots/dotsfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/dots/dotsfont.woff') format('woff'),
    url('assets/fonts/dots/dotsfont.ttf') format('truetype'), url('assets/fonts/dots/dotsfont.svg#dotsfontregular') format('svg');
}

:host {
  display: inline-flex;
}

.secure-textbox {
  position: relative;
  z-index: 1;
  width: 100%;

  &--disabled {
    .secure-textbox__input {
      border-color: $disabled-outline-color;
      background-color: $disabled-bg-color;
      color: $disabled-text-color;
      cursor: default;
    }
    .secure-textbox__label {
      color: $alto;
    }
  }

  &__input {
    width: 100%;
    position: relative;
    padding-right: 25px;
  }

  &__show-icon {
    color: $text-color;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 11px;
  }
}

.shadow-text {
  font-size: rem(5);
  font-family: 'dotsfont';
  font-variant: normal;
  text-transform: none;
}
