<div class="secure-textbox" #container>
    <input
        class="input secure-textbox__input"
        type="text"
        autocomplete="new-password"
        [ngClass]="{ 'shadow-text': plainValue.length > 0 }"
        [placeholder]="placeholder"
        [attr.maxlength]="maxlength"
        [value]="value"
    />
    <app-icon symbol="eye" class="svg-icon secure-textbox__show-icon icon-link__icon"></app-icon>
</div>
