@import 'functions';
@import 'colors';

:host {
  display: inline-block;

  .icon {
    height: rem(30);
    width: rem(30);

    &--green {
      color: $apple-1;
    }
    &--red {
      color: $cardinal;
    }
    &--grey {
      color: $nobel;
    }
  }
}
