@import 'functions';
@import 'form';

:host {
  @extend .binary-form-control;

  .binary-form-control__button {
    border-radius: 100%;
  }

  .binary-form-control__icon {
    height: em(4, 16);
    width: em(4, 16);
    border-radius: 100%;
    background-color: $active-color;
  }

  .binary-form-control__button {
    border-color: $active-color;
  }

  .binary-form-control__icon--selected {
    background-color: $primary-action-color;
  }

  .binary-form-control__icon--disabled {
    background-color: $disabled-bg-color;
  }

  .binary-form-control__icon--error {
    background-color: $error-color;
  }

  .binary-form-control__button--selected {
    border-color: $primary-action-color;
  }

  .binary-form-control__button--disabled {
    border-color: $disabled-bg-color;
  }

  .binary-form-control__button--error {
    border-color: $error-color;
  }
}
