<label
    class="binary-form-control__label"
    [ngClass]="{
        'binary-form-control__label--disabled': disabled,
        'binary-form-control__label--error': error,
        'binary-form-control__label--selected': isSelected()
    }"
>
    <button
        class="binary-form-control__button"
        [ngClass]="{
            'binary-form-control__button--disabled': disabled,
            'binary-form-control__button--error': error,
            'binary-form-control__button--selected': isSelected()
        }"
        (click)="onClick()"
        (blur)="onBlur()"
        [disabled]="disabled"
        type="button"
    >
        <div
            class="binary-form-control__icon"
            [ngClass]="{
                'binary-form-control__icon--disabled': disabled,
                'binary-form-control__icon--error': error,
                'binary-form-control__icon--selected': isSelected()
            }"
        ></div>
    </button>
    <span *ngIf="label" class="binary-form-control__text" i18n>{{ label }}</span>
</label>
