<div class="dropdown {{elemClass}}"
     [ngClass]="{
        'dropdown--open': isOpen,
        'dropdown--disabled': disabled,
        'dropdown--dirty': isDirty()
    }">
    <label class="input dropdown__label-wrapper"
           [ngClass]="{
            'input--error': error,
            'input--disabled': disabled,
            'input--clean': value === undefined
        }">
        <input type="text"
               (input)="filterOptions($event.target.value)"
               (focus)="open()"
               [placeholder]="placeholder"
               [readonly]="!searchable"
               autocomplete="new-password"
               [class.hidden]="!searchable || (searchable && !isOpen)" />
        <span [class.hidden]="searchable && isOpen">{{selectedOptionLabel || placeholder}}</span>


        <!-- The app icon was using *ngIf to hide/show but encountered a strange occurance where the isOpen state wouldn't update if triggered by a sub-component -->
        <app-icon [symbol]="closedIcon"
                  class="dropdown__label-icon dropdown__label-icon--closed"></app-icon>
        <app-icon [symbol]="openedIcon"
                  class="dropdown__label-icon dropdown__label-icon--opened"></app-icon>
    </label>

    <div class="dropdown__options"
         [ngClass]="size ? size : 'normal'">
        <ul class="dropdown__options-list">
            <li class="dropdown__options-list-item"
                *ngFor="let option of filteredOptions"
                (click)="selectOption($event, option)"
                [ngClass]="{
                    'dropdown__options-list-item--selected': option.value === value
                }">
                <!-- Custom option layout - use if template was supplied -->
                <ng-container ngIf="optionLayoutTmpl"
                              *ngTemplateOutlet="optionLayoutTmpl, context: { $implicit: option }"></ng-container>
                <!-- Standard option layout - Use if no template was supplied -->
                <span *ngIf="!optionLayoutTmpl">{{ option.label }}</span>
            </li>
        </ul>
    </div>

</div>