@import 'colors';
@import 'functions';
@import 'mixins';

/**
  Dropdown
  */

:host {
  width: 100%;
}

.dropdown {
  position: relative;

  .input {
    input {
      border: 0;
      cursor: pointer;
      width: 100%;
      background: none;
      &:focus {
        outline: 0;
      }
    }
    .hidden {
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
    }
    &.input--disabled {
      cursor: default;
      input {
        cursor: default;
      }
    }
  }
}

.short {
  max-height: 160px;
  overflow: scroll;
}
.normal {
  height: initial;
  overflow: initial;
}

.dropdown__label-wrapper {
  background-color: $white;
  cursor: pointer;
  @include ellipsis();
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown__label {
  flex: 1 0 auto;
  @include ellipsis();
}

.dropdown__label-icon {
  margin-left: auto;
  color: inherit;
  &--opened {
    display: none;
  }
  &--closed {
    display: block;
  }
}

.dropdown__closed-icon {
  display: none;
}
.dropdown__open-icon {
  display: block;
}

.dropdown__options {
  position: absolute;
  z-index: 2;
  left: 0;
  min-width: 100%;
  top: 100%;
  padding: 0 em(20);
  background: $white;
  border: 1px solid $outline-color;
  margin-top: -1px;
  box-sizing: border-box;
  display: none;
  color: $inactive-color;
}

.dropdown__options-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown__options-list-item {
  padding: em(8) 0;
  cursor: pointer;
  @include ellipsis();
  border-top: 1px solid $outline-color;
  @include ellipsis();

  &:hover {
    color: $active-color;
  }

  &:first-of-type {
    border-top: 0;
  }
}

.dropdown__options-list-item--selected {
  color: $active-color;
}

.dropdown--open {
  .dropdown__options {
    display: block;
  }
  .dropdown__label-icon {
    &--opened {
      display: block;
    }
    &--closed {
      display: none;
    }
  }
}

.dropdown--disabled {
  .input__placeholder {
    color: inherit;
  }
}

.dropdown--header {
  float: right;
  position: relative;
  margin: rem(2);

  .dropdown__label-icon {
    color: $alto;
    width: rem(12);
  }

  .dropdown__label-wrapper {
    background: none;
  }

  &.dropdown--open {
    z-index: 20;

    .dropdown__label-wrapper {
      background-color: $lochmara;
      outline: none;
    }

    .dropdown__label-icon {
      color: $white;
    }
  }

  .dropdown__label-wrapper {
    background-color: $baltic-sea;
    border: 0;
    color: $white;
    font-size: rem(10);
    line-height: 1.8;
    letter-spacing: rem(1.3);
    padding: 0 rem(20) 0 rem(20);
    height: rem(38);
    text-align: left;
    text-transform: uppercase;
    &:active {
      outline: none;
    }
  }

  .dropdown__options-list {
    padding-top: rem(15);
    padding-bottom: rem(15);
  }

  .dropdown__options {
    color: $boulder-2;
    font-weight: bold;
    line-height: 2;
    letter-spacing: rem(1.2);
    border: 0;
    left: auto;
    right: 0;
  }

  .dropdown__options-list-item {
    font-size: rem(10);
    padding-top: 0;
    text-transform: uppercase;
    border: none;

    &--selected {
      color: $tundora;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.dropdown--currency {
  min-width: rem(94);
}
