@import 'layout';
@import 'colors';
@import 'functions';

:host {
  @extend .page-template--standard;
}

.order-returns {
  &__buttons {
    margin-top: rem(10);
    .btn-secondary {
      margin-right: rem(5);
    }
  }

  &__buttons > div {
    display: inline-block;
  }
}
