<div>
    <h2 i18n>Returns / Field Quality Request</h2>
    <form #orderReturnForm="ngForm" novalidate>
        <app-order-returns-header (selectReturnReason)="onSelectReason($event)"></app-order-returns-header>
        <app-order-returns-items [selectedReturnReason]="selectedReturnReason"></app-order-returns-items>

        <div class="float-right order-returns__buttons">
            <button type="button" class="btn btn-secondary" (click)="onCancelOrder()" i18n>Cancel</button>

            <div
                [appTooltip]="'All fields in form must be filled out to submit a Field Quality or Return Request.'"
                [visible]="isInvalidForm(orderReturnForm)"
                placement="top"
            >
                <app-button
                    cssClass="btn-primary"
                    [loading]="submitProcessing"
                    [disabled]="isInvalidForm(orderReturnForm)"
                    (buttonClick)="onSubmit(orderReturnForm)"
                    i18n
                >
                    Submit
                </app-button>
            </div>
        </div>
    </form>
</div>
