<h2>{{ details?.companyName }}</h2>
<div class="row details">
    <div id="bill-to-error" *ngIf="!parts && !search?.value && !errors" class="col col-12">
        <app-listing-message icon="list" label="There are currently no forecasts for your selected Bill-To." i18n-label noBorder="true">
            <button data-automation-ref="download-details" type="submit" class="icon-link" i18n (click)="openBillToDialog()">
                Select a different Bill-To
            </button>
        </app-listing-message>
    </div>
    <div class="col col-8" *ngIf="parts">
        <h3 i18n>Details</h3>
        <div class="row">
            <div class="col col-12">
                <ul class="details-list">
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Received:</h4>
                        {{ details?.received | date: 'yyyy-MM-dd' }}
                    </li>
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Last Update:</h4>
                        {{ details?.lastUpdate | date: 'yyyy-MM-dd' }}
                    </li>
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Parts Submitted:</h4>
                        {{ details?.partsCovered }}
                    </li>
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Parts in Filtered View:</h4>
                        {{ partsInFilteredView }}
                    </li>
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Potential Shortages:</h4>
                        {{ details?.potentialShortages }}
                    </li>
                    <li class="details-list__item">
                        <h4 class="details-list__item-title" i18n>Forecast Horizon:</h4>
                        {{ details?.forcastHorizon }}
                    </li>
                </ul>
                <button data-automation-ref="download-details" class="icon-link btn" (click)="openDownloadModalDialog()">
                    <app-icon symbol="download"></app-icon>
                    <span i18n>Download Forecasts</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col col-4 notes" *ngIf="parts">
        <h3 i18n>Forecast Notes</h3>
        <p class="forecast-notes" i18n>
            The forecast is broken into weekly buckets. The shortages identified are cumulative and carried over until the shortage is
            satisfied.
        </p>
        <p>
            <app-status-bar status="danger"></app-status-bar><span i18n>Full Shortage</span>
            <app-status-bar status="at-risk"></app-status-bar><span i18n>Partial Shortage</span>
            <app-status-bar status="ok"></app-status-bar><span i18n>No Shortage</span>
        </p>
    </div>
</div>

<hr />

<div *ngIf="errors">
    <h2 i18n>{{ errorHeader }}</h2>
    <app-listing-message label="{{ errorBody }}" icon="cross"></app-listing-message>
</div>

<div *ngIf="!errors">
    <div class="forecast-details-page__search row">
        <div class="col col--first col-6">
            <app-forecast-search [searchCriteria]="search$ | async" (search)="submitSearch($event)" (reset)="submitSearch($event)">
            </app-forecast-search>
            <p i18n *ngIf="search?.value && !this.parts">
                Your search for <strong>"{{ search.value }}"</strong> did not return any results. Please modify your results.
            </p>
        </div>
    </div>

    <div class="line-listing__header row">
        <div class="col col-8">
            <ul class="link-list link-list--inline">
                <li class="link-list__item">
                    <button (click)="openEmailModal()" [disabled]="!getSelectedParts().length" class="icon-link">
                        <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Email Sales Representative</ng-container>
                    </button>
                </li>
                <li class="link-list__item">
                    <button (click)="toggleMoreWeeks()" class="icon-link">
                        <ng-container i18n>Show { moreWeeksText, select, More {More} Less {Less} } Weeks</ng-container>
                    </button>
                </li>
                <li class="link-list__item">
                    <app-checkbox
                        data-automation-ref="shortages"
                        (valueChange)="toggleShortagesOnly()"
                        label="Show Potential Shortages Only"
                    ></app-checkbox>
                </li>
                <li class="link-list__item">
                    <app-dropdown
                        data-automation-ref="potential-shortages"
                        [options]="potentialShortagesOptions"
                        [value]="potentialShortages"
                        (valueChange)="changePotentialShortagesValue($event)"
                    ></app-dropdown>
                </li>
            </ul>
        </div>
        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="pageLimitChange($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            >
            </app-pagination>
        </div>
    </div>
    <div class="row">
        <table
            class="forecast-details__table"
            data-automation-ref="forecast-details-table"
            [ngClass]="{
                'wide-forecast-details': !moreWeeks
            }"
        >
            <thead>
                <tr>
                    <th class="select-all" data-automation-ref="select-all-header">
                        <app-checkbox data-automation-ref="select-all-checkbox" (valueChange)="toggleAll()" class="select-all">
                        </app-checkbox>
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header cpn"
                        data-automation-ref="customer-part-number"
                        [keys]="['customerPartNumber']"
                        [order]="sortOrder?.get('customerPartNumber')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Customer <br />Part Number
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header mpn"
                        *ngIf="moreWeeks"
                        data-automation-ref="mfr-part-number"
                        [keys]="['arrowPartNumber']"
                        [order]="sortOrder?.get('arrowPartNumber')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Part Number <br />/ Mfr
                    </th>
                    <th *ngIf="moreWeeks" data-automation-ref="available-to-sell" i18n>Inventory <br />Available to Sell</th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header mult"
                        *ngIf="moreWeeks"
                        data-automation-ref="multiple"
                        [keys]="['salesMult']"
                        [order]="sortOrder?.get('salesMult')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Multiple
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header status"
                        *ngIf="moreWeeks"
                        data-automation-ref="item-status"
                        [keys]="['itemStatus']"
                        [order]="sortOrder?.get('itemStatus')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Item <br />Status
                    </th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header lead-time"
                        data-automation-ref="lead-time"
                        [keys]="['leadTimeWeeks']"
                        [order]="sortOrder?.get('leadTimeWeeks')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        Lead <br />Time
                    </th>
                    <th class="next-delivery" data-automation-ref="pipeline-next-delivery" i18n>Pipeline Next <br />Delivery/Qty</th>
                    <th
                        app-sortable-column-header
                        class="sortable-col-header first-shortage"
                        data-automation-ref="first-shortage-date"
                        [keys]="['firstShortDate']"
                        [order]="sortOrder?.get('firstShortDate')"
                        (sortChange)="sortChange($event)"
                        i18n
                    >
                        1st Shortage <br />Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of parts">
                    <td>
                        <app-checkbox
                            data-automation-ref="select-checkbox"
                            [value]="part.selected"
                            (valueChange)="toggleSelected(part, $event)"
                        >
                        </app-checkbox>
                    </td>
                    <td class="cpn">{{ part.custItemId }}</td>
                    <td class="mpn" *ngIf="moreWeeks">
                        <ul class="forecast-list">
                            <li class="forecast-list__item">
                                <a [routerLink]="['/products/', part.documentId]">{{ part.mfrItemId }}</a>
                            </li>
                            <li class="forecast-list__item">{{ part.mfrName }}</li>
                        </ul>
                    </td>
                    <td class="inv" *ngIf="moreWeeks">
                        <ul class="inventory-list">
                            <li class="inventory-list__item">
                                <h4 class="inventory-list__item-title" i18n>Public:</h4>
                                <span>{{ part.inventoryAvailableToSell.publicQty }}</span>
                            </li>
                            <li class="inventory-list__item">
                                <h4 class="inventory-list__item-title" i18n>Buffer:</h4>
                                <span>{{ part.inventoryAvailableToSell.bufferQty }}</span>
                            </li>
                            <li class="inventory-list__item">
                                <h4 class="inventory-list__item-title" i18n>On Site:</h4>
                                <span>{{ part.inventoryAvailableToSell.onSiteQty }}</span>
                            </li>
                        </ul>
                    </td>
                    <td class="mult" *ngIf="moreWeeks">{{ part.mult }}</td>
                    <td class="status" *ngIf="moreWeeks">{{ part.itemStatus }}</td>
                    <td class="lead-time">{{ part.onOrderPipeline.leadtime }} Weeks</td>
                    <td class="next-delivery">
                        {{ part.onOrderPipeline.orderDate | date: 'yyyy-MM-dd' }}<br />{{ part.onOrderPipeline.quantity }}
                    </td>
                    <td class="first-shortage">{{ part.firstShortDate | date: 'yyyy-MM-dd' }}</td>
                </tr>
            </tbody>
        </table>
        <div
            id="test"
            [ngClass]="{
                'wide-forecast-weeks': !moreWeeks
            }"
        >
            <table
                id="forecast-weeks"
                class="forecast-weeks__table horizontal-scroll block"
                data-automation-ref="forecast-weeks-table"
                appScrollShadow
                *ngIf="parts"
            >
                <thead>
                    <th *ngFor="let week of weeks" class="forecast__header">{{ parts[0].horizonList[week].date | date: 'yyyy-MM-dd' }}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let part of parts">
                        <td *ngFor="let week of weeks" class="forecast__header">
                            <app-status-bar
                                *ngIf="
                                    part.horizonList[week].cumulativeShort >= part.horizonList[week].quantity &&
                                    part.horizonList[week].cumulativeShort != 0
                                "
                                status="danger"
                            ></app-status-bar>
                            <app-status-bar
                                *ngIf="
                                    part.horizonList[week].cumulativeShort < part.horizonList[week].quantity &&
                                    part.horizonList[week].cumulativeShort > 0
                                "
                                status="at-risk"
                            ></app-status-bar>
                            <app-status-bar *ngIf="part.horizonList[week].cumulativeShort == 0" status="ok"></app-status-bar>
                            <ul class="forecast-list">
                                <li class="forecast-list__item">
                                    <h4 class="forecast-list__item-title" i18n>Forecast:</h4>
                                    <span> {{ part.horizonList[week].quantity }}</span>
                                </li>
                                <li class="forecast-list__item">
                                    <h4 class="forecast-list__item-title" i18n>Shortage:</h4>
                                    <span> {{ part.horizonList[week].cumulativeShort }}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
