@import 'layout';
@import 'variables';
@import 'helpers';
@import 'colors';

:host {
  @extend .page-template--standard;
}

hr {
  margin-bottom: rem(50);
}

table {
  margin: 0;
}

.line-listing__header .col-5 {
  margin-right: rem(3);
}

.forecast-details__table {
  width: 71%;
  float: left;
  border-collapse: collapse;
  user-select: none;

  &.wide-forecast-details {
    width: 35%;
  }

  tbody tr:nth-child(1n) td {
    background: $white;
  }
  thead tr th {
    height: rem(80);
    margin-bottom: rem(10);
  }

  ul {
    margin: 0;

    h4 {
      width: 55%;
      display: inline-block;
      color: $boulder-2;
      margin-bottom: 0;
    }

    span {
      width: 40%;
      display: inline-block;
      text-align: right;
    }
  }

  .mpn {
    width: rem(200);
    word-break: break-all;
  }
  .cpn {
    width: rem(130);
  }
  .status,
  .lead-time,
  .next-delivery,
  .shortage {
    width: rem(100);
  }
  .inv {
    width: rem(150);
  }
  .first-shortage {
    width: rem(120);
  }
  .mult {
    width: rem(80);
  }

  .more-weeks {
    left: rem(446);
  }

  tbody td {
    height: rem(90);
    border-bottom: 1px solid $alto;
  }
}

#test {
  width: 28.8%;
  float: left;
  position: relative;
  &.wide-forecast-weeks {
    width: 65%;
  }

  &.show-left {
    &:before {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 5%, transparent 100%);
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      top: 0;
      bottom: 0;
      z-index: 100;
      visibility: visible;
    }
  }
  &.show-right {
    &:after {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.25) 5%, transparent 100%);
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      top: 0;
      bottom: 0;
      left: rem(314);
      z-index: 100;
      visibility: visible;
    }
  }

  &.wide-forecast-weeks {
    &.show-right {
      &:after {
        left: rem(785);
      }
    }
  }

  .forecast-weeks__table {
    app-status-bar {
      position: relative;
      top: rem(-10);
      left: rem(6);
    }

    h4 {
      width: 45%;
      display: inline-block;
      color: $boulder-2;
      margin-bottom: 0;
    }

    span {
      width: 50%;
      display: inline-block;
      text-align: right;
    }

    th {
      height: rem(88);
      margin-bottom: rem(10);
    }

    th,
    td {
      width: rem(160);
    }

    tbody tr:nth-child(1n) td {
      background: $white;
    }

    tbody td {
      height: rem(90);
      border-bottom: 1px solid $alto;
      border-right: 1px solid $alto;
      border-left: 1px solid $alto;
      padding-left: 0;
    }

    .forecast-list {
      margin: 0;
      width: rem(110);
      padding-left: rem(10);

      h4 {
        font-weight: normal;
      }
    }
  }
}

.details {
  .icon-link {
    color: $lochmara;
    font-size: rem(12);
    text-transform: none;
  }

  .btn {
    padding: 0;
    margin-top: rem(20);
  }

  .details-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;

    li {
      list-style: none;
      width: 50%;
      text-align: left;
    }

    &__item {
      @extend .flex;
      @extend .flex-direction-row;
      align-items: baseline;

      &:first-of-type {
        margin-top: 0;
      }

      &-title {
        color: $boulder-2;
        margin-bottom: $spacing-x-1;
        flex: 0 0 35%;
      }
    }
  }
}

#search {
  display: flex;
  width: rem(550);

  app-dropdown {
    width: rem(200);
  }

  button {
    background-color: $boulder;
    width: rem(120);
    padding: 0;
  }
}

.line-listing__header {
  .link-list {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}

.notes {
  border: 1px solid $alto;
  padding: rem(20);

  .forecast-notes {
    color: $boulder;
  }

  app-status-bar {
    float: left;
    clear: both;
    position: relative;
    top: rem(5);
    margin-right: rem(10);
  }

  span {
    float: left;
  }
}

#more-weeks {
  ::ng-deep {
    button {
      display: none;
    }
  }
}

#bill-to-error {
  border: 1px solid $alto;
}
