@import 'variables';
@import 'colors';
@import 'functions';
@import 'mixins';
@import 'typography';
@mixin button-cursor-rules() {
  cursor: pointer;

  &--disabled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
}

button {
  font-family: inherit;
  @include button-cursor-rules();
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}

.btn {
  font-size: rem($button-font-size);
  line-height: fraction($button-line-height, $button-font-size);
  text-transform: uppercase;
  border: 0;
  font-weight: 700;
  letter-spacing: em(1.5, $button-font-size);
  padding: em(12, $button-font-size) em(25, $button-font-size) em(13, $button-font-size);
  color: $white;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  @include button-cursor-rules();

  &-primary {
    background-color: $primary-action-color;
    color: $primary-action-button-text-color;

    &:hover,
    &:focus {
      background-color: $primary-action-focus-color;
      color: $primary-action-focus-button-text-color;
    }
  }

  &-purchase {
    background-color: $purchase-action-color;
    color: $purchase-action-button-text-color;

    &:hover,
    &:focus {
      background-color: $purchase-action-focus-color;
      color: $purchase-action-focus-button-text-color;
    }
  }

  &-secondary,
  &-cancel {
    background-color: $secondary-action-color;
    color: $secondary-action-button-text-color;

    &:hover,
    &:focus {
      background-color: $secondary-action-focus-color;
      color: $secondary-action-focus-button-text-color;
    }
  }

  &-wo {
    background-color: $wo-action-color;
    color: $wo-action-text-color;

    &:hover,
    &:focus {
      background-color: $wo-action-focus-color;
      color: $wo-action-focus-text-color;
    }
  }

  &--disabled,
  &[disabled] {
    background-color: $disabled-bg-color;
    color: $disabled-text-color;

    &:hover,
    &:focus {
      background-color: $disabled-bg-color;
      color: $disabled-text-color;
    }
  }

  &-icon {
    padding: em(8, $button-font-size) em(8, $button-font-size);
    app-icon {
      width: rem(24);
      height: rem(24);
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn--fullwidth {
  width: 100%;
}

.cta-container {
  margin-top: em($base-line-height * 1.5);

  & + * {
    margin-top: rem(20);
  }
}

.btn-link {
  @extend a;
  color: $lochmara;
  background: none;
}

.cta-container__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  &--reverse {
    flex-direction: row-reverse;

    .cta-container__list-item {
      margin: 0 em(10) 0 0;

      &:first-of-type {
        margin-right: 0;
      }
    }
  }
}

.cta-container__list-item {
  margin: 0 0 0 em(10);
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:first-of-type {
    margin-left: 0;
  }
}

.cta-container__list-item-link {
  margin: 0 0 0 em(27);
  font-size: rem(12);
  @include inline-block();
}

.cta-container__list-item-divider {
  font-size: rem(12);
  margin: 0 rem(5) 0 rem(3);
}

.cta-container--vertical {
  .cta-container__list {
    flex-direction: column;
  }

  .cta-container__list-item {
    margin: em(10) 0 0;
    flex-direction: column;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .btn {
    display: block;
    width: 100%;
  }

  .cta-container__list-item-link {
    margin: em(20) 0 0;
  }
}
