@import 'variables';
@import 'modals';
@import 'functions';

.backdrop {
  &.backdrop--modal-open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(64, 64, 64, 0.8);
    z-index: 20;
  }
}

.dialog-wrapper {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dialog-panel {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  pointer-events: auto;
  width: 90vw;
  background-color: $white;
  max-height: 90vh;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.dialog-panel--small {
  max-width: $modal-small;
}

.dialog-panel--medium {
  max-width: $modal-medium;
}

.dialog-panel--large {
  max-width: $modal-large;
}

.dialog-panel--x-large {
  max-width: $modal-x-large;
}

.dialog-panel--large-x-large {
  max-width: $modal-large;
  max-height: 98vh;
}
