@import 'variables';
@import 'functions';
//Tooltip Directive

$tooltip-background-color: $information-color;

[appTooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.ng-tooltip {
  position: absolute;
  max-width: rem(150);
  font-size: rem($small-font-size);
  text-align: center;
  color: $text-color;
  padding: rem(5) rem(10);
  background: $tooltip-background-color;
  z-index: 19;
  opacity: 0;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
  }
  &.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: $tooltip-background-color transparent transparent transparent;
  }
  &.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent $tooltip-background-color transparent;
  }
  &.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent $tooltip-background-color;
  }
  &.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent $tooltip-background-color transparent transparent;
  }
  &.ng-tooltip-show {
    opacity: 1;
  }
}
