@import 'variables';
@import 'colors';
@import 'mixins';
@import 'typography';

/* wrappers */

.form-item {
  margin-bottom: em(20);

  &__label {
    margin-bottom: em(4);
  }

  &__alert {
    color: $alizarin-crimson;
    margin-top: rem(-3);
  }

  &__error {
    margin-top: em(2);
    color: $error-color;
    @extend .small;
    display: flex;
    align-items: center;

    &-icon {
      margin-right: em(3);
    }
  }
  &.error-after {
    display: flex;
    flex-direction: column;
  }
  .form-item__label-with-error {
    order: 3;
    margin: rem(5) 0;
  }
}

/* utils */
.error {
  color: $error-color;
}

/* labels */

.label {
  font-weight: bold;
  @extend .small;
  color: $content-heading-color;
}

/* input field */
.input {
  height: rem(40);
  padding: rem(9) rem(20);
  @include form-text-field();

  &::placeholder {
    color: $inactive-color;
  }
}

.textarea,
textarea.input {
  padding: rem(20) rem(24);
  @include form-text-field();
  height: rem(160);
  resize: none;
  overflow-y: scroll;

  &::placeholder {
    color: $inactive-color;
  }
}

/* Checkboxes/Radios */
.binary-form-control {
  @include inline-block();
  max-width: 100%;
  vertical-align: top;

  &__label {
    display: flex;
    cursor: pointer;

    &--selected {
      .binary-form-control__icon {
        visibility: visible;
      }
    }

    &--error {
      color: $error-color;
      .binary-form-control__button {
        border-color: $error-color;
      }
    }

    &--disabled {
      color: $disabled-text-color;
      cursor: default;
    }
  }

  &__button {
    flex-shrink: 0;
    border: 1px solid $nobel;
    background-color: $white;
    font-size: rem(16);
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: em(2, 16);

    &[disabled] {
      border-color: $disabled-text-color;
      color: $disabled-text-color;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: $active-color;
  }

  &__text {
    margin-left: rem(10);
  }
}

.binary-control-group {
  &__list {
    &-item {
      padding: 0 em(4);
      margin-top: em(12);
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.form--inline {
  display: inline-flex;
  align-items: flex-end;

  .form-item {
    // Ensure that the borders don't duplicate for adjacent form-items
    // This should be the same dimension as the borders, hence px instead of rems or ems
    margin: 0 0 0 -1px;
    flex: 1 0 auto;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .form-item__control {
    display: flex;
  }

  .form-item--stretch {
    flex: 1;
  }

  .cta-container {
    margin-top: 0;
  }
}
