@import 'variables';

@function fraction($val, $of) {
  @return ($val / $of);
}

@function percent($val, $of) {
  @return fraction($val, $of) * 100%;
}

@function rem($val) {
  @return fraction($val, $rem) + rem;
}

@function em($val, $of: $base-font-size) {
  @return fraction($val, $of) + em;
}

@function col-span($col-count: 0, $offset: 0) {
  @return ($col-count / 12) * 100%;
}
