@import 'variables';
@import 'mixins';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.myarrow-logo {
  background-image: url('/assets/images/logo-myarrow.png');
  background-repeat: no-repeat;
  display: block;
  width: 149px;
  height: 32px;
  background-size: 149px 32px;

  &--secondary {
    background-image: url('/assets/images/logo-myarrow-secondary.png');
  }

  &--footer {
    background-size: 94px 20px;
    width: 94px;
    height: 20px;
  }
}

.arrow-logo {
  background-image: url('/assets/images/logo-arrow.png');
  background-repeat: no-repeat;
  display: block;
  width: 75px;
  height: 15px;
  background-size: 75px 15px;

  &--secondary {
    background-image: url('/assets/images/logo-arrow-secondary.png');
  }
}

.logo-inline {
  display: inline-block;
  text-indent: -1000em;
  margin: 0 em(7);

  &--first {
    margin-left: 0;
  }
}
