@import 'mixins';
@import 'functions';
@import 'variables';

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 0 1 auto;
  margin-left: rem(-10);
  margin-right: rem(-10);
}

.col {
  box-sizing: border-box;
  position: relative;
  padding-left: rem($gutter-width / 2);
  padding-right: rem($gutter-width / 2);
}

.col-1 {
  @include col-span(1);
}
.col-2 {
  @include col-span(2);
}
.col-3 {
  @include col-span(3);
}
.col-4 {
  @include col-span(4);
}
.col-5 {
  @include col-span(5);
}
.col-6 {
  @include col-span(6);
}
.col-7 {
  @include col-span(7);
}
.col-8 {
  @include col-span(8);
}
.col-9 {
  @include col-span(9);
}
.col-10 {
  @include col-span(10);
}
.col-11 {
  @include col-span(11);
}
.col-12 {
  @include col-span(12);
}

.col-offset-1 {
  @include col-offset(1);
}
.col-offset-2 {
  @include col-offset(2);
}
.col-offset-3 {
  @include col-offset(3);
}
.col-offset-4 {
  @include col-offset(4);
}
.col-offset-5 {
  @include col-offset(5);
}
.col-offset-6 {
  @include col-offset(6);
}
.col-offset-7 {
  @include col-offset(7);
}
.col-offset-8 {
  @include col-offset(8);
}
.col-offset-9 {
  @include col-offset(9);
}
.col-offset-10 {
  @include col-offset(10);
}
.col-offset-11 {
  @include col-offset(11);
}
