@import 'variables';
@import 'functions';

.wrap {
  width: rem($page-width);
  margin: 0 auto;
  padding-left: rem($page-gutter);
  padding-right: rem($page-gutter);
}

@mixin page-template {
  display: block;
  box-sizing: border-box;
}

.page-template--standard {
  @include page-template();
  @extend .wrap;
  padding-top: rem($page-top-padding);
  padding-bottom: rem($page-bottom-padding);
}

.page-template--full {
  @include page-template();
}

.backdrop-open {
  overflow-y: hidden;
}

.scroll {
  overflow: auto;
}
