@import 'functions';
@import 'variables';
@import 'colors';

@mixin heading() {
  margin-bottom: 1em;
}

@mixin h1() {
  margin-bottom: rem(30);
  font-size: rem(32);
  line-height: fraction(34, 32);
  font-weight: 800;
  color: inherit;
}

@mixin h2() {
  margin-bottom: rem(30);
  font-size: rem(24);
  line-height: fraction(26, 24);
  font-weight: 800;
  color: inherit;
}

@mixin h3() {
  margin-bottom: rem(20);
  font-size: rem(16);
  line-height: fraction(18, 16);
  font-weight: 800;
  color: inherit;
}

@mixin h4() {
  @include heading();
  font-size: rem(12);
  line-height: fraction(16, 12);
  letter-spacing: 0.5px;
  font-weight: 800;
  color: inherit;
}

@mixin h5() {
  @include heading();
  font-size: rem(10);
  line-height: fraction(15, 10);
  letter-spacing: em(1.2, 10);
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }

  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@mixin col-span($col-count: 0) {
  width: col-span($col-count);
}

@mixin col-offset($col-count: 0) {
  margin-left: col-span($col-count);
}

@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin inline-block() {
  display: inline-block;
}

@mixin product-filter() {
  background: $alabaster;
  color: $tundora;
  cursor: pointer;
  float: left;
  height: rem(200);
  margin: 0 $base-spacing $spacing-x-3 0;
  overflow-y: auto;
  padding: $spacing-x-2 $base-spacing;
  width: rem(280);
}

@mixin product-filter-title() {
  color: $boulder-2;
  font-size: rem(14);
  margin-bottom: rem(15);
  text-indent: $base-spacing;
}

@mixin product-filter-item--selected() {
  background-color: $alto;
}

@mixin form-text-field() {
  font-size: rem(14);
  line-height: fraction(20, 14);
  border: 1px solid $outline-color;
  background-color: $white;
  color: $active-color;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: em(0.5, 14);
  text-align: left;
  margin: 0;
  height: rem(40);
  font-family: $body-font-family;
  display: block;
  @include form-text-placeholder($inactive-color);

  [disabled],
  &:disabled,
  &--disabled {
    color: $disabled-text-color;
    border-color: $disabled-outline-color;
    @include form-text-placeholder($disabled-text-color);
  }

  &--error {
    color: $error-color;
    border-color: $error-color;
  }
}

@mixin form-text-placeholder($color: $placeholder-color) {
  &--clean {
    @include placeholder-text($color);
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @include placeholder-text($color);
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    @include placeholder-text($color);
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    @include placeholder-text($color);
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    @include placeholder-text($color);
  }
}

@mixin placeholder-text($color: $placeholder-color) {
  color: $color;
  font-family: $body-font-family;
}

@mixin small() {
  font-size: rem($small-font-size);
  line-height: fraction($small-line-height, $small-font-size);
}
