@import 'variables';
@import 'functions';
@import 'colors';
@import 'typography';

table {
  width: 100%;
  margin: em(20, $table-font-size) 0;
  color: $text-color;
  border-collapse: collapse;
  @extend .small;

  th {
    font-weight: 700;
    text-align: left;
  }
}

table.thead-sticky,
table.thead-normal {
  margin-bottom: 0px;
}

table.sticky-body {
  margin-top: 0px;
}

table.thead-sticky {
  position: fixed;
  top: 55px;
  z-index: 10;
}

td,
th {
  padding: $spacing-x-2 $spacing-x-1;
}

thead {
  th {
    background-color: $content-heading-bg-color;
    padding: $spacing-x-2 $spacing-x-1;
    vertical-align: top;
    border-right: 1px solid $white;
  }
}

tbody {
  td {
    vertical-align: top;
    border-bottom: 1px solid $outline-color;
  }
}

// table__no-alt-rows has been removed as is no longer needed

.table__no-wrap {
  th,
  td {
    white-space: nowrap;
  }
}

.table__blank {
  margin: 0;
  border: none;

  th,
  td {
    padding: 0;
    border: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

table.property-list {
  tr {
    background: none;
  }
  th,
  td {
    font-weight: normal;
    padding: rem(3);
  }
}
