@import 'variables';
@import 'mixins';
@import 'functions';

/**

  Typography works off a base font size of 10px on the <html> element
  This allows tidy sizing of elements using the 'rem' value -> 20px = 2rem
  A mixin exists to make this easy. Just use:

  .a-class {
    font-size: rem(20);
  }

  To specify a font size of 20px. The result will be:

  .a-class {
    font-size: 2rem;
  }

 */

html {
  font-size: percent($rem, 16);
  font-family: $body-font-family;
}

body {
  font-size: rem($base-font-size);
  line-height: fraction($base-line-height, $base-font-size);
}

strong {
  font-weight: 700;
}

.h1,
h1 {
  @include h1();
}

.h2,
h2 {
  @include h2();
}

.h3,
h3 {
  @include h3();
}

.h4,
h4 {
  @include h4();
}

.h5,
h5 {
  @include h5();
}

ol,
p,
ul {
  margin: 0 0 1em;
}

a,
.link {
  color: $primary-action-color;
  font-weight: 400;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button.link {
  font-size: inherit;
}

.small {
  @include small();
}

.bold {
  font-weight: 700;
}

.heavy {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.intro {
  color: $secondary-text-clr;
  margin-bottom: rem(30);
}

.button-link {
  text-decoration: underline;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
  font-size: rem(12);
  line-height: fraction(18, 12);
  color: $lochmara;

  &:focus,
  &:hover {
    color: $cerulean;
    text-decoration: none;
  }

  &--disabled,
  &[disabled] {
    color: $alto;
    cursor: default;

    &:hover,
    &:focus {
      color: $alto;
      text-decoration: none;
    }
  }

  &--purchase {
    color: $apple-2;

    &:focus,
    &:hover {
      color: $apple-1;
    }
  }
}

.icon-link {
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
  font-size: rem(12);
  line-height: fraction(18, 12);
  color: $primary-action-color;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &--disabled,
  &[disabled] {
    color: $disabled-text-color;
    cursor: default;

    &:hover,
    &:focus {
      color: $disabled-text-color;
      text-decoration: none;
    }
  }

  &--purchase {
    color: $purchase-action-color;

    &:focus,
    &:hover {
      color: $purchase-action-focus-color;
    }
  }
}

.icon-link__icon {
  margin: 0 0.25em 0 0;
}

.link-list {
  margin: 1em 0;
  padding: 0;
  list-style: none;

  &--reset {
    margin: 0;
  }
}

.link-list__item {
  margin-top: em(5);

  &:first-of-type {
    margin-top: 0;
  }
}

.link-list--inline {
  .link-list__item {
    display: inline;
    margin: 0 0 0 em(20);
    &:first-of-type {
      margin-left: 0;
    }
  }
}

/** Property list **/

.property-list {
  letter-spacing: em(0.5);
  color: $content-heading-color;

  &__item {
    &:first-of-type {
      margin-top: 0;
    }

    &-title {
      @extend .heavy;
      margin-right: em(7);
    }
  }

  &--tabbed {
    .property-list__item {
      display: flex;

      &-title {
        flex: 0 0 35%;
        margin: 0;
        padding-right: em(7);
      }
    }
  }
}
