<label data-automation-ref="cpn-label"
       class="label"
       i18n>Customer Part:</label>
<app-dropdown [disabled]="disabledCPNDropdown"
              [options]="cpnList"
              [(value)]="selectedCpn"
              (valueChange)="onCpnChange($event)"
              [truncate]="7"
              class="cpn-dropdown"
              data-automation-ref="cpn-dropdown">
    <ng-template #optionLayout
                 let-option>
        <div class="inline-block">{{ option.value }}</div>
    </ng-template>
</app-dropdown>

<div *ngIf="showEndCustomers">
    <label data-automation-ref="ec-label"
           class="label"
           i18n>End Customer:</label>
    <app-dropdown [disabled]="disabledECDropdown"
                  [options]="endCustomerList"
                  [(value)]="selectedEndCustomer"
                  [truncate]="7"
                  (valueChange)="onEndCustomerChange($event)"
                  data-automation-ref="ec-dropdown">
        <ng-template #optionLayout
                     let-option>
            <div class="inline-block">{{ option.value }}</div>
        </ng-template>
    </app-dropdown>
</div>