<div class="tooltip">
  <p i18n
     class="tooltip__text">
    <strong>{quoteOnlyItemsLength, plural, =1 {1 item was} other {{{quoteOnlyItemsLength}} items were}} not added to your cart</strong>
    In order to purchase you will need to request a quote. Please click
    <strong>Request Quote</strong> to continue.</p>
</div>