@import 'mixins';

$tooltip-background-color: #f68a34;

:host {
  position: absolute;
  top: rem(-110);
  left: 50%;
  margin-left: rem(-125);
  width: rem(250);

  .tooltip {
    padding: rem(10) rem(8);
    background: $tooltip-background-color;
    box-sizing: border-box;

    &__text {
      color: #2a272b;
      line-height: 1.5;
      font-size: rem(12.5);
      margin: 0;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid $tooltip-background-color;
      position: absolute;
      bottom: rem(-8);
      left: rem(115);
    }
  }
}
