<app-alert icon="alert"
           *ngIf="searchType.label !== 'nafta'"
           data-automation-ref="compliance-disclamer-wrapper">
    <ng-container i18n
                  data-automation-ref="compliance-disclamer-msg">Please be advised that any trade compliance data provided by Arrow Electronics, Inc. (including its subsidiaries and
        affiliates) is for information purposes only and, in no way, is warranted as to its accuracy. Any use or disclosure
        of this information is solely at your risk and discretion.</ng-container>
</app-alert>

<div class="small back-action">
    <a routerLink="/trade-compliance/"
       class="icon-link"
       data-automation-ref="back-button"
       (click)="resetSearchResults()">
        <app-icon symbol="left-arrow"
                  class="icon-link__icon"></app-icon>
        <span i18n>Return to search</span>
    </a>
</div>

<app-search-results [results]="results$ | async"></app-search-results>

<app-listing-message [label]="'Error retrieving results'"
                     error="true"
                     icon="cross"
                     *ngIf="error$ | async"></app-listing-message>

<div>
    <app-loader *ngIf="loading$ | async"></app-loader>
</div>