@import 'mixins';
@import 'colors';
@import 'functions';
@import 'variables';
@import 'layout';

:host {
  @extend .page-template--standard;
}

.back-action {
  margin: rem(15) 0;
}

h1 {
  margin: rem(20) 0;
}

h2 {
  color: $boulder-2;
  font-size: rem(16);
}

table {
  th:not(:first-child) {
    width: 20%;
  }

  th:first-child,
  td:first-child {
    padding-left: rem(15);
  }
}

app-alert {
  &::ng-deep {
    .alert {
      background-color: $information-color;
      color: $white;
    }

    app-icon::ng-deep {
      display: none;
    }
  }
}
