<div class="sortable-items">
    <app-checkbox
        (valueChange)="toggleAllLines($event)"
        class="sortable-items__all-option"
        [value]="allSelected()"
        label="Select all"
    ></app-checkbox>
    <ul class="sortable-items__list" [dragula]="sortableItemsListReference" [dragulaModel]="items" appScrollDuringDrag>
        <li
            *ngFor="let item of items"
            class="sortable-item"
            [ngClass]="{
                'sortable-item--selected': isSelected(item.id)
            }"
        >
            <div class="sortable-item__control">
                <app-checkbox (valueChange)="toggleLine(item.id, $event)" [value]="isSelected(item.id)"></app-checkbox>
            </div>
            <div class="sortable-item__label">
                <div class="sortable-item__label-text">{{ item.label }}</div>
                <app-icon
                    symbol="list-sort"
                    [ngClass]="[isSelected(item.id) ? 'sortable-item__label-icon--selected' : 'sortable-item__label-icon']"
                ></app-icon>
            </div>
        </li>
    </ul>
</div>
