@import 'colors';
@import 'functions';

:host {
  margin: em(20) 0;
  display: block;

  .sortable-items__all-option {
    ::ng-deep .binary-form-control__text {
      margin-left: 0;
      font-weight: 700;
    }
  }
}

.sortable-items {
  ::ng-deep .binary-form-control__button {
    margin-right: em(20, 20);
  }
}

.sortable-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $boulder-2;
  border-bottom: 1px solid $alto;
  padding-top: rem(5);
  padding-bottom: rem(5);

  &__label {
    flex: 1;
    display: flex;
    padding: em(10, 12) 0;
    cursor: move;
    cursor: grab;

    &-text {
      flex: 1;
    }

    &-icon {
      flex-shrink: 0;

      &--selected {
        color: $primary-action-color;
      }
    }
  }

  &--selected {
    color: $black;
  }
}

.sortable-items {
  font-size: rem(12);
  line-height: fraction(18, 12);

  &__list {
    margin-top: em(20);
    position: relative;
  }
}
