@import 'variables';
@import 'functions';
@import 'mixins';

.categories-filter {
  @include product-filter();
}

.categories-filter__list {
  margin: 0;
}

.categories-filter__icon {
  padding: rem(3);
  border: solid 1px $alto;
}

.categories-filter__title {
  @include product-filter-title();
}

.categories-filter__item--selected {
  @include product-filter-item--selected();
}

.categories-filter__label {
  max-width: 75%;
  padding-right: rem(5);
}

.categories-filter__primary,
.categories-filter__secondary {
  padding: rem(5) 0;
}

.categories-filter__primary {
  padding-left: rem(10);
}

.categories-filter__primary-label {
  max-width: 85%;
}

.categories-filter__secondary {
  padding-left: rem(25);
}

.categories-filter__tertiary {
  padding: $base-spacing 0 $base-spacing rem(40);
}
