<div class="categories-filter">
    <h1 class="categories-filter__title"
        i18n>
        Category
    </h1>

    <!-- primary categories -->
    <ul class="categories-filter__list">
        <li *ngFor="let category of categories; let i = index"
            class="categories-filter__level-{{ i }}">

            <!-- expand category -->
            <div *ngIf="!category.isOpen"
                 class="categories-filter__primary flex justify-space-between"
                 (click)="expandCategory(category)"
                 parentElement=".categories-filter"
                 childElement=".categories-filter__level-{{ i }}"
                 appScrollToElement>
                 <strong class="categories-filter__primary-label ellipsis">{{ category.name }}</strong>
                 <app-icon class="categories-filter__icon"
                           symbol="plus">
                 </app-icon>
            </div>

            <!-- collaps category -->
            <div *ngIf="category.isOpen"
                 class="categories-filter__primary flex justify-space-between"
                 (click)="collapseCategory(category)">
                 <strong class="categories-filter__primary-label ellipsis">{{ category.name }}</strong>
                 <app-icon class="categories-filter__icon"
                           symbol="line">
                 </app-icon>
            </div>

            <!-- secondary categories -->
            <ul *ngIf="category.isOpen"
                class="categories-filter__list">
                <li *ngFor="let secondaryCategory of category.secondaryCategories; let y = index"
                    class="categories-filter__level-{{ i }}{{ y }}">

                    <!-- expand category -->
                    <div *ngIf="!secondaryCategory.isOpen"
                         class="categories-filter__secondary flex justify-space-between"
                         (click)="expandCategory(secondaryCategory)"
                         parentElement=".categories-filter"
                         childElement=".categories-filter__level-{{i}}{{y}}"
                         appScrollToElement>
                         <strong class="categories-filter__primary-label ellipsis">{{ secondaryCategory.name }}</strong>
                         <app-icon class="categories-filter__icon"
                                   symbol="plus">
                         </app-icon>
                    </div>

                    <!-- collapse category -->
                    <div *ngIf="secondaryCategory.isOpen"
                         class="categories-filter__secondary flex justify-space-between"
                         (click)="collapseCategory(secondaryCategory)">
                         <strong class="categories-filter__primary-label ellipsis">{{ secondaryCategory.name }}</strong>
                         <app-icon class="categories-filter__icon"
                                   symbol="line">
                         </app-icon>
                    </div>

                    <!-- tertiary categories -->
                    <ul *ngIf="secondaryCategory.isOpen"
                        class="categories-filter__list">
                        <li *ngFor="let tertiaryCategory of secondaryCategory.tertiaryCategories"
                            (click)="setCategory(tertiaryCategory.id)"
                            class="categories-filter__tertiary"
                            [ngClass]="{
                                'categories-filter__item--selected': this.appliedCategory === tertiaryCategory.id
                            }">
                            <div class="flex">
                                <div class="categories-filter__label ellipsis">
                                    {{ tertiaryCategory.name }}
                                </div>
                                <div>({{ tertiaryCategory.productsTotal }})</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>