@import 'base';

@import '~@arrow/warpaint/prebuilt-themes/arrow-main.css';
@import '~@arrow/bom/prebuilt-themes/bom-main-theme.css';

@font-face {
  font-family: 'bomIcomoon';
  src: url('../../assets/fonts/bom-icomoon/bomIcomoon.eot');
  src: url('../../assets/fonts/bom-icomoon/bomIcomoon.eot#iefix') format('embedded-opentype'),
    url('../../assets/fonts/bom-icomoon/bomIcomoon.ttf') format('truetype'),
    url('../../assets/fonts/bom-icomoon/bomIcomoon.woff') format('woff'),
    url('../../assets/fonts/bom-icomoon/bomIcomoon.svg#bomIcomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: rem(3) solid $primary-action-color;
}
