<app-dialog-panel *ngIf="!showConfirmation" (close)="dismiss()">
    <div dialog-header>
        <span class="h1" i18n>Bill-To Account</span>
        <p i18n class="subtitle">Please select your Bill-To Account below:</p>
    </div>

    <app-listing-message
        *ngIf="billToAccounts.error"
        [error]="true"
        icon="cross"
        label="There was an error getting your Bill-To Accounts"
    ></app-listing-message>

    <app-listing-message
        *ngIf="errorSelectingBillTo"
        [error]="true"
        icon="cross"
        label="There was an error selecting your Bill-To Account"
    ></app-listing-message>

    <app-loader class="bill-to-account__loader" *ngIf="billToAccounts.loading"></app-loader>

    <table class="bill-to-account" *ngIf="!billToAccounts.loading && billToAccounts.items">
        <thead>
            <tr>
                <th i18n>Account&nbsp;Number</th>
                <th i18n>Account Name</th>
                <th i18n>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of billToAccounts.items">
                <td>
                    <div class="bill-to-account__selection">
                        <app-radio
                            [label]="account.billToId"
                            [radioValue]="account.billToId"
                            [(value)]="selectedBillToAccountId"
                        ></app-radio>
                    </div>
                </td>
                <td>
                    <p class="bill-to-account__name">{{ account.name }}</p>
                </td>
                <td><div class="bill-to-account__address" [innerHtml]="account | formattedAddress: false"></div></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="quotedItemCount > 0">
        <span i18n class="error error-message">
            <app-icon symbol="alert" class="form-item__error-icon"></app-icon>Quotes are linked to the current Bill-to account. If you
            change the account, you will not be able to view or buy the current linked quotes.</span
        >
    </div>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><app-button (click)="dismiss()" class="btn-cancel" i18n>Cancel</app-button></li>
            <li class="cta-container__list-item">
                <app-button *ngIf="!billToAccounts.error" (click)="select()" class="btn-primary" i18n>Select Account</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>

<app-dialog-panel *ngIf="showConfirmation" (close)="dismiss()">
    <div dialog-header>
        <span class="h1" i18n>Are you sure?</span>
        <p i18n>
            Changing the bill-to account will force you to select new Customer Part Numbers and End Customers for the items in your cart.
        </p>
    </div>
    <p i18n>Are you sure you wish to continue?</p>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><app-button (click)="dismiss()" class="btn-secondary" i18n>Cancel</app-button></li>
            <li class="cta-container__list-item">
                <app-button i18n (click)="confirm()" type="submit" cssClass="btn-primary" (click)="select()" [loading]="updating" i18n
                    >Confirm</app-button
                >
            </li>
        </ul>
    </div>
</app-dialog-panel>
