@import 'variables';
@import 'mixins';

.bill-to-account {
  margin: 0;
  tr {
    border-bottom: rem(1) solid $alto;

    &:nth-child(2n) {
      background: none;
    }
  }

  th {
    padding: rem(22) rem(30);
  }

  td {
    color: $boulder-2;
    font-size: rem(14);
    line-height: 1.43;
    letter-spacing: rem(0.5);
    padding: rem(22) rem(30);
  }
}

.bill-to-account__selection {
  white-space: nowrap;

  ::ng-deep .radio {
    margin-right: rem(10);
  }
}

.error-message {
  font-size: rem(12);
  font-weight: bold;
}
