@import 'colors';
@import 'functions';

:host {
  width: 100%;
  margin-bottom: rem(30);

  .tabs-container {
    flex: 1 0 auto;
  }

  ::ng-deep {
    .tab__content {
      flex: 1 0 auto;
      border: 1px solid $outline-color;
      border-width: 0 1px 1px;

      &--loading {
        justify-content: center;
        align-items: center;

        .loading-wrapper {
          align-items: center;
          min-height: rem(464);
          justify-content: center;
        }
      }

      .listing-message__inner {
        margin: 0;
        min-height: rem(464);
      }
    }

    .tab__content--active {
      display: block;
    }

    .tabs {
      .tabs__list-item {
        flex: inherit;
      }
    }
  }
}

::content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
