@import 'mixins';
@import 'layout';
@import 'variables';
@import 'helpers';

:host {
  @extend .page-template--standard;
}

.orders-page__title {
  @extend .flex;
  @extend .flex-direction-row;
  margin-bottom: $spacing-x-3;

  &-text {
    margin-bottom: 0;
  }

  &-cta {
    margin-top: 0;
    flex: 1 1 auto;
  }
}

.orders-page__download-link {
  float: right;
}

.orders-page__search {
  margin-bottom: $spacing-x-3;
}
