<div class="orders-page">

    <div class="orders-page__title">
        <h2 class="orders-page__title-text"
            i18n>Orders</h2>

        <div class="cta-container orders-page__title-cta">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="openDownloadOrdersDialog()"
                            class="icon-link"
                            [disabled]="!(result$ | async)?.length">
                        <app-icon symbol="download"
                                  class="icon-link__icon"></app-icon>
                        Download Orders
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="orders-page__search row">
        <div class="col col--first col-6">
            <app-order-lines-search [searchCriteria]="search$ | async"
                                    (search)="submitSearch($event)"
                                    (reset)="submitSearch($event)"></app-order-lines-search>
        </div>
    </div>

    <app-order-lines-listing [orderLines]="result$ | async"
                             [filter]="filter$ | async"
                             [quoteCartMaxLineItems]="quoteCartMaxLineItems$ | async"
                             [quoteCartRemainingLineItems]="quoteCartRemainingLineItems$ | async"></app-order-lines-listing>

    <app-listing-message [label]="'Error retrieving Orders'"
                         error="true"
                         icon="cross"
                         *ngIf="error$ | async"></app-listing-message>

    <div>
        <app-loader *ngIf="loading$ | async"></app-loader>
    </div>

</div>