<div *ngIf="!(loading$ | async) && !(error$ | async)">
    <div class="order-details__title">
        <h2 class="order-details__title-text" i18n>Purchase Order: {{ order?.details.purchaseOrderNumber }}</h2>
    </div>
    <hr />
    <app-order-details-meta [orderDetails]="order?.details"></app-order-details-meta>

    <div class="order-details__order-lines-cta">
        <div>
            <ul class="link-list link-list--inline">
                <li class="link-list__item">
                    <button (click)="addToQuoteCart(selectedOrderLines)" [disabled]="selectedOrderLines?.length === 0" class="icon-link">
                        <app-icon symbol="document-add" class="icon-link__icon"></app-icon>
                        <ng-container i18n>Request a Quote</ng-container>
                    </button>
                </li>
                <li class="link-list__item" *ngIf="showEditDate">
                    <div
                        [appTooltip]="'Edit Request Date is only available for Open status.'"
                        [visible]="selectedOrderLines?.length !== 0 && !onlyOpenOrderLines"
                        placement="top"
                        [customStyles]="{ 'max-width': '14rem', height: '7rem' }"
                    >
                        <button
                            (click)="openEditRequestedDateDialog()"
                            [disabled]="selectedOrderLines?.length === 0 || !onlyOpenOrderLines"
                            class="icon-link"
                            i18n
                        >
                            <app-icon symbol="calendar" class="icon-link__icon"></app-icon>
                            Edit Request Date
                        </button>
                    </div>
                </li>
                <li class="link-list__item" *ngIf="showRequestReturn">
                    <div
                        [appTooltip]="requestReturnTooltipLabel"
                        [visible]="showReturnTooltip"
                        [fixed]="isTooltipFixed"
                        placement="top"
                        [customStyles]="{ 'max-width': '14rem', height: '7rem', padding: '1.5rem 1rem' }"
                    >
                        <button [disabled]="disableRequestReturn" class="icon-link" (click)="requestToReturn()" i18n>
                            <app-icon symbol="return" class="icon-link__icon"></app-icon>
                            {{ requestReturnLabel }}
                        </button>
                    </div>
                </li>
                <li class="link-list__item">
                    <button (click)="openEmailRepresentativeDialog()" [disabled]="selectedOrderLines?.length === 0" class="icon-link" i18n>
                        <app-icon symbol="envelope" class="icon-link__icon"></app-icon>
                        Email Sales Representative
                    </button>
                </li>
            </ul>
        </div>
        <div>
            <ul class="link-list link-list--inline">
                <li class="link-list__item">
                    <button class="icon-link" (click)="showInvoicesForOrderLines(orderLines)">
                        <app-icon symbol="document" class="icon-link__icon"></app-icon>
                        <span i18n>View Invoice</span>
                    </button>
                </li>
                <li class="link-list__item">
                    <button (click)="showTrackingDetailsForOrder(order)" class="icon-link" i18n>
                        <app-icon symbol="i-bubble" class="icon-link__icon"></app-icon>
                        Shipment Tracking
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <app-single-order-lines-listing
        orderLinesListing
        [orderLines]="order?.orderLines"
        [currencyCode]="order?.details.currencyCode"
        (idSelected)="onIdSelected($event)"
        [selectedIds]="selectedIds$ | async"
    ></app-single-order-lines-listing>

    <div class="order-details__footer">
        <app-subtotal-display
            [items]="orderLines$ | async"
            itemValueKey="extResale"
            [currencyCode]="order?.details.currencyCode"
            title="Extended Resale Total"
        ></app-subtotal-display>
    </div>
</div>

<ng-container *ngIf="(loading$ | async)"> <app-loader></app-loader> </ng-container>

<app-listing-message [label]="'Couldn\'t find Order (' + orderId + ')'" *ngIf="(error$ | async)" error="true" icon="cross" i18n>
    <a routerLink="/orders" class="icon-link">
        <app-icon symbol="search" class="icon-link__icon"></app-icon>
        Search for an Order
    </a>
</app-listing-message>
