@import 'mixins';
@import 'layout';
@import 'functions';
@import 'typography';
@import 'colors';

:host {
  @extend .page-template--standard;
}

.order-details__title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &-text {
    margin-bottom: 0;
  }

  &-cta {
    margin-top: 0;
    flex: 1 1 auto;
  }
}

.order-details__title-cta {
  margin-left: auto;
  flex-grow: 0;
  .link-list {
    margin: 0;
  }
}

.order-details__order-lines-cta {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-x-5;
  .link-list__item > div {
    display: inline-block;
  }
}
