<app-dialog-panel (close)="onDismiss()"
                  data-automation-ref="quote-cart-submit-error-modal">
    <div dialog-header>
        <h1 i18n>Process Incomplete</h1>
    </div>
    <div dialong-content>
        <p i18n>
            <strong>The system has encountered an issue in processing your quote request. Please retry again shortly.</strong>
        </p>
    </div>
    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-button (click)="onDismiss()"
                            class="btn-primary"
                            i18n>OK</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>