<div class="orders flex-column"
     *ngIf="orderLines.length">
    <h4 class="orders__title">Orders</h4>
    <table class="orders__table table__no-alt-rows">
        <thead>
            <tr>
                <th i18n>PO Number
                </th>
                <th i18n>Sales Order/
                    <br/>Line Item
                </th>
                <th i18n>Customer
                    <br/>Part Number
                </th>
                <th i18n>Manufacturer
                    <br/>Part Number
                </th>
                <th i18n>Quantity
                    <br/>Ordered
                </th>
                <th i18n>Quantity
                    <br/>Remaining
                </th>
                <th i18n>Item
                    <br>Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderLine of orderLines">
                <td>{{ orderLine.purchaseOrderNumber }}</td>
                <td>{{ orderLine.salesOrderId }}/{{ orderLine.lineItem }}</td>
                <td>{{ orderLine.customerPartNumber }}</td>
                <td>{{ orderLine.manufacturerPartNumber }}</td>
                <td>{{ orderLine.qtyOrdered }}</td>
                <td>{{ orderLine.qtyRemaining }}</td>
                <td>{{ orderLine.status | i18nSelect: orderLineStatusMap }}</td>
            </tr>
        </tbody>
    </table>
</div>