@import 'colors';
@import 'functions';
@import 'mixins';

.contact-dropdown {
  min-width: rem(113);

  .dropdown__label {
    padding: 0;
    background: none;
    border: 0;
    outline: none;
  }

  .contact-rep__icon {
    display: none;
    width: rem(12);
  }

  .contact-rep__icon--closed {
    display: inline-block;
  }

  &.dropdown--open {
    .contact-rep__icon--open {
      display: inline-block;
    }

    .contact-rep__icon--closed {
      display: none;
    }
  }
}

.contact__dropdown-info {
  min-width: rem(287);
  padding: rem(20);

  h4 {
    margin-bottom: rem(20);
  }

  .contact-method {
    display: block;
    margin-bottom: rem(9);
    font-size: rem(12);
    line-height: 1.5;
    letter-spacing: rem(0.5);
    color: $lochmara;
    position: relative;
    font-weight: 500;
  }

  .contact-method--telephone {
    text-decoration: none;
    position: relative;
    padding-left: rem(30);
    .contact-method__icon {
      left: 0;
      top: rem(-4);
      position: absolute;
    }
  }
}

.contact-method__icon {
  width: rem(24);
  height: rem(24);
  margin: 0 rem(5) 0 0;
}
