<div class="contact-dropdown dropdown--header"
     [ngClass]="{
    'dropdown--open': isOpen
  }">
    <button (click)="toggle()"
            class="input dropdown__label-wrapper">
        <span class="dropdown__label"
              i18n>Contact</span>
        <app-icon class="contact-rep__icon contact-rep__icon--closed"
                  symbol="down-arrow"></app-icon>
        <app-icon class="contact-rep__icon contact-rep__icon--open"
                  symbol="up-arrow"></app-icon>
    </button>
    <div class="contact__dropdown-info dropdown__options"
         *ngIf="!user">
        <div class="contact-support cta-container--chat">
            <h4 i18n>North America</h4>
            <a class="contact-method contact-method--telephone"
               attr.href="tel:{{contactTelephone}}">
                <app-icon symbol="phone"
                          class="contact-method__icon"></app-icon>
                <span>{{contactTelephone}}</span>
            </a>
            <a class="contact-method contact-method--email"
               [attr.href]="sanatizeEmail(contactEmailNorthAmerica)">
                <app-icon symbol="envelope"
                          class="contact-method__icon"></app-icon>{{contactEmailNorthAmerica}}</a>
        </div>
        <div class="contact-support">
            <h4 i18n>EMEA</h4>
            <a class="contact-method contact-method--email"
               [attr.href]="sanatizeEmail(contactEmailEMEA)">
                <app-icon symbol="envelope"
                          class="contact-method__icon"></app-icon>{{contactEmailEMEA}}</a>
        </div>
    </div>
    <div class="contact__dropdown-info dropdown__options"
         *ngIf="user">
        <div class="contact-support">
            <h4 i18n>Customer Support Team</h4>
            <p class="contact-method contact-method--telephone">
                <app-icon symbol="phone"
                          class="contact-method__icon"></app-icon>
                <span [innerHTML]="user.contact.customerServiceNumber"></span>
            </p>
            <a class="contact-method contact-method--email"
               [attr.href]="sanatizeEmail(user.contact.customerServiceEmail)">
                <app-icon symbol="envelope"
                          class="contact-method__icon"></app-icon>{{ user.contact.customerServiceEmail }}</a>
            <app-chat-button (hideParent)="hide()"></app-chat-button>
        </div>
        <div class="contact-arrow-support">
            <h4 i18n>Your Arrow Representative</h4>
            <p class="contact-method contact-method--message">
                <app-icon symbol="speech-bubble"
                          class="contact-method__icon"></app-icon>{{ user.contact.salesRepName }}</p>
            <p *ngIf="user.contact.salesRepPhoneNumber"
               class="contact-method contact-method--telephone">
                <app-icon symbol="phone"
                          class="contact-method__icon"></app-icon>
                <span [innerHTML]="user.contact.salesRepPhoneNumber"></span>
            </p>
            <a *ngIf="user.contact.salesRepEmail"
               class="contact-method contact-method--email"
               [attr.href]="sanatizeEmail(user.contact.salesRepEmail)">
                <app-icon symbol="envelope"
                          class="contact-method__icon"></app-icon>{{ user.contact.salesRepEmail }}</a>
        </div>
    </div>
</div>