@import 'layout';

:host {
  .container {
    height: 100%;
  }
  app-listing-message {
    ::ng-deep {
      .listing-message {
        display: flex;
        border: none;

        .listing-message__inner {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $public-text-clr;
  padding: rem(30);
  min-height: rem(350);
}

.verify-txt {
  font-size: rem(16);
  margin-top: rem(10);
}

.bottom-link {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .loading {
    margin-top: rem(100);
  }
}
