<div class="panel">
    <div class="loading"
         *ngIf="isLoading(); else error">
        <app-loader></app-loader>
        <p class="verify-txt">Verifying your data...</p>
    </div>
    <ng-template #error>
        <app-listing-message label="Login failed"
                             icon="alert"
                             error="true"
                             data-automation-ref="login-failed-message">
            <button i18n
                    (click)="sendToLogin()"
                    class="icon-link">Login as a different user</button>
        </app-listing-message>
    </ng-template>
</div>