<app-form-item [formField]="this">
    <textarea [formControl]="control"
              [id]="id"
              [placeholder]="placeholder"
              [maxlength]="maxlength"
              [class.input--error]="hasError"
              class="input"></textarea>
</app-form-item>