<div class="account-information">

    <div class="checkout-title">
        <h2 [ngClass]="{
            'h3': displayOnly
        }">Account Information</h2>
    </div>

    <div class="row">

        <!-- grid col 4 -->
        <div class="col col-5"
             *ngIf="accountInfo">
            <ul class="property-list">
                <li class="property-list__item">
                    <span class="property-list__item-title"
                          i18n>Account Name:</span> {{ accountInfo.accountName }}
                </li>
                <li class="property-list__item">
                    <span class="property-list__item-title"
                          i18n>Account Number:</span> {{ accountInfo.accountNumber }}
                </li>
                <li class="property-list__item">
                    <span class="property-list__item-title"
                          i18n>Terms:</span>
                    <span class="uppercase">{{ accountInfo.terms }}</span>
                </li>
            </ul>
            <div class="cta-container">
                <button class="btn-link"
                        *ngIf="!displayOnly"
                        (click)="openBillToDialog()"
                        i18n>Select a Different Account
                </button>
            </div>
        </div>

        <!-- grid col 2 -->
        <div class="col col-4 col-offset-1"
             *ngIf="shippingAddress">
            <div class="account-information__address property-list__item">
                <h4 class="account-information__address-title property-list__item-title"
                    i18n>Shipping Address:</h4>
                <div class="account-information__address-lines"
                     [innerHtml]="shippingAddress | formattedAddress"></div>
            </div>
            <div class="cta-container">
                <button class="btn-link"
                        *ngIf="!displayOnly"
                        (click)="openShipToDialog()"
                        i18n>Change Shipping Address
                </button>
            </div>
        </div>

    </div>

</div>