@import 'variables';
@import 'helpers';
@import 'colors';

.account-information {
  &__address {
    &-title {
      margin-bottom: $spacing-x-1;
    }

    &-lines {
      @extend .flex;
      @extend .flex-direction-column;
    }
  }
}

.property-list {
  .property-list__item {
    @extend .flex;
    @extend .flex-direction-row;
    align-items: baseline;

    &:first-of-type {
      margin-top: 0;
    }

    &-title {
      flex: 0 0 35%;
    }
  }
}
