<div *ngFor="let orderLine of selectedOrderLines; let i = index" class="order-returns-items">
    <table>
        <thead>
            <tr>
                <th i18n class="deliver-column">Delivery ID</th>
                <th i18n class="part-column">Invoice Number</th>
                <th i18n class="part-column">Part Number Ordered</th>
                <th i18n class="part-column">Customer Part Number</th>
                <th i18n class="line-column">Line Item</th>
                <th i18n class="deliver-column">Quantity Ordered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ displayShipments(orderLine.shipments) }}</td>
                <td>{{ displayInvoices(orderLine.invoices) }}</td>
                <td>{{ orderLine.manufacturerPartNumber }}</td>
                <td>{{ orderLine.customerPartNumber }}</td>
                <td>{{ orderLine.lineItem }}</td>
                <td>{{ orderLine.qtyOrdered }}</td>
            </tr>
        </tbody>
    </table>

    <button
        aria-label="Close"
        class="btn btn-icon order-returns-items-remove-button"
        i18n-aria-label
        (click)="checkRemoveOrderLine(orderLine)"
    >
        <app-icon symbol="cross"></app-icon>
    </button>

    <div class="order-returns-items__content" ngModelGroup="{{ 'orderLine-' + orderLine.itemId }}">
        <div class="row">
            <div class="col col-3 form-item" *ngIf="isQuantityAffectedVisible()">
                <div class="form-item__label"><label class="label" i18n>Quantity Affected</label></div>
                <div class="form-item__control">
                    <input
                        class="input"
                        appOnlyPositiveNumbers
                        appPreventEnterKeyDirective
                        appNoLeadingZeros
                        name="quantityAffected"
                        ngModel
                        required
                        maxlength="7"
                    />
                </div>
            </div>
            <div class="col col-3 form-item" *ngIf="isQuantityReceivedVisible()">
                <div class="form-item__label"><label class="label" i18n>Quantity Received</label></div>
                <div class="form-item__control">
                    <input
                        class="input"
                        appOnlyPositiveNumbers
                        appPreventEnterKeyDirective
                        appNoLeadingZeros
                        name="quantityReceived"
                        ngModel
                        required
                        maxlength="7"
                    />
                </div>
            </div>
            <div class="col col-3 form-item" *ngIf="isPartNumberReceivedVisible()">
                <div class="form-item__label"><label class="label" i18n>Part Number Received</label></div>
                <div class="form-item__control"><input type="text" class="input" name="partNumberReceived" ngModel required /></div>
            </div>
            <div class="col col-3 form-item">
                <div class="form-item__label"><label class="label" i18n>Date Code</label></div>
                <div class="form-item__control">
                    <input
                        type="text"
                        class="input"
                        appOnlyPositiveNumbers
                        appPreventEnterKeyDirective
                        name="dateCodeUser"
                        ngModel
                        required
                        placeholder="YYWW"
                        i18n-placeholder
                        maxlength="4"
                    />
                </div>
            </div>
        </div>
        <app-order-returns-attachments
            ngModel
            name="attachments"
            [orderLine]="orderLine"
            [orderDetails]="details"
            [attachmentTotalSize]="attachmentTotalSize"
            [lineItemHasFocus]=" orderLine.lineItem === this.currentLineItem"
            (attachedFile)="onAttachedFile($event)"
            (removedFile)="onRemovedFile($event)"
            (lineItemFocus)="onFocusLineItem($event)"
        ></app-order-returns-attachments>
    </div>
</div>
