@import 'variables';
@import 'functions';

.order-returns-items {
  margin-top: rem(10);
  border: 1px solid $outline-color;
  position: relative;

  table {
    margin-top: 0;
    th {
      border-right: none;
      padding-left: rem(20);
      padding-bottom: rem(7.5);
      padding-top: rem(15);
    }

    td {
      border-bottom: none;
      padding-left: rem(20);
      padding-top: rem(5);
    }

    .deliver-column {
      width: 7%;
    }

    .part-column {
      width: 10%;
    }

    .line-column {
      width: 5%;
    }
  }

  &-remove-button {
    color: $text-color;
    position: absolute;
    top: 0.05rem;
    right: 1rem;
  }

  &__content {
    padding: 0 rem(20) rem(35) rem(20);
  }

  &__attachments {
    margin-top: rem(20);
    font-size: 1.2rem;

    button span {
      font-weight: bold;
    }

    input {
      display: none;
    }

    &-list {
      margin-top: rem(20);
    }
  }
}
