<div
    class="content"
    (mousemove)="restartInactivityTimer()"
    (click)="restartInactivityTimer()"
>
    <app-header (openBillToModal)="openBillToDialog()"
                [user]="user$ | async"></app-header>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<app-backdrop></app-backdrop>