<app-dialog-panel (close)="onClose()"
                  data-automation-ref="add-to-cart-cap-modal"
                  class="add-to-cart-cap-dialog">
    <div dialog-header>
        <h2 data-automation-ref="dialog-header">
            <ng-container *ngIf="addingToQuotes; else shoppingCartTitle"
                          i18n>Add to Quotes</ng-container>
            <ng-template #shoppingCartTitle
                         i18n>Add to Cart</ng-template>
        </h2>
    </div>
    <p class="error">
        <app-icon symbol="alert"
                  class="alert__icon icon-size"></app-icon>
        <ng-container *ngIf="addingToQuotes; else shoppingCartMessage"
                      i18n>
            The Quote Cart is currently limited to {{data.cap}} items. Please either submit your current
            Quote Cart or reduce the number of items you are adding.
        </ng-container>
        <ng-template #shoppingCartMessage
                     i18n>
            The Shopping Cart is currently limited to {{data.cap}} items. Please either submit your current
            Shopping Cart or reduce the number of items you are adding.
        </ng-template>
    </p>
    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button"
                        class="btn btn-secondary"
                        i18n
                        (click)="onClose()">
                    Close
                </button>
            </li>
            <li class="cta-container__list-item">
                <button data-automation-ref="confirm-button"
                        class="btn btn-primary"
                        (click)="onClose(shouldRedirect)">
                    <ng-container *ngIf="addingToQuotes; else shoppingCartButton"
                                  i18n>View Quote Cart</ng-container>
                    <ng-template #shoppingCartButton
                                 i18n>View Shopping Cart</ng-template>
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>