<app-dialog-panel (close)="onClose()">
    <div *ngIf="errors">
        <h2 i18n>{{ errorHeader }}</h2>

        <app-listing-message label="{{ errorBody }}"
                             icon="cross"></app-listing-message>
        <div dialog-footer class="cta-container">
            <ul class="cta-container__list justify-flex-end">
               <li class="cta-container__list-item">
                   <button data-automation-ref="cancel-button"
                           type="submit"
                           class="btn btn-secondary"
                           i18n
                           (click)="onClose()">
                       Cancel
                   </button>
               </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!errors">
        <div dialog-header>
            <h1 data-automation-ref="modal-header"
                i18n>Download Details</h1>
        </div>
        <div class="row">
            <div class="col col-6 download">
                <h3 i18n>Download File As</h3>
                <p i18n>Please select the type of file you would like to receive for your download.</p>
                <div class="radio-group">
                    <ul class="radio-group__list">
                        <li class="radio-group__list-item"
                            *ngFor="let fileTypeOption of fileTypeOptions">
                            <app-radio label="{{ fileTypeOption.label }}"
                                       radioValue="{{ fileTypeOption.value }}"
                                       [(value)]="fileType"></app-radio>
                        </li>
                    </ul>
                </div>
                <hr>
                <h3 i18n>Weeks of Forecast</h3>
                <div class="date-range">
                    <app-dropdown [options]="downloadDateRange"
                                  [(value)]="weeksInHorizon"
                                  ></app-dropdown>
                </div>
                <app-alert class="error" *ngIf="noData" [type]="alertComponentEnum.Error" icon="alert">There are no forecasts to download for the selected time frame.</app-alert>
            </div>
            <div class="col col-6 select">
                <h3 i18n>Select and Arrange Columns</h3>
                <p i18n>Select the columns you wish to appear. Drag and drop to arrange order.</p>
                <div class="download-orders__column">
                    <div class="download-orders__option">
                        <app-sortable-items [items]="columns"
                                            (stateChange)="selectedColumns = $event"></app-sortable-items>
                    </div>
                </div>
                <div dialog-footer class="cta-container">
                    <ul class="cta-container__list justify-flex-end">
                        <li class="cta-container__list-item">
                            <button data-automation-ref="cancel-button"
                                    type="submit"
                                    class="btn btn-secondary"
                                    i18n
                                    (click)="onClose()">
                                Cancel
                            </button>
                        </li>
                        <li class="cta-container__list-item">
                            <button data-automation-ref="confirm-button"
                                    type="submit"
                                    class="btn btn-primary"
                                    i18n
                                    [disabled]="selectedColumns.length == 0"
                                    (click)="download()">
                                Download
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-dialog-panel>
