@import 'colors';
@import 'functions';
@import 'layout';

:host {
  @extend .page-template--standard;
}

.icon-link {
  color: $lochmara;
  font-size: rem(12);
  text-transform: none;
  margin-left: rem(10);
}

.product-notifications__warning-icon {
  height: rem(25);
  width: rem(25);
  margin-bottom: rem(5);
}

a,
button,
.product-notification-info {
  color: $black;
}
.product-notification-info {
  color: $black;
  font-size: rem(14);
  margin: rem(2) 0;
  font-weight: 700;
  background-color: $information-color;
  margin-bottom: $spacing-x-8;
  margin-top: rem(20);
  padding: $spacing-x-1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  max-width: 100%;

  button {
    top: rem(12);
    right: $base-spacing;
    background: none;
    border: 0;
    padding: 0;
  }
}
