<div class="row">
    <div class="main-title col col-6"><label class="h2" i18n>Notifications</label></div>
    <div id="dropdown"><app-dropdown [options]="filterOptions" [(value)]="selectedTable" class="float-right"></app-dropdown></div>
    <button data-automation-ref="update-settings" class="icon-link btn float-right" (click)="openSettingsModalDialog()">
        <app-icon symbol="gear"></app-icon>
        <span i18n>Manage Notification Settings</span>
    </button>
    <button data-automation-ref="download" class="icon-link btn float-right" (click)="openDownloadModalDialog()">
        <app-icon symbol="download"></app-icon>
        <span i18n>Download History</span>
    </button>
</div>

<app-product-notification-table
    [notifications]="pscProductNotifications"
    [header]="'Product Status Change Notifications'"
    [description]="'A change in the life cycle of the part (Ex: End of Life, Not for New Design, Recall).'"
    [table]="'1'"
    [selectedTable]="selectedTable"
></app-product-notification-table>

<app-product-notification-table
    [notifications]="pnfProductNotifications"
    [header]="'Product Non-Functional Change Notifications'"
    [description]="'A change in the documentation or material (Ex: shipping/packing material, nomenclature changes, marking changes).'"
    [table]="'2'"
    [selectedTable]="selectedTable"
></app-product-notification-table>

<app-product-notification-table
    [notifications]="pmProductNotifications"
    [header]="'Product Manufacturing Change Notifications'"
    [description]="'A change in the manufacturing process (Ex: Wafer and test site changes, assembly process changes, environmental data).'"
    [table]="'3'"
    [selectedTable]="selectedTable"
></app-product-notification-table>

<div *ngIf="showNotificationMessage" class="product-notification-info">
    <div>
        <app-icon class="block" symbol="i-bubble" class="product-notifications__warning-icon"> </app-icon>
        <span i18n>If you need PCN info older than 30 days, go to </span>
        <span (click)="openDownloadModalDialog()" class="underline cursor-pointer" i18n>Download History</span>
    </div>
    <button (click)="hideNotificationMessage()" aria-label="Close" class="cursor-pointer" i18n-aria-label>
        <app-icon symbol="cross"></app-icon>
    </button>
</div>
