<div class="order-details__meta" *ngIf="orderDetails">
    <div class="row">
        <div class="col col-2 col--first">
            <div class="order-details__meta-list-item">
                <!-- we may not want to use the tittleKey -->
                <h4 class="order-details__meta-list-item-title" i18n>Ship to:</h4>
                <div *ngIf="orderDetails.shipToAddress?.addressLine1">{{ orderDetails.shipToAddress.addressLine1 }}</div>
                <div *ngIf="orderDetails.shipToAddress?.addressLine2">{{ orderDetails.shipToAddress.addressLine2 }}</div>
                <div *ngIf="orderDetails.shipToAddress?.city">{{ orderDetails.shipToAddress.city }}</div>
                <div *ngIf="orderDetails.shipToAddress?.region">{{ orderDetails.shipToAddress.region }}</div>
                <div *ngIf="orderDetails.shipToAddress?.zipCode">{{ orderDetails.shipToAddress.zipCode }}</div>
                <div *ngIf="orderDetails.shipToAddress?.country">{{ orderDetails.shipToAddress.country }}</div>
            </div>
        </div>
        <div class="col col-2">
            <div class="order-details__meta-list-item">
                <h4 class="order-details__meta-list-item-title" i18n>Bill to:</h4>
                <div *ngIf="orderDetails.billToAddress?.addressLine1">{{ orderDetails.billToAddress.addressLine1 }}</div>
                <div *ngIf="orderDetails.billToAddress?.addressLine2">{{ orderDetails.billToAddress.addressLine2 }}</div>
                <div *ngIf="orderDetails.billToAddress?.city">{{ orderDetails.billToAddress.city }}</div>
                <div *ngIf="orderDetails.billToAddress?.region">{{ orderDetails.billToAddress.region }}</div>
                <div *ngIf="orderDetails.billToAddress?.zipCode">{{ orderDetails.billToAddress.zipCode }}</div>
                <div *ngIf="orderDetails.billToAddress?.country">{{ orderDetails.billToAddress.country }}</div>
            </div>
        </div>
        <div class="col col-2">
            <div class="order-details__meta-list-item">
                <div>
                    <strong class="order-details__meta-list-item-title" i18n>Buyer:</strong> <span>{{ orderDetails.buyerName }}</span>
                </div>
                <div>
                    <strong class="order-details__meta-list-item-title" i18n>Sales Order:</strong>
                    <span>{{ orderDetails.salesOrderId }}</span>
                </div>
                <div>
                    <strong class="order-details__meta-list-item-title" i18n>Shipping Method:</strong>
                    <span>{{ orderDetails.shipMethod }}</span>
                </div>
                <div>
                    <strong class="order-details__meta-list-item-title" i18n>Carrier Account #:</strong>
                    <span>{{ orderDetails.carrierAccount }}</span>
                </div>
            </div>
        </div>
        <div class="col col-3 col-offset-3" *ngIf="showRequestReturn">
            <div class="order-details__meta-list-item order-details__meta-return-rules">
                <h4 class="order-details__meta-list-item-title" i18n>Return/Quality Issue notes</h4>
                <div class="notes" i18n>Items are not eligible for return/quality issue for the following reasons:</div>
                <div class="legend">
                    <span i18n>NCNR = Non-Cancelable & Non-Returnable</span><br />
                    <span i18n>Item shipped over 6 months ago</span><br />
                </div>
            </div>
        </div>
    </div>

    <hr />
</div>
