@import 'functions';
@import 'colors';

.order-details__meta {
  color: $tundora;
}

.order-details__meta-list-item-title {
  color: $boulder-2;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.order-details__meta-return-rules {
  color: $boulder-2;
  font-size: 1.2rem;
  h4 {
    margin-bottom: 0;
  }
  .notes {
    margin: 0.8rem 0;
  }
  .legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.4rem 0;
    border-left: 4px solid $information-color;
    padding-left: 0.5rem;
  }
}
