<app-dialog-panel class="accept-terms-dialog"
                  data-automation-ref="accept-terms-dialog">
    <app-accept-terms [isUserLoggedIn]="false"
                      (acceptTerms)="onAcceptTerms($event)"></app-accept-terms>
</app-dialog-panel>