@import 'layout';
@import 'colors';

:host {
  @extend .page-template--standard;
}

.search-box-instructions {
  align-self: flex-start;
  margin-top: rem(50);
}

.divider {
  border-right: 1px solid $alto;
}
