<div>
    <h1 class="h2"
        i18n>Compliance</h1>
    <div class="row">
        <div class="col col-6 divider">
            <app-search-form [parsedValues]="parsedValues"></app-search-form>
        </div>

        <div class="col col-6">
            <app-file-upload-component [acceptedFileExtensions]="acceptedFileExtensions"
                                       (actionButtonClick)="handleUpload($event)"></app-file-upload-component>
            <span *ngIf="showFileExtensionError"
                  class="error label__error"
                  role="alert"
                  data-automation-ref="file-upload-extension-error-message"
                  i18n>
                <app-icon symbol="alert"></app-icon> Only .csv, .xls and .xlsx files are accepted.</span>
            <span *ngIf="showFileEmptyError"
                  class="error label__error"
                  role="alert"
                  data-automation-ref="file-upload-empty-error-message"
                  i18n>
                <app-icon symbol="alert"></app-icon> File is empty.</span>
            <span *ngIf="showCorruptFileError"
                  class="error label__error"
                  role="alert"
                  data-automation-ref="file-upload-corrupt-error-message"
                  i18n>
                <app-icon symbol="alert"></app-icon> Invalid or corrupt file.</span>
            <span *ngIf="showUnreadableFileError"
                  class="error label__error"
                  role="alert"
                  data-automation-ref="file-upload-unreadable-error-message"
                  i18n>
                <app-icon symbol="alert"></app-icon> Can't read the file.</span>
            <span *ngIf="showCSVParsingError"
                  class="error label__error"
                  role="alert"
                  data-automation-ref="file-upload-csv-parsing-error-message"
                  i18n>
                <app-icon symbol="alert"></app-icon> An error ocurred during CSV parsing.</span>
        </div>
    </div>
</div>