<app-dialog-panel (close)="dismiss()"
                  *ngIf="(existingBoms$ | async) as boms"
                  [showCloseButton]="!validating && !loading">

  <div dialog-header>

    <h2 i18n>Add to BOM</h2>

    <h3 i18n
        *ngIf="invalidParts && !boms.loading">
      Quantities Do Not Meet Minimum/Multiple Criteria
    </h3>

    <app-listing-message *ngIf="validationError"
                         [error]="true"
                         icon="alert"
                         label="There was an error validating your parts"></app-listing-message>

    <app-listing-message *ngIf="parts && boms.error"
                         [error]="true"
                         icon="alert"
                         label="There was an error getting your BOMs"></app-listing-message>

    <ng-container *ngIf="!boms.error">

      <app-alert *ngIf="displayNotification && (lastModified$ | async) as lastModified"
                 icon="tick-bubble"
                 type="purchase">
        <ng-container i18n
                      *ngIf="lastModified.isNew">
          Your {parts.length, plural, =1 {part was} other {parts were}} added to the new BOM "{{lastModified.name}}".
        </ng-container>
        <ng-container *ngIf="!lastModified.isNew"
                      i18n>Your {parts.length, plural, =1 {part was} other {parts were}} added to the existing
          BOM "{{lastModified.name}}".
        </ng-container>
      </app-alert>

      <app-alert *ngIf="(hasError$ | async)"
                 icon="alert"
                 type="error">
        <ng-container i18n>There was an error adding parts your BOM. Please try again.</ng-container>
      </app-alert>

      <ng-container *ngIf="parts">

        <h3 i18n>New BOM</h3>

        <form (ngSubmit)="createBom()"
              [formGroup]="createBomForm">

          <div class="form-item">
            <div class="form-item__control">

              <input class="input"
                     (focus)="resetExisitingBomForm()"
                     formControlName="newBomName"
                     placeholder="BOM name"
                     type="text"
                     maxlength="100"
                     class="input"
                     autocomplete="off" />

              <app-button *ngIf="!createdBom"
                          [disabled]="!addToNewBomEnabled"
                          type="submit"
                          cssClass="btn-primary"
                          [loading]="(isBusy$ | async) && addToNewBomEnabled">Create</app-button>

              <app-button *ngIf="createdBom"
                          cssClass="btn-primary"
                          [loading]="false"
                          (click)="goToNewBom()">Go to BOM</app-button>

            </div>
          </div>

        </form>

        <div class="cta-container">
          <h3 i18n>Existing BOM</h3>
        </div>

      </ng-container>

    </ng-container>

  </div>

  <app-loader *ngIf="(parts && boms.loading) || validating"
              class="flex flex-direction-column loading-wrapper"></app-loader>

  <table *ngIf="invalidParts"
         class="table__no-alt-rows">
    <thead>
      <tr>
        <th i18n>Manufacturer Part Number</th>
        <th i18n>Minimum</th>
        <th i18n>Multiple</th>
        <th i18n>Proposed Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invalidParts">
        <td>{{item.mpn}}</td>
        <td>{{item.minimumQty}}</td>
        <td>{{item.multiple}}</td>
        <td>{{item.descriptionText}}</td>
      </tr>
    </tbody>
  </table>


  <form *ngIf="parts"
        (ngSubmit)="addPartsToBom()"
        [formGroup]="addToExistingBomForm">

    <p i18n
       *ngIf="!boms.items?.length && !boms.error">There are currently no BOMs in your account.</p>

    <ul *ngIf="boms.items"
        class="binary-control-group__list">

      <li *ngFor="let bom of boms.items"
          class="binary-control-group__list-item">
        <app-radio [radioValue]="bom"
                   (click)="resetCreateBomForm()"
                   formControlName="existingBoms"
                   [label]="bom.name"></app-radio>
      </li>
    </ul>

  </form>

  <div dialog-footer
       class="cta-container">
    <ul class="cta-container__list justify-flex-end">
      <li *ngIf="!validating && !loading"
          class="cta-container__list-item">
        <app-button i18n
                    (click)="dismiss()"
                    class="btn-secondary">Cancel</app-button>
      </li>
      <li *ngIf="invalidParts && !boms.loading"
          class="cta-container__list-item">
        <button (click)="acceptInvalidParts()"
                class="btn btn-primary"
                i18n>Accept Changes</button>
      </li>
      <li *ngIf="parts"
          class="cta-container__list-item">
        <app-button *ngIf="!boms.loading && !boms.error && (!existingBom || !addToExistingBomEnabled)"
                    [disabled]="!addToExistingBomEnabled"
                    cssClass="btn-primary"
                    [loading]="(isBusy$ | async) && addToExistingBomEnabled"
                    (click)="addPartsToBom()">Add to existing BOM</app-button>

        <app-button *ngIf="existingBom && addToExistingBomEnabled"
                    cssClass="btn-primary"
                    (click)="goToExistingBom()">Go to BOM</app-button>
      </li>
    </ul>
  </div>

</app-dialog-panel>