<app-account-page title="MyArrow Account">
    <ng-container main>
        <div>
            <h2 i18n>Reset Password Link Expired</h2>
            <p i18n>
                We are sorry, that link has expired. Please provide your email address again to receive a new link.
            </p>
            <div class="cta-container">
                <ul class="cta-container__list justify-flex-end">
                    <li class="cta-container__list-item">
                        <a routerLink="/recover-password"
                           class="btn btn-primary"
                           i18n
                           type="submit">Reset Password</a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</app-account-page>