<div class="row">
    <div class="col col-12 order-returns-items__attachments">
        <label class="link bold order-returns-items__attachments-upload" [for]="'order-returns-items__attachments_' + orderLine.lineItem">
            <ng-container i18n>Upload Files & Images</ng-container>
            <app-icon symbol="upload"></app-icon>
        </label>
        <p class="order-returns-items__attachments-accepted">
            <span i18n>Please provide a picture of Arrow packages, Arrow label and/or Device Marking</span> <br />
            <span i18n
                >(Accepted file types are: JPG, PNG, GIF, DOC or DOCX, XLS or XLSX, PPT or PPTX, PDF, RTF, TXT, MSG, MPEG, MP4, MOV,
                WMV)</span
            >
        </p>
        <div class="order-returns-items__attachments-file-error" *ngIf="hasErrors() && lineItemHasFocus">
            <span> <app-icon symbol="alert"></app-icon> </span>
            <span *ngIf="isFileSizeInvalid" i18n>File cannot exceed 12 megabytes, please choose a smaller file.</span>
            <span *ngIf="isRepeatedFile" i18n>File name already exists. Please rename and upload again.</span>
            <span *ngIf="isTotalSizeInvalid" i18n
                >Files uploaded cannot exceed 50 megabytes total. Please reduce file size and try again.</span
            >
            <span *ngIf="isFileReadingError">
                <span i18n>An error has occurred</span>
                <label
                    class="link bold order-returns-items__attachments-upload-try-again"
                    [for]="'order-returns-items__attachments_' + orderLine.lineItem"
                >
                    <ng-container i18n>Please try again</ng-container>
                    <app-icon symbol="upload"></app-icon>
                </label>
            </span>
        </div>
        <input
            #fileElement
            [id]="'order-returns-items__attachments_' + orderLine.lineItem"
            type="file"
            class="link"
            name="file"
            data-automation-ref="file-upload-input"
            accept="{{ acceptedFiles }}"
            (change)="onFileChange($event)"
        />
        <div *ngIf="lineItemFiles?.length" class="order-returns-items__attachments-list">
            <div class="row">
                <div class="col col-6">
                    <div class="row">
                        <div class="col col-2 col-attachments"><span class="bold" i18n>Attachments:</span></div>
                        <div class="col col-10">
                            <div *ngFor="let item of lineItemFiles; let i = index" class="row">
                                <div class="col col-4">
                                    <span *ngIf="item.uploaded" class="link">{{ item.file.name }} </span>
                                    <app-loader *ngIf="!item.uploaded"></app-loader>
                                </div>
                                <div class="col col-8 col-remove">
                                    <button *ngIf="item.uploaded" class="link bold" (click)="showConfirmRemoveAttachment(i)">
                                        <app-icon class="remove-icon" symbol="trash"></app-icon>
                                        <span i18n> Delete Attachment</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
