@import 'functions';
@import 'colors';

.order-returns-items {
  &__attachments {
    margin-top: rem(20);
    font-size: 1.2rem;

    button span {
      font-weight: bold;
    }

    input {
      display: none;
    }

    &-upload {
      cursor: pointer;
      app-icon {
        vertical-align: bottom;
      }
      &-try-again {
        padding-left: rem(5);
      }
    }

    &-file-error {
      color: $alizarin-crimson;
      font-weight: bold;
      font-size: 1.2rem;
      padding-bottom: rem(5);

      app-icon {
        vertical-align: bottom;
      }
    }

    &-accepted {
      margin-bottom: rem(5);
    }

    &-list {
      margin-top: rem(20);
      ::ng-deep {
        .loader {
          margin-left: rem(2.5);
          display: inline-block;
          width: 0.5em;
          height: 0.5em;
        }

        .remove-icon {
          vertical-align: bottom;
        }

        .col-attachments {
          width: 13.6%;
        }

        .col-remove {
          padding-left: 0;
        }
      }
    }
  }
}
