<div data-automation-ref="file-upload-container">
    <h2  class="h3" data-automation-ref="file-upload-title" i18n>Upload a file to search</h2>
    <div data-automation-ref="file-upload-help" class="file-upload-help">
        <p i18n>
            To upload a list of part number, click &quot;choose a file&quot; to locate a file and click upload. Part numbers will be auto-populated into the part numbers field.
        </p>
        <p>
            <strong i18n>Upload .xls, .xlsx and .csv files only.</strong>
        </p>
    </div>
    <div class="file-upload__control">
        <label
            [for]="inputId"
            class="btn btn-secondary"
            data-automation-ref="file-upload-label"
            i18n
        >Choose a file</label>
        <input
            #fileElement
            type="file"
            class="input file"
            [id]="inputId"
            name="file"
            multiple="false"
            [attr.accept]="acceptedFileExtensions || null"
            (change)="onFileChange($event)"
            data-automation-ref="file-upload-input"
        />
        <div
            class="file-upload__filename"
            data-automation-ref="file-upload-filename"
        >{{fileTitle}}</div>
        <button
            class="btn btn-primary"
            data-automation-ref="file-upload-button"
            (click)="sendFile()"
            [disabled]="!isFileReady"
            i18n
        >Upload</button>
    </div>
</div>
