@import "functions";
@import "variables";

.file-upload__control {
  display: flex;
  justify-content: space-between;
  label {
    display: inline-block;
  }
  input {
    display: none;
  }
  .file-upload__filename {
    border-color: $alto;
    border-style: solid;
    border-width: 1px 0;
    color: $boulder-1;
    flex-grow: 1;
    padding: em(7, 10) em(10, 10);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
