@import 'variables';
@import 'helpers';
@import 'colors';

.order-details__item {
  width: 28%;
}
.order-details__cpn {
  width: 22%;
}
.order-details__ncnr {
  width: 10%;
}
.order-details__request_date {
  width: 10%;
}
.order-details__price {
  width: 10%;
}
.order-details__quantity {
  width: 10%;
}
.order-details__total {
  width: 10%;
}

.order-details {
  &__title {
    @extend .flex;
    @extend .align-items-center;

    &-text {
      margin: 0;
    }
    &-qty {
      margin: 0 0 0 $spacing-x-1;
      color: $boulder-2;

      &.h4 {
        margin-left: rem(4);
      }
    }
  }

  &__link {
    margin-right: $spacing-x-2;
  }

  &__selection-cell {
    vertical-align: top;
    padding-left: em(30, 12);
  }

  &__item-name {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    .tariff-indicator {
      font-size: rem(20);
      position: absolute;
      left: rem(6);
      width: rem(20);
      line-height: rem(20);
      text-align: center;
      cursor: help;
      ::ng-deep {
        [appTooltip] {
          margin: 0;
          width: auto;
          height: auto;
          border: 0;
          line-height: inherit;
        }
      }
    }
  }

  &__tariff-message {
    font-size: rem($small-font-size);
    margin-bottom: 0;
  }

  &__table td:nth-child(1),
  &__table th:nth-child(1) {
    padding-left: 30px;
  }

  .order-confirmation-section__title {
    margin-bottom: $base-spacing;
  }

  &__table {
    margin-top: rem(7);
  }

  .edit-order__wrapper {
    margin-top: rem(12);
  }
}

.prop-65-warning {
  padding: rem(15);
  border: solid rem(1) $listing-message-outline-color;

  .warning-label {
    font-weight: bold;
  }
}
