<div class="order-details">
    <div class="order-confirmation-section__title order-details__title">
        <h2 class="order-details__title-text" *ngIf="!displayOnly" i18n>Order Details</h2>
        <h3 class="order-details__title-text" *ngIf="displayOnly" i18n>Order Information</h3>
        <h3
            class="order-details__title-qty"
            [ngClass]="{
                h4: displayOnly
            }"
            i18n
        >
            ({{ items.length }})
        </h3>
    </div>
    <p *ngIf="displayTariffInfo" class="order-details__tariff-message">
        <ng-container i18n>* Items in your cart have an estimated US Customs Tariff charge associated with them.</ng-container>
        <a href="https://www.arrow.com/en/support/tariff-support/tariff-lists" target="_blank" i18n>See more info</a>.
    </p>

    <div class="cta-container edit-order__wrapper" *ngIf="!displayOnly">
        <div class="cta-container__list">
            <a routerLink="/cart" class="icon-link order-details__link" i18n>
                <app-icon symbol="cart" class="icon-link__icon"></app-icon>
                Edit Order</a
            >
        </div>
    </div>

    <table appStickyHeader class="order-details__table">
        <thead>
            <tr>
                <th class="order-details__item" i18n>Item</th>
                <th class="order-details__cpn" i18n>Customer <br />Part Number</th>
                <th class="order-details__ncnr" i18n>NCNR</th>
                <th class="order-details__request_date" i18n>Request Date</th>
                <th class="order-details__price" i18n>Price</th>
                <th class="order-details__quantity" i18n>Quantity</th>
                <th class="order-details__total" i18n>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td class="order-details__item">
                    <div *ngIf="displayTariffInfo && item.tariffApplicable && item.tariffValue > 0" class="tariff-indicator">
                        <span
                            appTooltip="Item has a US Customs tariff charge"
                            placement="top"
                            data-automation-ref="quote-tariff-indicator"
                            [customStyles]="{ 'max-width': '22rem' }"
                            >*</span
                        >
                    </div>
                    <strong>{{ item.manufacturerPartNumber }}</strong> <br />{{ item.manufacturer }}
                    <p class="order-details__item-name">{{ item.description }}</p>
                    <div *ngIf="item.quoted" class="information-text" i18n>
                        <app-icon symbol="i-bubble" class="icon-link__icon"></app-icon> Quoted Item
                    </div>
                </td>
                <td class="order-details__cpn">{{ getCustomerPartNumber(item) }}</td>
                <td class="order-details__ncnr" i18n>{item.ncnr ? item.ncnr.toString() : 'false', select, true {Yes} false {No}}</td>
                <td class="order-details__request_date">{{ item.requestDate }}</td>
                <td class="order-details__price">{{ item.price | formattedPrice: (currencyCode$ | async) }}</td>
                <td class="order-details__quantity">{{ item.quantity }}</td>
                <td class="order-details__total">{{ multiply(item.price, item.quantity) | formattedPrice: (currencyCode$ | async) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col col-9 prop-65-warning" data-automation-ref="prop-65-warning" *ngIf="prop65Flag">
            <div class="row">
                <app-icon symbol="alert" class="icon-link__icon" class="col-1"></app-icon>

                <div class="col col-11" i18n>
                    <span class="warning-label">WARNING:</span> These products can expose you to chemicals including Nickel, which is known
                    to the State of California to cause cancer and Methanol, which is known to the State of California to cause birth
                    defects or other reproductive harm. For more information go to www.P65Warnings.ca.gov
                </div>
            </div>
        </div>

        <div class="col col-3" [class.col-offset-9]="!prop65Flag">
            <app-subtotal-display [items]="items" itemValueKey="total" title="Subtotal"></app-subtotal-display>
        </div>
    </div>
</div>
