@import 'variables';
@import 'functions';

.order-returns-header {
  padding-bottom: rem(35);
  margin-top: rem(10);
  border: 1px solid $outline-color;

  table {
    margin-top: 0;
    th {
      border-right: none;
      padding-left: rem(20);
      padding-bottom: rem(7.5);
      padding-top: rem(15);
    }

    td {
      border-bottom: none;
      padding-left: rem(20);
      padding-top: rem(5);
    }

    .return-column {
      width: 10.5%;
    }
  }

  hr {
    margin: rem(10) 0 rem(10) 0;
  }

  &__content {
    padding: 0 rem(20) 0 rem(20);

    .icon-link__icon {
      margin-bottom: rem(4);
    }

    .required {
      font-weight: bold;
      color: $error-color;
    }

    .returning {
      ::ng-deep {
        label {
          flex-direction: row-reverse;
          .binary-form-control__text {
            margin-right: rem(5);
            margin-left: rem(10);
          }
        }
      }
    }

    .contacts {
      padding: rem(10) 0 rem(10) 0;
      color: $text-color;
    }

    .reasons {
      max-width: 25%;
      padding-top: rem(10);
    }

    .description {
      textarea {
        border: 1px solid $outline-color;
        width: 100%;
        height: 114px;
        resize: none;
        padding: rem(12);
      }
    }

    .empty-phone {
      margin-left: 35%;
    }

    .defective-parts {
      padding-bottom: rem(25);

      app-checkbox {
        padding-right: rem(10);
      }
    }

    .packaging {
      padding-bottom: rem(20);
    }

    app-checkbox {
      ::ng-deep {
        .binary-form-control__text {
          margin-left: rem(2.5);
        }
      }
    }

    app-radio {
      ::ng-deep {
        .binary-form-control__button {
          margin-left: rem(10);
        }
        .binary-form-control__text {
          margin-left: rem(2.5);
        }
      }
    }

    .reference-number {
      input {
        width: 16.5%;
      }
      margin-bottom: rem(5);
    }
  }
}
