<div class="order-returns-header">
    <table>
        <thead>
            <tr>
                <th class="return-column" i18n>Sales Order#</th>
                <th i18n>Customer PO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ details?.salesOrderId }}</td>
                <td>{{ details?.purchaseOrderNumber }}</td>
            </tr>
        </tbody>
    </table>

    <div class="order-returns-header__content">
        <div class="row">
            <div class="col col-4"><label class="label" i18n>Arrow Sales Contact Email</label></div>
            <div class="col col-4"><label class="label" i18n>Customer Email Address</label></div>
            <div class="col col-4"><label class="label" i18n> Customer Contact Phone </label></div>
        </div>

        <div class="row contacts">
            <div class="col col-4">
                {{ user?.contact.customerServiceEmail }}<app-icon symbol="pencil" class="icon-link__icon"></app-icon>
            </div>
            <div class="col col-4">{{ user?.email }}<app-icon symbol="pencil" class="icon-link__icon"></app-icon></div>
            <div class="col col-4">
                {{ user?.phoneNumber }}
                <app-icon symbol="pencil" class="icon-link__icon" [class.empty-phone]="!user?.phoneNumber"></app-icon>
            </div>
        </div>
    </div>

    <hr />
    <div ngModelGroup="header">
        <div class="order-returns-header__content">
            <div class="row">
                <div class="col col-12">
                    <span class="required" i18n>All fields are required</span>
                    <span class="float-right returning">
                        <label i18n>I am returning parts</label>
                        <app-checkbox
                            name="partsYes"
                            [(ngModel)]="partsYes"
                            label="Yes"
                            #checkYes
                            (valueChange)="unCheckReturningPartsAnswer($event, checkNo)"
                            required
                        >
                        </app-checkbox>
                        <app-checkbox
                            name="partsNo"
                            [(ngModel)]="partsNo"
                            label="No"
                            #checkNo
                            (valueChange)="unCheckReturningPartsAnswer($event, checkYes)"
                            required
                        >
                        </app-checkbox>
                    </span>
                </div>
            </div>
        </div>

        <div class="order-returns-header__content">
            <div class="row">
                <div class="col col-12">
                    <div class="form">
                        <div class="form-item reasons">
                            <div class="form-item__label"><label class="label" i18n>Reason for Return</label></div>
                            <div class="form-item__control">
                                <app-dropdown
                                    [options]="returnReasons"
                                    (select)="selectReason($event.value)"
                                    [value]="selectedReason"
                                    placeholder="Select a Reason for Return"
                                    i18n-placeholder
                                >
                                </app-dropdown>
                            </div>
                        </div>

                        <div class="form-item description">
                            <div class="form-item__label"><label class="label" i18n>Description of Problem</label></div>
                            <div class="form-item__control">
                                <textarea
                                    name="description"
                                    ngModel
                                    required
                                    maxlength="4000"
                                    placeholder="Enter Description"
                                    i18n-placeholder
                                >
                                </textarea>
                            </div>
                        </div>

                        <div class="defective-parts" *ngIf="isSelectOneVisible()">
                            <div class="form-item__label"><label class="label" i18n>Please select at least one</label></div>
                            <app-checkbox
                                name="repair"
                                [(ngModel)]="repairOption"
                                label="Repair / Replacement"
                                required
                                (valueChange)="verifyCheckboxSelection()"
                            >
                            </app-checkbox>
                            <app-checkbox
                                name="failure"
                                [(ngModel)]="failureOption"
                                label="Failure / Analysis Required"
                                *ngIf="areDefectivePartsVisible()"
                                required
                                (valueChange)="verifyCheckboxSelection()"
                            >
                            </app-checkbox>
                            <app-checkbox
                                name="credit"
                                [(ngModel)]="creditOption"
                                label="Credit Required"
                                required
                                (valueChange)="verifyCheckboxSelection()"
                            >
                            </app-checkbox>
                        </div>

                        <div class="packaging" *ngIf="isCreditRequiredVisible()">
                            <span i18n>Credit Required</span>
                            <app-radio label="Yes" name="creditRequired" ngModel [radioValue]="true" required></app-radio>
                            <app-radio
                                label="No"
                                name="creditRequired"
                                [radioValue]="false"
                                [(ngModel)]="isCreditRequired"
                                required
                            ></app-radio>
                        </div>

                        <div *ngIf="isCAPARequestedVisible()">
                            <div class="form-item reference-number" *ngIf="hasCAPA">
                                <div class="form-item__label"><label class="label" i18n>CAPA Reference Number</label></div>
                                <div class="form-item__control"><input name="capaNumber" ngModel maxlength="255" required /></div>
                            </div>
                            <span i18n>CAPA Requested</span>
                            <app-radio label="Yes" name="capa" ngModel [radioValue]="true" required></app-radio>
                            <app-radio label="No" name="capa" [radioValue]="false" [(ngModel)]="hasCAPA" required></app-radio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
