<form [formGroup]="form"
      (ngSubmit)="getReelPrice()">
    <div class="row">
        <div class="col">
            <p data-automation-ref="reel-description"
               i18n>Arrow Reel is a custom quantity of a cut-strip product with a leader/trailer on a new reel (spliced per EIA standards),
                enabling usage for automated assembly equipment.</p>
            <p data-automation-ref="reel-note"
               i18n>
                <strong>Note:</strong> In most cases we can ship your Arrow Reel order within one business day.</p>
            <div>
                <p *ngIf="error$ | async"
                   class="error"
                   data-automation-ref="reel-pricing-error"
                   i18n>Can't calculate the price, please try again later.</p>
            </div>
        </div>
    </div>
    <div class="row"
         *ngIf="product.endCustomerRecords?.length">
        <div class="col col-6">
            <app-end-customer-dropdowns [data]="product.endCustomerRecords"
                                        [defaultCpn]="product.cpn"
                                        [defaultEndCustomerId]="product.endCustomerId"
                                        [searchQuery]="form.cpn?.value"
                                        (dropdownsSelectionChange)="onDropdownsSelectionChange($event)"
                                        data-automation-ref="cpn-ec-dropdown">
            </app-end-customer-dropdowns>
        </div>
    </div>

    <div class="row">
        <div class="col col-6">
            <p>
                <strong i18n>Inventory Available:</strong>
                <span class="reel__inventory"
                      data-automation-ref="inventory">{{product.availableQuantity}}</span>
            </p>
        </div>
        <div class="col col-6">
            <p>
                <strong i18n>Price per part:</strong>
                <span class="reel__price-per-part"
                      data-automation-ref="price-per-part">{{ reelPrice?.price.unit | formattedPrice:(currencyCode)}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-6">
            <label for="itemsPerReel"
                   class="label"># of parts on a reel</label>
            <input data-automation-ref="items-per-reel"
                   id="itemsPerReel"
                   class="input"
                   placeholder="Number of Parts"
                   i18n-placeholder
                   type="number"
                   autocomplete="off"
                   appOnlyPositiveNumbers
                   appNoLeadingZeros
                   formControlName="itemsPerReel"
                   [class.input--error]="form.get('itemsPerReel').invalid && form.get('itemsPerReel').touched"
                   (paste)="false" />
        </div>
        <div class="col col-6">
            <label for="numberOfReels"
                   class="label"># of reels</label>
            <input data-automation-ref="items-per-reel"
                   class="input"
                   id="numberOfReels"
                   placeholder="Number of Reels"
                   i18n-placeholder
                   type="number"
                   autocomplete="off"
                   appOnlyPositiveNumbers
                   appNoLeadingZeros
                   formControlName="numberOfReels"
                   [class.input--error]="form.get('numberOfReels').invalid && form.get('numberOfReels').touched"
                   (paste)="false" />
        </div>
    </div>

    <div class="row">
        <div class="col col-6 col-offset-6 right-align">
            <app-button type="submit"
                        class="reel__calculate-subtotal"
                        cssClass="btn-primary"
                        [loading]="calculating$ | async"
                        [disabled]="!form.valid"
                        data-automation-ref="calculate-subtotal"
                        i18n>Calculate Subtotal</app-button>
        </div>
    </div>
    <div class="row">
        <div class="col col-6 col-offset-6 right-align">
            <h3 class="reel__subtotal">
                <ng-container i18n>Subtotal:</ng-container>
                <span>{{ reelPrice?.price.total | formattedPrice:(currencyCode):'subTotal'}}</span>
            </h3>
        </div>
    </div>
</form>