@import 'colors';
@import 'functions';
@import 'helpers';

.reel__calculate-subtotal {
  margin-top: rem(50);
  display: block;
}

.reel__subtotal {
  margin-top: rem(30);
  span {
    color: $secondary-text-clr;
  }
}
