<app-dialog-panel (close)="onClose(false)" data-automation-ref="quantity-modal" class="quantity-modal__dialog">
    <div dialog-header><h2 data-automation-ref="modal-header" i18n>Change Quantity</h2></div>
    <p data-automation-ref="modal-are-you-sure" i18n>
        Changing the quantity from quoted item(s) in this order will need a review from a Sales Representative before is finalized.
    </p>
    <p data-automation-ref="modal-information-message" i18n>
        <app-icon symbol="i-bubble" class="form-item__error-icon"></app-icon>If you choose cancel, quantities won't be updated.
    </p>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button" class="btn btn-secondary" i18n (click)="onClose(false)">Cancel</button>
            </li>
            <li class="cta-container__list-item">
                <app-button cssClass="btn-primary" (click)="onClose(true)" data-automation-ref="confirm-button" i18n>Continue</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
