<div class="wrap">
    <app-listing-message label="Sorry, we are unable to process your request."
                         icon="alert"
                         error="true">
        <p i18n>
            Please contact your Arrow Sales Representative for more information.
        </p>
        <p i18n>
            Thank you for your ongoing business and support as we continue to improve our service
        </p>
        <p>
            <button i18n
                    routerLink="/login"
                    class="icon-link">Go back to MyArrow</button>
        </p>
    </app-listing-message>

</div>