@import 'variables';
@import 'mixins';

.intro {
  color: $boulder-2;
}

.terms {
  height: rem(400);
  overflow: auto;
  border: rem(1) solid $outline-color;
  padding: rem(20);
  font-size: em(12);
  color: $secondary-text-clr;
}

.terms__title {
  color: $black;
  padding-top: rem(15);
  margin-bottom: rem(10);
}

.terms__list {
  list-style: disc;
  margin-left: rem(15);
  li {
    margin-bottom: rem(10);
  }
}

.terms__checkbox {
  font-size: em(12);
}
