<h3 i18n
    class="h2">Terms of Use</h3>
<p class="intro"
   i18n>Please read and agree to the Terms of Use below:</p>
<div i18n
     class="terms"
     appScrollToEndSpy
     #appScrollSpy="appScrollToEndSpy">
    <p>Following are the terms and conditions or "Terms" that govern use of this Arrow (as defined below) website (the "Site").
        By using or visiting the Site, you expressly agree to be bound by these Terms and all applicable laws and regulations
        governing the Site. Arrow Electronics, Inc., its subsidiaries and/or affiliates ("Arrow") reserve the right to change
        these Terms at any time, effective immediately upon posting on the Site. If you violate these Terms, Arrow may terminate
        your use of the Site, bar you from future use of the Site, and/or take appropriate legal action against you.&nbsp;
        Arrow may make available via the Site content, including (but not limited to) information, articles, videos, comments,
        reviews and other texts, photos, pictures and other images, software, or applications (together referred to as &ldquo;Content&rdquo;).
        &nbsp;You agree that Arrow, Arrow&rsquo;s affiliated entities and/or licensors own all Content made available through
        the Site.&nbsp; Such Content is subject to U.S and international copyright, trademark or other intellectual property
        rights and laws.</p>

    <p>If you have comments, questions or requests please write to
        <a href="mailto:webrequest@arrow.com">webrequest@arrow.com</a>.</p>

    <h3 class="terms__title">Permitted Use</h3>

    <p>You agree that you are only authorized to visit and view pages of this Site for your own personal use, and that you
        shall not duplicate, publish, modify or otherwise distribute the material on this Site for any purpose other than
        as set forth herein. You may only use the Site as permitted by law, including applicable export and re-export laws
        and regulations.&nbsp; The software on this Site and any Content posted by Arrow on the Site is the property of Arrow
        and/or its suppliers and is protected by U.S. and international copyright laws. You agree that you will not remove,
        obscure or alter any legal notices displayed on the Site.&nbsp; You agree that you will not use the Site (i) in connection
        with or to promote any products, services, or materials, (ii) in any manner or for any purpose that violates any
        law or regulation, any right of any person, including but not limited to intellectual property rights, rights of
        privacy, or rights of personality, or (iii) to post any information that disparages or defames any person or entity.&nbsp;</p>

    <h3 class="terms__title">Links &amp; Search Results</h3>

    <p>By using the Site to search for or link to another site, you agree and understand that you may not make any claim
        against Arrow for any damages or losses, whatsoever, resulting from your use of the Site to obtain search results
        or to link to another site.
    </p>

    <h3 class="terms__title">Access &amp; Interference</h3>

    <p>You agree that you will not use any robot, spider, other automatic device, or manual process to monitor or copy our
        Site or the Content contained thereon, to access or capture data, or for any other unauthorized purpose without our
        prior express written permission of Arrow. You agree that you will not use any device, software or routine to interfere
        or attempt to interfere with the proper working of the Site. You agree that you will not take any action that imposes
        an unreasonable or disproportionately large load on our infrastructure. The Content is protected by copyright laws
        as well as international copyright treaties as well as other laws and conventions related to intellectual property.&nbsp;
        You agree that you will observe such laws and in particular shall not modify, conceal or remove any alphanumeric
        code, marks or copyright notices neither from the Content, the software or documentation, or any copies thereof.</p>

    <h3 class="terms__title">Accounts</h3>

    <p>Certain functionality on this Site may require the use of an Arrow Account.&nbsp; You or your employer (&ldquo;Customer&rdquo;)
        may create your own Arrow Account or one may be assigned to you by Arrow. Customer is solely responsible for maintaining
        the security of the IDs and passwords, for insuring that none are made available for any purpose to anyone other
        than Customer's employees, and for insuring that employees do not share their specifically assigned IDs or passwords
        with anyone at all, or share a floating ID and password with anyone other than the Customer&rsquo;s employees. If
        Customer wishes to revoke an access ID and password, which it may do at any time and must do immediately in the event
        of the termination of any employee using one, Customer will notify Arrow of such revocation. Arrow will invalidate
        the ID and password and, if requested by Customer, may provide replacements. If you suspect that someone else knows
        or has changed your password, please reset it so no one else can sign in to your account.</p>

    <h3 class="terms__title">Unauthorized Use Of The Site</h3>

    <p>Illegal and/or unauthorized uses of the Site, including, but not limited to unauthorized framing of or linking to
        the Site, or unauthorized use of any robot, spider or other automated device on the site, will be investigated and
        appropriate legal action will be taken, including without limitation civil, criminal and injunctive redress. You
        agree that you will comply with any security processes and procedures (such as passwords) specified by Arrow with
        respect to access to or use of the Site. Further, you agree not to access or attempt to access any areas of or through
        a Site which are not intended for general public access, unless you have been provided with written authorization
        to do so by Arrow.
    </p>

    <h3 class="terms__title">Compliance with Laws</h3>

    <p>You agree that you will only use the Site only for lawful purposes. You will not transmit, post, store, distribute,
        display or present any information, software, data, file or material in violation of any applicable law or regulation.
        You will not use the Site to facilitate, or otherwise assist others in, the violation of any law or regulation.&nbsp;
        You are solely responsible for ensuring that materials transmitted, posted, stored, distributed, displayed or presented
        using the Site comply with this Agreement and all applicable laws and regulations.</p>
    <ul class="terms__list">
        <li>You may not use the Site or the services to violate any law, statute, ordinance or regulation including export,
            intellectual property and privacy laws.</li>

        <li>United States export control laws govern your use of this Site and services. These laws apply to you and your
            use of this Site and services regardless of whether you actually reside in the United States.&nbsp; Additional
            information about United States export laws is available from the United States government&rsquo;s portal to
            exporting and trade services at
            <a href="http://www.export.gov/"
               target="_blank">http://www.export.gov/</a>.</li>

        <li>We do not represent that Content on the Site is applicable, appropriate, or available for use in locations outside
            the United States. Persons who choose to access the Site from locations outside of the United States do so on
            their own initiative, and are solely responsible for compliance with local laws, if and to the extent local laws
            are applicable.</li>

        <li>You understand that your design(s) on the Site (to the extent that you upload any designs) may be subject to
            export, re-export, or other restrictions under the laws of the country of original design and the country in
            which you reside.&nbsp; Therefore, you agree to abide by all applicable laws and regulations relating to the
            export and re-export of such design(s).&nbsp; In particular:
            <br />
            <br />

            <p>1. You understand that, if designing ITAR controlled items, you agree to comply with 22 CFR 122 U.S. International
                Traffic in Arms Regulation (&ldquo;ITAR&rdquo;).&nbsp; You understand that any export or re-export of any
                ITAR controlled item or technology requires authorization from the U.S. Department of State Directorate of
                Defense Trade Controls (DDTC).
            </p>

            <p>2. You understand that design(s) of U.S. origin items, and foreign manufactured products that incorporate
                U.S.-origin content are subject to the U.S. Export Administration Regulations (&ldquo;EAR&rdquo;).&nbsp;
                In the event of export of your design(s), you will obtain all required permissions (i.e., export licenses,
                permits, etc., as applicable) from the U.S. government and any other applicable government.&nbsp;
            </p>

            <p>3. You certify that, except as authorized under applicable laws and regulations, your design(s) will not be
                used, sold, re-exported or incorporated into products used directly or indirectly in the design, development,
                production, stockpiling, or use of chemical or biological weapons, nuclear programs, missiles, and maritime
                nuclear propulsion projects.
            </p>

            <p>4. You certify that, except as authorized under applicable laws and regulations, your design(s) will not be
                used, sold, re-exported or incorporated into products for use by military, police or intelligence entities,
                for any space applications, or for use in foreign vessels or aircraft.</p>

            <p>5. You certify that the your design(s) on the Site will not be used directly or indirectly, sold, re-exported
                or incorporated into products for the benefit of persons or entities named on any United States denied or
                restricted party list, including the Entity List at Part 744 of the Export Administration Regulations, persons
                designated by the U.S. government as Specially Designated Global Terrorists (SDGTs), Specially Designated
                Terrorists (SDTs), Foreign Terrorist Organizations (FTOs) on the Specially Designated National (SDN) list;
                or other applicable government denied or restricted party list.
            </p>

            <p>6. You certify that your design(s) on the Site will not be exported or re-exported directly or indirectly,
                or diverted to any country in violation of any United Nations, United States, European Union or any other
                applicable embargo.
            </p>

            <p>7. If you are an employee, agent or contractor of, or otherwise affiliated with a non-U.S. government, you
                certify that you understand and agree to comply with all applicable restrictions as defined in the U.S. EAR,
                ITAR and OFAC sanctions and embargoes, and any other applicable local and foreign law and or regulation.</p>

            <p>8. You certify that, if you are unable to fulfill the above certifications, or if any of the information provided
                by you in this Service agreement shall change at any time, you will advise Arrow of the changes in writing
                before further using the Site.
            </p>
        </li>
    </ul>

    <h3 class="terms__title">User Content</h3>

    <p>The Site may allow you to create or otherwise submit information, data, text, messages, or other materials ("User
        Content"). You may not place or send any User Content or information over this system that violates any law or infringes
        on the rights of any third party.&nbsp; In those instances where you store information that is intended to be used
        only by you (or someone representing you) and/or Arrow, Arrow claims no ownership or control over any User Content
        submitted, posted or displayed by you on or through the Site. &nbsp;You or a third party licensor, as appropriate,
        retain all patent, trademark and copyright rights to any User Content you submit, post or display on or through the
        Site and you are responsible for protecting those rights, as appropriate. &nbsp; When you enter, upload or otherwise
        submit User Content to the Site that is intended to be available to members of the public or others you have chosen
        to share it with, you give Arrow a worldwide license to use, host, store, reproduce, modify, communicate and distribute
        such User Content as intended.&nbsp; &nbsp; This license continues even if you stop using our Site (for example,
        User Content posted for a forum).&nbsp; Arrow reserves the right to delete or eliminate any User Content you provide
        that it deems improper or inappropriate.&nbsp;&nbsp;&nbsp; You represent and warrant you have the necessary rights
        to grant Arrow this license for all User Content submitted to the Site.</p>

    <h3 class="terms__title">Blog and Forum Content</h3>

    <p>In the event that Arrow or any Arrow employee or agent is involved in creating, producing or delivering an article&nbsp;or
        any materials contained therein, neither, Arrow, Arrow&rsquo;s employee nor the agent shall be liable for any direct,
        indirect, incidental, special, consequential or punitive damages arising out of the use of this article.&nbsp; &nbsp;In
        the event that you participate in any blog or forum, you assume any liability or responsibility for the accuracy,
        completeness, or usefulness of any information provided.&nbsp; You will also include a disclaimer that states that
        it is your opinion and not the opinion of Arrow. &nbsp;You agree to fully indemnify and defend Arrow, its employees,
        directors, or agents for any claims that may arise of the content you provide in any blog.</p>

    <h3 class="terms__title">Violation of the Terms</h3>

    <p>You understand and agree that in Arrow's sole discretion, and without prior notice, Arrow may terminate your access
        to the Site, or exercise any other remedy available if Arrow believes that your use is (i) inconsistent with these
        Terms or (ii) has violated the rights of Arrow, another user or the law. You agree that monetary damages may not
        provide a sufficient remedy to Arrow for violations of these terms and conditions and you consent to injunctive or
        other equitable relief for such violations. Arrow may release user information about you if required by law or subpoena,
        or if the information is necessary or appropriate to release to address an unlawful or harmful activity.</p>

    <h3 class="terms__title">Copyright</h3>

    <p>Unless otherwise specified, the copyrights in all copyrightable subject matter on the Site are either owned by Arrow
        or used lawfully by Arrow. To the extent that Arrow has the right to do so without compensation to third parties,
        and except for materials or information specifically provided under other terms, Arrow grants you permission to copy
        or otherwise download from the Site, information and materials (including related graphics), provided:</p>
    <ul class="terms_list">
        <li>The materials are for your internal use only, and</li>
        <li>Any copies of materials or portions thereof must include the copyright notice specified on the Site.</li>
    </ul>
    <p>You may not copy or display for redistribution to third parties any portion of the Site without the prior written
        permission of Arrow. Documents posted by Arrow on the Site may contain other proprietary notices or describe products,
        services, processes or technologies owned by Arrow or third parties. Nothing contained herein shall be construed
        by implication, estoppel or otherwise as granting to the user a license under any copyright, trademark, patent or
        other intellectual property right of Arrow or any third party.</p>

    <h3 class="terms__title">Trademark</h3>

    <p>The Arrow name and logo and all related product and service names, design marks and slogans are trademarks, service
        marks or registered trademarks of Arrow and may not be used in any manner without the prior written consent of Arrow.
        Other products and service marks are trademarks of their respective owners.</p>

    <h3 class="terms__title">Limitation Of Liability</h3>

    <p>YOU ASSUME ALL RESPONSIBILITY AND RISK FOR THE USE OF THIS SITE AND THE INTERNET GENERALLY. IN NO EVENT SHALL ARROW
        BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER; INCLUDING BUT NOT
        LIMITED TO LOSS OF USE, DATA, OR PROFITS, WITHOUT REGARD TO THE FORM OF ANY ACTION, INCLUDING BUT NOT LIMITED TO
        CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTIONS, ARISING OUT OF OR IN CONNECTION WITH THE USE, OF THIS SITE ARROW
        MAKES NO WARRANTY AS TO THE ACCURACY, OR COMPLETENESS OR WHETHER THE CONTENT IS UP TO DATE. IT IS YOUR RESPONSIBILITY
        TO VERIFY ANY INFORMATION BEFORE RELYING ON IT. THE CONTENT OF THIS SITE MAY INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL
        ERRORS. FROM TIME TO TIME, CHANGES ARE MADE TO THE CONTENT HEREIN.</p>

    <h3 class="terms__title">Warranty Disclaimer</h3>

    <p>ARROW DOES NOT PROMISE THAT THE SITE OR ANY SERVICES PROVIDED HEREUNDER WILL BE ERROR-FREE, UNINTERRUPTED, NOR THAT
        IT WILL PROVIDE SPECIFIC RESULTS FROM USE OF THE SITE OR ANY CONTENT, FUNCTIONALITY OR LINK ON IT. ACCESS TO THE
        SITE (INCLUDING ANY INFORMATION OR MATERIALS THEREIN) IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY
        KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, NONINFRINGEMENT OR IMPLIED WARRANTIES
        OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. NO ADVICE OR INFORMATION GIVEN BY ARROW, ITS AFFILIATES OR
        THEIR RESPECTIVE EMPLOYEES SHALL CREATE ANY WARRANTY. NEITHER ARROW NOR ITS AFFILIATES WARRANT THAT THE INFORMATION
        OR MATERIALS ON, OR ACCESS TO, ANY SITE WILL BE WITHOUT INTERRUPTION OR ERROR FREE.</p>

    <h3 class="terms__title">Disputes</h3>

    <p>If there is any dispute about or involving the Site, by using the Site, you agree that the dispute will be governed
        by the laws of the State of New York without regard to its conflict of law provisions. You agree to personal jurisdiction
        by and venue in the state and federal courts of the State of Colorado, Arapahoe County.</p>

    <h3 class="terms__title">Indemnity</h3>

    <p>You agree to indemnify and hold Arrow, its officers, agents and other partners and employees, harmless from any loss,
        liability, claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of
        your use of the Site, including also your use of the Site to provide a link to another site or to upload Content
        or other information to the Site.
    </p>

    <h3 class="terms__title">Digital Millennium Copyright Act &ndash; Copyright Infringement</h3>

    <p>Pursuant the Digital Millennium Copyright Act, all claims of copyright infringement for material that is believed
        to be residing on Arrow's system or network, should be promptly sent in the form of written communication to Arrow's
        Designated Agent:</p>

    <p>Law Department&nbsp;
        <br /> Arrow Electronics, Inc.&nbsp;
        <br /> 9201 East Dry Creek Road Centennial, Colorado&nbsp; 80112
        <br /> Phone: (303) 824-4000Fax: (303) 824-3767 &nbsp;
        <br /> Email:&nbsp;
        <a href="mailto:mhillery@arrow.com">compliance@arrow.com</a>
    </p>

    <p>All claims must include the following information:</p>

    <ul class="terms__list">
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right
            that is allegedly infringed;</li>

        <li>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a
            single on-line site are covered by a single notification, a representative list of such works at that site;</li>

        <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and
            that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the
            service provider to locate the material;</li>

        <li>Information reasonably sufficient to permit the service provider to contact the Complaining Party, such as an
            address, telephone number, and if available, an electronic mail address at which the complaining party may be
            contacted;
        </li>

        <li>A statement that the Complaining Party has a good faith belief that use of the material in the manner complained
            of is not authorized by the copyright owner, its agent, or the law; and</li>

        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the Complaining
            Party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
    </ul>

    <h3 class="terms__title">Linking Policy Statement</h3>

    <p>
        <strong>User Policy &ndash; Outbound Linking Policy Statement</strong>
    </p>

    <p>Any link (including hyperlinks, buttons or referral devices of any kind) used on this or any other Arrow web page
        is provided for the use and convenience of the visitor. The appearance of a link on this or any other Arrow web page
        does not constitute an endorsement, recommendation or certification by Arrow, nor should the presence of a link in
        any way be construed as a suggestion that the site has any relationship with Arrow.</p>

    <p>
        <strong>User Policy - Inbound Linking Policy Statement&nbsp;</strong>
    </p>

    <p>Arrow generally does not object to links to Arrow websites from third party sites. However, there are certain conditions
        that must be followed:</p>

    <ul class="terms__list">
        <li>Unless we enter into a specific written agreement with you, you may not use any of Arrow's names, logos, designs,
            slogans, product trademarks or service marks in or with your links, except that you may link to an Arrow site
            using the plain text name of that site or the plain text name of Arrow.</li>

        <li>Do not present the link to Arrow's site in any way that suggests Arrow has any relationship or affiliation with
            your site or endorses, sponsors or recommends the information, products or services on your site. Do not use
            any of Arrow's names, logos, designs, slogans, product trademarks or service marks in any advertising, publicity,
            promotion, or in any other commercial manner without the prior express written permission for a particular use
            from Arrow.</li>

        <li>Link only to the home page/first page/registration page of this site and do not incorporate any Content from
            this site into your site (e.g., by in-lining or framing).
        </li>

        <li>Do not use any of Arrow's names, logos, designs, slogans, product trademark or service parks, or any other words
            or codes identifying Arrow's Web sites in any "meta tag" or other information used by search engines or other
            information location tools to identify and select sites, without Arrow's express written permission for a particular
            use.
        </li>
    </ul>
</div>

<form (ngSubmit)="acceptAccountTerms()">

    <div class="terms__checkbox cta-container flex align-items-center">
        <app-checkbox label="By creating an account you agree to the use of your personal information in accordance with the Arrow Electronics Privacy Policy and the Terms of Use."
    
                      [disabled]="!appScrollSpy?.reachedTheEnd"
                      [(value)]="termsCheckboxValue"></app-checkbox>
    </div>

    <hr />

    <div class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button i18n
                        class="btn btn-cancel justify-flex-end"
                        type="button"
                        (click)="cancel()">Cancel</button>
            </li>
            <li class="cta-container__list-item">
                <button i18n
                        class="btn btn-primary justify-flex-end"
                        type="submit"
                        [disabled]="!termsCheckboxValue">Continue</button>
            </li>
        </ul>
    </div>

</form>