@import 'variables';
@import 'functions';
@import 'mixins';

.container {
  background: url('/assets/images/component-lines-account.svg') no-repeat right bottom;
  padding-top: em($page-gutter);
  padding-bottom: em($page-gutter);
  h1 {
    .logo-inline {
      margin: 0 rem(5);
    }
  }
}

.panel {
  padding: rem(30);
}

.panel--entry {
  background: $white;
  color: $text-color;
}

.panel__description {
  padding-right: rem(80);
}

.carousel {
  height: rem(150);
}

.registration-title-logo {
  vertical-align: middle;
}

.registration-disclaimer {
  margin: 0 0 rem(40) 0;

  .registration-disclaimer__header {
    font-size: rem(12);
  }

  .registration-disclaimer__link {
    color: $white;
    font-weight: bold;
  }
}
