<div class="container">
    <div class="wrap">
        <div class="row">
            <div class="col col-6 col--first">
                <h1 i18n data-automation-ref="registration-page-title">
                    Create a <span class="myarrow-logo logo-inline registration-title-logo"></span> Account
                </h1>
                <div class="registration-disclaimer">
                    <p class="registration-disclaimer__header" i18n>
                        Request access to MyArrow below to purchase electronic components online with your company's pricing and inventory
                        terms. MyArrow is your one stop shop for planning, placing, and managing orders, researching part specs, requesting
                        quotes, and more.
                    </p>
                    <p i18n>
                        To access Arrow’s global inventory and design tools,
                        <a
                            class="registration-disclaimer__link"
                            data-automation-ref="registration-disclaimer__link"
                            href="https://www.arrow.com/en/register"
                            target="_blank"
                            >register for arrow.com here.</a
                        >
                    </p>
                </div>
                <div class="panel panel--entry"><app-registration-form></app-registration-form></div>
            </div>
        </div>
    </div>
</div>
