<app-dialog-panel (close)="onClose(shouldRedirect)"
                  class="ncnr-dialog"
                  data-automation-ref="ncnr-dialog">
    <div dialog-header>
        <h2 data-automation-ref="ncnr-dialog-header"
            i18n>You Have Selected Non-Cancelable/Non-Refundable (NCNR) items</h2>
        <p data-automation-ref="ncnr-dialog-instructions"
           i18n>Please review the information below to proceed with your checkout.</p>
    </div>
    <div class="ncnr-dialog__content">
        <table data-automation-ref="ncnr-dialog-table">
            <thead>
                <tr>
                    <th i18n>Line Item</th>
                    <th i18n>Quantity</th>
                    <th i18n>Part Number / Manufacturer</th>
                    <th i18n>Request Date</th>
                    <th i18n>Price Per Unit</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of data?.items; let i=index">
                    <tr *ngIf="isNcnrItem(item)">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {{ item.manufacturerPartNumber }}
                            <br /> {{ item.manufacturer }}</td>
                        <td>{{ item.requestDate }}</td>
                        <td>{{ item.price | formattedPrice:(data.currencyCode || '')}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <p class="error small"
           data-automation-ref="ncnr-dialog-warning"
           i18n>
            <app-icon class="icon-list__item-icon"
                      symbol="alert"></app-icon>
            Important: If you do not accept terms for the NCNR items in your order, you will be returned to your
            shopping cart to remove any NCNR.
        </p>
        <p data-automation-ref="ncnr-dialog-accept-checkbox">
            <app-checkbox class="ncnr-checkbox"
                          label="Notwithstanding any other agreement that I may have with Arrow, the above listed parts are
                non-cancelable and non-refundable, meaning that under no circumstances may I cancel the order, reschedule the order
                or return the products. I have also acknowledged and intended that the foregoing statement is enforcable in all
                jurisdictions. I agree to accept delivery of the items on or before the request date listed above or within 30
                days of Arrow having acquired them."
                          [(value)]="acceptCheckbox"></app-checkbox>
        </p>
        <div class="grid approval-input">
            <div class="row">
                <div class="col col-5">
                    <p i18n>Approved by</p>
                    <input type="text"
                           placeholder="Enter your name"
                           i18n-placeholder
                           class="input"
                           [class.input--error]="!!!acceptedBy"
                           [(ngModel)]="acceptedBy"
                           (keypress)="nameValidator($event)"
                           data-automation-ref="ncnr-dialog-accepted-by" />
                </div>
            </div>
        </div>
    </div>
    <div dialog-footer
         class="cta-container">
        <p *ngIf="updateFailed"
           class="error"
           i18n>
            <app-icon class="icon-list__item-icon"
                      symbol="alert"></app-icon>
            Sorry something went wrong, please try again later.
        </p>
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button (click)="onClose(shouldRedirect)"
                        class="btn btn-secondary"
                        data-automation-ref="ncnr-dialog-cancel-button"
                        i18n>Cancel</button>
            </li>
            <li class="cta-container__list-item">
                <app-button cssClass="btn-primary"
                            [loading]="isUpdating"
                            [disabled]="denyActions"
                            (click)="acceptTerms()"
                            data-automation-ref="ncnr-dialog-accept-button"
                            i18n>Accept NCNR Terms</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>