<app-dialog-panel class="latest-updates"
                  (close)="onClose()">
    <div dialog-header>
        <h2 [innerHTML]="title" i18n></h2>
    </div>

    <div [innerHTML]="content"></div>

    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-checkbox label="Do not show this message again"
                              [(value)]="notDisplayMessageAgain"></app-checkbox>
            </li>
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button"
                        class="btn btn-primary"
                        i18n
                        (click)="onClickOk()">
                    Okay
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>