@import 'colors';
@import 'functions';
@import 'mixins';

.cta-container--chat {
  border-bottom: rem(1) solid $alto;
  margin-bottom: rem(20);

  .btn {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }
}
