<div class="cta-container cta-container--chat">

    <button #online
            class="btn btn-primary"
            id="liveagent_button_online_{{chatButtonId}}"
            i18n
            style="display: none;">Start Chat</button>

    <button #offline
            (click)="startOfflineChat()"
            id="liveagent_button_offline_{{chatButtonId}}"
            class="btn btn-primary"
            i18n
            style="display: none;">Start Offline Chat</button>

</div>