<app-dialog-panel (close)="onClose()"
                  data-automation-ref="delete-modal"
                  class="delete-modal__dialog">
    <div dialog-header>
        <h2 data-automation-ref="modal-header"
            i18n>Delete Selected Parts?</h2>
    </div>
    <p data-automation-ref="modal-are-you-sure"
       i18n>Are you sure you want to delete these parts in your shopping cart?</p>
    <p *ngIf="deleteFailed"
       class="error"
       i18n>
        <app-icon class="icon-list__item-icon"
                  symbol="alert"></app-icon>
        Sorry something went wrong, please try again later.
    </p>
    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-button cssClass="btn-primary"
                            [loading]="isDeleting"
                            (click)="deleteItems()"
                            data-automation-ref="confirm-button"
                            i18n>Delete Item(s)</app-button>
            </li>
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button"
                        class="btn btn-secondary"
                        i18n
                        (click)="onClose()">
                    Cancel
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>