@import 'layout';
@import 'functions';
@import 'variables';

:host {
  @extend .page-template--full;
  padding-top: rem($page-top-padding);
}

app-product-search-bar {
  margin: 60px auto;
}
