<h2 i18n>Internal Error</h2>

<app-listing-message label="Sorry, an error prevented the display of this view.
<br/>
Please refresh the page or choose from the navigation above."
                     i18n-label
                     icon="cross"></app-listing-message>