<app-dialog-panel (close)="onClose(false)" data-automation-ref="delete-modal" class="delete-modal__dialog">
    <div dialog-header><h2 data-automation-ref="modal-header" i18n>Change currency</h2></div>
    <div class="error warning-message" data-automation-ref="quoted-items-warning-message">
        <app-icon symbol="alert" class="icon-link__icon"></app-icon>
        <strong i18n>Changing currency will remove the quoted line items from your order. Are you sure you want to change currency?</strong>
    </div>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-button cssClass="btn-primary" (click)="onClose(true)" data-automation-ref="confirm-button" i18n>Continue</app-button>
            </li>
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button" class="btn btn-secondary" i18n (click)="onClose(false)">Cancel</button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
