<ng-container *ngIf="message === 'reset-request'">
    <h2 i18n>Thank you!</h2>
    <p i18n>
        An email has been sent to your email address containing a link to reset your password.
    </p>
    <div class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <a i18n
                   class="cta-container__list-item-link"
                   href="/register">
                    Create a New Account
                </a>
            </li>
            <li class="cta-container__list-item">
                <span class="cta-container__list-item-divider"
                      i18n>
                    or
                </span>
            </li>
            <li class="cta-container__list-item">
                <a i18n
                   routerLink="/login"
                   class="btn btn-primary">
                    Sign In to MyArrow
                </a>
            </li>
        </ul>
    </div>
</ng-container>
<ng-container *ngIf="message === 'reset-success'">
    <div>
        <h2 i18n>Your new password has been saved.</h2>
        <div class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <a routerLink="/login"
                       class="btn btn-primary"
                       type="submit">Close</a>
                </li>
            </ul>
        </div>
    </div>
</ng-container>