<div class="information-box"
     data-automation-ref="information-box">
    <h3 class="information-box__header"
        data-automation-ref="information-box-header">
        <app-icon class="icon"
                  symbol="i-bubble"></app-icon>
        <ng-container i18n>{{title}}</ng-container>
    </h3>
    <p class="information-box__content"
       data-automation-ref="information-box-content">
        <ng-content i18n></ng-content>
    </p>
</div>