@import 'colors';
@import 'functions';

.information-box {
  background-color: $white;
  padding: rem(20);
  .information-box__header {
    margin-bottom: rem(10);
    .icon {
      margin-bottom: 2px;
    }
  }
  .information-box__content {
    color: $inactive-color;
    margin: 0;
  }
}
