<div class="label {{cssClass}}">
    <span role="alert"
          class="error label__error">
        <app-icon symbol="alert"
                  class="form-item__alert"></app-icon>
        <ng-content i18n></ng-content>
    </span>
</div>