@import 'colors';
@import 'functions';

.notification {
  background: $lochmara;
  color: $white;
  display: flex;
  width: rem(550);
  padding: em(10) em(10) em(10) em(20);
  margin: auto;

  &__label {
    flex: 1;
  }
}

:host.error .notification {
  background: $alizarin-crimson;
}
