<div class="add-quantity-to-cart">
    <form [formGroup]="form">
        <input type="text"
               class="input input--strong-placeholder add-quantity-to-cart__input"
               [ngClass]="{
                'input--error': !form.get('quantity').valid && form.get('quantity').touched
                }"
               maxlength="7"
               formControlName="quantity"
               (keyup)="checkForm($event)"
               appOnlyPositiveNumbers
               appNoLeadingZeros
               [attr.placeholder]="purchasable ? 'Min. Qty ' + minimumOrderQuantity : 'Min. Qty 1'"
               i18n-placeholder />

        <hr *ngIf="showDivider"
            class="add-quantity-to-cart__divider" />

        <app-button *ngIf="purchasable"
                    cssClass="btn-purchase btn--fullwidth"
                    [disabled]="!form.get('quantity').valid || !form.get('quantity').value || (!price && !priceTiers) || selectForPricing"
                    (buttonClick)="addToCart()"
                    i18n>
            Add to cart
        </app-button>

        <app-button *ngIf="!purchasable"
                    cssClass="btn-primary btn--fullwidth"
                    [disabled]="!form.get('quantity').valid || !form.get('quantity').value"
                    (buttonClick)="addToQuote()"
                    i18n>
            Add to Quote
        </app-button>
    </form>
</div>
