@import 'functions';
@import 'colors';

.add-quantity-to-cart {
  &__input {
    margin-bottom: rem(10);
  }

  &__divider {
    margin: rem(40) 0 rem(30) 0;
  }

  &__btn[disabled] {
    background-color: $gallery;
  }
}
