@import 'variables';
@import 'functions';
@import 'mixins';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: rem($page-width);
}

.content {
  background: $public-bg-clr;
  color: $public-text-clr;
  flex: 1 0 auto;
}

/* header */

.header {
  background: $baltic-sea;
  color: $white;
  height: rem(135);
  border-bottom: 1px solid $white;
}

.header__wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  @include h2();
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;

  .logo-inline {
    margin-bottom:rem(-2);
  }
}

.header__menu {
  margin-left: auto;
}
