<div class="header">
    <div class="header__wrap wrap">
        <p i18n class="header__title">
            Welcome to <a routerLink="/" class="myarrow-logo logo-inline" title="https://my.arrow.com/">MyArrow</a> <span>by</span>
            <a routerLink="/" class="logo-inline" title="https://my.arrow.com/"
                ><span class="arrow-logo arrow-logo--secondary">Arrow</span></a
            >
        </p>
        <div class="header__menu">
            <app-contact-rep (openChange)="showBackdrop($event)"></app-contact-rep>
            <app-language-list *ngIf="publicFeatureFlags?.i18n"></app-language-list>
        </div>
    </div>
</div>
<div class="content"><router-outlet></router-outlet></div>
<app-footer></app-footer>
<app-backdrop></app-backdrop>
