// color names from http://chir.ag/projects/name-that-color/

$white: #fff;
$black: #000;

// Light Greys (light-to-dark)
$alabaster: #f8f8f8;
$wild-sand: #f4f4f4;
$gallery: #ececec;
$alto: #dedede;

// Mid Greys (light-to-dark)
$boulder-1: #adadad;
$boulder-2: #7b7b7b; //warm-grey

// Dark Greys (light-to-dark)
$tundora: #404040;
$baltic-sea: #29272a;
$black: #000;

// Reds
$alizarin-crimson: #e31b23;
$cardinal: #ca1836;

// Blues
$linkwater: #ddeef8;
$cerulean: #009ddc;
$lochmara: #007cce;
$denim: #013159;

// Purples
$plum: #92278f;
$tawny-port: #6a1c67;

// Oranges
$jaffa: #f68a33;
$hot-cinnamon: #e46a2b;

// Greens
$apple-1: #54ba48;
$apple-2: #439539;
