@import 'variables';
@import 'functions';
@import 'mixins';

.registration-error__title-logo {
  vertical-align: middle;
}

.container {
  background: url('/assets/images/component-lines-account.svg') no-repeat right bottom;
  padding-top: rem($page-gutter);
  padding-bottom: rem($page-gutter);
}

.panel {
  padding: rem(30);
}

.panel--entry {
  background: $white;
  color: $text-color;
}

.panel__description {
  padding-right: rem(80);
}
.registration-error__warning {
  ::ng-deep {
    p:last-child {
      margin-bottom: 0;
    }
  }
}
