<div class="container">
    <div class="wrap">
        <div class="row">
            <div class="col col-6">
                <h1 i18n
                    data-automation-ref="registration-error-title">Create a
                    <span class="myarrow-logo logo-inline registration-error__title-logo"></span> Account
                </h1>
                <div class="panel panel--entry">
                    <h2 data-automation-ref="registration-error-message-title"
                        i18n>Registration Failed</h2>
                    <app-alert data-automation-ref="alert-icon"
                               icon="alert"
                               type="error"
                               class="registration-error__warning">
                        <ng-container data-automation-ref="registration-error-message"
                                      i18n>
                            <p>Something went wrong and we couldn't process your request.</p>
                            <p>Please try again later.</p>
                        </ng-container>
                    </app-alert>
                    <div class="cta-container">
                        <ul class="cta-container__list justify-flex-end">
                            <li class="cta-container__list-item">
                                <app-button data-automation-ref="go-back-button"
                                            routerLink="/login"
                                            cssClass="btn-primary"
                                            i18n>Go To MyArrow</app-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>