@import 'colors';
@import 'variables';
@import 'helpers';

.download-quote {
  &__header {
    &-title {
      margin-bottom: $spacing-x-1;
    }
  }

  &__column {
    &:first-of-type {
      margin-left: 0;
    }
  }

  &__footer {
    margin-top: $spacing-x-5;
  }
}

.checkbox-group {
  clear: both;
  overflow: hidden;

  &__list {
    overflow: hidden;

    &-item {
      float: left;
      width: $spacing-x-7;
      overflow: hidden;
    }
  }
}
