<app-dialog-panel (close)="onClose()">
    <div dialog-header>
        <h2 class="download-quote__header-title" i18n>Download Quote</h2>
        <p i18n>By following the two steps below, you can customize the information that you download.</p>
    </div>

    <app-alert type="error" icon="alert" *ngIf="downloadError" i18n
        >There was an error creating your download file. Please try again</app-alert
    >

    <div class="download-quote__options">
        <div class="download-quote__column">
            <div class="download-quote__option">
                <h3 i18n>Select File Format:</h3>
                <p i18n>Please select the type of file you would like to receive for your download.</p>
                <div class="checkbox-group">
                    <ul class="checkbox-group__list">
                        <li class="checkbox-group__list-item" *ngFor="let fileTypeOption of fileTypeOptions">
                            <app-radio
                                class="checkbox-group__list-item-app-radio"
                                [radioValue]="fileTypeOption.value"
                                [label]="fileTypeOption.label"
                                [(value)]="selectedFileType"
                            ></app-radio>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="download-quote__column">
            <div class="download-quote__option">
                <h3 i18n>Select and Arrange Columns</h3>
                <p i18n>Select columns you wish to download. Drag and drop them to arrange the column order.</p>
                <app-sortable-items [items]="columns" (stateChange)="selectedColumns = $event"></app-sortable-items>
            </div>
        </div>
    </div>

    <div dialog-footer class="download-quote__footer cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"><button (click)="onClose()" class="btn btn-secondary" i18n>Cancel</button></li>
            <li class="cta-container__list-item">
                <app-button
                    cssClass="btn-primary"
                    [loading]="downloadProcessing"
                    [disabled]="!canDownload()"
                    (buttonClick)="onDownload()"
                    i18n
                    >Download</app-button
                >
            </li>
        </ul>
    </div>
</app-dialog-panel>
