<table>
    <thead>
        <tr>
            <th i18n>BOM Name</th>
            <th i18n>Last&nbsp;Modified</th>
            <th i18n>Items</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bom of reducedBomLines"
            class="orderline-overview"
            (click)="goToBom(bom.id)">
            <td class="bomlines-overview__purchase-order">
                <a [routerLink]="['/bom/view', bom.id, 1]">{{ bom.name }}</a>
            </td>
            <td>
                {{ bom.lastEdited | isoDate }}
            </td>
            <td>
                {{ bom.partCount }}
            </td>
            <td class="bomlines-overview__arrow">
                <app-icon *ngIf=bom.name
                          symbol="right-arrow"></app-icon>
            </td>
        </tr>
        <tr class="bomline-overview orderline-overview--empty"
            *ngFor="let row of emptyRows">
            <td colspan="4"></td>
        </tr>
    </tbody>
</table>