@import 'colors';
@import 'functions';

:host {
  table {
    margin: 0;

    th,
    td {
      border: 0;
      letter-spacing: rem(0.5);
    }

    th {
      background-color: $white;
      font-size: rem(12);
      line-height: calc(16 / 12);
    }

    tbody {
      tr {
        cursor: pointer;
        height: rem(80);

        td {
          background-color: $wild-sand;
        }

        &:nth-child(2n) {
          td {
            background-color: inherit;
          }
        }
      }

      .bomline-overview--empty {
        cursor: inherit;
      }

      td {
        font-size: rem(14);
        line-height: calc(20 / 14);
        padding-top: rem(20);
        vertical-align: middle;
      }

      .bomline__status {
        position: relative;
        padding-bottom: rem(10);
        padding-top: rem(30);
      }

      .bomlines-overview__purchase-order {
        padding-right: rem(10);
        white-space: nowrap;
        overflow: hidden;
        width: rem(220);

        a {
          text-decoration: underline;
          max-width: rem(200);
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .bomlines-overview__shipped-status {
        margin-bottom: rem(3);
        position: absolute;
        top: rem(17);
      }

      .bomlines-overview__arrow {
        text-align: right;
        padding-right: rem(10);
        padding-left: 0;
        color: $boulder-2;
      }
    }
  }
}
