<div *ngIf="formField" class="form-item" [class.error-after]="showErrorAfter">
    <div>
        <label for="{{ formField.id }}" class="label">
            <span>{{ formField.label }}</span>
        </label>
    </div>
    <div class="form-item__control"><ng-content></ng-content></div>
    <div *ngIf="formField.hasError" class="form-item__label form-item__label-with-error">
        <label for="{{ formField.id }}" class="label">
            <span class="error label__error" role="alert">
                <app-icon symbol="alert" class="form-item__alert"></app-icon>

                <span *ngIf="formField.control.errors.email" i18n> Please enter a valid email address. </span>

                <span *ngIf="formField.control.errors.password" i18n> Does not meet requirements. </span>

                <span *ngIf="formField.control.errors.required" i18n> This field is required. </span>

                <span *ngIf="formField.control.errors.validValue" i18n> Please enter a valid value. </span>

                <span *ngIf="formField.control.errors.onlyLettersAndSpaces" i18n> Only letters and spaces are allowed. </span>
            </span>
        </label>
    </div>
</div>
