<table>
    <thead>
        <tr>
            <th i18n>Purchase Order</th>
            <th i18n>Sales Order/Line Item</th>
            <th i18n *ngIf="!displayShippedDate">Date Requested</th>
            <th i18n *ngIf="displayShippedDate">Date Shipped</th>
            <th i18n>Shipment Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orderLine of reducedOrderLines" class="orderline-overview" (click)="goToOrder($event, orderLine.salesOrderId)">
            <td class="orderlines-overview__purchase-order">
                <a
                    *ngIf="orderLine.purchaseOrderNumber"
                    [routerLink]="['/orders', orderLine.salesOrderId]"
                    [queryParams]="{ salesHeaderId: orderLine.salesHeaderId, billToSiteUseId: orderLine.billToSiteUseId }"
                >
                    {{ orderLine.purchaseOrderNumber }}
                </a>
            </td>
            <td>
                <ng-container *ngIf="orderLine.salesOrderId && orderLine.lineItem"
                    >{{ orderLine.salesOrderId }}/{{ orderLine.lineItem }}</ng-container
                >
            </td>
            <td>{{ getOrderLineDate(orderLine) | isoDate }}</td>
            <td class="orderline__status">
                <p
                    i18n
                    [ngClass]="{
                        'orderlines-overview__shipped-status': orderLine.shipmentTrackingReference
                    }"
                    class=""
                >
                    {{ orderLine.status | i18nSelect: orderLineStatusMap }}
                </p>
                <a
                    *ngIf="orderLine.shipmentTrackingUrl"
                    target="_blank"
                    href="{{ orderLine.shipmentTrackingUrl }}"
                    class="orderlines-overview__tracking"
                    >{{ orderLine.shipmentTrackingReference }}</a
                >
                <span *ngIf="orderLine.shipmentTrackingReference && !orderLine.shipmentTrackingUrl">
                    {{ orderLine.shipmentTrackingReference }}
                </span>
            </td>
            <td class="orderlines-overview__arrow"><app-icon *ngIf="orderLine.purchaseOrderNumber" symbol="right-arrow"></app-icon></td>
        </tr>
        <tr class="orderline-overview orderline-overview--empty" *ngFor="let row of emptyRows">
            <td colspan="5"></td>
        </tr>
    </tbody>
</table>
