@import 'colors';
@import 'variables';
@import 'helpers';

.download-orders {
  &__header {
    &-title {
      margin-bottom: $spacing-x-2;
    }
    &-description {
      margin-bottom: $spacing-x-3;
    }
  }

  &__options {
    @extend .flex;
    @extend .flex-direction-row;
  }

  &__column {
    flex: 1;
    margin-left: em(30);

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__footer {
    margin-top: $spacing-x-5;
  }
}
