@import 'colors';
@import 'functions';
@import 'layout';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-all-quotes__check,
.select-all-quotes__header {
  padding-left: 0;
  padding-right: 0;
  width: 5%;
}

.quotes-item,
.quotes-item__header {
  width: 18%;
}

.quotes-cpn,
.quotes-cpn__header {
  width: 16%;
}

.quotes-request-date,
.quotes-request-date__header {
  width: 17%;
}

.quotes-price,
.quotes-price__header {
  width: 10%;
}

.quotes-target-price,
.quotes-target-price__header {
  width: 16%;
}

.quotes-quantity,
.quotes-quantity__header {
  width: 9%;
}

.quotes-total,
.quotes-total__header {
  width: 9%;
}

.select-all-quotes__check,
.select-all-quotes__header,
.quotes-cpn,
.quotes-request-date,
.quotes-target-price,
.quotes-quantity {
  text-align: center;
}

.quote-cart {
  &__table {
    width: 100%;

    .quotes-item__header,
    .quotes-cpn__header,
    .quotes-request-date__header,
    .quotes-price__header,
    .quotes-target-price__header,
    .quotes-quantity__header,
    .quotes-total__header {
      text-align: left;
    }

    %quote-cart__input {
      text-align: center;
      font-size: 12px;
    }

    .item-quantity__input,
    .customer_part_number__input,
    .quotes-target-price__input {
      @extend %quote-cart__input;
      height: rem(40);
      margin: 0em;
      padding-left: 1px;
      padding-right: 1px;
    }

    .item-quantity__input {
      -moz-appearance: textfield;
    }

    .customer_part_number__input,
    .quotes-target-price__input {
      width: rem(130);
    }

    .quotes-target-price__currency {
      align-items: center;
      display: flex;
    }

    .quotes-target-price__currency-symbol {
      margin-right: rem(3);
    }

    .help-block {
      margin-top: rem(8);
      text-align: left;
      color: $error-color;
      display: block;
      min-width: rem(70);
    }

    .help-block-target-price {
      margin-top: rem(8);
      text-align: left;
      color: $error-color;
      display: block;
      width: rem(130);
    }
  }
}

.quotes-info {
  display: flex;

  .tariff-indicator {
    margin-right: rem(2);

    span {
      margin: 0;
      width: rem(8);
      height: 0;
      border: none;
      border-radius: 0;
      line-height: 1;
    }
  }
}

.quotes-price,
.quotes-total {
  width: rem(110);
  text-align: left;
  position: relative;
  span {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

.request-date {
  ::ng-deep {
    .date-picker__modal {
      .cta-container__list > li:first-child {
        display: none;
      }
    }

    .date-picker__input-icon {
      margin-right: 1px;
    }
  }

  &.ng-invalid {
    ::ng-deep {
      .date-picker__input {
        border: 1px solid $error-color;
        color: $error-color;
      }
    }
  }
}

.pending {
  color: $information-color;
}

.label__cpn,
.label__ec {
  color: $secondary-text-clr;
  margin-bottom: 0;
}

.tariff-indicator {
  font-size: rem(20);

  span {
    cursor: pointer;
  }
}

.customer-part-info {
  word-wrap: break-word;
  max-width: rem(125);
}

.tariff-wrapper {
  width: rem(12);
}

.form-input__alert {
  color: $alizarin-crimson;
  display: block;
  margin: auto;
  margin-top: rem(5);
}
