<h3 i18n *ngIf="view === 'readonly'" data-automation-ref="quote-complete-table__heading">Quote Information</h3>

<form *ngIf="quoteCartForm && lineItems?.length" [formGroup]="quoteCartForm">
    <table appStickyHeader class="quote-cart__table" data-automation-ref="quote-cart-table">
        <thead>
            <tr>
                <th data-automation-ref="select-all-quotes__header" class="select-all-quotes__header" *ngIf="view === 'default'">
                    <app-checkbox
                        [value]="allCheckboxesTicked"
                        (valueChange)="toggleAllFoundCheckboxes()"
                        data-automation-ref="select-all-quotes-checkbox"
                    >
                    </app-checkbox>
                </th>
                <th class="quotes-item__header" data-automation-ref="quotes-item-header" i18n>Item</th>
                <th class="quotes-cpn__header" data-automation-ref="quotes-customer-part-number-header" i18n>Customer Part Number</th>
                <th class="quotes-request-date__header" data-automation-ref="quotes-request-date-header" i18n>Request Date</th>
                <th class="quotes-price__header" data-automation-ref="quotes-price-header" i18n>Price</th>
                <th class="quotes-target-price__header" data-automation-ref="quotes-target-price-header" i18n>Target Price</th>
                <th class="quotes-quantity__header" data-automation-ref="quotes-quantity-header" i18n>Quantity</th>
                <th class="quotes-total__header" data-automation-ref="quotes-total-header" i18n>Total</th>
            </tr>
        </thead>
        <tbody *ngIf="view === 'default'">
            <tr
                formArrayName="quoteCartLineItems"
                data-automation-ref="quoteCartLineItems"
                *ngFor="let quoteCartLineItem of quoteCartLineItems.controls; let i = index"
            >
                <td class="select-all-quotes__check">
                    <app-checkbox
                        (click)="ToggleCheckQuoteCartLineItems(quoteCartLineItem.value, lineItems[i]?.checked)"
                        [value]="lineItems[i]?.checked"
                        data-automation-ref="select-quote-line-item-checkbox"
                    ></app-checkbox>
                    <app-icon
                        symbol="alert"
                        *ngIf="
                            quoteCartLineItem.controls.requestDate.errors ||
                            quoteCartLineItem.controls.targetPriceFormatted.errors ||
                            quoteCartLineItem.controls.quantity.errors
                        "
                        class="form-input__alert"
                    ></app-icon>
                </td>
                <td class="quotes-item">
                    <div class="quotes-info">
                        <div class="tariff-wrapper" *ngIf="displayTariffInfo">
                            <div class="tariff-indicator" *ngIf="lineItems[i].tariffApplicable && lineItems[i].tariffValue">
                                <span
                                    appTooltip="Item has a US Customs tariff charge"
                                    placement="top"
                                    data-automation-ref="quote-tariff-indicator"
                                    [customStyles]="{ 'max-width': '22rem' }"
                                    >*</span
                                >
                            </div>
                        </div>
                        <div class="customer-part-info">
                            <div>
                                <strong data-automation-ref="customer-part-number"
                                    >{{ quoteCartLineItem.value.manufacturerPartNumber }}
                                </strong>
                            </div>
                            <span
                                i18n
                                *ngIf="shouldShowInvalidMessage(quoteCartLineItem.value.validation)"
                                class="error label__error"
                                data-automation-ref="invalid-lineItem-message"
                            >
                                Invalid Item</span
                            >
                            <span
                                i18n
                                *ngIf="shouldShowPendingMessage(quoteCartLineItem.value.validation)"
                                class="pending label__error"
                                data-automation-ref="pending-lineItem-message"
                                >Pending Validation</span
                            >
                            <p data-automation-ref="customer-part-manufacturer" *ngIf="quoteCartLineItem.value.manufacturer">
                                {{ quoteCartLineItem.value.manufacturer }}
                            </p>
                            <div data-automation-ref="customer-part-description" class="item-description">
                                {{ quoteCartLineItem.value.description }}
                            </div>
                        </div>
                    </div>
                </td>
                <td [formGroupName]="i" class="quotes-cpn">
                    <div *ngIf="quoteCartLineItem.value.selectedCustomerPartNumber">
                        <div class="cpn">
                            <p class="label small label__cpn" data-automation-ref="cpn-label"><strong i18n>Customer Part Number</strong></p>
                            <p data-automation-ref="cpn-name">{{ quoteCartLineItem.value.selectedCustomerPartNumber }}</p>
                        </div>
                        <div *ngIf="shouldShowEndCustomer(quoteCartLineItem)" class="ec">
                            <p class="label small label__ec" data-automation-ref="ec-label"><strong i18n>End Customer</strong></p>
                            <p data-automation-ref="ec-name">{{ quoteCartLineItem.value.selectedEndCustomerName }}</p>
                        </div>
                    </div>
                    <input
                        *ngIf="!quoteCartLineItem.value.selectedCustomerPartNumber"
                        type="text"
                        formControlName="enteredCustomerPartNumber"
                        class="input customer_part_number__input"
                        (input)="updateItemField('enteredCustomerPartNumber', quoteCartLineItem, i)"
                    />
                </td>
                <td [formGroupName]="i" class="quotes-request-date">
                    <app-date-picker
                        class="request-date"
                        [actions]="datePickerOverlayActions"
                        formControlName="requestDate"
                        calendarCount="1"
                        submitLabel="Select"
                        [minDate]="minDate"
                        [dateInputs]="requestDateConfiguration"
                        [showActions]="false"
                    ></app-date-picker>
                    <span
                        class="help-block"
                        data-automation-ref="quotes-request-date-error-msg"
                        *ngIf="quoteCartLineItem.controls.requestDate.errors"
                        i18n
                    >
                        {{ getRequestDateErrorMessage(quoteCartLineItem.controls.requestDate) }}
                    </span>
                </td>
                <td data-automation-ref="quotes-price" class="quotes-price">
                    <span
                        *ngIf="quoteCartLineItem.value.price"
                        data-automation-ref="quote-price-value"
                        (mouseover)="toggleQuoteCartPriceMatrix(i)"
                        (mouseout)="toggleQuoteCartPriceMatrix(i)"
                    >
                        {{ quoteCartLineItem.value.price | formattedPrice: currencyCode }}
                    </span>
                    <span class="quotes-price" *ngIf="!quoteCartLineItem.value.price" data-automation-ref="quotes-price-unavailable"
                        >- -</span
                    >
                    <app-price-tiers
                        *ngIf="showTiers[i]"
                        [priceTiers]="lineItems[i].priceTiers"
                        [quantity]="lineItems[i].quantity"
                        [currencyCode]="currencyCode"
                    >
                    </app-price-tiers>
                </td>
                <td [formGroupName]="i" data-automation-ref="quotes-target-price" class="quotes-target-price">
                    <span [ngClass]="{ 'quotes-target-price__currency': shouldDisplayCurrencySymbol(quoteCartLineItem, 'targetPrice') }">
                        <div>
                            <span
                                *ngIf="shouldDisplayCurrencySymbol(quoteCartLineItem, 'targetPrice')"
                                class="quotes-target-price__currency-symbol"
                                >{{ addCurrencySymbol() }}</span
                            >
                        </div>
                        <div>
                            <input
                                appCurrencyFormat
                                type="text"
                                maxlength="20"
                                formControlName="targetPriceFormatted"
                                placeholder="0.0"
                                class="input quotes-target-price__input"
                                [ngClass]="{
                                    'input--error': quoteCartLineItem.controls.targetPriceFormatted.errors
                                }"
                                data-automation-ref="quotes-target-price__input"
                                (change)="onTargetPriceChange($event, 'targetPrice', quoteCartLineItem, i)"
                                (paste)="(false)"
                            />
                            <span
                                class="help-block-target-price"
                                data-automation-ref="quotes-target-price-error-msg"
                                *ngIf="quoteCartLineItem.controls.targetPriceFormatted.errors"
                                i18n
                            >
                                {{ getTargetPriceErrorMessage(quoteCartLineItem.controls.targetPrice) }}
                            </span>
                        </div>
                    </span>
                </td>
                <td [formGroupName]="i" data-automation-ref="quotes-quantity" class="quotes-quantity">
                    <div data-automation-ref="quotes-quantity-value">
                        <input
                            appOnlyPositiveNumbers
                            type="text"
                            min="0"
                            maxlength="10"
                            formControlName="quantity"
                            data-automation-ref="quantity"
                            class="input item-quantity__input"
                            appNoLeadingZeros
                            [ngClass]="{ 'input--error': quoteCartLineItem.controls.quantity.errors }"
                            (input)="onQuantityInput($event, 'quantity', quoteCartLineItem, i)"
                            (blur)="updateQuantityField(quoteCartLineItem, i)"
                            (paste)="(false)"
                        />

                        <span
                            class="help-block"
                            data-automation-ref="quotes-quantity-error-msg"
                            *ngIf="quoteCartLineItem.controls.quantity.errors"
                            i18n
                        >
                            {{ getQuantityErrorMessage(quoteCartLineItem.controls.quantity) }}
                        </span>
                    </div>
                </td>
                <td data-automation-ref="quotes-total" class="quotes-total">
                    <span *ngIf="quoteCartLineItem.value.price">
                        {{ calculateTotal(quoteCartLineItem.value.price, quoteCartLineItem.value.quantity) | formattedPrice: currencyCode }}
                    </span>
                    <span class="quotes-total" *ngIf="!quoteCartLineItem.value.price" data-automation-ref="total-unavailable">- -</span>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="view === 'readonly'">
            <tr data-automation-ref="quote-complete-table__lineItem" *ngFor="let lineItem of lineItems; let i = index">
                <td class="quotes-item">
                    <div class="quotes-info">
                        <div class="tariff-wrapper" *ngIf="displayTariffInfo">
                            <div class="tariff-indicator" *ngIf="lineItem.tariffApplicable && lineItem.tariffValue">
                                <span
                                    appTooltip="Item has a US Customs tariff charge"
                                    placement="top"
                                    data-automation-ref="quote-tariff-indicator"
                                    [customStyles]="{ 'max-width': '22rem' }"
                                    >*</span
                                >
                            </div>
                        </div>
                        <div class="customer-part-info">
                            <div>
                                <strong data-automation-ref="quote-complete-table__manufacturer-CPN"
                                    >{{ lineItem.manufacturerPartNumber }}
                                </strong>
                            </div>
                            <p data-automation-ref="quote-complete-table__manufacturer-name">{{ lineItem.manufacturer }}</p>
                            <div data-automation-ref="quote-complete-table__manufacturer-description">{{ lineItem.description }}</div>
                        </div>
                    </div>
                </td>
                <td class="quotes-cpn">
                    <div *ngIf="lineItem.selectedCustomerPartNumber">
                        <span i18n class="property-list__item-title label__cpn" data-automation-ref="quote-complete-table__CPN-heading"
                            >Customer Part</span
                        >
                        <p data-automation-ref="quote-complete-table__CPN">{{ lineItem.selectedCustomerPartNumber }}</p>
                        <span
                            i18n
                            class="property-list__item-title label__ec"
                            data-automation-ref="quote-complete-table__EC-heading"
                            *ngIf="lineItem.selectedEndCustomerSiteId"
                            >End Customer</span
                        >
                        <p data-automation-ref="quote-complete-table__EC" *ngIf="lineItem.selectedEndCustomerSiteId">
                            {{ getEndCustomerName(lineItem) }}
                        </p>
                    </div>
                    <div *ngIf="!lineItem.selectedCustomerPartNumber && lineItem.enteredCustomerPartNumber">
                        <span i18n class="property-list__item-title" data-automation-ref="quote-complete-table__CPN-heading"
                            >Customer Part</span
                        >
                        <p data-automation-ref="quote-complete-table__CPN">{{ lineItem.enteredCustomerPartNumber }}</p>
                    </div>
                </td>
                <td class="quotes-request-date" data-automation-ref="quote-complete-table__request-date">{{ lineItem.requestDate }}</td>
                <td class="quotes-price" data-automation-ref="quote-complete-table__price">
                    {{ lineItem.price | formattedPrice: currencyCode }}
                </td>
                <td class="quotes-target-price" data-automation-ref="quote-complete-table__target-price">
                    {{
                        lineItem.targetPrice && lineItem.targetPrice >= 0
                            ? (lineItem.targetPrice | formattedPrice: currencyCode)
                            : (defaultTargetPrice | formattedPrice: currencyCode)
                    }}
                </td>
                <td class="quotes-quantity" data-automation-ref="quote-complete-table__quantity">{{ lineItem.quantity }}</td>
                <td class="quotes-total" data-automation-ref="quote-complete-table__total">
                    {{ calculateTotal(lineItem.price, lineItem.quantity) | formattedPrice: currencyCode }}
                </td>
            </tr>
        </tbody>
    </table>
</form>
