@import 'mixins';
@import 'variables';
@import 'helpers';
@import 'typography';

:host {
  ::ng-deep .forecast-search__search-type {
    .dropdown__label-wrapper {
      background-color: $white;
    }
    .dropdown__label-icon {
      color: $baltic-sea;
    }
  }
}

.forecast-search {
  align-items: center;
  @extend .flex;
  position: relative;
  top: rem(-18);
}

.forecast-search__search-input {
  width: rem(296);
}

.forecast-search__button-icon {
  height: em($forecast-search-button-icon-size, $button-font-size);
  width: em($forecast-search-button-icon-size, $button-font-size);
  @include inline-block();
  vertical-align: top;
  margin: em(-($forecast-search-button-icon-size - $button-font-size) / 2, $button-font-size) 0;
  position: relative;
  bottom: em(-2, $button-font-size);
}

.forecast-search__type-form-item {
  flex: none;
}

.forecast-search__reset-link {
  margin-left: rem(20);
}
