<div class="forecast-search">

    <form (ngSubmit)="search.emit(searchState)"
          class="form form--inline">
        <div class="form-item  forecast-search__type-form-item">
            <div class="form-item__control">
                <app-dropdown [options]="searchOptions"
                              [elemClass]="'forecast-search__search-type'"
                              [value]="searchState?.type"
                              (valueChange)="updateSearchType($event)"></app-dropdown>
            </div>
        </div>

        <div class="form-item">
            <div class="form-item__control">
                <input type="text"
                       class="input forecast-search__search-input"
                       [placeholder]="selectedSearchOption.payload.placeholder"
                       [value]="searchCriteria?.value"
                       maxlength="50"
                       (keyup)="searchState.value = $event.target.value.trim()"/>
            </div>
        </div>

        <div class="cta-container">
            <button class="btn btn-secondary forecast-search__button forecast-search__button"
                    type="submit"
                    [disabled]="!searchState.value">
                <app-icon symbol="search"
                          class="forecast-search__button-icon"></app-icon>
            </button>
        </div>

    </form>
    <button (click)="resetForm()"
            class="icon-link forecast-search__reset-link"
            [disabled]="!searchState?.value">
        <app-icon symbol="refresh"
                  class="icon-link__icon"></app-icon> Reset</button>

</div>
