@import 'layout';
@import 'helpers';
@import 'functions';

$submitted-quotes-button-icon-size: 25;

:host {
  @extend .page-template--standard;

  .quote-details {
    &__title {
      @extend .flex;
      @extend .flex-direction-row;
      margin-bottom: $spacing-x-3;

      &-text {
        margin-bottom: 0;
      }

      &-cta {
        margin-top: 0;
        flex: 1 1 auto;
      }
    }

    &__download-link {
      float: right;
    }
  }

  .quote-details__search-input {
    width: rem(350);
  }

  .quote-details__button-icon {
    height: em($submitted-quotes-button-icon-size, $button-font-size);
    width: em($submitted-quotes-button-icon-size, $button-font-size);
    @include inline-block();
    vertical-align: top;
    margin: em(-($submitted-quotes-button-icon-size - $button-font-size) / 2, $button-font-size) 0;
    position: relative;
    bottom: em(-2, $button-font-size);
  }

  .quote-details__top-filters {
    margin-top: 30px;
  }

  .quote-info {
    &__title {
      color: #7b7b7b;
      width: rem(120);
      display: inline-block;
      font-size: rem(13);
      margin-bottom: rem(8);
    }

    &__account-description {
      display: block;
      padding-left: rem(13);
      margin-bottom: rem(8);
    }

    &__description {
      word-break: break-all;
      word-wrap: break-word;
    }
  }

  .quote-details__messages {
    margin-top: rem(20);
  }

  .quote-details__error {
    strong {
      margin-top: rem(5);
    }

    .icon-link__icon {
      width: rem(20);
      height: rem(20);
    }
  }

  .quote-details__reset-link {
    margin-left: rem(20);
    margin-top: rem(10);
  }

  .add-to-cart__btn {
    width: rem(170);
  }

  .error-label {
    display: initial;
  }
}
