<div *ngIf="quoteDetails">
    <div class="quote-details__title">
        <h2 class="quote-details__title-text" i18n>Quote {{ quoteDetails.quoteNumber }}</h2>

        <div class="cta-container quote-details__title-cta">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="openDownloadQuoteDialog()" class="icon-link">
                        <app-icon symbol="download" class="icon-link__icon"></app-icon>
                        Download Quote
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col col-6">
            <h3 i18n>Quote Details</h3>

            <div class="row">
                <div class="col col-6">
                    <div class="quote-info">
                        <span class="quote-info__title" i18n>Internal Sales Rep: </span>
                        <span class="quote-info__description">{{ quoteDetails.internalSalesRep }} </span>
                    </div>

                    <div class="quote-info">
                        <span class="quote-info__title" i18n>Owner: </span>
                        <span class="quote-info__description">{{ quoteDetails.owner ? quoteDetails.owner : '- -' }}</span>
                    </div>

                    <div class="quote-info">
                        <span class="quote-info__title" i18n>Items Quoted: </span>
                        <span class="quote-info__description">{{ quoteDetails.itemsQuoted }} of {{ quoteDetails.totalItems }} </span>
                    </div>

                    <div class="quote-info">
                        <span class="quote-info__title" i18n>Submitted Date: </span>
                        <span class="quote-info__description">{{ quoteDetails.submittedDate }}</span>
                    </div>
                </div>

                <div class="col col-6">
                    <div class="row">
                        <div class="col col-4"><span class="quote-info__title" i18n>Expires: </span></div>
                        <div class="col col-8">
                            <span class="quote-info__description">{{ quoteDetails.expiryDate }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-4"><span class="quote-info__title" i18n>Your Reference: </span></div>
                        <div class="col col-8">
                            <span class="quote-info__description">
                                {{ quoteDetails.referenceNumber ? quoteDetails.referenceNumber : '--' }}
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-4"><span class="quote-info__title" i18n>Status: </span></div>
                        <div class="col col-8">
                            <span class="quote-info__description">{{ quoteDetails.status }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-4"><span class="quote-info__title" i18n>Currency: </span></div>
                        <div class="col col-8">
                            <span class="quote-info__description">{{ quoteDetails.quotedCurrency }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-6">
            <h3 i18n>Account Details</h3>

            <div class="quote-info">
                <span class="quote-info__title" i18n>Account Name: </span> <span>{{ quoteDetails.accountName }} </span>
            </div>

            <div class="row">
                <div class="col col-6">
                    <div class="row">
                        <div class="col col-4">
                            <span class="quote-info__title" i18n>Account Number: </span>
                            <span class="quote-info__title" i18n>Bill To: </span>
                        </div>

                        <div class="col col-8">
                            <span class="quote-info__account-description">{{ quoteDetails.accountNumber }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.addressLine1">{{
                                quoteDetails.billTo.addressLine1
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.addressLine2">{{
                                quoteDetails.billTo.addressLine2
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.addressLine3">{{
                                quoteDetails.billTo.addressLine3
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.city">{{
                                quoteDetails.billTo.city
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.country">{{
                                quoteDetails.billTo.country
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.billTo.postcode">{{
                                quoteDetails.billTo.postcode
                            }}</span>
                        </div>
                    </div>
                </div>

                <div class="col col-6">
                    <div class="row">
                        <div class="col col-2">
                            <span class="quote-info__title" i18n>Terms: </span> <span class="quote-info__title" i18n>Ship To: </span>
                        </div>

                        <div class="col col-10">
                            <span class="quote-info__account-description">{{ quoteDetails.terms }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.addressLine1">{{
                                quoteDetails.shipTo.addressLine1
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.addressLine2">{{
                                quoteDetails.shipTo.addressLine2
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.addressLine3">{{
                                quoteDetails.shipTo.addressLine3
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.city">{{
                                quoteDetails.shipTo.city
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.country">{{
                                quoteDetails.shipTo.country
                            }}</span>
                            <span class="quote-info__account-description" *ngIf="quoteDetails.shipTo.postcode">{{
                                quoteDetails.shipTo.postcode
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 i18n>
        Total Quoted Price:
        <span *ngIf="quoteDetails.totalCost">{{ quoteDetails.totalCost | formattedPrice: quoteDetails.quotedCurrency }}</span>
        <span *ngIf="!quoteDetails.totalCost">- -</span>
    </h3>
</div>

<div *ngIf="privateFeatureFlags?.buyFromQuotes">
    <div i18n data-automation-ref="Quoted-Line-Items-Expiry-message" class="label" *ngIf="shouldDisplayExpirationAlert()">
        <app-icon symbol="alert" class="icon-link__icon error"></app-icon
        ><span class="error error-label"
            >This quote will expire soon. Once it expires, the items won’t be purchasable from this quote.</span
        >
    </div>
</div>

<div *ngIf="quoteDetails" class="quote-details__top-filters row">
    <div class="col col-7">
        <div class="form form--inline">
            <div class="form-item">
                <div class="form-item__control">
                    <form [formGroup]="form" (ngSubmit)="checkForm()">
                        <input
                            type="text"
                            class="input quote-details__search-input"
                            placeholder="Search Part No, Manufacturer, CPN or Status"
                            i18n-placeholder
                            formControlName="searchQuery"
                        />
                    </form>
                </div>
            </div>

            <div class="cta-container">
                <button class="btn btn-secondary" type="submit" (click)="checkForm()">
                    <app-icon symbol="search" class="quote-details__button-icon"></app-icon>
                </button>
            </div>
        </div>

        <button (click)="resetForm()" class="icon-link quote-details__reset-link" [disabled]="!submittedSearch" i18n>
            <app-icon symbol="refresh" class="icon-link__icon"></app-icon> Reset
        </button>
    </div>

    <app-button
        i18n
        class="add-to-cart__btn"
        cssClass="btn-purchase"
        [disabled]="shouldDisableAddToCartButton()"
        *ngIf="privateFeatureFlags?.buyFromQuotes"
        (buttonClick)="addToCart()"
    >
        Add to cart
    </app-button>

    <div *ngIf="(quoteLineItems$ | async) && (quoteLineItems$ | async).length && !(loading$ | async)" class="col col-4">
        <app-pagination
            [pageLimit]="limit$ | async"
            [currentPage]="page$ | async"
            [totalPages]="totalPages$ | async"
            (pageLimitChange)="pageLimitChange($event)"
            (pageChange)="pageChange($event)"
            *ngIf="(totalPages$ | async) > 0"
        >
        </app-pagination>
    </div>
</div>

<!-- search field validation from the service -->
<div class="quote-details__error" *ngIf="(error$ | async) && serverError?.error?.status === '12007'">
    <app-icon symbol="alert" class="form--inline error icon-link__icon"></app-icon>
    <strong i18n role="alert" class="form--inline error">Invalid search term, minimum 4 characters </strong>
</div>

<!-- loading -->
<div *ngIf="(loading$ | async)"><app-loader></app-loader></div>

<div class="quote-details__messages">
    <!-- no results found -->
    <app-listing-message
        label="There are no quote lines to show"
        icon="list"
        *ngIf="(quoteLineItems$ | async) && !(quoteLineItems$ | async).length && !(loading$ | async)"
    >
    </app-listing-message>

    <!-- error -->
    <app-listing-message
        [label]="'Error retrieving quote line'"
        error="true"
        icon="cross"
        *ngIf="(error$ | async) && shouldDisplayError()"
    ></app-listing-message>
</div>

<!-- results -->
<div *ngIf="(quoteLineItems$ | async) && (quoteLineItems$ | async).length">
    <app-submitted-quote-details-listing
        [quoteLineItems]="quoteLineItems"
        [quoteStatus]="quoteStatus"
        [featureFlags]="privateFeatureFlags"
        [customerType]="customerType"
    ></app-submitted-quote-details-listing>

    <div class="row">
        <div class="col col-8"></div>
        <div class="col col-4">
            <app-pagination
                [pageLimit]="limit$ | async"
                [currentPage]="page$ | async"
                [totalPages]="totalPages$ | async"
                (pageLimitChange)="pageLimitChange($event)"
                (pageChange)="pageChange($event)"
                *ngIf="(totalPages$ | async) > 0"
            >
            </app-pagination>
        </div>
    </div>
</div>
