@import 'layout';
@import 'colors';
@import 'helpers';

:host {
  @extend .page-template--standard;
}

.say-thanks__message {
  padding: 0;
}

.order-complete {
  ::ng-deep .subtotal-display {
    justify-content: flex-start;

    .subtotal-display__disclaimer {
      display: none;
    }
  }

  &__purchase {
    width: 100%;
    text-align: center;
  }

  &__checkbox:first-child {
    margin-bottom: $spacing-x-1;
  }

  .order-details__link {
    margin-top: rem(40);
  }

  dl {
    padding: 0;
    margin: 0;
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    dt,
    dd {
      padding: rem(10) 0 0;
    }
    dt {
      color: $placeholder-color;
      width: 53%;
      &.order-confirm__subtotal-label {
        width: 22%;
      }
      &.order-confirm__total-label {
        font-size: rem(16);
        width: 15%;
      }
    }
    dd {
      color: $text-color;
      width: 47%;
      padding-left: rem(5);
      text-align: right;
      font-size: rem(18);
      &.order-confirm__subtotal {
        width: 78%;
      }
      &.order-confirm__total-value {
        font-size: rem(24);
        width: 85%;
      }
    }
  }
}

::ng-deep .order-confirmation-section {
  margin-top: $spacing-x-5;

  &__title {
    margin-bottom: $spacing-x-3;
  }

  #order-id {
    display: none;
  }
}
