<div class="row" id="print-section">
    <div class="col col-9">
        <div class="say-thanks">
            <h2 i18n>Thank you for your order</h2>
            <div class="say-thanks__message col  col-10">
                <p i18n>
                    You will receive an email confirming your request, which will include your confirmation number. You can view your orders
                    by clicking <a routerLink="/orders" data-automation-ref="nav-menu-orders">here</a>.
                </p>
                <p i18n>
                    Orders booked today will be visible on the next business day. You will receive an email confirming your request, which
                    will include your confirmation number.
                </p>
            </div>
        </div>

        <div class="order-confirmation-section">
            <hr />
            <app-checkout-account-information
                [accountInfo]="shippingAccountInfo$ | async"
                [shippingAddress]="shippingAddress$ | async"
                displayOnly="true"
            ></app-checkout-account-information>
        </div>

        <div class="order-confirmation-section">
            <hr />
            <div class="order-confirmation-section__title"><h3 i18n>Additional Order Information</h3></div>
            <ul class="property-list">
                <li class="property-list__item">
                    <span class="property-list__item-title" i18n>Purchase Order Number:</span> {{ poNumber }}
                </li>
                <li class="property-list__item" *ngIf="externalComments">
                    <span class="property-list__item-title" i18n>Comments:</span> {{ externalComments }}
                </li>
            </ul>

            <span id="order-id">{{ confirmedOrderId$ | async }}</span>
        </div>

        <div class="order-confirmation-section">
            <app-checkout-order-information
                displayOnly="true"
                *ngIf="lineItems$"
                [items]="lineItems$"
                [displayTariffInfo]="privateFeatureFlags?.tariff && displayTariffInfo"
            ></app-checkout-order-information>
        </div>
    </div>

    <div *ngIf="!(quoteCartItemCount$ | async)" class="col col-3">
        <div class="order-complete">
            <h2 i18n>Order Complete</h2>
            <app-subtotal-display *ngIf="lineItems$" [items]="lineItems$" itemValueKey="total" title="Subtotal"></app-subtotal-display>
            <a (click)="print()" class="icon-link order-details__link" i18n>
                <app-icon symbol="printer" class="icon-link__icon"></app-icon>
                Print this page
            </a>
            <hr />
            <div *ngIf="quotedItems">
                <a routerLink="/quotes" class="btn btn-purchase order-complete__purchase" i18n>CONTINUE TO QUOTE CART</a> <br />
                <strong>or</strong> <a routerLink="/dashboard" class="" i18n>Continue Shopping</a>
            </div>

            <a *ngIf="!quotedItems" routerLink="/dashboard" class="btn btn-purchase order-complete__purchase" i18n>CONTINUE SHOPPING</a>
        </div>
    </div>
    <div *ngIf="(quoteCartItemCount$ | async)" class="col col-3">
        <div class="order-complete">
            <h2 i18n>Order Complete</h2>
            <dl class="order-confirm__summary">
                <dt class="order-confirm__subtotal-label" data-automation-ref="subtotal-label" i18n>Subtotal</dt>
                <dd class="order-confirm__subtotal" data-automation-ref="subtotal">
                    {{ cart?.subTotal | formattedPrice: currencyCode:'subTotal' }}
                </dd>
                <dt data-automation-ref="tariff-subtotal-label" i18n>Estimated US Customs Tariff Charge</dt>
                <dd data-automation-ref="tariff-subtotal">{{ cart?.tariffTotal || 0 | currency: cart?.currency }}</dd>
                <dt class="order-confirm__total-label" data-automation-ref="total-label" i18n>Total</dt>
                <dd class="order-confirm__total-value" data-automation-ref="total">
                    {{ cart?.total || cart?.subTotal | formattedPrice: currencyCode:'subTotal' }}
                </dd>
            </dl>
            <a (click)="print()" class="icon-link order-details__link" i18n>
                <app-icon symbol="printer" class="icon-link__icon"></app-icon>
                Print this page
            </a>
            <hr />
            <a routerLink="/quotes" class="btn btn-purchase order-complete__purchase" i18n>CONTINUE TO QUOTE CART</a> <strong>or</strong>
            <a routerLink="/dashboard" i18n>Continue Shopping</a>
        </div>
    </div>
</div>
