<div class="forecasts flex-column"
     *ngIf="forecastLines.length">
    <h4 i18n class="forecasts__title">Forecast</h4>
    <table class="forecasts__table table__no-alt-rows">
        <thead>
            <tr>
                <th i18n data-automation-ref="cpn-header">Customer Part Number
                </th>
                <th i18n data-automation-ref="apn-mfr-header">Part Number /
                	<br/>Mfr
                </th>
                <th i18n data-automation-ref="inv-ats-header">Inventory 
                    <br/>Available to Sell
                </th>
                <th i18n data-automation-ref="mult-header">Multiple
                </th>
                <th i18n data-automation-ref="leadtime-header">Lead Time
                </th>
                <th i18n data-automation-ref="pip-qty-header">Pipeline 
                	<br>Next Delivery/
                    <br>Qty
                </th>
                <th i18n data-automation-ref="shortage">1st Shortage Date 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let forecastLine of forecastLines">
                <td>{{ forecastLine.custItemId }}</td>
                <td>{{ forecastLine.mfrItemId }}/{{ forecastLine.mfrName }}</td>
                <td>
                	<span i18n>Public:{{ forecastLine.inventoryAvailableToSell?.publicQty }}</span>
                	<br i18n/>Buffer:{{ forecastLine.inventoryAvailableToSell?.bufferQty }}
                	<br i18n/>On Site:{{ forecastLine.inventoryAvailableToSell?.onSiteQty }}
				</td>
                <td>{{ forecastLine.mult }}</td>
                <td>{{ forecastLine.onOrderPipeline?.leadtime }}</td>
                <td>{{ forecastLine.onOrderPipeline?.orderDate | date: 'yyyy-MM-dd' }}/{{forecastLine.onOrderPipeline?.quantity}}</td>
                <td>{{ forecastLine.firstShortDate | date: 'yyyy-MM-dd' }}</td>
            </tr>
        </tbody>
    </table>
</div>
