@import 'helpers';
@import 'variables';

.forecasts {
  @extend .flex;
  @extend .flex-direction-column;

  margin-top: $spacing-x-2;

  &__title {
    margin-bottom: $spacing-x-1;
  }

  &__table {
    margin-top: 0;
  }
}
