<app-dialog-panel (close)="onDismiss()"
                  data-automation-ref="submitted-quotes-add-to-SC-dialog-modal">
    <div dialog-header>
        <h1 i18n
            data-automation-ref="submitted-quotes-dialog-main-heading">Add to Cart</h1>
    </div>
    <div dialong-content>
        <p i18n
           data-automation-ref="submitted-quotes-dialog-copy-text"
           class="label label-error flex">
            <app-icon symbol="alert"
                      class="icon-link__icon error"></app-icon><span class="error">The shopping cart is
                currently
                limited to
                {{cartMaxLineItems$ | async}} items.
                Please either submit your current Shopping Cart or reduce the number of items you are adding.</span>
        </p>
    </div>
    <div dialog-footer>
        <ul>
            <li class="cta-container__list justify-space-between">
                <app-button (click)="onDismiss()"
                            class="btn-secondary"
                            data-automation-ref="submitted-quotes-dialog-cancel-button"
                            i18n>Cancel</app-button>
                <app-button (click)="viewCart()"
                            class="btn-primary"
                            data-automation-ref="submitted-quotes-dialog-view-cart-button"
                            i18n>View Cart</app-button>
            </li>
        </ul>
    </div>

</app-dialog-panel>