<app-view-submitted-quotes></app-view-submitted-quotes>

<div><app-loader *ngIf="(loading$ | async)" data-automation-ref="loading-mesage-quotes"></app-loader></div>

<div *ngIf="!(loading$ | async) && !lineItemCount">
    <div>
        <app-quote-cart-item-count *ngIf="!(loading$ | async)" [loading]="loading$ | async" [lineItemCount]="lineItemCount">
        </app-quote-cart-item-count>
    </div>

    <app-listing-message label="Your quote cart is currently empty." icon="cart" data-automation-ref="no-items-message">
        <a i18n routerLink="/" class="icon-link"> <app-icon symbol="cart" class="icon-link__icon"></app-icon> Continue shopping </a>
    </app-listing-message>
</div>

<div *ngIf="!(loading$ | async) && lineItemCount" data-automation-ref="quote-cart-item-content" class="row">
    <div class="col col-9">
        <div>
            <app-quote-cart-item-count *ngIf="!(loading$ | async)" [loading]="loading$ | async" [lineItemCount]="lineItemCount">
            </app-quote-cart-item-count>
        </div>

        <div *ngIf="!(loading$ | async) && lineItemCount" data-automation-ref="quote-cart-item-count" i18n>
            <app-line-item-count [lineItemCount]="lineItemCount"></app-line-item-count>
        </div>
        <div class="tariff-headline" i18n data-automation-ref="tariff-headline" *ngIf="privateFeatureFlags?.tariff && showTariffHeadline">
            Items in your cart have an estimated US Customs Tariff associated with them.
            <a href="https://www.arrow.com/en/support/tariff-support/tariff-lists" target="_blank">See more info</a>.
        </div>
        <app-quote-cart-table-controls
            *ngIf="!(loading$ | async) && lineItemCount"
            [isCheckboxSelected]="areSomeQuoteCartLineItemsChecked()"
            [isCartChanged]="areSomeQuoteCartLineItemsChangedAndValid()"
            [lineItemsValidationStatus]="checkQuoteCartLineItemsValidationStatus()"
            (updateCartItems)="updateQuoteCartLineItems()"
            (requestDateChange)="changeLineItemsDate($event)"
            (deleteCartItems)="deleteQuoteCartLineItems()"
        >
        </app-quote-cart-table-controls>
        <app-quote-cart-table
            [lineItems]="cart.lineItems"
            [currencyCode]="currencyCode"
            view="default"
            [displayTariffInfo]="privateFeatureFlags?.tariff"
        ></app-quote-cart-table>
    </div>
    <div class="col col-3">
        <app-quote-cart-summary
            [additionalInfo]="cart.additionalInfo"
            [isCartChanged]="areSomeQuoteCartLineItemsChangedAndValid()"
            [isCartValid]="isQuoteCartValid()"
            [lineItems]="cart.lineItems"
            [lineItemsValidationStatus]="checkQuoteCartLineItemsValidationStatus()"
        ></app-quote-cart-summary>
    </div>
</div>
