@import 'layout';

:host {
  @extend .page-template--standard;
}

app-listing-message {
  ::ng-deep {
    .listing-message__inner {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.tariff-headline {
  font-size: rem(10);
  margin-top: rem(10);
}
