<app-dialog-panel (close)="dismiss()">

    <div dialog-header>
        <span class="h1"
              i18n>Ship-To Account</span>
        <p i18n
           class="subtitle">Please select your Ship-To Account below:</p>
    </div>

    <app-loader *ngIf="shipToAccounts.loading"></app-loader>

    <table class="ship-to-account"
           *ngIf="shipToAccounts.items && !shipToAccounts.loading && !shipToAccounts.error">
        <thead>
            <tr>
                <th i18n>Account&nbsp;Number</th>
                <th i18n>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of shipToAccounts.items">
                <td>
                    <div class="ship-to-account__selection">
                        <app-radio [label]="account.id.shipToID"
                                   [radioValue]="account.id.shipToID"
                                   [(value)]="selectedShipToAccountId"></app-radio>
                    </div>
                </td>
                <td>
                    <div class="ship-to-account__address"
                         [innerHtml]="account | formattedAddress"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <app-listing-message *ngIf="shipToAccounts.error"
                         [error]="true"
                         icon="cross"
                         label="There was an error getting your shipping addresses"></app-listing-message>

    <div dialog-footer
         class="cta-container">
        <p *ngIf="showTariffInclusionWarning"
           class="ship-to-account__tariff-message error small bold"
           role="alert"
           i18n>
            <app-icon symbol="alert"
                      class="icon listing-message__icon"></app-icon>
            Selecting an US address may incur an US Customs Tariff added to your order total.
        </p>

        <p *ngIf="showTariffRemovalWarning"
           class="ship-to-account__tariff-message error small bold"
           role="alert"
           i18n>
            <app-icon symbol="alert"
                      class="icon listing-message__icon"></app-icon>
            Changing to a non US address will remove US Customs Tariff from your order total.
        </p>

        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-button (click)="dismiss()"
                            class="btn-secondary"
                            i18n>Cancel</app-button>
            </li>
            <li class="cta-container__list-item">
                <app-button (click)="confirm()"
                            [disabled]="shipToAccounts.error || shipToAccounts.loading"
                            [loading]="submitting"
                            class="btn-primary"
                            i18n>Select Account</app-button>
            </li>
        </ul>
    </div>

</app-dialog-panel>