<app-information-box class="info-box" [title]="'Password'">
    <div class="row"><div class="col col-12">Password must have:</div></div>
    <ng-container *ngTemplateOutlet="passwordValidationItem; context: { title: '8 - 25 characters', status: isPasswordValidOn('length') }">
    </ng-container>

    <ng-container
        *ngTemplateOutlet="
            passwordValidationItem;
            context: { title: 'At least one alpha lowercase (a-z)', status: isPasswordValidOn('lowercase') }
        "
    >
    </ng-container>

    <ng-container
        *ngTemplateOutlet="passwordValidationItem; context: { title: 'One alpha uppercase (A-Z)', status: isPasswordValidOn('uppercase') }"
    >
    </ng-container>

    <ng-container *ngTemplateOutlet="passwordValidationItem; context: { title: 'One numeric (0-9)', status: isPasswordValidOn('number') }">
    </ng-container>
</app-information-box>

<ng-template #passwordValidationItem let-title="title" let-status="status">
    <div class="row" [ngClass]="status" [ngSwitch]="status">
        <div class="col col-1">
            <app-icon *ngSwitchCase="'error'" class="icon-list__item-icon" symbol="alert"></app-icon>
            <app-icon *ngSwitchCase="'ok'" class="icon-list__item-icon" symbol="tick"></app-icon>
            <app-icon *ngSwitchDefault class="icon-list__item-icon" symbol="line"></app-icon>
        </div>
        <div class="col col-10" i18n>{{ title }}</div>
    </div>
</ng-template>
