@import 'colors';
@import 'layout';
@import 'functions';

:host {
  @extend .page-template--standard;
}

.select-all-header,
.select-all {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 4%;
}

.item-details {
  width: 20%;
  &.with-tariff {
    padding-left: rem(20);
  }

  &__container {
    max-width: rem(150);
  }

  &__icon {
    color: $alizarin-crimson;
  }

  &__checkbox-column {
    display: flex;
    align-items: center;
    flex-basis: auto;
    max-width: 100%;
    min-height: 40px;
    flex-direction: column;
    justify-content: space-around;
  }
}

.cart-cpn-information {
  width: 21%;
}

.cart-ncnr {
  width: 10%;
}

.cart-request-date {
  width: 15%;
}

.cart-price {
  width: 10%;
  position: relative;
}

.cart-quantity {
  width: 10%;
}

.cart-total {
  width: 10%;
}

.shopping-cart {
  .shopping-cart__tariff-message {
    font-size: rem($small-font-size);
  }
  .shopping-cart__table {
    width: 100%;

    td {
      ::ng-deep {
        .dropdown__label-wrapper {
          padding-left: rem(10);
          padding-right: rem(10);
        }
        .date-picker__input {
          padding-left: rem(10);
          padding-right: rem(10);
          display: flex;
          align-items: center;
        }
      }
      &.item-details {
        &.with-tariff {
          padding-left: rem(20);
          position: relative;
          .tariff-indicator {
            font-size: rem(20);
            position: absolute;
            left: 0;
            width: rem(20);
            line-height: rem(20);
            text-align: center;
            cursor: help;
            ::ng-deep {
              [appTooltip] {
                margin: 0;
                width: auto;
                height: auto;
                border: 0;
                line-height: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.shopping_cart__order-summary {
  hr {
    margin: rem(20) 0;
  }
  dl {
    padding: 0;
    margin: 0;
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    dt,
    dd {
      padding: rem(10) 0 0;
    }
    dt {
      color: $placeholder-color;
      width: 53%;
      &.shopping-cart__subtotal-label {
        width: 22%;
      }
      &.shopping-cart__total-label {
        font-size: rem(16);
        width: 15%;
      }
    }
    dd {
      color: $text-color;
      width: 47%;
      padding-left: rem(5);
      text-align: right;
      font-size: rem(18);
      &.shopping-cart__subtotal {
        width: 78%;
      }
      &.shopping-cart__total-value {
        font-size: rem(24);
        width: 85%;
      }
    }
    &.shopping-cart__account-details {
      font-weight: 400;
      margin-bottom: rem(20);
      dt,
      dd {
        font-size: rem(14);
      }
      dt {
        width: 35%;
      }
      dd {
        width: 65%;
        padding-left: rem(10);
        text-transform: uppercase;
        text-align: left;
      }
    }
  }

  .btn-purchase {
    margin-bottom: rem(10);
    width: 100%;
  }

  .btn-credit-card {
    margin-bottom: rem(20);
  }
}

.main-title {
  display: flex;

  &__quantity {
    margin-left: rem(10);
    padding-top: rem(2);
    font-size: rem(16);
    color: $boulder-2;
  }
}

.price {
  width: rem(110);
  text-align: center;
  position: relative;
}

table th:nth-child(6) {
  text-align: center;
}

%cart-detail__input {
  text-align: center;
  font-size: 12px; //TODO work around. Remove this once the final style is defined.
}

.part-number__input,
.request-date__input {
  @extend %cart-detail__input;

  height: rem(40);
  width: rem(164);
}

.item-quantity {
  display: block;
  text-align: center;
}

.item-quantity__input {
  @extend %cart-detail__input;
  height: rem(40);
  margin: 0em; //TODO work around. Remove this once the final style is defined.
  padding-left: 1px; //TODO work around. Remove this once the final style is defined.
  padding-right: 1px; //TODO work around. Remove this once the final style is defined.
}

.help-block {
  display: block;
  color: $alizarin-crimson;
  width: 70px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cta-container {
  margin: rem(20) rem(0);

  .icon-link {
    margin-right: rem(15);
    span {
      display: inline-block;
      margin-left: rem(5);
    }
    &[disabled] {
      color: $alto;
    }
  }
}

table td .btn-link {
  text-align: left;

  &[disabled] {
    color: $alto;
  }
}

.delete__modal {
  button {
    margin-left: rem(10);
  }
}

.reel__modal {
  .row {
    margin-bottom: rem(20);
  }
  .col {
    label {
      span {
        display: block;
        font-weight: normal;
        margin-bottom: rem(20);
      }
    }
  }
  .reel__subtotal-button {
    margin-top: rem(58);
    .btn {
      display: block;
    }
  }
  .reel__subtotal {
    label {
      font-weight: normal;
      span {
        display: inline;
      }
    }
  }
  .reel__cta {
    margin-top: rem(20);
    button + button {
      margin-left: rem(10);
    }
  }
}

.request-date {
  display: flex;
  position: relative;
  margin-right: rem(10);
}

.message-text {
  font-weight: bold;
}

.error-text {
  color: $error-color;
}

.information-text {
  color: $information-color;
}

.quoted-item-text {
  color: $secondary-text-clr;
}

.warning-message {
  font-size: rem(12);
  margin-top: rem(20);
}

.error.small {
  text-align: center;
}

.request-dates-mask {
  position: relative;
  z-index: 2;
  &.disabled {
    color: $alto;
    text-decoration: none;
  }
  .multiple-request-date {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    ::ng-deep {
      .date-picker {
        width: 100%;
        .date-picker__form {
          width: 100%;
        }
        .date-picker__input {
          border: none;
          font-size: 12px;
          font-weight: bold;
          margin: 0;
          padding: 0;
          opacity: 0;
        }
        .date-picker__input:hover {
          color: #009ddc;
          text-decoration: underline;
        }
      }
      .date-picker.date-picker--disabled {
        .date-picker__input {
          color: $alto;
        }
        .date-picker__input:hover {
          text-decoration: none;
        }
      }
    }
  }
}

button.font-weight-normal {
  font-weight: 400;
}
