<div class="row">
    <div class="shopping-cart col" [class.col-12]="!cartItems?.length" [class.col-9]="cartItems?.length">
        <div class="main-title">
            <label class="h2" i18n>Shopping Cart</label>
            <label *ngIf="cartForm && cartItems?.length" data-automation-ref="main-title__quantity" class="main-title__quantity">
                ({{ cartItems?.length || 0 }})
            </label>
        </div>
        <label
            i18n
            class="secondary-title"
            *ngIf="!(loading$ | async) && cartForm && cartItems?.length"
            data-automation-ref="secondary-title__quantity"
        >
            {{ cartItems?.length || 0 }} items in your shopping cart
        </label>
        <p *ngIf="privateFeatureFlags?.tariff && tariffTotal" class="shopping-cart__tariff-message">
            <ng-container i18n>* Items in your cart have an estimated US Customs Tariff charge associated with them.</ng-container>
            <a href="https://www.arrow.com/en/support/tariff-support/tariff-lists" target="_blank" i18n>See more info</a>.
        </p>
        <div class="cta-container" *ngIf="cartForm && cartItems?.length">
            <button
                [disabled]="!lineItemsChanged || !cartForm.valid || hasPendingItems()"
                data-automation-ref="update-cart-button"
                class="icon-link"
                (click)="updateItems()"
            >
                <app-icon
                    symbol="forward"
                    [ngClass]="{ 'order-lines-search__button-icon': true, disable: !lineItemsChanged || !cartForm.valid }"
                ></app-icon>
                <span i18n>Update</span>
            </button>

            <div
                class="request-dates-mask icon-link"
                data-automation-ref="multiple-request-date"
                [class.disabled]="!(selectedIds$ | async).length || hasPendingItems()"
            >
                <app-icon symbol="calendar"></app-icon>
                <span i18n>Change Selected Dates</span>
                <app-date-picker
                    class="multiple-request-date"
                    calendarCount="1"
                    [dates]="requestDatePickerDates"
                    [minDate]="minDate"
                    [disabled]="!(selectedIds$ | async).length || hasPendingItems()"
                    (datesChange)="changeLineItemsDate($event)"
                    [dateInputs]="multipleRequestDateConfiguration"
                    [showActions]="false"
                >
                </app-date-picker>
            </div>

            <button
                [disabled]="!(selectedIds$ | async).length"
                data-automation-ref="delete-button"
                class="icon-link"
                (click)="openDeleteDialog()"
            >
                <app-icon symbol="trash"></app-icon>
                <span i18n>Delete Selected Items</span>
            </button>
        </div>

        <form *ngIf="!(loading$ | async) && cartForm && cartItems?.length" [formGroup]="cartForm">
            <table appStickyHeader class="shopping-cart__table" data-automation-ref="shopping-cart-table">
                <thead>
                    <tr>
                        <th class="select-all-header" data-automation-ref="select-all-header">
                            <app-checkbox
                                data-automation-ref="select-all-checkbox"
                                [value]="(selectedIds$ | async).length === shoppingCart.length && shoppingCart.length > 0"
                                (valueChange)="toggleLineItems($event, shoppingCart)"
                            ></app-checkbox>
                        </th>
                        <th
                            class="item-details"
                            [class.with-tariff]="privateFeatureFlags?.tariff && tariffTotal"
                            data-automation-ref="item-header"
                            i18n
                        >
                            Item
                        </th>
                        <th class="cart-cpn-information" data-automation-ref="customer-part-number-header" i18n>Customer Part Number</th>
                        <th class="cart-ncnr" data-automation-ref="ncnr-header" i18n>NCNR</th>
                        <th class="cart-request-date" data-automation-ref="request-date-header" i18n>Request Date</th>
                        <th class="cart-price" data-automation-ref="price" i18n>Price</th>
                        <th class="cart-quantity" data-automation-ref="quantity" i18n>Quantity</th>
                        <th class="cart-total" data-automation-ref="total" i18n>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        formArrayName="cartItems"
                        data-automation-ref="cartItems"
                        *ngFor="let cartItem of cartItems.controls; let i = index"
                    >
                        <td class="select-all" [formGroupName]="i">
                            <div class="item-details__checkbox-column">
                                <app-checkbox
                                    data-automation-ref="select-line-item-checkbox"
                                    [value]="isSelected(shoppingCart[i], selectedIds$ | async)"
                                    (valueChange)="toggleLineItems($event, [shoppingCart[i]])"
                                ></app-checkbox>
                                <app-icon *ngIf="shouldShowQuantityErrors(cartItem)" symbol="alert" class="item-details__icon"></app-icon>
                            </div>
                        </td>
                        <td class="item-details" [class.with-tariff]="privateFeatureFlags?.tariff && tariffTotal">
                            <div
                                *ngIf="privateFeatureFlags?.tariff && cartItem.value.tariffApplicable && cartItem.value.tariffValue"
                                class="tariff-indicator"
                            >
                                <span
                                    appTooltip="Item has a US Customs tariff charge"
                                    placement="top"
                                    [customStyles]="{ 'max-width': '22rem' }"
                                    >*</span
                                >
                            </div>
                            <div>
                                <a [routerLink]="['/products', cartItem.value.docId]">
                                    <strong data-automation-ref="customerPartItemNumber">
                                        {{ cartItem.value.manufacturerPartNumber }}
                                    </strong>
                                </a>
                            </div>
                            <div *ngIf="!cartItem.value.quoted && isItemNotValid(cartItem.value)" class="error-text" i18n>Invalid Item</div>
                            <div
                                *ngIf="
                                    privateFeatureFlags?.buyFromQuotes &&
                                    !isItemPending(cartItem.value) &&
                                    cartItem.value.quoted &&
                                    !isQuotedValid(cartItem)
                                "
                                class="error-text"
                                i18n
                            >
                                Invalid Item
                            </div>
                            <div *ngIf="isItemPending(cartItem.value)" class="information-text" i18n>Pending Item</div>
                            <p data-automation-ref="customerPartManufacturerName">{{ cartItem.value.manufacturer }}</p>
                            <div i18n data-automation-ref="customerPartItemDescription" class="item-description">
                                {{ cartItem.value.description }}
                            </div>
                            <div
                                *ngIf="
                                    privateFeatureFlags?.buyFromQuotes &&
                                    cartItem.value.quoted &&
                                    shoppingCart[i]?.validation !== quoteExpiredStatus
                                "
                                class="quoted-item-text"
                                i18n
                            >
                                <app-icon symbol="i-bubble" class="icon-link__icon"></app-icon> Quoted Item
                            </div>
                            <div
                                *ngIf="
                                    privateFeatureFlags?.buyFromQuotes &&
                                    cartItem.value.quoted &&
                                    shoppingCart[i]?.validation === quoteExpiredStatus
                                "
                                class="error-text"
                                i18n
                            >
                                <app-icon symbol="alert" class="icon-link__icon"></app-icon> Expired Quote
                            </div>
                        </td>
                        <td class="cart-cpn-information" [formGroupName]="i">
                            <app-line-item-cpn
                                data-automation-ref="cpn-information"
                                [data]="getLineItemCpnData(shoppingCart[i])"
                                [disabled]="isItemPending(shoppingCart[i]) || canEditCPNField(cartItem.value.quoted)"
                                (customCpnChange)="
                                    onCustomCpnChange($event, cartItem?.controls?.enteredCustomerPartNumber, cartItem?.value?.id)
                                "
                            ></app-line-item-cpn>
                        </td>
                        <td
                            class="cart-ncnr"
                            i18n
                            [class.error-text]="cartItem.value.ncnr && !!!cartItem.value.ncnrAccepted"
                            data-automation-ref="ncnr"
                        >
                            {{ cartItem.value.ncnr ? 'Yes' : 'No' }}
                        </td>
                        <td class="cart-request-date" [formGroupName]="i">
                            <app-date-picker
                                class="request-date"
                                formControlName="requestDate"
                                calendarCount="1"
                                [minDate]="minDate"
                                [dateInputs]="requestDateConfiguration"
                                (datesChange)="changeLineItemDate($event, shoppingCart[i])"
                                [showActions]="false"
                            ></app-date-picker>
                        </td>
                        <td data-automation-ref="price" class="cart-price">
                            <span *ngIf="privateFeatureFlags?.buyFromQuotes && cartItem.value.quoted" data-automation-ref="price-value">
                                {{ getCartItemPrice(cartItem.value) | formattedPrice: currencyCode }}
                            </span>
                            <span
                                *ngIf="!cartItem.value.quoted && cartItem.value.price"
                                data-automation-ref="price-value"
                                (mouseover)="toggle(i)"
                                (mouseout)="toggle(i)"
                            >
                                {{ getCartItemPrice(cartItem.value) | formattedPrice: currencyCode }}
                            </span>
                            <div
                                *ngIf="!cartItem.value.quoted && !cartItem.value.price"
                                i18n
                                class="error small"
                                role="alert"
                                data-automation-ref="call-for-pricing-msg"
                            >
                                -
                            </div>
                            <div
                                *ngIf="privateFeatureFlags?.buyFromQuotes && cartItem.value.quoted && !cartItem.value.quotedPrice"
                                i18n
                                class="error small"
                                role="alert"
                                data-automation-ref="call-for-pricing-msg"
                            >
                                -
                            </div>
                            <app-price-tiers
                                *ngIf="showTiers[i] && !isReelSelected(cartItem.value) && !cartItem.value.quoted"
                                [priceTiers]="shoppingCart[i].priceTiers"
                                [quantity]="shoppingCart[i].quantity"
                                [currencyCode]="currencyCode"
                            >
                            </app-price-tiers>
                        </td>
                        <td class="cart-quantity" [formGroupName]="i" data-automation-ref="quantity">
                            <div data-automation-ref="quantity-value">
                                <input
                                    type="number"
                                    formControlName="quantity"
                                    data-automation-ref="quantity"
                                    [ngClass]="{
                                        input: true,
                                        'item-quantity__input': true,
                                        'input--error': shouldShowQuantityErrors(cartItem)
                                    }"
                                    appOnlyPositiveNumbers
                                    appPreventEnterKeyDirective
                                    appNoLeadingZeros
                                    (paste)="(false)"
                                />
                                <span
                                    class="help-block"
                                    data-automation-ref="quantity-error-msg"
                                    *ngIf="shouldShowQuantityErrors(cartItem)"
                                >
                                    {{ getQuantityErrorMessage(cartItem.controls.quantity, cartItem.value) }}
                                </span>
                            </div>
                            <div *ngIf="!cartItem.value.quoted && isReelSelected(cartItem.value)">
                                <button
                                    class="btn-link font-weight-normal"
                                    [disabled]="isItemPending(cartItem.value)"
                                    [class.disabled]="isItemPending(cartItem.value)"
                                    (click)="openReelModal(shoppingCart[i])"
                                    i18n
                                >
                                    Edit Arrow Reel
                                </button>
                            </div>
                            <div *ngIf="!cartItem.value.quoted && cartItem.value.arrowReel && !isReelSelected(cartItem.value)">
                                <button
                                    class="btn-link font-weight-normal"
                                    [disabled]="isItemPending(cartItem.value)"
                                    [class.disabled]="isItemPending(cartItem.value)"
                                    (click)="openReelModal(shoppingCart[i])"
                                    i18n
                                >
                                    Change to Arrow Reel
                                </button>
                            </div>
                        </td>
                        <td class="cart-total" data-automation-ref="total">
                            <span *ngIf="privateFeatureFlags?.buyFromQuotes && cartItem.value.quoted" data-automation-ref="total-value">
                                {{
                                    multiply(getCartItemPrice(cartItem.value), cartItem.controls.quantity.value)
                                        | formattedPrice: currencyCode
                                }}
                            </span>
                            <span *ngIf="!cartItem.value.quoted && cartItem.value.price" data-automation-ref="total-value">
                                {{
                                    multiply(getCartItemPrice(cartItem.value), cartItem.controls.quantity.value)
                                        | formattedPrice: currencyCode
                                }}
                            </span>
                            <span
                                class="error small"
                                *ngIf="!cartItem.value.quoted && !cartItem.value.price"
                                data-automation-ref="total-unavailable"
                                >--</span
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <app-listing-message
            label="Your shopping cart is currently empty."
            icon="cart"
            *ngIf="!(loading$ | async) && !(error$ | async) && cartItems && !cartItems.length"
            data-automation-ref="no-items-message"
        >
            <a i18n routerLink="/" class="icon-link"> <app-icon symbol="cart" class="icon-link__icon"></app-icon> Continue shopping </a>
        </app-listing-message>
        <app-listing-message
            *ngIf="(error$ | async)"
            [error]="true"
            icon="list"
            label="There was an error getting your cart items"
        ></app-listing-message>
        <div><app-loader *ngIf="(loading$ | async)" data-automation-ref="loading-mesage"></app-loader></div>
    </div>

    <div *ngIf="!(loading$ | async) && cartForm && cartItems?.length" class="shopping_cart__order-summary col col-3">
        <div class="main-title"><label class="h2" i18n>Order Summary</label></div>
        <dl class="shopping-cart__summary">
            <dt
                *ngIf="privateFeatureFlags?.tariff && tariffTotal"
                class="shopping-cart__subtotal-label"
                data-automation-ref="subtotal-label"
                i18n
            >
                Subtotal
            </dt>
            <dd *ngIf="privateFeatureFlags?.tariff && tariffTotal" class="shopping-cart__subtotal" data-automation-ref="subtotal">
                {{ cartSubtotal | formattedPrice: currencyCode:'subTotal' }}
            </dd>
            <dt *ngIf="privateFeatureFlags?.tariff && tariffTotal" data-automation-ref="tariff-subtotal-label" i18n>
                Estimated US Customs Tariff Charge
            </dt>
            <dd *ngIf="privateFeatureFlags?.tariff && tariffTotal" data-automation-ref="tariff-subtotal">
                {{ tariffTotal || '0' | formattedPrice: currencyCode:'subTotal' }}
            </dd>
            <dt class="shopping-cart__total-label" data-automation-ref="total-label" i18n>Total</dt>
            <dd class="shopping-cart__total-value" data-automation-ref="total">
                {{ cartTotal | formattedPrice: currencyCode:'subTotal' }}
            </dd>
        </dl>
        <hr />
        <dl class="shopping-cart__account-details">
            <dt data-automation-ref="account-name" i18n>Account Name:</dt>
            <dd>{{ accountName$ | async }}</dd>
            <dt data-automation-ref="account-number" i18n>Account Number:</dt>
            <dd>{{ billToId$ | async }}</dd>
            <dt data-automation-ref="account-terms" i18n>Terms:</dt>
            <dd>{{ accountTerms$ | async }}</dd>
        </dl>
        <a data-automation-ref="select-different-account" (click)="openBillToDialog($event)" i18n href="#"> Select a Different Account </a>
        <div
            class="message-text error-text warning-message"
            data-automation-ref="ncnr-warning-message"
            *ngIf="showNcnrWarning && isNCNRAgreementPending()"
        >
            <strong i18n>You must remove the NCNR item(s) in your cart before proceeding, or accept the NCNR agreement.</strong>
        </div>
        <div class="message-text error-text warning-message" data-automation-ref="invalid-items-message" *ngIf="hasInvalidItems()">
            <strong i18n>Non-purchasable item(s) in cart, please remove the item(s) to continue.</strong>
        </div>
        <div
            class="message-text error-text warning-message"
            data-automation-ref="invalid-quoted-items-message"
            *ngIf="privateFeatureFlags?.buyFromQuotes && hasInvalidOrExpiredQuotes()"
        >
            <strong i18n>Invalid/expired quoted item(s) in cart, please remove the item(s) to continue.</strong>
        </div>
        <div class="message-text error-text warning-message" data-automation-ref="ncnr-warning-message" *ngIf="hasPendingItems()">
            <strong i18n>Please wait until the items on the list are reviewed.</strong>
        </div>
        <hr />
        <button
            [disabled]="!readyForCheckout || hasValidationErrors()"
            data-automation-ref="checkout-terms"
            type="submit"
            class="btn btn-purchase"
            (click)="checkoutWithTermsAccount()"
        >
            <span i18n>Checkout with terms account</span>
        </button>
        <button
            *ngIf="hasAValidRegion()"
            [disabled]="!readyForCheckout || hasValidationErrors()"
            data-automation-ref="checkout-credit"
            type="submit"
            class="btn btn-purchase btn-credit-card"
            (click)="checkOutWithCreditCard()"
        >
            <span i18n>Checkout with credit card</span>
        </button>
        <p>or <a [routerLink]="['/']" data-automation-ref="continue-shopping" i18n> Continue Shopping </a></p>
    </div>
</div>
