<div class="sortable-col-header__label">
    <span i18n>
        <ng-content></ng-content>
    </span>
    <span class="sortable-col-header__icon">
        <app-icon symbol="sort"
                  class="icon"
                  *ngIf="!order"></app-icon>
        <app-icon symbol="up-sort"
                  class="icon"
                  *ngIf="order === 'ASC'"></app-icon>
        <app-icon symbol="down-sort"
                  class="icon"
                  *ngIf="order === 'DESC'"></app-icon>
    </span>
</div>