@import 'functions';
@import 'colors';

:host {
  cursor: pointer;
}

.sortable-col-header__icon {
  align-self: flex-start;
  margin-left: em(5);
  color: $baltic-sea;
}

.sortable-col-header__label {
  display: flex;
  align-items: center;
}
