<app-dialog-panel (close)="onDismiss()"
                  data-automation-ref="quote-cart-delete-dialog-modal">
    <div dialog-header>
        <h1 i18n
            data-automation-ref="delete-dialog-main-heading">Delete Selected Items?</h1>
    </div>
    <div dialong-content>
        <p i18n
           data-automation-ref="delete-dialog-copy-text">
            Are you sure you want to delete these item(s) in your quote cart?
        </p>
    </div>
    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <app-button (click)="onDismiss()"
                            class="btn-secondary space-right"
                            data-automation-ref="delete-dialog-cancel-button"
                            i18n>Cancel</app-button>
                <app-button (click)="onDismiss(shouldDelete)"
                            class="btn-primary"
                            data-automation-ref="delete-dialog-delete-button"
                            i18n>Delete Item(s)</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>