@import 'variables';
@import 'functions';
@import 'mixins';

.product-filters {
  @include product-filter();
}

.product-filters__title {
  @include product-filter-title();
}

.product-filters__list {
  padding: rem(5) 0;
  display: block;
}

.product-filters__primary {
  padding: 0 rem(10);
}
