<div class="product-filters">
    <h1 class="product-filters__title"
        i18n>
        Filters
    </h1>

    <ul class="product-filters__primary">
        <li *ngFor="let filter of filters"
            class="product-filters__list">
            <app-checkbox label="{{ localiseEnum(filter.name) }}"
                          (valueChange)="toggleFilter($event, filter.name)"
                          [value]="isChecked(filter.name)">
            </app-checkbox>
        </li>
    </ul>
</div>