@import 'functions';
@import 'variables';
@import 'colors';

.tip-wrapper {
  position: relative;
  .info-box {
    position: absolute;
    left: 100%;
    width: 55%;
    margin-left: rem(50);
    margin-top: rem(-30);
  }
  &.first {
    .info-box {
      margin-top: rem(-30);
    }
  }
}
