<div *ngIf="!submitted">
    <div class="tip-wrapper">
        <app-password-information-box class="info-box" [value]="newPasswordControl.value"> </app-password-information-box>
    </div>

    <h2 i18n>Provide Your New Password</h2>

    <p i18n class="intro">
        Password must be between 8 - 25 characters and contain at least one alpha lowercase, one alpha uppercase, and one numeric.
    </p>

    <p *ngIf="showMatchingError" i18n role="alert" class="error">Passwords do not match</p>

    <form #resetForm="ngForm" (ngSubmit)="submit()" [formGroup]="form">
        <app-input-field
            i18n-label
            i18n-placeholder
            [form]="resetForm"
            [control]="form.controls['newPassword']"
            label="New Password"
            placeholder="Enter New Password"
            [type]="'password'"
            [maxlength]="'25'"
        ></app-input-field>

        <app-input-field
            i18n-label
            i18n-placeholder
            [form]="resetForm"
            [control]="form.controls['confirmNewPassword']"
            label="Confirm New Password"
            placeholder="Enter New Password Again"
            [type]="'password'"
            (paste)="avoidPaste($event)"
            [maxlength]="'25'"
        ></app-input-field>

        <div class="cta-container">
            <ul class="cta-container__list cta-container__list--reverse">
                <li class="cta-container__list-item">
                    <button i18n [disabled]="form.invalid" class="btn btn-primary" type="submit">Reset Password</button>
                </li>
                <li class="cta-container__list-item"><a i18n routerLink="/login" class="btn btn-secondary" type="submit">Cancel</a></li>
            </ul>
        </div>

        <ul class="link-list link-list--reset right-align">
            <li class="link-list__item">
                <a i18n *ngIf="publicFeatureFlags?.registration" routerLink="/register" class="small">Create a New Account</a>
            </li>
            <li class="link-list__item"><a i18n routerLink="/login" class="small">Sign In to MyArrow</a></li>
        </ul>
    </form>
</div>

<app-pwd-success *ngIf="submitted" [message]="'reset-success'"></app-pwd-success>
