@import "variables";
@import "functions";

footer {
  padding: $spacing-x-3 0;
  background: url(/assets/images/component-lines.svg) no-repeat right bottom $baltic-sea;
  color: $white;
  height: rem(170);
  min-width: rem($page-width);
}

.left-footer-column {
  float: left;
}

.right-footer-column {
  float: right;
}

.footer-menu {
  margin-top: $base-spacing;
  margin-bottom: $spacing-x-5;

  li {
    display: inline;
    position: relative;
    padding: 0 $spacing-x-2;

    &:first-child {
      padding-left: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      width: rem(1);
      height: rem(10);
      background-color: $white;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  a {
    color: $white;
    text-transform: uppercase;
    font-size: rem(10);
    line-height: 1.5;
    letter-spacing: rem(1.2);
    text-decoration: none;
  }
}

.copyright {
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: rem(.5);
}
