<footer>
    <div class="wrap">
        <div class="left-footer-column">
            <a href="/" class="myarrow-logo myarrow-logo--footer" i18n-title title="https://my.arrow.com/"></a>
            <ul class="footer-menu">
                <li>
                    <a
                        href="mailto:myarrow@arrow.com?subject=Feedback%20from%20MyArrow&body=I%20have%20some%20feedback%20regarding%20MyArrow%3A"
                        target="_blank"
                        i18n="site footer|Footer menu item feedback"
                        >Feedback</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.arrow.com/en/legal/privacy-policy"
                        target="_blank"
                        i18n="site footer|Footer menu item privacy policy"
                        >Privacy policy</a
                    >
                </li>
                <li>
                    <a href="https://www.arrow.com/en/legal/terms-of-use" target="_blank" i18n="site footer|Footer menu item terms of use"
                        >Terms of use</a
                    >
                </li>
                <li>
                    <a href="https://www.arrow.com/en/legal/cookie-policy" target="_blank" i18n="site footer|Footer menu item cookie policy"
                        >Cookie policy</a
                    >
                </li>
                <li *ngIf="loggedIn">
                    <a
                        href="mailto:myarrow@arrow.com?subject=Forget Me MyArrow Request&body=USER: {{
                            userEmail
                        }} %0D%0A%0D%0AI'd like to be forgotten. I understand that all personal identification information associated to my account will be erased and will no longer be stored on the MyArrow servers. This is not applicable to any transactional data associated to my orders."
                        target="_blank"
                        i18n="site footer|Forget menu item forget me"
                        >Forget Me</a
                    >
                </li>
            </ul>

            <p class="copyright" i18n="site footer|Copyright">&copy; {{ year }} Arrow Electronics, Inc. All rights reserved</p>
        </div>
        <div class="right-footer-column">
            <a routerLink="/" class="arrow-logo arrow-logo--footer" target="_blank" i18n-title title="https://my.arrow.com/"></a>
        </div>
    </div>
</footer>
