<ng-container *ngIf="!submitted">
    <h2 i18n>Reset Password</h2>

    <form #recoverForm="ngForm" (ngSubmit)="submit()" [formGroup]="form">
        <app-input-field
            i18n-label
            i18n-placeholder
            [form]="recoverForm"
            [control]="form.controls['email']"
            label="Please Provide Your Email Address"
            placeholder="Enter Email Address"
        ></app-input-field>

        <div class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <a i18n *ngIf="publicFeatureFlags?.registration" class="cta-container__list-item-link" routerLink="/register"
                        >Create a New Account</a
                    >
                </li>
                <li class="cta-container__list-item" *ngIf="publicFeatureFlags?.registration">
                    <span i18n class="cta-container__list-item-divider">or</span>
                </li>
                <li class="cta-container__list-item"><button i18n class="btn btn-primary" type="submit">Reset Password</button></li>
            </ul>
        </div>
    </form>
</ng-container>

<app-pwd-success *ngIf="submitted" [message]="'reset-request'"></app-pwd-success>
