@import 'variables';
@import 'functions';
@import 'mixins';

.product-applied-filters {
  margin-bottom: rem(50);
  font-size: rem(12);
}

.product-applied-filters__label {
  padding-right: rem(5);
  max-width: rem(100);
}

.product-applied-filters__list {
  margin: 0;
  flex-wrap: wrap;
}

.product-applied-filters__title {
  font-weight: 700;
  padding: rem(10) rem(20) 0 0;
}

.product-applied-filters__title,
.product-applied-filters__item {
  color: $boulder-2;
}

.product-applied-filters__item {
  font-size: rem(14);
  padding: rem(10) rem(20);
  margin: 0 rem(10) rem(10) 0;
  border: solid 1px $alto;
  background-color: $alabaster;
}

.product-applied-filters__icon {
  margin-left: rem(25);
  cursor: pointer;
}
