<div *ngIf="appliedFilters && appliedManufacturers"
     class="product-applied-filters">
    <ul *ngIf="appliedFilters.length || appliedManufacturers.length"
        class="product-applied-filters__list flex-row">
        <li class="product-applied-filters__title"
            i18n>
            Applied Filters:
        </li>

        <li *ngFor="let appliedFilter of appliedFilters"
            class="product-applied-filters__item">
            {{ localiseEnum(appliedFilter.name) }}
            <app-icon (click)="removeFilter(appliedFilter.name)"
                      class="product-applied-filters__icon"
                      symbol="trash">
            </app-icon>
        </li>

        <li *ngFor="let appliedManufacturer of appliedManufacturers"
            class="product-applied-filters__item">
            <div class="flex align-items-center">
                <div class="product-applied-filters__label ellipsis">
                    {{ appliedManufacturer.name }}
                </div>
                <div>({{ appliedManufacturer.productsTotal }})</div>
                <app-icon (click)="removeManufacturer(appliedManufacturer)"
                          class="product-applied-filters__icon"
                          symbol="trash">
                </app-icon>
            </div>
        </li>
    </ul>
</div>