@import 'colors';
@import 'functions';
@import 'layout';

:host {
  @extend .page-template--standard;
}

.dashboard {
  padding-top: rem(48);

  .row {
    align-items: stretch;
  }
}

.dashboard__title {
  margin-bottom: rem(30);
}

.tabs-wrapper {
  flex: 1 0 auto;
}

.dashboard-action {
  position: absolute;
  right: rem(10);
  top: rem(13);
  text-decoration: none;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: rem(0.5);
  z-index: 10;
}

.dashboard-action__icon {
  margin-right: rem(5);
}

.empty-results__action {
  text-decoration: none;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: rem(0.5);

  img {
    margin-right: rem(6);
  }
}

.tab__content--boms {
  ::ng-deep {
    .listing-message__label {
      max-width: rem(300);
    }
  }
}

::ng-deep {
  .listing-message__label {
    max-width: rem(350);
  }
}

.view-all-link {
  text-align: right;

  a {
    font-size: rem(12);
  }
}
