<div class="dashboard">
    <div class="row align-items-stretch">
        <div class="col col-8 flex flex-direction-column">
            <h2 i18n class="dashboard__title">Orders</h2>
            <div class="relative tabs-wrapper">
                <div class="row">
                    <div class="col col-12">
                        <app-tabs-container
                            class="flex flex-direction-column"
                            [tabs]="dashboardOrderTabs"
                            (selectedTab)="setFilter($event)"
                        >
                            <app-tabs-content [value]="0">
                                <div
                                    [ngClass]="{
                                        'tab__content--empty': !recentOrders.items?.length,
                                        'tab__content--loading': recentOrders.loading
                                    }"
                                    class="tab__content"
                                >
                                    <app-loader
                                        *ngIf="recentOrders.loading"
                                        class="flex flex-direction-column loading-wrapper"
                                    ></app-loader>
                                    <div *ngIf="!recentOrders.loading">
                                        <div class="flex flex-direction-column">
                                            <app-listing-message
                                                *ngIf="!recentOrders.items?.length && !recentOrders.error"
                                                icon="list"
                                                label="There are currently no recent orders in your account."
                                                i18n-label
                                                noBorder="true"
                                            >
                                            </app-listing-message>
                                            <app-listing-message
                                                *ngIf="recentOrders.error"
                                                [error]="true"
                                                icon="alert"
                                                label="There was an error getting your most recent orders"
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                        </div>
                                        <div class="orderlines-overview" *ngIf="recentOrders.items?.length && !recentOrders.error">
                                            <app-order-lines-overview [orderLines]="recentOrders.items" rows="5"></app-order-lines-overview>
                                        </div>
                                    </div>
                                </div>
                            </app-tabs-content>

                            <app-tabs-content [value]="1">
                                <div
                                    [ngClass]="{
                                        'tab__content--loading': openOrders.loading
                                    }"
                                    class="tab__content"
                                >
                                    <app-loader *ngIf="openOrders.loading" class="flex flex-direction-column loading-wrapper"></app-loader>
                                    <div *ngIf="!openOrders.loading">
                                        <div class="flex flex-direction-column">
                                            <app-listing-message
                                                *ngIf="!openOrders.items?.length && !openOrders.error"
                                                icon="list"
                                                label="There are currently no open orders in your account."
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                            <app-listing-message
                                                *ngIf="openOrders.error"
                                                [error]="true"
                                                icon="alert"
                                                label="There was an error getting your open orders"
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                        </div>
                                        <div *ngIf="openOrders.items?.length && !openOrders.error">
                                            <app-order-lines-overview [orderLines]="openOrders.items" rows="5"></app-order-lines-overview>
                                        </div>
                                    </div>
                                </div>
                            </app-tabs-content>

                            <app-tabs-content [value]="2">
                                <div
                                    [ngClass]="{
                                        'tab__content--loading': shippedOrders.loading
                                    }"
                                    class="tab__content"
                                >
                                    <app-loader
                                        *ngIf="shippedOrders.loading"
                                        class="flex flex-direction-column loading-wrapper"
                                    ></app-loader>
                                    <div *ngIf="!shippedOrders.loading">
                                        <div class="flex flex-direction-column">
                                            <app-listing-message
                                                *ngIf="!shippedOrders.items?.length && !shippedOrders.error"
                                                icon="list"
                                                label="There are currently no shipped orders in your account."
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                            <app-listing-message
                                                *ngIf="shippedOrders.error"
                                                [error]="true"
                                                icon="alert"
                                                label="There was an error getting your shipped orders"
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                        </div>
                                        <div *ngIf="shippedOrders.items?.length && !shippedOrders.error">
                                            <app-order-lines-overview
                                                [displayShippedDate]="true"
                                                [orderLines]="shippedOrders.items"
                                                rows="5"
                                            ></app-order-lines-overview>
                                        </div>
                                    </div>
                                </div>
                            </app-tabs-content>

                            <app-tabs-content [value]="3">
                                <div
                                    [ngClass]="{
                                        'tab__content--loading': delayedOrders.loading
                                    }"
                                    class="tab__content"
                                >
                                    <app-loader
                                        *ngIf="delayedOrders.loading"
                                        class="flex flex-direction-column loading-wrapper"
                                    ></app-loader>
                                    <div *ngIf="!delayedOrders.loading">
                                        <div class="flex flex-direction-column">
                                            <app-listing-message
                                                *ngIf="!delayedOrders.items?.length && !delayedOrders.error"
                                                icon="list"
                                                label="There are currently no delayed orders in your account."
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                            <app-listing-message
                                                *ngIf="delayedOrders.error"
                                                [error]="true"
                                                icon="alert"
                                                label="There was an error getting your delayed orders"
                                                i18n-label
                                                noBorder="true"
                                            ></app-listing-message>
                                        </div>
                                        <div *ngIf="delayedOrders.items?.length && !delayedOrders.error">
                                            <app-order-lines-overview
                                                [displayShippedDate]="true"
                                                [orderLines]="delayedOrders.items"
                                                rows="5"
                                            ></app-order-lines-overview>
                                        </div>
                                    </div>
                                </div>
                            </app-tabs-content>
                        </app-tabs-container>
                        <button class="dashboard-action dashboard-action--orders icon-link" (click)="onPoUpload()" *ngIf="canUpload">
                            <app-icon symbol="upload" class="icon-link__icon"></app-icon>
                            <ng-container i18n>PO Upload</ng-container>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4 col-offset-8 view-all-link">
                        <a routerLink="/orders" i18n class="icon-link">{{ linkTitle }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4 flex flex-direction-column">
            <h2 i18n class="dashboard__title">BOMs</h2>
            <div class="relative tabs-wrapper">
                <div class="row">
                    <div class="col col-12">
                        <app-tabs-container class="flex flex-direction-column" [tabs]="dashboardBomTabs">
                            <app-tabs-content [value]="0">
                                <div *ngIf="!(privateFeatureFlags$ | async)?.bom" class="tab__content tab__content--boms">
                                    <div class="flex flex-direction-column">
                                        <app-listing-message icon="coming-soon" label="Coming soon" i18n-label noBorder="true">
                                        </app-listing-message>
                                    </div>
                                </div>

                                <div
                                    *ngIf="(privateFeatureFlags$ | async)?.bom && (boms$ | async) as boms"
                                    [ngClass]="{
                                        'tab__content--loading': boms.loading
                                    }"
                                    class="tab__content tab__content--boms"
                                >
                                    <app-loader *ngIf="boms.loading" class="flex flex-direction-column loading-wrapper"></app-loader>
                                    <div *ngIf="!boms.loading">
                                        <div class="flex flex-direction-column">
                                            <app-listing-message
                                                *ngIf="!boms.items?.length && !boms.error"
                                                icon="list"
                                                label="There are currently no BOMs"
                                                noBorder="true"
                                            >
                                            </app-listing-message>
                                            <app-listing-message
                                                *ngIf="boms.error"
                                                [error]="true"
                                                icon="alert"
                                                label="There was an error getting your BOMs"
                                                noBorder="true"
                                            >
                                            </app-listing-message>
                                        </div>
                                        <div *ngIf="boms.items?.length && !boms.error">
                                            <app-bom-lines-overview [bomLines]="boms.items"></app-bom-lines-overview>
                                        </div>
                                    </div>
                                </div>
                            </app-tabs-content>
                        </app-tabs-container>
                    </div>
                </div>
                <div class="row" *ngIf="(privateFeatureFlags$ | async)?.bom">
                    <div class="col col-12 view-all-link"><a routerLink="/bom" class="icon-link" i18n>View All BOMs</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
