@import 'helpers';
@import 'variables';
@import 'typography';

input, textarea, .recipients, .add-email {
  margin-top: $spacing-x-1;
}

#from {
  background-color: $alabaster;
}

.recipients {
  .recipient {
    .icon-link__icon {
      color: $boulder-1;
      float: right;
      margin-top: rem(10);
    }

    .recipient-input {
      width: rem(300);
      float: left;
      margin-bottom: $spacing-x-1;
    }
  }

  .error {
    float: left;
    clear: both;
    width: 100%;
  }
}

.add-email {
  color: $lochmara;
  font-size: rem(12);
  @extend .bold;
  user-select: none;
  float: left;
  clear: both;

  &:disabled {
    color: $boulder-1;
  }
}

.icon-link__icon {
  float: left;
}

.message {
  margin-top: $spacing-x-2;

  textarea.form-item__alert {
    border: 1px solid $alizarin-crimson;
  }
}
