<app-dialog-panel (close)="dismiss()">
    <div dialog-header>
        <h2>{{ header }}</h2>
        <p>{{ headerDescription }}</p>
    </div>
    <form [formGroup]="emailForm"
          #ngForm="ngForm">
        <app-alert type="error"
                   icon="alert"
                   *ngIf="error">Sorry there was an error sending the email, please try again.</app-alert>
        <div class="row">
            <div class="col col-6">
                <label class="h4 label"
                       i18n>From
                </label>
                <input type="text"
                       class="input"
                       id="from"
                       data-automation-ref="fromEmail"
                       [readonly]="true"
                       [(value)]="fromEmail" />
            </div>
            <div class="col col-6">
                <label class="h4 label"
                       i18n
                       *ngIf="!ngForm.submitted || recipients?.length">To
                </label>
                <div *ngIf="ngForm.submitted && !recipients?.length"
                     class="error">
                    <app-icon symbol="alert"
                              class="icon-link__icon"></app-icon>
                    <div i18n>
                        Please add a recipient.
                    </div>
                </div>
                <div class="recipients">
                    <div *ngIf="recipients?.length">
                        <div formArrayName="recipients"
                             *ngFor="let recipient of emailForm.get('recipients').controls; let i = index;">
                            <div class="recipient">
                                <app-dropdown [options]="filterOptions"
                                              class="recipient-input recipient-{{i}}"
                                              [(value)]="recipients.controls[i].value"
                                              data-automation-ref="toEmail"></app-dropdown>
                                <app-icon symbol="trash"
                                          class="icon-link__icon"
                                          (click)="removeRecipient(i)"></app-icon>
                            </div>
                        </div>
                    </div>
                    <button class="add-email"
                            (click)="addItem()"
                            [disabled]="recipients?.length == filterOptions?.length || recipients?.length == 4">
                        <app-icon symbol="plus"
                                  class="icon-link__icon"></app-icon>
                        <ng-container i18n>Add Email</ng-container>
                    </button>
                </div>
            </div>
        </div>
        <div class="row message">
            <div class="col col-12">
                <div *ngIf="message.invalid && (message.dirty || message.touched)"
                     class="error">
                    <app-icon symbol="alert"
                              class="icon-link__icon"></app-icon>
                    <div *ngIf="message.errors.required"
                         i18n>
                        Enter your message below.
                    </div>
                </div>
                <label class="h4 message__title"
                       i18n
                       *ngIf="!(message.invalid && (message.dirty || message.touched))">Message
                </label>
                <textarea class="textarea"
                          data-automation-ref="message"
                          formControlName="message"
                          name="message"
                          maxlength="500"
                          [ngClass]="{
                          'form-item__alert': message.invalid && message.errors.required && (message.dirty || message.touched)
                      }"></textarea>
            </div>
        </div>
        <div *ngIf="data.payload?.orderLines?.length">
            <app-email-orders [orderLines]="data.payload?.orderLines"></app-email-orders>
        </div>

        <div *ngIf="this.data.payload?.forecastPartList?.length">
            <app-email-forecast [forecastLines]="data.payload?.forecastPartList"></app-email-forecast>
        </div>
        
    </form>

    <div dialog-footer
         class="cta-container justify-flex-end">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button (click)="dismiss()"
                        class="btn btn-secondary"
                        i18n>Cancel
                </button>
            </li>
            <li class="cta-container__list-item">
                <app-button (click)="sendEmailMessage()"
                            [disabled]="!emailForm.valid"
                            [loading]="sending"
                            cssClass="btn-primary"
                            i18n>Send email</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>