<div class="listing-message {{elemClass}}"
     [ngClass]="{
    'listing-message--error': error,
    'listing-message--no-border': noBorder
}">
    <div class="listing-message__inner">
        <div class="listing-message__icon-bubble icon-bubble">
            <app-icon [symbol]="icon"
                      class="icon listing-message__icon"></app-icon>
        </div>
        <div class="listing-message__content">
            <div class="listing-message__label"
                 [innerHTML]="label"></div>
            <ng-content></ng-content>
        </div>
    </div>
</div>