@import 'variables';
@import 'mixins';
@import 'colors';
@import 'typography';

$no-results-font-size: $base-font-size;

.listing-message {
  color: $listing-message-text-color;
  border: 2px solid $listing-message-outline-color;
  background-color: $listing-message-bg-color;

  &__inner {
    letter-spacing: em(0.5, $no-results-font-size);
    min-height: em(320, $no-results-font-size);
    height: em(320, $no-results-font-size);
    margin: em(30, $no-results-font-size) 0;
    padding: em(20, $no-results-font-size);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content {
    margin-top: em(30, $no-results-font-size);
  }

  &__icon-bubble {
    height: em(125, $no-results-font-size);
    width: em(125, $no-results-font-size);
    border: 2px solid $listing-message-text-color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $listing-message-text-color;
  }

  &__label {
    margin-bottom: em(8, $no-results-font-size);
    font-weight: 700;
  }

  &__icon {
    height: em(48, $no-results-font-size);
    width: em(48, $no-results-font-size);
    vertical-align: middle;
  }

  &--error {
    color: $error-color;
    border-color: $error-color;

    .listing-message__icon-bubble {
      border-color: $error-color;
      color: $error-color;
    }
  }

  &--no-border {
    border-width: 0;
  }
}
