@import 'base';

.corvus {
  app-header .header {
    background-color: #dddddd;

    .header__title .header__logo {
      background-image: url('/assets/images/corvus-logo.png');
      width: 185px;
      height: 45px;
      background-size: contain;
    }

    .dropdown--header .dropdown__label-wrapper {
      background-color: #dddddd;
      color: #29272a;
    }

    app-product-search-bar {
      .input {
        border-color: #29272a;
      }
      button {
        background-color: #29272a;
      }
    }
    .view-account__name {
      color: #29272a;
    }

    .toolbar-item__icon {
      color: #29272a;
    }

    &.header--fixed {
      background-color: #00124a;
      .nav-container {
        background-image: none;
      }

      .view-account__name,
      .toolbar-item__icon {
        color: #fff;
      }

      .header__title .header__logo {
        background-image: url('/assets/images/corvus-white.png');
        width: 140px;
        height: 20px;
        background-size: contain;
      }
    }

    .nav-container {
      background: url('/assets/images/nav-bg.png') no-repeat right bottom #00124a;
    }
  }

  app-logged-out {
    .content[_ngcontent-c1] {
      background: url(/assets/images/component-lines-account.svg) no-repeat right bottom #00124a;
    }

    .container[_ngcontent-c6] {
      background-image: none;
    }
  }

  app-login {
    .carousel[_ngcontent-c6] {
      display: none;
    }
  }
}
