<div class="row">
    <div class="col col-12">
        <app-product-categories *ngIf="categories"
                                [categories]="categories"
                                [appliedCategory]="appliedCategory$ | async">
        </app-product-categories>

        <app-product-filters *ngIf="filters"
                             [filters]="filters"
                             [selectedFilters]="selectedFilters$ | async">
        </app-product-filters>

        <app-product-manufacturers *ngIf="manufacturers"
                                   [manufacturers]="manufacturers"
                                   [selectedManufacturers]="selectedManufacturers$ | async">
        </app-product-manufacturers>
    </div>
</div>

<div class="row">
    <div class="col col-9">
        <app-product-applied-filters [appliedFilters]="appliedFilters$ | async"
                                     [appliedManufacturers]="appliedManufacturers$ | async">
        </app-product-applied-filters>
    </div>
    <div class="col col-3 right-align">
        <app-product-filters-actions [appliedCategory]="appliedCategory$ | async"
                                     [appliedFilters]="appliedFilters$ | async"
                                     [appliedManufacturers]="appliedManufacturers$ | async"
                                     [selectedFilters]="selectedFilters$ | async"
                                     [selectedManufacturers]="selectedManufacturers$ | async">
        </app-product-filters-actions>
    </div>
</div>