@import 'functions';

:host {

  margin-top: rem(30);
  display: block;

  .table__product-specifications {
    border: 0;
    margin: 0;

    tbody {
      th,
      td {
        padding: rem(10);
        border-top: 0;
        max-width: 50%;
        font-size: rem(14);
        letter-spacing: rem(0.5);
      }

      th {
        font-weight: normal;
        color: $boulder-2;
        line-height: calc(20 / 14);
        width: rem(184);
        padding-right: rem(10);
        padding-left: 0;
      }

      td {
        line-height: calc(19 / 14);
        color: $black;
      }

      tr:first-child {
        td, th {
          padding-top: 0;
        }
      }

    }

    .table__product-specifications-title {
      max-width: rem(164);
    }
  }
}
