<h3 i18n>Specifications</h3>
<table *ngIf="specifications"
       class="table__no-alt-rows table__product-specifications">
    <tbody>
        <tr *ngFor="let specification of specifications">
            <th i18n>{{ specification.name }}</th>
            <td i18n>{{ specification.value }}{{ specification.uom }}</td>
        </tr>
    </tbody>
</table>
<p *ngIf="!specifications"
   i18n>No Part Specifications Available</p>