<app-dialog-panel class="upload-purchase-order" (close)="onClose()">
    <div *ngIf="successfulUpload && fileTitle.length">
        <div dialog-header>
            <h2 class="upload-purchase-order__header-title"
                i18n>
                Purchase Order Uploaded Successfully</h2>
        </div>
        <div class="form-item__label">
            <label i18n
                   class="label">Uploaded file:</label>
            <app-icon symbol="document"
                  class="icon-link__icon"></app-icon>
            <br>
            <span i18n>{{ fileTitle }}</span>
            <div class="upload-file"></div>
        </div>
        <p i18n>
             If you would like to receive a confirmation email, click here
        </p>
        <button (click)="sendConfirmationEmail()"
                class="btn btn-primary user-email"
                i18n>
                {{ userEmail }}
        </button>
        <p i18n>
             Otherwise, you may close this window to continue working in MyArrow
        </p>
        <div dialog-footer
             class="upload-purchase-order__footer cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onClose()"
                            class="btn btn-secondary"
                            i18n>Close
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!successfulUpload">
        <div dialog-header>
            <h2 class="upload-purchase-order__header-title"
                i18n>
                Upload a Purchase Order</h2>
        </div>

        <div>
            <!-- TODO Some people think would be better to use a reactive form here -->
            <div class="row">
                <div class="upload-purchase-order__body-column-left col col-6">
                    <div class="form-item">
                        <div class="form-item__label">
                            <label i18n class="label">Enter PO Number</label>
                        </div>
                        <input type="text"
                               class="input"
                               [(ngModel)]="poNumber"
                               placeholder="Enter PO Number Here"/>
                    </div>
                </div>
                <div class="upload-purchase-order__body-column-right col col-6">
                    <div class="file-upload__control form-item flex-column">
                        <div class="form-item__label">
                            <label i18n
                                   *ngIf="canUpload"
                                   class="label">Your chosen file:</label>
                        </div>
                        <span class="upload-purchase-order__body-column-right-description"
                              i18
                              *ngIf="!canUpload">Choose a purchase order from your computer.</span>
                          <div *ngIf="canUpload"
                              class="file-upload__filename flex-row"
                              data-automation-ref="file-upload-filename">
                              <app-icon symbol="document"
                                     class="icon-link__icon"></app-icon>
                              <span i18n>{{fileTitle}}</span>
                          </div>
                        <label
                            [for]="inputId"
                            class="icon-link upload-purchase-order__choose-file"
                            data-automation-ref="file-upload-label"
                            *ngIf="!canUpload">
                            <app-icon symbol="upload"
                                   class="icon-link__icon"></app-icon>
                            <ng-container i18n>Choose a file</ng-container>
                        </label>
                        <label
                            [for]="inputId"
                            class="icon-link upload-purchase-order__choose-file"
                            data-automation-ref="file-upload-label"
                            *ngIf="canUpload" >
                            <app-icon symbol="upload"
                                   class="icon-link__icon"></app-icon>
                            <ng-container i18n>Choose a different file</ng-container>
                        </label>
                        <app-alert
                            class="error"
                            *ngIf="errorMessage"
                            [type]="alertComponentEnum.Error"
                            icon="alert">{{ errorMessage }}
                        </app-alert>
                        <input
                            #fileElement
                            type="file"
                            class="input file"
                            [id]="inputId"
                            name="file"
                            (change)="onFileChange($event)"
                            data-automation-ref="file-upload-input"
                        />

                    </div>
                </div>
            </div>
            <!-- TODO in following sprint
            <div>
                <app-checkbox label="Send confirmation email once complete."
                              [(value)]="sendConfirmation"></app-checkbox>
            </div>-->
        </div>

        <div dialog-footer
             class="upload-purchase-order__footer cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onClose()"
                            class="btn btn-secondary"
                            i18n>Cancel
                    </button>
                </li>
                <li class="cta-container__list-item">
                    <app-button
                            *ngIf="!loading || errorMessage"
                            (click)="onUpload()"
                            cssClass="btn-primary"
                            [disabled]="!canUpload || errorMessage"
                            i18n>Upload PO
                    </app-button>
                    <app-button
                            *ngIf="loading && !errorMessage"
                            cssClass="btn-primary"
                            loading="true"
                            i18n>Upload PO
                    </app-button>
                </li>
            </ul>
        </div>
    </div>


</app-dialog-panel>
