@import 'colors';
@import 'functions';
@import 'variables';

.upload-purchase-order {
  &__body-column-left {
    padding-right: $spacing-x-3;
    padding-left: 0;
  }
  &__body-column-right {
    padding-left: $spacing-x-3;
    padding-right: 0;
    overflow: hidden;

    &-description {
      color: $boulder-2;
    }

    .icon-link__icon {
      flex: 0 0 auto;
    }
  }

  &__choose-file {
    margin-top: $spacing-x-1;
  }

  .send-confirmation {
    margin-bottom: rem(10);
  }

  .user-email {
    margin-bottom: rem(12);
  }

  .upload-purchase-order__footer {
    margin: rem(10);
  }
}

.file-upload__control {
  display: flex;
  justify-content: space-between;
  label {
    display: inline-block;
  }
  input {
    display: none;
  }
  .file-upload__filename {
    color: $tundora;
    background-color: rgba($lochmara, 0.07);
    flex-grow: 1;
    padding: em(7, 10) em(10, 10);
    text-align: left;
    overflow: hidden;
    word-break: break-all;
  }

  .error {
    position: relative;
    top: 35px;
  }
}
