@import 'colors';
@import 'functions';

.date-picker {
  padding: em(30);
  border: 1px solid $outline-color;
  background-color: $active-bg-color;
  margin-top: -1px;

  &__calendars {
    margin: 0 0 em(30);
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__calendar {
    flex: 1 0 auto;
    margin-left: em(30);

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__navigation {
    height: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    cursor: pointer;

    &-button {
      padding: 0;
      width: rem(40);
      height: rem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
}

.cta-container__list-item:last-child:not(:first-child) {
  margin-left: auto;
}
