<div class="date-picker">

    <div class="date-picker__navigation">
        <button class="btn btn-secondary date-picker__navigation-button"
                (click)="previous()"
                type="button">
            <app-icon symbol="left-arrow"></app-icon>
        </button>
        <button class="btn btn-secondary date-picker__navigation-button"
                (click)="next()"
                type="button">
            <app-icon symbol="right-arrow"></app-icon>
        </button>
    </div>

    <div class="date-picker__calendars">
        <app-calendar class="date-picker__calendar"
                      *ngFor="let month of months"
                      [dateRange]="dates"
                      [month]="month"
                      [minDate]="minDate"
                      [maxDate]="maxDate"
                      [displayState]="calendarDisplayState"
                      [activeDateIndex]="currentDateIndex"
                      [hoverDate]="hoverDate"
                      [exclusions]="exclusions"
                      (enterDate)="handleDateEnter($event)"
                      (leaveDate)="handleDateLeave()"
                      (selectDate)="handleDateSelection($event)"></app-calendar>
    </div>

    <div *ngIf="showActions"
         class="cta-container">
        <ul class="cta-container__list">
            <li class="cta-container__list-item"
                *ngIf="actions.includes(datePickerOverlayActions.RESET)">
                <button class="icon-link"
                        (click)="reset()"
                        [disabled]="!canReset()"
                        i18n>
                    <app-icon symbol="refresh"
                              class="icon-link__icon"></app-icon>
                    Reset
                </button>
            </li>
            <li class="cta-container__list-item"
                *ngIf="actions.includes(datePickerOverlayActions.GO_TO_TODAY)">
                <button class="icon-link"
                        (click)="goToToday()"
                        [disabled]="todayVisible()"
                        i18n>
                    <app-icon symbol="calendar"
                              class="icon-link__icon"></app-icon>
                    Go to today
                </button>
            </li>
            <li class="cta-container__list-item"
                *ngIf="actions.includes(datePickerOverlayActions.SUBMIT)">
                <button class="btn btn-primary"
                        (click)="submitDates()"
                        [disabled]="!canSubmit()"
                        i18n>{{submitLabel || 'Submit'}}
                </button>
            </li>
        </ul>
    </div>
</div>