@import 'variables';
@import 'functions';
@import 'colors';

.products-listing__checkbox {
  min-width: rem(20);
}

.products-listing__manufacturer,
.products-listing__mpn {
  min-width: rem(120);
}

.products-listing__quantity {
  min-width: rem(185);
}

.products-listing__inventory,
.products-listing__description {
  min-width: rem(95);
}

.products-listing__price {
  min-width: rem(140);
}

.products-listing__pipeline {
  min-width: rem(125);
}

.products-listing__cpn {
  min-width: rem(167);
}

.products-listing__data {
  min-width: rem(55);
}
.products-listing__selected-row {
  background-color: $cod-grey;
}
