<table class="products-listing">
    <thead>
    <tr>
        <th *ngIf="searchQuery"
            class="products-listing__checkbox">
            <app-checkbox [class.visibility-hidden]="loading"
                          [value]="allSelected$ | async"
                          (valueChange)="toggleSelected(searchResults, $event)">
            </app-checkbox>
        </th>
        <th class="table__sortable-header products-listing__manufacturer"
            (click)="setSortField(sortFields[0])">
            <div class="table__sortable-header-label">
                <span i18n>Part Number</span>
                <ng-container *ngIf="searchQuery">
                    <app-icon *ngIf="!sortField || sortField !== sortFields[0]"
                              symbol="sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                    <app-icon *ngIf="sortField === sortFields[0] && sortDirection === sortDirections[0]"
                              symbol="up-sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                    <app-icon *ngIf="sortField === sortFields[0] && sortDirection === sortDirections[1]"
                              symbol="down-sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                </ng-container>
            </div>
        </th>
        <th class="table__sortable-header products-listing__mpn"
            (click)="setSortField(sortFields[1])">
            <div class="table__sortable-header-label">
                <span i18n>Manufacturer</span>
                <ng-container *ngIf="searchQuery">
                    <app-icon *ngIf="!sortField || sortField !== sortFields[1]"
                              symbol="sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                    <app-icon *ngIf="sortField === sortFields[1] && sortDirection === sortDirections[0]"
                              symbol="up-sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                    <app-icon *ngIf="sortField === sortFields[1] && sortDirection === sortDirections[1]"
                              symbol="down-sort"
                              class="cursor-pointer table__sortable-header-icon"></app-icon>
                </ng-container>
            </div>
        </th>
        <th i18n
            class="products-listing__cpn">Customer
            <br/>Part Number
        </th>
        <th i18n
            class="products-listing__price">Price ({{ currencyCode$ | async }})
        </th>
        <th i18n
            class="products-listing__quantity">Quantity
        </th>
        <th i18n
            class="products-listing__inventory">Inventory
        </th>
        <th i18n
            class="products-listing__pipeline">Pipeline Next
            <br/>Delivery/Qty
        </th>
        <th i18n>Lead Time</th>
        <th i18n
            class="products-listing__description">Description
        </th>
        <th i18n>RoHS</th>
        <th i18n>Additional
            <br/>Info
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of searchResults; index as index"
        [product]="product"
        [searchQuery]="searchQuery"
        [currencyCode]="currencyCode$ | async"
        [billToId]="billToId$ | async"
        [index]="index"
        app-product-row>
    </tr>
    </tbody>
</table>