<app-dialog-panel *ngIf="reelItem"
                  (close)="onClose()"
                  data-automation-ref="reel-dialog"
                  class="reel__dialog">
    <div dialog-header>
        <h2 data-automation-ref="reel-header">
            <span i18n>Arrow Reel</span> - {{ reelItem?.partNumber }}
        </h2>
    </div>
    <app-reel-calculation [billToId]="billToId"
                          [currencyCode]="currencyCode"
                          [product]="reelItem"
                          [calculateOnInit]="isUpdateReel"
                          (reelCalculated)="onReelCalculated($event)"></app-reel-calculation>
    <div dialog-footer
         class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item"
                *ngIf="!isUpdateReel">
                <button data-automation-ref="add-to-cart"
                        class="btn btn-primary"
                        (click)="onClose(true)"
                        [disabled]="!reelPrice"
                        i18n>
                    Add to Cart
                </button>
            </li>
            <li class="cta-container__list-item"
                *ngIf="isUpdateReel">
                <button data-automation-ref="update-reel"
                        class="btn btn-primary"
                        (click)="onClose(true)"
                        [disabled]="!reelPrice"
                        i18n>
                    Update Reel
                </button>
            </li>
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button"
                        (click)="onClose()"
                        class="btn btn-secondary"
                        i18n>
                    Cancel
                </button>
            </li>
        </ul>
    </div>
</app-dialog-panel>