@import 'variables';
@import 'mixins';
@import 'colors';

.toolbar {
  display: flex;
  margin: 0;
}

.toolbar-item {
  position: relative;
}

.toolbar-item--search {
  display: none;

  .toolbar-item__icon--closed {
    display: block;
  }

  .toolbar-item__icon--open {
    display: none;
  }
}

.toolbar-item--search-open {
  .toolbar-item__icon--closed {
    display: none;
  }

  .toolbar-item__icon--open {
    display: block;
  }
}

.toolbar-item__icon {
  width: 30px;
  height: 30px;
  margin: 0 rem(12);
  color: $white;
}

.toolbar-item__link {
  text-decoration: none;
}

.toolbar-item__bubble {
  background: $alert-clr;
  font-size: em(11);
  color: $white;
  position: absolute;
  left: rem(7);
  top: rem(-4);
  padding: rem(1) rem(5);
  border-radius: rem(3);
}

.fixed-search-bar {
  position: fixed;
  top: rem(55);
  width: 100%;
  z-index: 20;
  background-color: $baltic-sea;
  display: none;
  left: 0;

  &--open {
    display: block;
  }

  .fixed-search-bar__inner-container {
    padding: rem(15) 0;
    border-top: 1px solid $boulder-2;
  }

  ::ng-deep {
    .product-search--fixed-header {
      display: block;
      margin: 0 auto;

      .input,
      .btn {
        height: rem(40);
      }
    }
  }
}