<ul class="toolbar">
    <li [ngClass]="{ 'toolbar-item--search-open': isOpen }"
        class="toolbar-item toolbar-item--search">
        <button (click)="toggleSearchBar()"
                class="btn-link toolbar-item__link">
            <app-icon symbol="search"
                      class="toolbar-item__icon toolbar-item__icon--closed"></app-icon>
            <app-icon symbol="cross"
                      class="toolbar-item__icon toolbar-item__icon--open"></app-icon>
        </button>
    </li>
    <li class="toolbar-item">
        <a routerLink="/notifications"
           class="toolbar-item__link">
            <app-icon symbol="bell"
                      class="toolbar-item__icon"></app-icon>
        </a>
    </li>
    <li class="toolbar-item toolbar-item--cart">
        <a routerLink="/cart"
           class="toolbar-item__link">
            <app-icon symbol="cart"
                      class="toolbar-item__icon"></app-icon>
            <span *ngIf="(cartItemCount$ | async)"
                  class="toolbar-item__bubble">{{ cartItemCount$ | async | formattedCount:1000 }}</span>
        </a>
    </li>
</ul>
<div [ngClass]="{ 'fixed-search-bar--open': isOpen }"
     class="fixed-search-bar">
    <div class="wrap header__wrap">
        <div class="fixed-search-bar__inner-container">
            <app-product-search-bar (isSearching)="isOpen = false"
                                    class="product-search product-search--fixed-header"></app-product-search-bar>
        </div>
    </div>
</div>