@import 'variables';
@import 'functions';
@import 'mixins';

$animation-duration: 1000;
$lines: 10;
$delay: $animation-duration / $lines;
$degree-increments: 360 / 10;

@function animation-delay($index: 0) {
  @return ms($index * $delay);
}

@function line-degree-increment($index: 0) {
  @return (($index * $degree-increments) + 90) + deg;
}

@function ms($ms: 0) {
  @return $ms + ms;
}

$default-size: 32;
$line-thickness: 3;
$line-length: 7;

.loader {
  font-size: rem($default-size);
  height: 1em;
  width: 1em;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.loader__line {
  animation: loader-fade ms($animation-duration) infinite linear;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: percent(3, 32);
    width: percent(8, 32);
    background-color: #29272a;
    left: 0;
    display: block;
    border-radius: 1em;
  }

  &--1 {
    animation-delay: animation-delay(0);
    transform: rotate(line-degree-increment(0));
  }

  &--2 {
    animation-delay: animation-delay(1);
    transform: rotate(line-degree-increment(1));
  }

  &--3 {
    animation-delay: animation-delay(2);
    transform: rotate(line-degree-increment(2));
  }

  &--4 {
    animation-delay: animation-delay(3);
    transform: rotate(line-degree-increment(3));
  }

  &--5 {
    animation-delay: animation-delay(4);
    transform: rotate(line-degree-increment(4));
  }

  &--6 {
    animation-delay: animation-delay(5);
    transform: rotate(line-degree-increment(5));
  }

  &--7 {
    animation-delay: animation-delay(6);
    transform: rotate(line-degree-increment(6));
  }

  &--8 {
    animation-delay: animation-delay(7);
    transform: rotate(line-degree-increment(7));
  }

  &--9 {
    animation-delay: animation-delay(8);
    transform: rotate(line-degree-increment(8));
  }

  &--10 {
    animation-delay: animation-delay(9);
    transform: rotate(line-degree-increment(9));
  }
}

@keyframes loader-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
