<div class="loader"
     i18n>
    <div class="loader__line loader__line--1"></div>
    <div class="loader__line loader__line--2"></div>
    <div class="loader__line loader__line--3"></div>
    <div class="loader__line loader__line--4"></div>
    <div class="loader__line loader__line--5"></div>
    <div class="loader__line loader__line--6"></div>
    <div class="loader__line loader__line--7"></div>
    <div class="loader__line loader__line--8"></div>
    <div class="loader__line loader__line--9"></div>
    <div class="loader__line loader__line--10"></div>
</div>