<div class="status-bar">
    <div [ngClass]="{'danger': status == 'danger'}"></div>
    <div [ngClass]="{'at-risk': status == 'at-risk'}"></div>
    <div [ngClass]="{'ok': status == 'ok' }"></div>
</div>
