@import 'variables';
@import 'helpers';

.status-bar {
  display: flex;

  div {
    width: rem(35);
    height: rem(10);
    background: $alto;
    flex-direction: row;
    margin-right: rem(3);

    &.ok {
      background: $status-ok;
    }

    &.at-risk {
      background: $status-at-risk;
    }

    &.danger {
      background: $status-danger;
    }
  }
}
