@import 'functions';
@import 'variables';

.trade-compliance-search-container {
  margin-bottom: rem(80);
  .right-align {
    padding-top: rem($base-line-height);
  }

  .alert {
    margin: 1rem 0;
    padding: 1rem;
    clear: both;
    float: left;
  }

  .alert-danger {
    color: $error-color;
  }
}

.controls-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.dropdown-wrapper {
  justify-content: space-between;
}

#partNumbers {
  min-height: 10rem;
}

.search-btn-container {
  .btn {
    float: right;
  }
}

.form-input__alert {
  color: $alizarin-crimson;
}
