<div data-automation-ref="trade-compliance-search-container" class="trade-compliance-search-container">
    <h2 class="h3" i18n>Search by Part Number</h2>
    <p i18n>
        To search for parts and locate their associated NAFTA certificate, enter Manufacturer Part Numbers separated by commas, select the
        year of the certificate and click search.
    </p>
    <form [formGroup]="searchForm" (submit)="doSearch()">
        <div class="row">
            <div class="col col-12">
                <textarea
                    class="textarea"
                    formControlName="partNumbers"
                    name="partNumbers"
                    id="partNumbers"
                    placeholder="Enter Supplier Part Numbers, separated by commas."
                    i18n-placeholder
                    data-automation-ref="part-numbers"
                ></textarea>
                <div *ngIf="partNumbers.invalid && partNumbers.touched" class="alert alert-danger">
                    <div *ngIf="partNumbers.errors.required" data-automation-ref="part-numbers-error" i18n>
                        <app-icon symbol="alert" class="form-input__alert"></app-icon>
                        Please provide at least 1 part number.
                    </div>
                </div>
            </div>
        </div>
        <div class="controls-container row">
            <div class="dropdown-wrapper col col-9">
                <div class="row">
                    <div class="col col-5">
                        <label class="small" i18n>Limit your search to:</label>
                        <app-dropdown
                            data-automation-ref="search-filter"
                            [options]="filterDropdownOptions"
                            formControlName="searchFilter"
                            (valueChange)="changeSearchFilterValue($event)"
                        ></app-dropdown>
                    </div>
                    <div class="col col-3" *ngIf="searchForm.get('searchFilter').value === 0">
                        <label class="small" i18n>Year:</label>
                        <app-dropdown
                            data-automation-ref="year"
                            [options]="getYearDropdownOptions()"
                            formControlName="searchYear"
                            (valueChange)="changeSearchYearValue($event)"
                        ></app-dropdown>
                    </div>
                </div>
            </div>
            <div class="col col-3 search-btn-container">
                <button data-automation-ref="search-button" type="submit" class="btn btn-primary" i18n>Search</button>
            </div>
        </div>
    </form>
</div>
