<app-dialog-panel [showCloseButton]="error || !loading"
                  (close)="onDismiss()">
    <!-- loading view -->
    <ng-container *ngIf="loading && !error">
        <div dialog-header>
            <h1 i18n>
                Adding to the {data.cartType, select, SHOPPING_CART {Shopping Cart} QUOTE_CART {Quote Cart}}
            </h1>
        </div>
        <app-loader></app-loader>
    </ng-container>
    <!-- validation error view -->
    <ng-container *ngIf="!loading && !error">
        <div dialog-header>
            <h2 i18n>
                Quantities Do Not Meet Minimum/Multiple Criteria
            </h2>
        </div>
        <table class="table__no-alt-rows">
            <thead>
                <tr>
                    <th i18n>Manufacturer Part Number</th>
                    <th i18n>Minimum</th>
                    <th i18n>Multiple</th>
                    <th i18n>Proposed Change</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of invalidItems">
                    <td>{{item.mpn}}</td>
                    <td>{{item.minimumQty}}</td>
                    <td>{{item.multiple}}</td>
                    <td>{{item.descriptionText}}</td>
                </tr>
            </tbody>
        </table>
        <div dialog-footer
             class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onDismiss()"
                            class="btn btn-secondary"
                            i18n>Cancel</button>
                </li>
                <li class="cta-container__list-item">
                    <button (click)="onConfirmProposed()"
                            class="btn btn-primary"
                            i18n>Accept Changes</button>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- request error view -->
    <ng-container *ngIf="error">
        <div dialog-header>
            <h1 i18n>Error</h1>
        </div>
        <div>
            <p i18n>An error occurred when adding item(s) to the { data.cartType, select, SHOPPING_CART {Shopping Cart} QUOTE_CART
                {Quote Cart}}. Please try again.</p>
        </div>
        <div dialog-footer
             class="cta-container">
            <ul class="cta-container__list justify-flex-end">
                <li class="cta-container__list-item">
                    <button (click)="onDismiss()"
                            class="btn btn-primary"
                            i18n>Close
                    </button>
                </li>
            </ul>
        </div>
    </ng-container>
</app-dialog-panel>