<div data-automation-ref="quotes-cart-summary" class="quotes-cart-summary">
    <h2 data-automation-ref="quotes-cart-summary__checkout" class="quotes-cart-summary__checkout" i18n>Account Details</h2>
    <div class="account-details" *ngIf="user">
        <div class="account-info" data-automation-ref="account-name">
            <span class="account-info__title" i18n>Account Name: </span> <span class="account-info__description"> {{ user.company }} </span>
        </div>
        <div class="account-info" data-automation-ref="account-number">
            <span class="account-info__title" i18n>Account Number: </span>
            <span class="account-info__description"> {{ user.selectedBillTo }} </span>
        </div>
        <div class="account-info" data-automation-ref="account-terms">
            <span class="account-info__title" i18n>Terms: </span>
            <span class="account-info__description"> {{ user.paymentsTermName }} </span>
        </div>
        <a data-automation-ref="select-different-account" (click)="openBillToDialog()" i18n> Select a Different Account </a>
    </div>
    <div class="additional-info" data-automation-ref="additional-info">
        <span class="additional-info__title" i18n data-automation-ref="additional-info-title">Additional Information</span>
        <span class="additional-info__subtitle" i18n data-automation-ref="additional-info-subtitle">(250 character limit)</span>
        <div class="additional-info-wrap">
            <textarea
                maxlength="250"
                i18n
                data-automation-ref="additional-info-textarea"
                (change)="updateAdditionalInfo($event)"
                (focus)="toggleFocus(true)"
                (blur)="toggleFocus(false)"
                [value]="additionalInfo?.length > 0 ? additionalInfo : ''"
            ></textarea>
            <span *ngIf="!isAdditionalInfoFocus && !additionalInfo"
                >Please add any additional information, such as [end-customer name and location, project name, design location, or estimated
                annual usage]</span
            >
        </div>
    </div>
    <hr class="quote-cart-summary-divider" />
    <div *ngIf="shouldShowPendingMessage()" class="warning-message">
        <strong i18n class="error label__error" data-automation-ref="pending-lineItem-summary-message"
            ><app-icon symbol="alert" class="form-input__alert"></app-icon>Please wait until the items on the list are reviewed</strong
        >
    </div>
    <div *ngIf="shouldShowInvalidMessage()" class="warning-message">
        <strong i18n class="error label__error" data-automation-ref="invalid-lineItem-summary-message">
            <app-icon symbol="alert" class="form-input__alert"></app-icon>
            There are invalid items in your quote. Please delete them before submitting a quote request.</strong
        >
    </div>
    <button
        data-automation-ref="submit-quote-cart"
        [disabled]="shouldDisableSubmitButton()"
        type="submit"
        class="btn btn-primary quote-cart__btn-submit"
        (click)="submitQuoteCart()"
    >
        <span i18n>Submit Request for Quote</span>
    </button>
    <p>or <a href="#" data-automation-ref="continue-shopping" i18n> Continue Shopping </a></p>
</div>
