@import 'colors';
@import 'functions';
@import 'layout';

.quotes-cart-summary {
  margin-left: rem(10);

  .account-details {
    .account-info {
      &__title {
        font-size: 12px;
        font-weight: bold;
        color: $boulder-2;
        width: rem(110);
        display: inline-block;
        margin-bottom: rem(10);
      }

      &__description {
        font-size: 14px;
      }

      a {
        margin: rem(10) rem(0);
      }
    }

    a {
      cursor: pointer;
    }
  }

  .additional-info {
    margin-top: rem(20);
    &__title {
      font-size: rem(14);
      font-weight: bold;
      color: $boulder-2;
      width: rem(150);
      display: inline-block;
    }

    &__subtitle {
      font-size: rem(12);
      display: block;
    }

    textarea {
      margin-top: rem(10);
      width: rem(300);
      height: rem(110);
      resize: none;
    }
  }

  .additional-info-wrap {
    position: relative;
    display: inline-block;
    margin-top: rem(10);

    textarea {
      width: rem(300);
      height: rem(110);
      resize: none;
      overflow: auto;
      margin-top: 0;
    }
    span {
      position: absolute;
      top: 0;
      left: 2px;
      font-size: rem(11);
      font-weight: 600;
      color: $boulder-1;
      pointer-events: none;
    }
  }

  .quote-cart-summary-divider {
    margin-top: 3rem;
  }

  .quote-cart__btn-submit {
    margin-bottom: rem(20);
    width: 100%;
  }

  .warning-message {
    margin: rem(-10) 0 rem(20);
  }

  .form-input__alert {
    color: $alizarin-crimson;
  }
}
