@import 'layout';
@import 'colors';
@import 'helpers';
@import 'functions';
@import 'mixins';
@import 'variables';

.select-all-quoted__check {
  width: rem(52);
  max-width: rem(52);
  min-width: rem(52);
}
.quote_detail__part_number {
  width: rem(153);
  max-width: rem(153);
  min-width: rem(153);
}
.quote_detail__cpn {
  width: rem(87);
  max-width: rem(87);
  min-width: rem(87);
}
.quote_detail__quantity {
  width: rem(90);
  max-width: rem(90);
  min-width: rem(90);
}
.quote_detail__moq {
  width: rem(67);
  max-width: rem(67);
  min-width: rem(67);
}
.quote_detail__lead_time {
  width: rem(106);
  max-width: rem(106);
  min-width: rem(106);
}
.quote_detail__ncnr {
  width: rem(76);
  max-width: rem(76);
  min-width: rem(76);
}
.quote_detail__pipeline_next_delivery_qty {
  width: rem(126);
  max-width: rem(126);
  min-width: rem(126);
}
.quote_detail__inventory {
  width: rem(126);
  max-width: rem(126);
  min-width: rem(126);
}
.quote_detail__target_price {
  width: rem(93);
  max-width: rem(93);
  min-width: rem(93);
}
.quote_detail__quoted_price {
  width: rem(119);
  max-width: rem(119);
  min-width: rem(119);
}
.quote_detail__total_price {
  width: rem(120);
  max-width: rem(120);
  min-width: rem(120);
}
.quote_detail__status {
  width: rem(90);
  max-width: rem(90);
  min-width: rem(90);
}

.submitted_quote_detail {
  width: rem(1300);
}

.break-line {
  white-space: pre-wrap;
}

.strong {
  font-weight: bold;
}

.disabled-text {
  color: $nobel;
}

.disabled-link {
  color: $nobel;
  cursor: default;
}

.quote_detail__total_price__tariff {
  float: left;
  width: rem(8);
  max-width: rem(8);
  min-width: rem(8);
}

.quote_detail__total_price__tariff_detail {
  float: left;
  width: rem(40);
  max-width: rem(40);
  min-width: rem(40);
}

.tariff-headline {
  font-size: rem(10);
  margin-top: rem(10);
  margin-bottom: rem(18);
}

.note {
  color: $lochmara;
  margin: auto;
  margin-top: rem(10);
  margin-bottom: rem(40);
  cursor: pointer;
}

.error {
  font-weight: bold;
  a,
  a:visited {
    font-weight: bold;
    color: $error-color;
  }
}
