<div class="tariff-headline" i18n data-automation-ref="tariff-headline" *ngIf="featureFlags?.tariff && showTariffHeadline">
    *Items have an estimated US Customs Tariff charge associated with them.
    <a href="https://www.arrow.com/en/support/tariff-support/tariff-lists" target="_blank">See more info</a>.
</div>

<table appStickyHeader class="submitted_quote_detail">
    <thead>
        <tr>
            <th class="select-all-quoted__check" *ngIf="featureFlags?.buyFromQuotes">
                <app-checkbox
                    [value]="areAllLineItemsChecked()"
                    (valueChange)="toggleAllValidCheckboxes()"
                    *ngIf="areSomeLineItemsQuoted()"
                    data-automation-ref="select-all-quoted-checkbox"
                ></app-checkbox>
            </th>
            <th class="quote_detail__part_number" i18n>Part Number / Manufacturer</th>
            <th class="quote_detail__cpn" i18n>CPN</th>
            <th class="quote_detail__quantity" i18n>Quantity</th>
            <th class="quote_detail__moq" i18n>MOQ</th>
            <th class="quote_detail__lead_time" i18n>Lead Time</th>
            <th class="quote_detail__ncnr" i18n>NCNR</th>
            <th class="quote_detail__pipeline_next_delivery_qty" i18n>
                Pipeline Next <br />
                Delivery / Qty
            </th>
            <th class="quote_detail__inventory" i18n>Inventory</th>
            <th class="quote_detail__target_price" i18n>
                Target <br />
                Price
            </th>
            <th class="quote_detail__quoted_price" i18n>
                Quoted <br />
                Price
            </th>
            <th class="quote_detail__total_price" i18n>
                Total <br />
                Price
            </th>
            <th
                class="quote_detail__status"
                app-sortable-column-header
                class="sortable-col-header"
                [keys]="['status']"
                [order]="sortOrder?.get('status')"
                (sortChange)="sortChange($event)"
                i18n
            >
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let quoteLineItem of quoteLineItems">
            <tr [ngClass]="{ 'disabled-link': !getLineItemNotQuoted(quoteLineItem) && featureFlags?.buyFromQuotes }">
                <td class="select-all-quoted__check" *ngIf="featureFlags?.buyFromQuotes">
                    <app-checkbox
                        (click)="toggleCheckQuotedLineItem(quoteLineItem, quoteLineItem.checked)"
                        [value]="quoteLineItem.checked"
                        *ngIf="getLineItemNotQuoted(quoteLineItem) && !brokerBanned(quoteLineItem)"
                        data-automation-ref="select-quoted-line-item-checkbox"
                    ></app-checkbox
                    ><app-icon *ngIf="brokerBanned(quoteLineItem)" symbol="alert" class="icon-link__icon error"></app-icon>
                </td>
                <td class="quote_detail__part_number">
                    {{ quoteLineItem.mpn }}
                    <div>{{ quoteLineItem.manufacturer }}</div>
                    <div *ngIf="brokerBanned(quoteLineItem)" class="error">
                        Invalid Manufacturer. <a [routerLink]="['/', 'products', 'search', quoteLineItem.mpn]">See buying options</a>
                    </div>
                </td>
                <td class="quote_detail__cpn">
                    <span>{{ quoteLineItem.cpn }}</span>
                </td>
                <td class="quote_detail__quantity">
                    <span>{{ quoteLineItem.quantity }}</span>
                </td>
                <td class="quote_detail__moq">
                    <span>{{ quoteLineItem.moq }}</span>
                </td>
                <td class="quote_detail__lead_time" *ngIf="quoteLineItem.productDetail as productDetail; else loading">
                    <span>{{ productDetail.leadTime ? productDetail.leadTime + ' Weeks' : '- -' }}</span>
                </td>
                <td class="quote_detail__ncnr" *ngIf="quoteLineItem.productDetail as productDetail; else loading">
                    <span>{{ quoteLineItem.productDetail.ncnr === true ? 'Yes' : 'No' }}</span>
                </td>
                <td class="quote_detail__pipeline_next_delivery_qty" *ngIf="quoteLineItem.productDetail as productDetail; else loading">
                    <span class="break-line">{{
                        productDetail.pipeline.deliveryDate
                            ? productDetail.pipeline.deliveryDate + '\n' + productDetail.pipeline.quantity
                            : '- -'
                    }}</span>
                </td>
                <td class="quote_detail__inventory" *ngIf="quoteLineItem.productDetail as productDetail; else loading">
                    <div *ngIf="getHidePublic(productDetail)" class="col-12">
                        <span class="strong">Public: </span> {{ productDetail.availableQuantity }}
                    </div>
                    <div class="col-12" *ngIf="!getHidePublic(productDetail)">{{ '\n' + productDetail.suppAlloc | uppercase }}</div>
                    <div class="col-12"><span class="strong">Buffer: </span> {{ productDetail.bufferQuantity }}</div>
                    <div class="col-12"><span class="strong">Multiple: </span> {{ productDetail.multipleOrderQuantity }}</div>
                    <div class="col-12"><span class="strong">SPQ: </span> {{ quoteLineItem.productDetail?.spq }}</div>
                </td>
                <td class="quote_detail__target_price">
                    <ng-container *ngTemplateOutlet="quoteLineItem.targetPrice !== 0 ? targetPriceTpl : emptyPrice; context: quoteLineItem">
                    </ng-container>
                </td>
                <td class="quote_detail__quoted_price">
                    <ng-container
                        *ngTemplateOutlet="showPrice(quoteLineItem, 'quotedPrice') ? quotedPriceTpl : emptyPrice; context: quoteLineItem"
                    >
                    </ng-container>
                </td>
                <td class="quote_detail__total_price">
                    <ng-container
                        *ngTemplateOutlet="showPrice(quoteLineItem, 'totalPrice') ? totalPriceTpl : emptyPrice; context: quoteLineItem"
                    >
                    </ng-container>
                </td>
                <td class="quote_detail__status">
                    <span class="label bold">{{ getStatus(quoteLineItem) }}</span>
                    <div *ngIf="featureFlags?.quoteNotes">
                        <button *ngIf="shouldShowNotesIcon(quoteLineItem)" class="note icon-link" (click)="showNotesDialog(quoteLineItem)">
                            <app-icon symbol="notes" class="icon-link__icon"></app-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #quotedPriceTpl let-quotedPrice="quotedPrice" let-currency="currency">
    <span>{{ quotedPrice | formattedPrice: currency }}</span>
</ng-template>

<ng-template #targetPriceTpl let-quotedPrice="targetPrice" let-currency="currency">
    <span>{{ targetPrice | formattedPrice: currency }}</span>
</ng-template>

<ng-template
    #totalPriceTpl
    let-totalPrice="totalPrice"
    let-currency="currency"
    let-tariffApplicable="tariffApplicable"
    let-tariffAmount="tariffAmount"
>
    <span>{{ totalPrice | formattedPrice: currencyCode:'subTotal' }}</span>

    <div *ngIf="featureFlags?.tariff && tariffApplicable">
        <br />
        <div class="quote_detail__total_price__tariff"><span class="strong">*</span></div>
        <div class="quote_detail__total_price__tariff_detail">
            <span i18n class="strong">US Custom Tariff Charge</span> <span>{{ tariffAmount | formattedPrice: currency }}</span>
        </div>
    </div>
</ng-template>

<ng-template #emptyPrice> <span>- -</span> </ng-template>

<ng-template #loading>
    <td><app-icon class="icon-list__item-icon" symbol="load"></app-icon></td>
</ng-template>
