<app-dialog-panel (close)="onClose(false)" data-automation-ref="delete-modal" class="delete-modal__dialog">
    <div dialog-header>
        <h2 data-automation-ref="modal-header" i18n>Are you sure you want to remove this line item from the Return/FQR request?</h2>
    </div>
    <div class="col col-6 line-item-info-box">
        <span i18n>Line Item </span> <span>{{ orderLine.lineItem }}</span>
    </div>
    <div dialog-footer class="cta-container">
        <ul class="cta-container__list justify-flex-end">
            <li class="cta-container__list-item">
                <button data-automation-ref="cancel-button" class="btn btn-secondary" i18n (click)="onClose(false)">Cancel</button>
            </li>
            <li class="cta-container__list-item">
                <app-button cssClass="btn-primary" (click)="onClose(true)" data-automation-ref="confirm-button" i18n>Remove</app-button>
            </li>
        </ul>
    </div>
</app-dialog-panel>
