@import 'colors';
@import 'functions';

:host {
  display: inline-flex;
}

.date-picker {
  position: relative;
  z-index: 1;

  &--open {
    z-index: 2;
  }

  &__form {
    .form-item {
      margin-left: rem(5);
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &--disabled {
    .date-picker__input {
      border-color: $disabled-outline-color;
      background-color: $disabled-bg-color;
      color: $disabled-text-color;
      cursor: default;
    }
    .date-picker__label {
      color: $alto;
    }
  }

  &__input {
    cursor: pointer;
    position: relative;
    z-index: 1;

    &,
    &--active {
      background-color: $white;
      color: $tundora;
      z-index: 3;
    }

    &--inactive {
      background-color: $inactive-bg-color;
      border-color: $inactive-bg-color;
    }

    &-icon {
      margin-right: em(2);
      vertical-align: text-bottom;
    }
  }
}
