<div class="date-picker"
     [ngClass]="{
    'date-picker--open': isOpen(),
    'date-picker--disabled': disabled
}">
    <div class="form form--inline date-picker__form"
         #datePickerForm>
        <div *ngFor="let dateInput of dateInputs; let i = index"
             class="form-item">
            <div class="form-item__label date-picker__label"
                 *ngIf="dateInput.label">
                <label class="label"
                       i18n>{{dateInput.label}}</label>
            </div>
            <div class="form-control">
                <div (click)="open(i)"
                     class="input date-picker__input"
                     [ngClass]="{
                        'date-picker__input--active': isActive(i),
                        'date-picker__input--inactive': isInactive(i),
                        'input--clean': dates[i] === undefined
                     }">
                    <app-icon symbol="calendar"
                              class="date-picker__input-icon"></app-icon>
                    {{ (!dates[i]) ? dateInput.placeholder : dates[i] | isoDate }}
                </div>
            </div>
        </div>
    </div>
</div>