@import 'colors';
@import 'functions';
@import 'layout';

thead {
  user-select: none;
}

table th .icon-link__icon {
  width: rem(30);
  height: rem(30);
}

.view-notifications__table {
  table-layout: fixed;
  width: 100%;

  margin-bottom: rem(60);

  .issue-date__header {
    width: 10%;
  }
  .cpn__header {
    width: 15%;
  }
  .apn__header {
    width: 15%;
  }
  .manufacturer__header {
    width: 12%;
  }
  .type__header {
    width: 10%;
  }
  .description__header {
    width: 38%;
  }
}

.notification-count {
  color: $boulder-2;
  font-weight: bold;
}

.center {
  text-align: center;
}

.no-products-info {
  color: $nobel;
}
