<div class="row" *ngIf="selectedTable == 'All' || selectedTable == table">
    <div class="col col-12">
        <h3>
            {{ header }}<span *ngIf="notifications?.length" class="notification-count" i18n> ({{ notifications?.length }})</span>
        </h3>
        <p>{{ description }}</p>
        <table class="view-notifications__table" data-automation-ref="product-status-notifications-table">
            <thead>
                <tr>
                    <th
                        class="issue-date__header"
                        data-automation-ref="issue-date-header"
                        i18n
                        (click)="sortRows('dateIssued', 'notifications')"
                    >
                        Date
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                    <th class="cpn__header" data-automation-ref="cpn-header" i18n (click)="sortRows('cpn', 'notifications')">
                        Cust Part #
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                    <th class="apn__header" data-automation-ref="apn-header" i18n (click)="sortRows('apn', 'notifications')">
                        MFG Part #
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                    <th
                        class="manufacturer__header"
                        data-automation-ref="manufacturer-header"
                        i18n
                        (click)="sortRows('manufacturer', 'notifications')"
                    >
                        Manufacturer
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                    <th class="type__header" data-automation-ref="type-header" i18n (click)="sortRows('type', 'notifications')">
                        Type
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                    <th
                        class="description__header"
                        data-automation-ref="description-header"
                        i18n
                        (click)="sortRows('description', 'notifications')"
                    >
                        Description
                        <app-icon symbol="sort" class="icon-link__icon"></app-icon>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="notifications?.length > 0">
                <tr *ngFor="let notification of notifications">
                    <td>{{ notification.dateIssued }}</td>
                    <td>{{ notification.cpn }}</td>
                    <td>{{ notification.apn }}</td>
                    <td>{{ notification.manufacturer }}</td>
                    <td>{{ notification.type }}</td>
                    <td>
                        <a href="{{ notification.docUrl }}" target="_blank">{{ notification.description }}</a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!notifications?.length">
                <tr>
                    <td class="center no-products-info " colspan="6" i18n>There are no PCN's for the last 30 days.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
