<app-dialog-panel (close)="dismiss()">

    <ng-container *ngIf="!submitted">
        <div dialog-header>
            <h2 i18n>Send Offline Message</h2>
            <p i18n>
                Please leave us a message. One of our representatives will contact you in the next 24 hours.
            </p>
        </div>

        <form #offlineForm="ngForm"
              (ngSubmit)="submit()"
              [formGroup]="form">

            <div class="row">
                <div class="col col-6">
                    <app-input-field i18n-label
                                     [disabled]=true
                                     [form]="offlineForm"
                                     [control]="form.controls['name']"
                                     label="Name"></app-input-field>
                </div>
                <div class="col col-6">
                    <app-input-field i18n-label
                                     [disabled]=true
                                     [form]="offlineForm"
                                     [control]="form.controls['email']"
                                     label="Email"></app-input-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <app-textarea-field i18n-label
                                        i18n-placeholder
                                        [form]="offlineForm"
                                        [control]="form.controls['message']"
                                        label="Message"
                                        placeholder="Description"></app-textarea-field>

                    <div dialog-footer
                         class="cta-container">
                        <ul class="cta-container__list  cta-container__list--reverse">
                            <li class="cta-container__list-item">
                                <button i18n
                                        class="btn btn-primary"
                                        type="submit">Submit</button>
                            </li>
                            <li class="cta-container__list-item">
                                <button i18n
                                        (click)="dismiss()"
                                        class="btn btn-cancel"
                                        type="button">Cancel</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </form>
    </ng-container>

    <ng-container *ngIf="submitted">
        <div dialog-header>
            <div *ngIf="hasError">
                <h2 i18n>Sorry there was a problem sending your email!</h2>
                <p i18n>Please try again later.</p>
            </div>

            <div *ngIf="!hasError">
                <h2 i18n>Thank you!</h2>
                <p i18n>Thank you for contacting us we will be in touch shortly.</p>
            </div>
        </div>

        <div dialog-footer
             class="cta-container">
            <ul class="cta-container__list  cta-container__list--reverse">
                <li class="cta-container__list-item">
                    <button i18n
                            (click)="dismiss()"
                            class="btn btn-primary"
                            type="button">Close</button>
                </li>
            </ul>
        </div>

    </ng-container>

</app-dialog-panel>