<table appStickyHeader class="submitted_quotes">
    <thead>
        <tr>
            <th
                app-sortable-column-header
                class="sortable-col-header quote_number"
                [keys]="['quoteNumber']"
                [order]="sortOrder?.get('quoteNumber')"
                (sortChange)="sortChange($event)"
                i18n
            >
                Quote Number
            </th>
            <th class="owner" i18n>Owner</th>
            <th class="items_quoted" i18n>Items Quoted</th>
            <th
                app-sortable-column-header
                class="sortable-col-header date_submitted"
                [keys]="['submittedDate']"
                [order]="sortOrder?.get('submittedDate')"
                (sortChange)="sortChange($event)"
                i18n
            >
                Date Submitted
            </th>
            <th class="expires" i18n>Expires</th>
            <th
                app-sortable-column-header
                class="sortable-col-header your_ref_rfq"
                [keys]="['referenceNumber']"
                [order]="sortOrder?.get('referenceNumber')"
                (sortChange)="sortChange($event)"
                i18n
            >
                Your Ref/RFQ
            </th>
            <th
                app-sortable-column-header
                class="sortable-col-header status"
                [keys]="['status']"
                [order]="sortOrder?.get('status')"
                (sortChange)="sortChange($event)"
                i18n
            >
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quote of quotes">
            <td class="quote_number">
                <a class="product-row__image" [routerLink]="['/quotes/submitted-quotes', quote.quoteHeaderId]">{{ quote.quoteNumber }}</a>
            </td>
            <td class="owner">{{ quote.owner }}</td>
            <td class="items_quoted">
                <app-icon *ngIf="quote.itemsQuoted === quote.totalItems" class="icon icon--green" symbol="tick-bubble"></app-icon>
                <app-icon
                    *ngIf="isLineItemProcessing(quote.status) && quote.itemsQuoted !== quote.totalItems"
                    class="icon"
                    symbol="load"
                ></app-icon>
                <span i18n>{{ quote.itemsQuoted }} of {{ quote.totalItems }}</span>
            </td>
            <td class="date_submitted">{{ quote.submittedDate | isoDate }}</td>
            <td class="expires">{{ quote.expiryDate | isoDate }}</td>
            <td class="your_ref_rfq">
                {{ quote.referenceNumber }}
                <ng-container *ngIf="!quote.referenceNumber" i18n>- -</ng-container>
            </td>
            <td class="status bold" i18n>
                <div class="row">
                    <div class="col col-8">
                        {quote.status, select, Processing {Processing} Fully Quoted {Fully Quoted} Won {Won} Partially Quoted {Partially
                        Quoted} Customer Accepted {Customer Accepted} Expired {Expired}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
