@import 'mixins';
@import 'variables';

.quote_number {
  width: rem(178);
  max-width: rem(178);
  min-width: rem(178);
}
.owner {
  width: rem(110);
  max-width: rem(110);
  min-width: rem(110);
}
.items_quoted {
  width: rem(184);
  max-width: rem(184);
  min-width: rem(184);
}
.date_submitted {
  width: rem(246);
  max-width: rem(246);
  min-width: rem(246);
}
.expires {
  width: rem(155);
  max-width: rem(155);
  min-width: rem(155);
}
.your_ref_rfq {
  width: rem(226);
  max-width: rem(226);
  min-width: rem(226);
}
.status {
  width: rem(204);
  max-width: rem(204);
  min-width: rem(204);
}

.submitted_quotes {
  width: rem(1300);
}

:host {
  .icon {
    height: rem(20);
    width: rem(20);
    margin-top: rem(-2);
    margin-right: rem(10);

    &--green {
      color: $apple-1;
    }
  }
}

.note {
  color: $lochmara;
}
